<div id="magicfriends" class="magic magicOverlay" style="height: 100%;" data-ng-controller="ssn.magicbar.friendsController">
	<div class="header">
		<h4 data-i18n="magicbar.requests.title">Anfragen</h4>
		<div class="close" data-ng-click="loadDefault()" data-i18n="magicbar.close">Close</div>
	</div>
	<div class="body">
		<ul class="unstyled">
			<li class="request" data-ng-repeat="request in requests">
				<img data-ng-src="{{request.user.image}}">
				<p class="username">{{shortenName(request.user.name)}}</p>
				<p class="similar" data-i18n="magicbar.requests.mutuals|count={{request.user.mutuals}}"></p>
				<p class="action">
					<button class="btn btn-success" data-i18n="magicbar.requests.accept">Bestätigen</button>
					<button class="btn btn-danger" data-i18n="magicbar.requests.decline">Ablehnen</button>
				</p>
			</li>
		</ul>
	</div>
</div>