<h4 data-i18n="login.register.more"></h4>
<div class="inputWrap" data-enter="nextRegisterStep()">
	<div class="introText" data-i18n="login.register.intro"></div>
	<div>
		<select id="gender" type="dropdown" data-ng-model="user.gender">
			<option value="n" data-i18n="profile.section.general.gender.n"></option>
			<option value="m" data-i18n="profile.section.general.gender.m"></option>
			<option value="f" data-i18n="profile.section.general.gender.f"></option>
		</select>
	</div>
	<div data-ng-repeat="attribute in profileAttributes" data-tooltip-title="{{attribute.hoverText}}" data-tooltip-position="left">
		<input data-autofocus="{{$index==0}}" type="text" placeholder="{{attribute.placeHolder}}" data-ng-model="attribute.value">
		<span class="icon lock">
			<img data-ng-src="{{lock(attribute.encrypted)}}" alt="{{((attribute.encrypted) && ('Privat') || ('Öffentlich'))}}" data-ng-click="attribute.encrypted=!attribute.encrypted" />
		</span>
	</div>
	<div id="birthday">
		<label data-i18n="profile.section.general.birthday.info"></label>
		<select class="day" data-for="day" data-ng-model="user.birthday.day" data-ng-options="day for day in days">
			<option value="" data-i18n="profile.section.general.birthday.day"></option>
		</select>
		<select class="month" data-for="month" data-ng-model="user.birthday.month">
			<option value="" data-i18n="profile.section.general.birthday.month"></option>
			<option data-ng-repeat="month in months" data-i18n="date.month.{{month}}" value="{{$index+1}}" data-ng-selected="$index+1 == user.birthday.month"></option>
		</select>
		<select class="year" data-for="year" data-ng-model="user.birthday.year" data-ng-options="year for year in years">
			<option value="" data-i18n="profile.section.general.birthday.year"></option>
		</select>
	</div>
	<div>
		<input type="text" id="rcountry" data-i18n-attr="login.register.country|placeholder" data-ng-model="user.location.country" data-ng-model-onblur>
	</div>
	<div>
		<input type="text" id="rlocation" data-i18n-attr="login.register.location|placeholder" data-ng-model="user.location.town" data-ng-model-onblur>
	</div>
</div>	
<div class="submitWrap">
	<button id="registerFormPreviousStep" class="btn" type="submit"  data-ng-click="prevRegisterStep()" data-i18n="login.register.previous"></button>
	<button id="registerFormNextStep" class="btn" type="submit"  data-ng-click="nextRegisterStep()" data-i18n="login.register.next"></button>
</div>