<nav class="mobileMenu">
	<a class="mobileMenu-link" whispeer-sref="app.main"  data-ng-click="toggleSidebar()">
		<i class="fa fa-home fa-2x fa-fw mobileMenu-icon"></i>
		<span class="mobileMenu-text" data-i18n="menu.newsfeed"></span>
	</a>
	<a class="mobileMenu-link" whispeer-sref="app.user({identifier: user.names.nickname})" data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image u-circle" data-ng-src="{{user.basic.image}}" alt="{{user.basic.name}}">
		<span class="mobileMenu-text" data-i18n="menu.profil"></span>
	</a>
	<a class="mobileMenu-link" whispeer-sref="app.friends"  data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/friends.png" alt="Freunde">
		<span class="mobileMenu-text" data-i18n="menu.friends|count={{friends.friendsCount}}|requests={{friends.requestsCount}}"></span>
	</a>
	<a class="mobileMenu-link" whispeer-sref="app.messages"  data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/messages.png" alt="Nachrichten">
		<span class="mobileMenu-text" data-i18n="menu.messages|count={{messages.unread}}"></span>
	</a>
	<a class="mobileMenu-link" whispeer-sref="app.circles"  data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/circles.png" alt="">
		<span class="mobileMenu-text" data-i18n="menu.circles"></span>
	</a>
	<a class="mobileMenu-link" whispeer-sref="app.settings"  data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/settings.png">
		<span class="mobileMenu-text" data-i18n="menu.settings"></span>
	</a>
	<a class="mobileMenu-link" href="{{addLocale('/help')}}" target="_blank"  data-ng-click="toggleSidebar()">
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/help.png">
		<span class="mobileMenu-text" data-i18n="menu.help"></span>
	</a>
	<a class="mobileMenu-link" href="{{addLocale('/legal')}}" target="_blank" data-ng-click="toggleSidebar()">
		<i class="fa fa-book fa-2x fa-fw mobileMenu-icon"></i>
		<span class="mobileMenu-text" data-i18n="menu.legal"></span>
	</a>
	<a class="mobileMenu-link" href="#" data-ng-click="logout()" data-eat-click>
		<img class="mobileMenu-image" data-ng-src="assets/img/icons/mobile/logout.png">
		<span class="mobileMenu-text" data-i18n="menu.logout"></span>
	</a>
</nav>
