<header class="header" data-ng-cloak data-ng-class="{'header-push': (mobile && sidebarActive && !searchActive), 'header-mobile': mobile && !loggedin}">
	<div class="header-inner">
		<button class="header-toggle header-toggle-sidebar" data-ng-click="toggleSidebar()" data-ng-if="mobile && loggedin">
			<i class="fa fa-bars header-toggle-icon"></i>
			<span>
				<span class="badge" id="mobileCounter" data-ng-if="(messages.unread + friends.requestsCount + news.count) > 0">
					<span>{{messages.unread + friends.requestsCount + news.count}}</span>
				</span>
			</span>
		</button>
		<a data-ng-href="{{loggedin ? 'main' : 'start'}}" class="header-brand" data-ng-click="mobileActivateView()">
			<span class="header-brand--normal">whis</span><span class="header-brand--inverse">peer</span>
		</a>
		<a href="login/" target="_self" class="header-toggle header-toggle-login" data-ng-if="mobile && !loggedin && !recovery" data-i18n="login.link"></a>
		<button class="header-toggle header-toggle-search" data-ng-click="toggleSearch()" data-ng-if="mobile && loggedin">
			<i class="fa fa-search header-toggle-icon"></i>
		</button>
		<div class="header-collapse" data-ng-if="loggedin">
			<search data-supplier="userSearchSupplier" callback="visitUserProfile(selected)" data-search-template="user" data-add-classes="search--navbar" data-input-i18n-attr="menu.search|placeholder"/>
		</div>
		<lazyiframe id="header-login" class="header-collapse" src="login/login.html" data-ng-if="!loggedin && !recovery"></lazyiframe>
	</div>
</header>
