<div id="userpanel">
	<a href="{{user.basic.url}}" id="userpanel-me">
		<img data-ng-src="{{user.basic.image}}" alt="" id="userpanel-me-image">
		<span id="userpanel-me-name">{{user.name}}</span>
	</a>
	<nav id="userpanel-menu">
		<a ui-sref="app.main" class="userpanel-menu-link" data-i18n="menu.newsfeed"></a>
		<a href="{{user.basic.url}}" class="userpanel-menu-link" data-i18n="menu.profil"></a>
		<a ui-sref="app.friends" class="userpanel-menu-link" data-i18n="menu.friends|count={{friends.friendsCount}}|requests={{friends.requestsCount}}"></a>
		<a ui-sref="app.messages" class="userpanel-menu-link" data-i18n="menu.messages|count={{messages.unread}}"></a>
		<a ui-sref="app.circles" class="userpanel-menu-link" data-i18n="menu.circles"></a>
		<a ui-sref="app.settings" class="userpanel-menu-link" data-i18n="menu.settings"></a>
		<a ui-sref="app.help" class="userpanel-menu-link" data-i18n="menu.help"></a>
		<a href="#" class="userpanel-menu-link" data-ng-click="logout()" data-eat-click data-i18n="menu.logout"></a>
	</nav>
</div>
