<footer id="blog-footer">
	<div class="blog-footer-row">
		&copy; 2015 whispeer
	</div>
	<div class="blog-footer-row">
		<a class="blog-footer-link" href="/{{langCode}}/agb"><i class="fa fa-briefcase fa-fw"></i> {{lang.terms}}</a>
		<a class="blog-footer-link" href="/{{langCode}}/privacyPolicy"><i class="fa fa-lock fa-fw"></i> {{lang.privacyPolicy}}</a>
		<a class="blog-footer-link" href="mailto:support@whispeer.de"><i class="fa fa-envelope fa-fw"></i> {{lang.contact}}</a>
		<a class="blog-footer-link" href="/{{langCode}}/impressum"><i class="fa fa-book fa-fw"></i> {{lang.imprint}}</a>
	</div>
</footer>