<!-- iOS Web-App Stuff -->
<meta name="apple-mobile-web-app-title" content="whispeer Web">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/touch-icon-iphone-plus.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/touch-icon-ipad-retina.png" />

<!-- Android Web-App Stuff -->
<link rel="manifest" href="/assets/img/favicons/manifest.json">

<!-- "Normal" Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">

<!-- macOS TouchBar Stuff -->
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5ab70d">
<meta name="application-name" content="whispeer Web">
<meta name="theme-color" content="#5ab70d">