<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ data.general.title }}</title>
<meta name="description" content="{{ data.general.description }}">

<link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
