<div id="blog-entry-share">
	<h3 id="blog-entry-share-header">{{lang.shareThis}}</h3>
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u={{page.url | prepend: site.url | cgi_escape}}" target="_blank" class="button button--noBorder button--radius button--shareButton button--shareButton--fb blog-shareButton">
		<i class="fa fa-facebook"></i>
		<span>Facebook</span>
	</a><!--
	Twitter
	--><a href="https://twitter.com/intent/tweet?url={{page.url | prepend: site.url | cgi_escape}}&text={% if page.shareText %}{{page.shareText}}{% else %}{{lang.blogShareText}}{% endif %}&hashtags={% if page.hastags %}{{page.hastags}}{% else %}{{lang.blogHastags}}{% endif %}" target="_blank" class="button button--noBorder button--radius button--shareButton button--shareButton--tw blog-shareButton">
		<i class="fa fa-twitter"></i>
		<span>Twitter</span>
	</a><!--
	Google+
	--><a href="https://plus.google.com/share?url={{page.url | prepend: site.url | cgi_escape}}" target="_blank" class="button button--noBorder button--radius button--shareButton button--shareButton--gp blog-shareButton">
		<i class="fa fa-google-plus"></i>
		<span>Google+</span>
	</a><!--
	Reddit
	--><a href="http://reddit.com/submit?url={{page.url | prepend: site.url | cgi_escape}}&title={% if page.shareText %}{{page.shareText}}{% else %}{{lang.blogShareText}}{% endif %}" target="_blank" class="button button--noBorder button--radius button--shareButton button--shareButton--rd blog-shareButton">
		<i class="fa fa-reddit"></i>
		<span>Reddit</span>
	</a>
</div>