.registerView {
	// content
	#logo {
		height: 110px;
		img {
			height: 100%;
			width: auto;
		}
	}
	#main {
		.column(12);
		#registerForm[data-regStep="2"] {
			.inputWrap {
				.introText {
					margin-bottom: -15px !important;
				}
			}
		}
	}
}