@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot");
  src: url("font/fontello.eot?#iefix") format('embedded-opentype'), url("font/fontello.woff") format('woff'), url("font/fontello.ttf") format('truetype'), url("font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-arrow:before { content: '\2192'; } /* '→' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-globe:before { content: '𝌍'; } /* '\1d30d' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-user-pair:before { content: '👫'; } /* '\1f46b' */