.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media (min-width: 1401px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1370px;
  }
  .span14 {
    width: 1370px;
  }
  .span13 {
    width: 1270px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset14 {
    margin-left: 1430px;
  }
  .offset13 {
    margin-left: 1330px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.1897810219%;
    *margin-left: 2.14123733258%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span14 {
    width: 100%;
    *width: 99.9514563107%;
  }
  .row-fluid .span13 {
    width: 92.700729927%;
    *width: 92.6521862377%;
  }
  .row-fluid .span12 {
    width: 85.401459854%;
    *width: 85.3529161647%;
  }
  .row-fluid .span11 {
    width: 78.102189781%;
    *width: 78.0536460917%;
  }
  .row-fluid .span10 {
    width: 70.802919708%;
    *width: 70.7543760187%;
  }
  .row-fluid .span9 {
    width: 63.503649635%;
    *width: 63.4551059457%;
  }
  .row-fluid .span8 {
    width: 56.204379562%;
    *width: 56.1558358727%;
  }
  .row-fluid .span7 {
    width: 48.9051094891%;
    *width: 48.8565657997%;
  }
  .row-fluid .span6 {
    width: 41.6058394161%;
    *width: 41.5572957267%;
  }
  .row-fluid .span5 {
    width: 34.3065693431%;
    *width: 34.2580256537%;
  }
  .row-fluid .span4 {
    width: 27.0072992701%;
    *width: 26.9587555808%;
  }
  .row-fluid .span3 {
    width: 19.7080291971%;
    *width: 19.6594855078%;
  }
  .row-fluid .span2 {
    width: 12.4087591241%;
    *width: 12.3602154348%;
  }
  .row-fluid .span1 {
    width: 5.10948905109%;
    *width: 5.06094536177%;
  }
  .row-fluid .offset14 {
    margin-left: 104.379562044%;
    *margin-left: 104.282474665%;
  }
  .row-fluid .offset14:first-child {
    margin-left: 102.189781022%;
    *margin-left: 102.092693643%;
  }
  .row-fluid .offset13 {
    margin-left: 97.0802919708%;
    *margin-left: 96.9832045922%;
  }
  .row-fluid .offset13:first-child {
    margin-left: 94.8905109489%;
    *margin-left: 94.7934235703%;
  }
  .row-fluid .offset12 {
    margin-left: 89.7810218978%;
    *margin-left: 89.6839345192%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 87.5912408759%;
    *margin-left: 87.4941534973%;
  }
  .row-fluid .offset11 {
    margin-left: 82.4817518248%;
    *margin-left: 82.3846644462%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 80.2919708029%;
    *margin-left: 80.1948834243%;
  }
  .row-fluid .offset10 {
    margin-left: 75.1824817518%;
    *margin-left: 75.0853943732%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 72.9927007299%;
    *margin-left: 72.8956133513%;
  }
  .row-fluid .offset9 {
    margin-left: 67.8832116788%;
    *margin-left: 67.7861243002%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 65.6934306569%;
    *margin-left: 65.5963432783%;
  }
  .row-fluid .offset8 {
    margin-left: 60.5839416058%;
    *margin-left: 60.4868542272%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 58.3941605839%;
    *margin-left: 58.2970732053%;
  }
  .row-fluid .offset7 {
    margin-left: 53.2846715328%;
    *margin-left: 53.1875841542%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 51.0948905109%;
    *margin-left: 50.9978031323%;
  }
  .row-fluid .offset6 {
    margin-left: 45.9854014599%;
    *margin-left: 45.8883140812%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 43.795620438%;
    *margin-left: 43.6985330593%;
  }
  .row-fluid .offset5 {
    margin-left: 38.6861313869%;
    *margin-left: 38.5890440082%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 36.496350365%;
    *margin-left: 36.3992629863%;
  }
  .row-fluid .offset4 {
    margin-left: 31.3868613139%;
    *margin-left: 31.2897739352%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 29.197080292%;
    *margin-left: 29.0999929133%;
  }
  .row-fluid .offset3 {
    margin-left: 24.0875912409%;
    *margin-left: 23.9905038622%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 21.897810219%;
    *margin-left: 21.8007228403%;
  }
  .row-fluid .offset2 {
    margin-left: 16.7883211679%;
    *margin-left: 16.6912337892%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 14.598540146%;
    *margin-left: 14.5014527673%;
  }
  .row-fluid .offset1 {
    margin-left: 9.48905109489%;
    *margin-left: 9.39196371625%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 7.29927007299%;
    *margin-left: 7.20218269435%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span14, textarea.span14, .uneditable-input.span14 {
    width: 1356px;
  }
  input.span13, textarea.span13, .uneditable-input.span13 {
    width: 1256px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 956px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 856px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 756px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 656px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 556px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 456px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 356px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  body {
    padding-top: 60px;
  }
}
@media (min-width: 980px) and (max-width: 1400px) {
  .icon {
    display: none;
  }
  body {
    padding-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1030px;
  }
  .span14 {
    width: 1030px;
  }
  .span13 {
    width: 955px;
  }
  .span12 {
    width: 880px;
  }
  .span11 {
    width: 805px;
  }
  .span10 {
    width: 730px;
  }
  .span9 {
    width: 655px;
  }
  .span8 {
    width: 580px;
  }
  .span7 {
    width: 505px;
  }
  .span6 {
    width: 430px;
  }
  .span5 {
    width: 355px;
  }
  .span4 {
    width: 280px;
  }
  .span3 {
    width: 205px;
  }
  .span2 {
    width: 130px;
  }
  .span1 {
    width: 55px;
  }
  .offset14 {
    margin-left: 1070px;
  }
  .offset13 {
    margin-left: 995px;
  }
  .offset12 {
    margin-left: 920px;
  }
  .offset11 {
    margin-left: 845px;
  }
  .offset10 {
    margin-left: 770px;
  }
  .offset9 {
    margin-left: 695px;
  }
  .offset8 {
    margin-left: 620px;
  }
  .offset7 {
    margin-left: 545px;
  }
  .offset6 {
    margin-left: 470px;
  }
  .offset5 {
    margin-left: 395px;
  }
  .offset4 {
    margin-left: 320px;
  }
  .offset3 {
    margin-left: 245px;
  }
  .offset2 {
    margin-left: 170px;
  }
  .offset1 {
    margin-left: 95px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.94174757282%;
    *margin-left: 1.8932038835%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span14 {
    width: 100%;
    *width: 99.9514563107%;
  }
  .row-fluid .span13 {
    width: 92.700729927%;
    *width: 92.6521862377%;
  }
  .row-fluid .span12 {
    width: 85.401459854%;
    *width: 85.3529161647%;
  }
  .row-fluid .span11 {
    width: 78.102189781%;
    *width: 78.0536460917%;
  }
  .row-fluid .span10 {
    width: 70.802919708%;
    *width: 70.7543760187%;
  }
  .row-fluid .span9 {
    width: 63.503649635%;
    *width: 63.4551059457%;
  }
  .row-fluid .span8 {
    width: 56.204379562%;
    *width: 56.1558358727%;
  }
  .row-fluid .span7 {
    width: 48.9051094891%;
    *width: 48.8565657997%;
  }
  .row-fluid .span6 {
    width: 41.6058394161%;
    *width: 41.5572957267%;
  }
  .row-fluid .span5 {
    width: 34.3065693431%;
    *width: 34.2580256537%;
  }
  .row-fluid .span4 {
    width: 27.0072992701%;
    *width: 26.9587555808%;
  }
  .row-fluid .span3 {
    width: 19.7080291971%;
    *width: 19.6594855078%;
  }
  .row-fluid .span2 {
    width: 12.4087591241%;
    *width: 12.3602154348%;
  }
  .row-fluid .span1 {
    width: 5.10948905109%;
    *width: 5.06094536177%;
  }
  .row-fluid .offset14 {
    margin-left: 103.883495146%;
    *margin-left: 103.786407767%;
  }
  .row-fluid .offset14:first-child {
    margin-left: 101.941747573%;
    *margin-left: 101.844660194%;
  }
  .row-fluid .offset13 {
    margin-left: 97.0802919708%;
    *margin-left: 96.9832045922%;
  }
  .row-fluid .offset13:first-child {
    margin-left: 94.8905109489%;
    *margin-left: 94.7934235703%;
  }
  .row-fluid .offset12 {
    margin-left: 89.7810218978%;
    *margin-left: 89.6839345192%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 87.5912408759%;
    *margin-left: 87.4941534973%;
  }
  .row-fluid .offset11 {
    margin-left: 82.4817518248%;
    *margin-left: 82.3846644462%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 80.2919708029%;
    *margin-left: 80.1948834243%;
  }
  .row-fluid .offset10 {
    margin-left: 75.1824817518%;
    *margin-left: 75.0853943732%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 72.9927007299%;
    *margin-left: 72.8956133513%;
  }
  .row-fluid .offset9 {
    margin-left: 67.8832116788%;
    *margin-left: 67.7861243002%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 65.6934306569%;
    *margin-left: 65.5963432783%;
  }
  .row-fluid .offset8 {
    margin-left: 60.5839416058%;
    *margin-left: 60.4868542272%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 58.3941605839%;
    *margin-left: 58.2970732053%;
  }
  .row-fluid .offset7 {
    margin-left: 53.2846715328%;
    *margin-left: 53.1875841542%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 51.0948905109%;
    *margin-left: 50.9978031323%;
  }
  .row-fluid .offset6 {
    margin-left: 45.9854014599%;
    *margin-left: 45.8883140812%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 43.795620438%;
    *margin-left: 43.6985330593%;
  }
  .row-fluid .offset5 {
    margin-left: 38.6861313869%;
    *margin-left: 38.5890440082%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 36.496350365%;
    *margin-left: 36.3992629863%;
  }
  .row-fluid .offset4 {
    margin-left: 31.3868613139%;
    *margin-left: 31.2897739352%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 29.197080292%;
    *margin-left: 29.0999929133%;
  }
  .row-fluid .offset3 {
    margin-left: 24.0875912409%;
    *margin-left: 23.9905038622%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 21.897810219%;
    *margin-left: 21.8007228403%;
  }
  .row-fluid .offset2 {
    margin-left: 16.7883211679%;
    *margin-left: 16.6912337892%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 14.598540146%;
    *margin-left: 14.5014527673%;
  }
  .row-fluid .offset1 {
    margin-left: 9.48905109489%;
    *margin-left: 9.39196371625%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 7.29927007299%;
    *margin-left: 7.20218269435%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span14, textarea.span14, .uneditable-input.span14 {
    width: 1016px;
  }
  input.span13, textarea.span13, .uneditable-input.span13 {
    width: 941px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 866px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 791px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 716px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 641px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 566px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 491px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 416px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 341px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 266px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 191px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 116px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 41px;
  }
  .icon {
    display: none;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0,0,0);
  }
  .page-header h1 small {
    display: block;
    line-height: 20px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 20px;
  }
  .navbar-fixed-bottom {
    margin-top: 20px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #555;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #f7b311;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f7b311;
    border-bottom: 1px solid #f7b311;
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
