body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@media (max-width: 768px) {
  #userpanel {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
  }
  #didYaKnow {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
  }
  #sidebar-right {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
  }
  footer {
    margin-bottom: 10px;
  }
  .registerView #registerbubble {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .registerView #socialhive {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .registerView #socialhive img {
    display: inline;
    float: left;
    width: 97.916666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.864583333333%;
    *margin: 0 0.98958333333333%;
  }
}
