/*!
 * InStyle
 *	Something like a framework, though it's designed for the needs of socialHive
 *
 * Copyright 2012 Daniel Melchior
 * 
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}
.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: #dde;
  position: relative;
}
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 16px;
}
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.box-fix {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.padding-fix {
  -webkit-box-sizing: padding-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: padding-box;
  /* Firefox, other Gecko */

  box-sizing: padding-box;
  /* Opera/IE 8+ */

}
.clear-fix:before,
.clear-fix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clear-fix:after {
  clear: both;
}
.clear-fix {
  *zoom: 1;
}
/*
.buttonBackground(@colorOne, @colorTwo, @tColor, @tShadow) {
	.gradient(@colorOne, @colorTwo);
	color: @tColor;
	text-shadow: @tShadow;
}
*/
input:not([type=submit]):not([type=file]) {
  padding: 9px;
  border: solid 1px #8c8c8c;
  outline: 0;
  font: normal 13px/100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px #333333;
  -moz-box-shadow: inset 1px #333333;
  box-shadow: inset 1px #333333;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
input:not([type=submit]):not([type=file]):focus {
  outline: 0;
  border: solid 1px #559d00;
  font: normal 13px/100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
  -ms-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
}
textarea {
  padding: 9px;
  border: solid 1px #8c8c8c;
  outline: 0;
  font: normal 13px/100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px #333333;
  -moz-box-shadow: inset 1px #333333;
  box-shadow: inset 1px #333333;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
textarea:focus {
  outline: 0;
  border: solid 1px #559d00;
  font: normal 13px/100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
  -ms-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  content: "";
  display: table;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  text-align: right;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
small {
  font-size: 85%;
  color: #9e9e9e;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: 200;
}
cite {
  font-style: normal;
}
p {
  line-height: 20px;
}
.textWarning {
  color: #ffc82f;
  text-shadow: 1px 1px 1px #2f2300;
  font-size: 20px;
}
.textError {
  color: #e80000;
  text-shadow: 1px 1px 1px #000000;
  font-size: 20px;
}
.textInfo {
  color: #49c9ff;
  text-shadow: 1px 1px 1px #003349;
  font-size: 20px;
}
.textSuccess {
  color: #7cda09;
  text-shadow: 1px 1px 1px #000000;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #808080;
}
h1 {
  font-size: 35px;
  line-height: 40px;
}
h1 small {
  font-size: 25;
}
h2 {
  font-size: 28px;
  line-height: 40px;
}
h2 small {
  font-size: 20;
}
h3 {
  font-size: 23px;
  line-height: 40px;
}
h3 small {
  font-size: 13;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 12px;
  line-height: 20px;
}
h6 {
  font-size: 10px;
  line-height: 20px;
}
a {
  color: #559d00;
  text-decoration: none;
  font-weight: 300;
}
a:hover {
  color: #63b700;
}
/*
	Don't touch any of the *.less or *.css files, or you will die an awful death.
*/
body {
  background-color: #ffffff;
  background-color: rgba(105, 228, 0, 0.1);
  margin: 0 auto;
  padding-top: 50px;
}
body div {
  display: block;
}
body #container {
  margin-top: 10px;
}
body noscript {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
  margin-top: 10px;
}
body #sidebar-left #userpanel,
body #sidebar-left #didYaKnow {
  margin-bottom: 10px;
}
body #sidebar-right {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 14.53125%;
  *margin: 0 0.9895833333333331%;
}
body #sidebar-right #ads {
  display: inline;
  float: left;
  width: 87.5%;
  margin: 0 6.25%;
  *width: 87.44791666666667%;
  *margin: 0 6.197916666666667%;
}
body footer {
  float: left;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: #f2fbec;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
body footer #left {
  float: left;
}
body footer #right {
  float: right;
  margin-right: 5px;
}
body footer a {
  color: #f2fbec;
}
body #loading {
  display: none;
  text-align: center;
}
.mainView #main,
.messageView #main,
.friendsView #main,
.profileView #main,
.mediaView #main,
.helpView #main,
.settingsView #main {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.197916666666664%;
  *margin: 0 0.9895833333333331%;
}
nav {
  display: block;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  border-bottom: 1px solid #2f6800;
  box-shadow: 0px 0px 1px #2f6800;
  background-color: #3a8100;
}
.nav-inner .brand {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.0416666666666665%;
  *width: 6.197916666666667%;
  *margin: 0 0.9895833333333331%;
  margin-top: 10px;
  margin-left: 1%;
  font-size: 25px;
  color: #fff;
  text-shadow: 0px 0px 2px #266300;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  line-height: 20px;
  font-weight: 700;
}
.nav-inner #brand-inverse {
  color: #266300;
  text-shadow: 0px 0px 2px #eeeeee;
}
.nav-inner #nav-icons {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  margin-left: 20px;
  display: block;
}
.nav-icon {
  float: left;
  margin: 12px 0 5px 0;
  line-height: 20px;
}
.nav-icon-icons {
  font-size: 1em;
  font-style: normal;
  color: #111;
}
.nav-icon-icons a {
  text-decoration: none;
  border: none;
}
.nav-icon-icons:hover {
  color: #474747;
}
.form-navbar input {
  margin: 6px 0px 0px 5px;
}
.nav-icon-dropdown {
  position: absolute;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.864583333333332%;
  *margin: 0 0.9895833333333331%;
  display: none;
  margin-top: 50px;
  background-color: #baff81;
}
.nav-icon-dropdown-header {
  border-bottom: 1px solid #999;
  height: 25px;
  text-align: center;
}
.nav-icon-dropdown-footer {
  border-top: 1px solid #999;
  height: 25px;
  text-align: center;
}
.search {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.53125000000001%;
  *margin: 0 0.9895833333333331%;
}
#searchQuery {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.53125000000001%;
  *margin: 0 0.9895833333333331%;
  margin-top: 6px;
}
#searchDrop {
  position: absolute;
  display: block;
  top: 45px;
  margin-left: 5px;
  background: #ffffff;
  display: none;
  border-radius: 5px;
  box-shadow: 0 0 8px #999999;
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.53125000000001%;
  *margin: 0 0.9895833333333331%;
}
#searchSuggestions {
  padding: 0;
  margin: 0;
}
#searchSuggestions li {
  width: 100%;
  min-height: 40px;
  display: block;
  width: 103.125%;
  margin: 0 -1.5625%;
  *width: 103.07291666666667%;
  *margin: 0 -1.6145833333333333%;
  *zoom: 1;
}
#searchSuggestions li:before,
#searchSuggestions li:after {
  content: "";
  display: table;
}
#searchSuggestions li:after {
  clear: both;
}
#searchSuggestions li a {
  display: block;
  color: #63b700;
  padding-top: 13px;
  padding-bottom: 13px;
  text-shadow: 0 0 1px #559d00;
  display: inline;
  float: left;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.82291666666667%;
  *margin: 0 1.5104166666666667%;
}
#searchSuggestions li a p.add-info {
  display: block;
  margin-left: 10px;
  color: #999999;
}
#searchSuggestions li a :hover {
  color: #ffffff;
  text-decoration: none;
}
#searchSuggestions li a :hover p.add-info {
  color: #eeeeee;
}
#searchSuggestions li :first-child {
  border-radius: 5px 5px 0 0;
  border-top: 0;
}
#searchSuggestions li :last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 0;
}
#searchSuggestions li :hover {
  background: #559d00;
  background-color: #559d00;
  background: -webkit-gradient(linear, left top, left bottom, from(#559d00), to(#3a8100));
  background: -webkit-linear-gradient(top, #559d00, #3a8100);
  background: -moz-linear-gradient(top, #559d00, #3a8100);
  background: -ms-linear-gradient(top, #559d00, #3a8100);
  background: -o-linear-gradient(top, #559d00, #3a8100);
}
.bubble {
  background-color: #ffffff;
  border: #666666 solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 2px #666666;
  box-shadow: 0 0 2px #666666;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f2f2f2;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  *margin-left: .3em;
  -webkit-box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  -moz-box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background: #f2f2f2;
  *background: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
  -moz-box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
  box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  -webkit-opacity: 65;
  -moz-opacity: 65;
  opacity: 65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #559d00;
  background: -webkit-gradient(linear, left top, left bottom, from(#559d00), to(#219d00));
  background: -webkit-linear-gradient(top, #559d00, #219d00);
  background: -moz-linear-gradient(top, #559d00, #219d00);
  background: -ms-linear-gradient(top, #559d00, #219d00);
  background: -o-linear-gradient(top, #559d00, #219d00);
  border-color: #219d00 #219d00 #115100;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #26b700;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background: #26b700;
  *background: #219d00;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #166a00 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9cb5b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9cb5b), to(#f7b311));
  background: -webkit-linear-gradient(top, #f9cb5b, #f7b311);
  background: -moz-linear-gradient(top, #f9cb5b, #f7b311);
  background: -ms-linear-gradient(top, #f9cb5b, #f7b311);
  background: -o-linear-gradient(top, #f9cb5b, #f7b311);
  border-color: #f7b311 #f7b311 #b58206;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f8bb2a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background: #f8bb2a;
  *background: #f7b311;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ce9307 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ee5f5b;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  background: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background: -o-linear-gradient(top, #ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ce3f38;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background: #ce3f38;
  *background: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #62c462;
  background: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
  background: -webkit-linear-gradient(top, #62c462, #51a351);
  background: -moz-linear-gradient(top, #62c462, #51a351);
  background: -ms-linear-gradient(top, #62c462, #51a351);
  background: -o-linear-gradient(top, #62c462, #51a351);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5eaf5e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background: #5eaf5e;
  *background: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bc0de;
  background: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));
  background: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background: -o-linear-gradient(top, #5bc0de, #2f96b4);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #34a7c8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background: #34a7c8;
  *background: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
  background: -webkit-linear-gradient(top, #444444, #222222);
  background: -moz-linear-gradient(top, #444444, #222222);
  background: -ms-linear-gradient(top, #444444, #222222);
  background: -o-linear-gradient(top, #444444, #222222);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f2f2f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background: #2f2f2f;
  *background: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #559d00;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-link:hover {
  color: #63b700;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover {
  color: #333333;
  text-decoration: none;
}
.modal-open .modal .dropdown-menu {
  z-index: 2050;
}
.modal-open .modal .dropdown.open {
  *z-index: 2050;
}
.modal-open .modal .popover {
  z-index: 2060;
}
.modal-open .modal .tooltip {
  z-index: 2080;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #3a8100;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  -webkit-opacity: 80;
  -moz-opacity: 80;
  opacity: 80;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #666666;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #ffffff;
  border-top: 1px solid #666666;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  content: "";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
#userpanel {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
  text-align: center;
  display: block;
}
#userpanel .userimg {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 72.86458333333333%;
  *margin: 0 0.9895833333333331%;
  float: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#userpanel .username {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
  margin-top: 5px;
}
#userpanel #menu {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
  margin-top: 10px;
}
#userpanel #menu a {
  font-size: 15px;
}
#userpanel #mainMenu {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
}
#userpanel #mainMenu li a {
  text-align: left;
  display: inline;
  float: left;
  width: 79.16666666666666%;
  margin: 0 2.083333333333333%;
  *width: 79.11458333333333%;
  *margin: 0 2.0312499999999996%;
  padding: 3px;
  background-color: transparent;
  height: 20px;
  position: relative;
  margin: 5px 0px 0px 2px;
}
#userpanel #mainMenu li:first-child a {
  margin-top: 0;
}
#userpanel #mainMenu li .current {
  display: inline;
  float: left;
  width: 79.16666666666666%;
  margin: 0 2.083333333333333%;
  *width: 79.11458333333333%;
  *margin: 0 2.0312499999999996%;
  height: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #63b700;
  color: #f5ffe9;
  margin: 5px 0 0 0;
}
#userpanel #mainMenu li .current:after {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-left-color: #5a5a5a;
  left: 100%;
  margin: 0px 0px 0px 6%;
}
#userpanel #subMenu {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
  border-left: 2px solid #5a5a5a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#userpanel #subMenu li {
  text-align: left;
}
#userpanel #subMenu li a {
  display: block;
  padding: 3px;
  padding-left: 10px;
  cursor: pointer;
  margin: -2px;
}
#userpanel #subMenu .current {
  background-color: #63b700;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #f5ffe9;
  border: none;
}
.registerView {
  background-color: #3a8100;
}
.registerView footer {
  color: #f2fbec;
}
.registerView #main {
  text-align: center;
}
.registerView #loginform,
.registerView #registerform {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}
.registerView #loginform input,
.registerView #registerform input,
.registerView #loginform button,
.registerView #registerform button {
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: none;
}
.registerView #loginform input,
.registerView #registerform input {
  border-bottom: 1px solid #ddd;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.registerView a {
  text-decoration: underline;
  color: #e6e6e6;
}
.registerView #callRegister,
.registerView #callLogin {
  display: none;
}
.shareForm {
  width: 100%;
  *zoom: 1;
  border-bottom: 1px solid #666666;
}
.shareForm:before,
.shareForm:after {
  content: "";
  display: table;
}
.shareForm:after {
  clear: both;
}
.shareForm #shareText {
  display: inline;
  float: left;
  width: 82.14285714285714%;
  margin: 0 1.7857142857142856%;
  *width: 82.09077380952381%;
  *margin: 0 1.7336309523809523%;
  margin-bottom: 10px;
  margin-left: 20px;
}
.post {
  width: 100%;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #666666;
  *zoom: 1;
}
.post:before,
.post:after {
  content: "";
  display: table;
}
.post:after {
  clear: both;
}
.post .userimg {
  border-radius: 200px;
  display: inline;
  float: left;
  width: 10.714285714285714%;
  margin: 0 1.7857142857142856%;
  *width: 10.66220238095238%;
  *margin: 0 1.7336309523809523%;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}
.post .postContent {
  display: inline;
  float: left;
  width: 53.57142857142857%;
  margin: 0 1.7857142857142856%;
  *width: 53.519345238095234%;
  *margin: 0 1.7336309523809523%;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post .postContent .postText {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.post .postInfo {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 1.7857142857142856%;
  *width: 24.947916666666668%;
  *margin: 0 1.7336309523809523%;
  padding-top: 5px;
  margin-bottom: 10px;
}
.post:last-child {
  border: none;
}
.profileView #main {
  background-color: #ffffff;
  border: #666666 solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 2px #666666;
  box-shadow: 0 0 2px #666666;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.profileView #infowrap {
  float: left;
  width: 100%;
  background-color: none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
}
.profileView #wall {
  display: inline;
  float: left;
  width: 96.42857142857143%;
  margin: 0 1.7857142857142856%;
  *width: 96.3764880952381%;
  *margin: 0 1.7336309523809523%;
  margin-top: 10px;
}
.profileView #postOnWall {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.197916666666664%;
  *margin: 0 0.9895833333333331%;
  margin-top: 5px;
}
.profileView #userimg {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 1.7857142857142856%;
  *width: 24.947916666666668%;
  *margin: 0 1.7336309523809523%;
}
.profileView #userinfo {
  display: inline;
  float: left;
  width: 67.85714285714286%;
  margin: 0 1.7857142857142856%;
  *width: 67.80505952380953%;
  *margin: 0 1.7336309523809523%;
}
.messageView #main {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.197916666666664%;
  *margin: 0 0.9895833333333331%;
  background-color: #ffffff;
  border: #666666 solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 2px #666666;
  box-shadow: 0 0 2px #666666;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  padding: 0;
  height: 100%;
}
.messageView #topicListWrap {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 1.7857142857142856%;
  *width: 24.947916666666668%;
  *margin: 0 1.7336309523809523%;
  margin-right: 3px;
}
.messageView #topicListWrap #topicList {
  height: 420px;
  overflow: auto !important;
  margin-left: 0;
  list-style: none;
}
.messageView #topicListWrap #topicList .topic {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 5px;
}
.messageView #topicListWrap #topicList .topic .userimg {
  display: inline;
  float: left;
  width: 37.5%;
  margin: 0 6.25%;
  *width: 37.447916666666664%;
  *margin: 0 6.197916666666667%;
}
.messageView #topicListWrap #topicList .topic .username {
  font-size: 1em;
}
.messageView #topicListWrap #topicList .topic .lastMessage {
  font-size: 0.8em;
}
.messageView #topicListWrap #topicList .topic .left {
  float: left;
  margin-left: 10px;
}
.messageView #topicListWrap #topicList .topic:hover {
  background-color: rgba(105, 228, 0, 0.1);
}
.messageView #topicListWrap #topicList .topic:first-child {
  margin-top: 10px;
}
.messageView #topicListWrap #topicList #newMessage {
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.messageView #topicWrap {
  border-left: 1px solid #333;
  display: inline;
  float: left;
  width: 67.85714285714286%;
  margin: 0 1.7857142857142856%;
  *width: 67.80505952380953%;
  *margin: 0 1.7336309523809523%;
}
.messageView #topicWrap #messageTitle {
  padding-left: 10px;
}
.messageView #topicWrap #messageList {
  margin-left: 0;
  list-style: none;
  overflow: auto !important;
  height: 300px;
}
.messageView #topicWrap #messageList .message {
  display: inline;
  float: left;
  width: 95%;
  margin: 0 2.5%;
  *width: 94.94791666666667%;
  *margin: 0 2.4479166666666665%;
  margin-bottom: 5px;
}
.messageView #topicWrap #messageList .message .user {
  padding-left: 10px;
  display: block;
  width: 105%;
  margin: 0 -2.5%;
  *width: 104.94791666666667%;
  *margin: 0 -2.5520833333333335%;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.messageView #topicWrap #messageList .message .user:before,
.messageView #topicWrap #messageList .message .user:after {
  content: "";
  display: table;
}
.messageView #topicWrap #messageList .message .user:after {
  clear: both;
}
.messageView #topicWrap #messageList .message .user .userimg {
  float: left;
}
.messageView #topicWrap #messageList .message .user .username {
  display: block;
  padding-top: 10px;
}
.messageView #topicWrap #messageList .message .messageText {
  padding: 0px 10px 10px 10px;
}
.messageView #topicWrap #messageList .message.me {
  color: #63b700;
  text-align: right;
  background-color: #f2f2f2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.messageView #topicWrap #messageList .message.me .user {
  padding-left: 0;
}
.messageView #topicWrap #messageList .message.me .user .userimg {
  float: right;
  padding-right: 10px;
}
.messageView #topicWrap #messageList .message.me .messageText {
  text-align: left;
}
.messageView #topicWrap #messageList .message.other {
  background-color: rgba(105, 228, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #4e4e4e;
}
.friendsView #friendsList {
  display: inline;
  float: left;
  width: 96.42857142857143%;
  margin: 0 1.7857142857142856%;
  *width: 96.3764880952381%;
  *margin: 0 1.7336309523809523%;
}
.friendsView #friendsList li {
  border-bottom: 2px solid #666666;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 10px !important;
}
.friendsView #friendsList li a {
  *zoom: 1;
}
.friendsView #friendsList li a .friendPicture {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 4.166666666666666%;
  *width: 24.947916666666668%;
  *margin: 0 4.114583333333333%;
}
.friendsView #friendsList li a .friendName {
  display: inline;
  float: left;
  width: 58.333333333333336%;
  margin: 0 4.166666666666666%;
  *width: 58.28125%;
  *margin: 0 4.114583333333333%;
  padding-top: 8%;
  color: #3a8100;
}
.friendsView #friendsList li a:before,
.friendsView #friendsList li a:after {
  content: "";
  display: table;
}
.friendsView #friendsList li a:after {
  clear: both;
}
.friendsView #friendsList li:hover {
  background-color: rgba(99, 183, 0, 0.3);
}
#mediaWrap .mediaRow {
  display: block;
  width: 103.57142857142858%;
  margin: 0 -1.7857142857142856%;
  *width: 103.51934523809526%;
  *margin: 0 -1.8377976190476188%;
  *zoom: 1;
  margin-top: 5px;
}
#mediaWrap .mediaRow:before,
#mediaWrap .mediaRow:after {
  content: "";
  display: table;
}
#mediaWrap .mediaRow:after {
  clear: both;
}
#mediaWrap .image {
  float: left;
  margin-left: 5px;
}
#mediaWrap .image img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #5e5e5e;
  padding: 5px;
}
#mediaWrap .image:hover img {
  border-color: #666666;
  cursor: pointer;
}
#mediaWrap .droplet {
  display: block;
  width: 103.57142857142858%;
  margin: 0 -1.7857142857142856%;
  *width: 103.51934523809526%;
  *margin: 0 -1.8377976190476188%;
  *zoom: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
#mediaWrap .droplet:before,
#mediaWrap .droplet:after {
  content: "";
  display: table;
}
#mediaWrap .droplet:after {
  clear: both;
}
#mediaWrap .droplet .comments {
  display: inline;
  float: left;
  width: 46.42857142857143%;
  margin: 0 1.7857142857142856%;
  *width: 46.376488095238095%;
  *margin: 0 1.7336309523809523%;
  border-right: 2px solid #666666;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#mediaWrap .droplet .info {
  display: inline;
  float: left;
  width: 32.142857142857146%;
  margin: 0 1.7857142857142856%;
  *width: 32.09077380952381%;
  *margin: 0 1.7336309523809523%;
  border-right: 2px solid #666666;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#mediaWrap .droplet .opinion {
  display: inline;
  float: left;
  width: 10.714285714285714%;
  margin: 0 1.7857142857142856%;
  *width: 10.66220238095238%;
  *margin: 0 1.7336309523809523%;
}
.settingsView #main {
  background-color: #ffffff;
  border: #666666 solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 2px #666666;
  box-shadow: 0 0 2px #666666;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.settingsView #toc {
  float: left;
  width: 100%;
}
