/*!
 * InStyle
 *	Something like a framework, though it's designed for the needs of socialHive
 *
 * Copyright 2012 Daniel Melchior
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
input {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #FFFFFF;
  border-radius: 20px;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.197916666666668%;
  *margin: 0 0.9895833333333331%;
}
.form-navbar input {
  margin: 6px 0px 0px 5px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  content: "";
  display: table;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  text-align: right;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}
small {
  font-size: 85%;
  color: #9e9e9e;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: 200;
}
cite {
  font-style: normal;
}
.textWarning {
  color: #ffc82f;
  text-shadow: 1px 1px 1px #2f2300;
  font-size: 20px;
}
.textError {
  color: #e80000;
  text-shadow: 1px 1px 1px #000000;
  font-size: 20px;
}
.textInfo {
  color: #49c9ff;
  text-shadow: 1px 1px 1px #003349;
  font-size: 20px;
}
.textSuccess {
  color: #7cda09;
  text-shadow: 1px 1px 1px #000000;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #808080;
}
h1 {
  font-size: 35px;
  line-height: 40px;
}
h1 small {
  font-size: 25;
}
h2 {
  font-size: 28px;
  line-height: 40px;
}
h2 small {
  font-size: 20;
}
h3 {
  font-size: 23px;
  line-height: 40px;
}
h3 small {
  font-size: 13;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 12px;
  line-height: 20px;
}
h6 {
  font-size: 10px;
  line-height: 20px;
}
body {
  background-color: #f1f5f7;
  margin: 0 auto;
  padding-top: 50px;
}
div {
  display: block;
}
#container {
  margin-top: 10px;
}
#sidebar-left {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.864583333333332%;
  *margin: 0 0.9895833333333331%;
  margin-left: 9.374999999999998%;
}
#main {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
  display: block;
}
#sidebar-right {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 14.53125%;
  *margin: 0 0.9895833333333331%;
}
footer {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
  text-align: center;
  margin-top: 10px;
}
nav {
  display: block;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  border-bottom: 1px solid #a7a7a7;
  outline: 1px solid #dbdbdb;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background: -ms-linear-gradient(top, #ffffff, #f1f1f1);
  background: -o-linear-gradient(top, #ffffff, #f1f1f1);
}
nav .brand {
  display: block;
  float: left;
  margin: 10px 5px 5px 15px;
  font-size: 25px;
  font-family: helvetica;
  color: #555;
  text-shadow: 1px 1px 1px #d2d2d2;
}
.nav-icon {
  float: left;
  margin: 12px 5px 5px 15px;
}
.nav-icon-icons {
  font-size: 20px;
  color: #333;
}
.nav-icon-icons a {
  text-decoration: none;
  border: none;
}
.nav-icon-icons:hover {
  color: #474747;
}
.nav-icon-dropdown {
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.864583333333332%;
  *margin: 0 0.9895833333333331%;
  display: none;
}
.nav-icon-dropdown-header {
  border-bottom: 1px solid #999;
  height: 25px;
  text-align: center;
}
.nav-icon-dropdown-footer {
  border-top: 1px solid #999;
  height: 25px;
  text-align: center;
}
.search {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.197916666666668%;
  *margin: 0 0.9895833333333331%;
}
.search-drop {
  position: absolute;
  top: 50px;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.197916666666668%;
  *margin: 0 0.9895833333333331%;
  display: none;
}
.bubble {
  background-color: #ffffff;
  border: #e6e6e6 solid 2px;
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.0416666666666665%;
  *width: 6.197916666666667%;
  *margin: 0 0.9895833333333331%;
  margin: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 50px;
  padding: 10px;
}
