*.cmd
*.log
*complexity.txt
*log.txt
codekit-config.json
*.codekit
assets/css/style.css
assets/css/style.css.map
assets/less/codekit-config.json
assets/less/styleguide.md
tmp/*
node_modules/*
assets/vendor
whispeer.mf
*.DS_STORE
assets/js/bower
