
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="de"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de" data-ng-csp> <!--<![endif]-->
<head>
	<base href="/" />
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<![endif]-->
	<title>whispeer</title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="assets/img/favicons/favicon.png" type="image/x-icon" />

	<!-- iOS Web-App Stuff -->
	<link rel="apple-touch-icon" href="assets/img/favicons/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" href="assets/img/favicons/touch-icon-ipad.png" sizes="76x76" />
	<link rel="apple-touch-icon" href="assets/img/favicons/touch-icon-iphone-retina.png" sizes="120x120" />
	<link rel="apple-touch-icon" href="assets/img/favicons/touch-icon-ipad-retina.png" sizes="152x152" />

	<link rel="stylesheet" href="assets/css/angular-csp.css">
	<link rel="stylesheet" href="assets/css/fontello/fontello.css">
	<!--[if IE 7]><link rel="stylesheet" href="css/fontello/fontello-ie7.css"><![endif]-->
	<link rel="stylesheet" href="assets/vendor/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<script data-main="assets/js/main" src="assets/js/libs/require.js"></script>
</head>
<body data-ng-class="cssClass" data-ng-controller="ssn.rootController" class="loading">
	<!--[if lte IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<noscript>Hallo! Leider steht uns bei deinem Browser kein Javascript zur Verfügung!<br> Daher ist es nicht möglich whispeer zu nutzen, da wir unbedingt Javascript benötigen!<br> Vielen Dank für dein Verständnis!</noscript>
	<!-- !Top Bar -->
	<nav id="topNav" data-ng-if="loggedin" data-ng-cloak>
		<div id="navInner">
			<button class="toggle" id="toggleSidebar" data-ng-click="toggleSidebar()" data-ng-if="mobile">
				<i class="icon icon-menu"></i>
				<span data-ng-controller="ssn.magicbar.mainController">
					<span class="badge" id="mobileCounter" data-ng-if="(messages.unread + friends.requestsCount + news.count) > 0">
						<span>{{messages.unread + friends.requestsCount + news.count}}</span>
					</span>
				</span>
			</button>
			<a href="start" id="brand" data-ng-click="mobileActivateView()"><span id="brandNormal">whis</span><span id="brandInverse">peer</span></a>
			<button class="toggle" id="toggleSearch" data-ng-click="toggleSearch()" data-ng-if="mobile"><i class="icon icon-search"></i></button>
			<div class="nav-collapse collapse">
				<usersearch size="big" data-input-i18n-attr="menu.search|placeholder"/>
			</div>
		</div>
		<div id="navIcons" data-ng-if="!mobile" data-ng-controller="ssn.magicbar.mainController">
			<div class="navIcon" id="messageicon" data-ng-click="loadWidget('messages')">
				<img src="assets/img/icons/messages.png" alt="Nachrichten" class="icon">
				<span class="badge" data-ng-if="messages.unread!=0">{{messages.unread}}</span>
			</div>
			<div class="navIcon" id="friendsicon" data-ng-click="loadWidget('friends')">
				<img src="assets/img/icons/friends.png" alt="Freundschaftsanfragen" class="icon">
				<span class="badge" data-ng-if="friends.requestsCount!=0">{{friends.requestsCount}}</span>
			</div>
			<div class="navIcon" id="newsicon" data-ng-click="loadWidget('news')">
				<img src="assets/img/icons/newsfeed.png" alt="Neugikeiten" class="icon">
				<span class="badge" data-ng-if="news.count!=0">{{news.count}}</span>
			</div>
			<div class="navIcon" id="settingsicon" data-ng-click="loadWidget('settings')">
				<img src="assets/img/icons/settings.png" alt="Settings" class="icon">
			</div>
		</div>
	</nav>
	<!-- end !Top Bar-->
	<!-- !Main Container -->
	<div id="container" data-ng-cloak>
		<!-- !Left Sidebar -->
		<aside id="sidebar-left" data-ng-if="loggedin && !mobile">
			<div id="userpanel">
				<a href="{{user.basic.url}}" class="username">
					<img data-ng-src="{{user.basic.image}}" alt="" class="userimg">
					 {{user.name}}
				</a>
				<nav id="menu">
					<ul class="left unstyled" id="mainMenu">
						<li><a href="main" data-i18n="menu.newsfeed"></a></li>
						<li><a href="{{user.basic.url}}" data-i18n="menu.profil"></a></li>
						<li><a href="friends" data-i18n="menu.friends|count={{friends.friendsCount}}"></a></li>
						<li><a href="messages" data-ng-controller="ssn.magicbar.mainController" data-i18n="menu.messages|count={{messages.unread}}"></a></li>
						<li><a href="circles" data-i18n="menu.circles"></a></li>
						<li><a href="settings" data-i18n="menu.settings"></a></li>
						<li><a href="help" data-i18n="menu.help"></a></li>
						<li><a href="#" data-ng-click="logout()" data-eat-click data-i18n="menu.logout"></a></li>
					</ul>
					<ul class="right unstyled" id="subMenu">
					</ul>
					<div class="clear-fix">
					</div>
				</nav>
			</div>
			<div class="notificationWrap">
				<div class="notification" data-ng-if="lostConnection">
					<span data-i18n="general.disconnected"></span>
				</div>
				<!--
				<div class="notification" data-ng-repeat="notification in notifications">
					<div class="close"><i class="icon icon-cancel-circle"></i></div>
					<span></span>
				</div>
				-->
			</div>
		</aside>
		<!-- end !Userpanel -->
		<!-- !Loaded View -->
		<section id="main" data-ng-view data-ng-show="!sidebarActive && !searchActive || !mobile">
			<div id="logo">
				<img src="assets/img/logo.png">
			</div>
		</section>
		<!-- end !Loaded View -->
		<!-- !Mobile Search -->
		<section id="mobileSearch" data-ng-if="searchActive && !sidebarActive">
			<usersearch size="big" data-input-i18n-attr="menu.search|placeholder"/>
		</section>
		<!-- end !Mobile Search -->
		<!-- !Right Sidebar -->
		<aside id="sidebar-right" data-ng-if="loggedin && !mobile">
			<div id="magicbar" data-ng-controller="ssn.magicbar.mainController">
				<div class="magic magicOverlay" data-ng-if="!config.showDefault && config.ready" data-ng-include="'assets/views/magicbar/' + config.template + '.html'"></div>
				<div class="magicWrapper" data-ng-if="config.showDefault && config.ready">
					<div class="magic magicWidget" style="height: {{widgetHeight}}%" data-ng-repeat="widget in defaultConfig" data-ng-include="'assets/views/magicbar/' + widget.template + '.html'"></div>
				</div>
			</div>
		</aside>
		<!-- end !Rigth Sidebar -->
		<!-- !Mobile Menu -->
		<aside id="sidebar-right" data-ng-if="loggedin && mobile" data-ng-show="sidebarActive && !searchActive">
			<ul class="mobileMenu">
				<a href="notificationCenter" class="full" data-ng-click="toggleSidebar()" data-ng-if="(messages.unread + friends.requestsCount + news.count) > 0">
					<li>
						<i class="icon icon-comment"></i>
						<span data-i18n="menu.notifications"></span>
						<span>
							<span class="badge" data-ng-controller="ssn.magicbar.mainController">
								{{messages.unread + friends.requestsCount + news.count}}
							</span>
						</span>
					</li>
				</a>
				<a href="main"  data-ng-click="toggleSidebar()">
					<li>
						<i class="icon icon-home"></i>
						<span data-i18n="menu.newsfeed"></span>
					</li>
				</a>
				<a href="{{user.basic.url}}" data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="{{user.basic.image}}" class="userimg" alt="{{user.basic.name}}">
						<span data-i18n="menu.profil"></span>
					</li>
				</a>
				<a href="friends"  data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="assets/img/icons/mobile/friends.png" alt="Freunde">
						<span data-i18n="menu.friends|count={{friends.friendsCount}}"></span>
					</li>
				</a>
				<a href="messages"  data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="assets/img/icons/mobile/messages.png" alt="Nachrichten">
						<span data-ng-controller="ssn.magicbar.mainController" data-i18n="menu.messages|count={{messages.unread}}"></span>
					</li>
				</a>
				<a href="circles"  data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="assets/img/icons/mobile/circles.png" alt="">
						<span data-i18n="menu.circles"></span>
					</li>
				</a>
				<a href="settings"  data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="assets/img/icons/mobile/settings.png">
						<span data-i18n="menu.settings"></span>
					</li>
				</a>
				<a href="help"  data-ng-click="toggleSidebar()">
					<li>
						<img data-ng-src="assets/img/icons/mobile/help.png">
						<span data-i18n="menu.help"></span>
					</li>
				</a>
				<a href="legal" data-ng-click="toggleSidebar()">
					<li>
						<i class="icon icon-book"></i>
						<span data-i18n="menu.legal"></span>
					</li>
				</a>
				<a href="#" data-ng-click="logout()" data-eat-click>
					<li data-ng-click="toggleSidebar()">
						<img data-ng-src="assets/img/icons/mobile/logout.png">
						<span data-i18n="menu.logout"></span>
					</li>
				</a>
			</ul>
		</aside>
		<!-- end !Mobile Menu -->
		<!-- !Mobile Notifications -->
		<div class="notificationWrap" data-ng-if="loggedin && mobile">
			<div class="notification" data-ng-if="lostConnection">
				<span data-i18n="general.disconnected"></span>
			</div>
			<!--
	<div class="notification" data-ng-repeat="notification in notifications">
				<div class="close"><i class="icon icon-cancel-circle"></i></div>
				<span></span>
			</div>
	-->
		</div>
		<!-- end !Mobile Notifications -->
	</div>
	<!-- end !Main Container -->
	<!-- !footer -->
	<footer data-ng-if="!mobile">
		<div class="left">&copy; 2014 whispeer</div>
		<div class="right">
			<a href="version">v{{version}}</a>&nbsp;
			<a href="" data-i18n="window.title.terms"></a>&nbsp;
			<a href="" data-i18n="window.title.data"></a>&nbsp;
			<a href="mailto:support@whispeer.de" data-i18n="window.title.contact"></a>&nbsp;
			<a href="http://blog.whispeer.de/de/impressum/" target="_blank" data-i18n="window.title.notice"></a>
		</div>
	</footer>
	<!-- end !footer -->
	<!-- !messageSound -->
	<audio id="sound" preload="auto">
		<source src="assets/data/newMessage.wav" type="audio/wave">
		<source src="assets/data/newMessage.ogg" type="audio/ogg">
	</audio>
	<!-- end !messageSound -->
</body>
</html>
