// Responsive Styles
// ---------------------------

@screen: ~"only screen";
@mobile: ~"(max-width : 1024px)";
@desktop: ~"(min-width: 1025px)";


@media @screen {
	@media @mobile {
		@import "mobile/index";
	}

	@media @desktop {
		@import "normalScreen/index";
	}
}
