.registerView {
	background-color: @green2;
	padding: 0;
	// Tweak the standards a bit ;)
	footer {
		color: #f2fbec;
		z-index: 1900;
		//background: @blue;
		height: 15px;
	}
	// content
	#content {
		height: 100%;
	}
	#main {
		text-align: center;
		@media (max-height: 575px) {
			overflow-y: scroll;
		}
		@media (min-height: 576px) {
			.box {
				section {
					max-height: 400px;
				}
			}
		}
	}
	#logo {
		margin: 0px auto;
	}
	.error {
		border: 1px solid #5d0000;
		background-color: #b40000;
		.box-fix;
	}
	.success {
		border: 1px solid #488200;
		background-color: #66b900;
		.box-fix;
	}
	header {
		width: 100%;
		margin: 0 0 2% 0;
		padding: 5px 0 5px 0;
		text-align: left;
		.border-radius(10px);
		background: @white;
		.box-fix;
		#topWrap {
			display: block;
			width: 85%;
			margin:0 auto;
			h3 {
				line-height: 20px;
				color: #333;
				text-align: none;
			}
			a.btn {
				margin: 0 auto 10px auto;
				color: @white;
				text-align: none;
			}
		}	
	}
	section {
		padding: 0;
		.row(12,12,0);
		//overflow: hidden;
		height: 100%;
		background: transparent;
		&#info {
			background: @white;
			height: 270px;
			overflow-y: scroll;
			padding: 0px 10px 0px 10px;
			.box-fix;
			.border-radius(8px);
			p {
				text-align: left;
			}
		}
		#loginForm {
			.column(6,12,left,1%);
			margin: 0 1% 0 0;
			padding: 0;
			height: 350px;
			.border-radius(8px);
			background: @white;
			.box-fix;
			input {
				width: 80%;
				height: 40px;
				margin: 0 auto 5px auto;
			}
			#errorLogin {
				display: block;
				width: 80%;
				margin: 0 auto 5px auto;
				.border-radius(5px);
				.box-fix;
			}
			button {
				.btn;
				.btn-big;
				.btn-green;
				width: 80%;
			}
			.smallRow {
				width: 80%;
				margin: 0 auto;
				button {
					.column(6,12,left,1%);
					.btn-small;
					&:first-child {
						margin: 5px 1% 5px 0;
					}
					&:last-child {
						margin: 5px 0 5px 1%;
						float: right;
					}
				}
			}
		}
		#registerForm {
			.column(6,12,right,1%);
			margin: 0 0 0 1%;
			.border-radius(8px);
			background: @white;
			height: 350px;
			.inputWrap {
				width: 100%;
				div {
					width: 100%;
					margin: 0 auto 5px auto;
					height: 40px;
					display: block;
					padding: 0;
					input {
						width: 80%;
						float: left;
						height: 40px;
						margin: 0 0 0 10%;
					}
					.icon {
						height: 40px;
						display: block;
						width: 10%;
						float: left;
						text-align: center;
						img {
							width: 20px;
							height: 20px;
							margin: 9px 0 11px 0;
						}
					}
					&.uploadImageForm {
						.btn;
						.btn-green;
						cursor: pointer;
						width: 60%;
						margin:0 20% 5px 20%;
						#uploadButton {
							display: inline-block;
							margin: 4px 0;
						}
						#filesUpload {
							position: absolute;
							margin: -4px 0 0 -219px;
							height: 35px;
							width: 270px;
							opacity: 0;
							.border-radius(0);
							cursor: pointer;
						}
					}
					&#canvasWrapper {
						width: 600px;
						height: 300px;
						display: block;
						margin: 5px auto 10px auto;
						float: none;
						#original {
							//width: 600px;
							//height: 300px;
							display: block;
							//background: @green2;
						}
						#overlay {
							position: absolute;
							background: rgba(186,186,186,0.49);
							width: 100px;
							height: 100px;
							max-width: 600px;
							min-width: 1px;
							max-height: 300px;
							border: 1px dashed #ccc;
							top: 0;
							left: 0;
							overflow: auto;
						}
					}	
					&.success {
						height: 40px;
						display: block;
						width: 80%;
						margin: 0 10% 5px 10%;
						.border-radius(5px);
						.box-fix;
					}
				}	
			}	
			.submitWrap {
				display: inline-block;
				vertical-align: bottom;
				width: 100%;
				float: right;
				button {
					.btn;
					.btn-big;
					.btn-green;
					width: 80%;
				}
			}
			&:not([data-regStep="1"]) {
				width: 100%;
				height: 450px;
				.submitWrap {
					margin: 0 10% 0 10%;
					width: 80%;
					#registerFormPreviousStep, #registerFormNextStep, #registerFormSubmit {
						float: left;
						&#registerFormPreviousStep {
							.border-radiuses(0,0,5px,5px);
							width: 50%;
							border-right: 1px solid #ccc;
							float: left;
							margin-left: 1px;
						}
						&#registerFormNextStep, &#registerFormSubmit {
							.border-radiuses(5px,5px,0,0);
							width: 50%;
							border-left: 1px solid #ccc;
							float: right;
							margin-left:-1px;
						}
					} 
				}	
			}
			&[data-regStep="2"] {
				.inputWrap {
					margin-top: 51.5px;
				}
				.submitWrap {
					margin-top: 51.5px;
				}
			}
		}
	}	
	a {
		text-decoration: underline;
		color: darken(@white, 10%);
	}
	footer {
		position: fixed;
		bottom: 10px;
	}
}