<section class="userView-section" id="friends">
	<h2 class="userView-title" data-i18n="profile.section.friends.info"><span data-for="user">{{user.basic.shortname}}</span></h2>
	<ol id="userView-friendsList" class="unstyled post">
		<li id="friendsView-spinner" data-ng-if="true">
			<i class="fa fa-circle-o-notch fa-2x fa-fw fa-spin"></i>
			<p data-i18n="friends.loading"></p>
		</li>
		<li class="userView-friendElement" data-ng-repeat="friend in friends">
			<person data-user="friend"></person>
		</li>
		<li id="friendsView-noFriends" data-ng-if="friends.length == 0 || false">
			<h1 class="h1-noMarginTop">Hallo {{user.basic.shortname}}! Das hier ist deine Freundestliste.</h1>
			<h2>Leider ist sie aktuell noch leer. Das werden wir jetzt ändern!</h2>
			<a href="#" class="btn btn--primary">Finde deine Freunde auf whispeer</a>
			<a whispeer-sref="app.invite" class="btn btn--primary">Lade deine Freunde ein</a>
		</li>
		<li class="inviteFriends" id="userView-inviteFriends" data-ng-if="friends.length < 50 && friends.length > 7 && user.me">
			<a class="inviteFriends-link btn btn--gray btn--hasIcon" id="userView-inviteFriends-link" whispeer-sref="app.invite">
				<i class="fa fa-fw fa-share-alt btn-icon"></i>
				<span class="btn-text" data-i18n="inviteFriends"></span>
			</a>
		</li>
	</ol>
</section>
