<section class="userView-section" id="wall">
	<h2 class="userView-title" data-i18n="profile.section.wall.title"><span data-for="user">{{user.basic.shortname}}</span></h2>
	<newpost data-wall-user-id="user.id" data-ng-if="user.isMyFriend"></newpost>
	<newpost data-ng-if="user.me"></newpost>
	<div class="posts" id="userView-posts">
		<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
	</div>
	<div id="userView-loadMorePostsWrap">
		<button class="btn btn--gray" id="userView-loadMorePosts" data-ng-click="loadMorePosts()" data-ng-if="!loadingPosts" data-i18n="profile.section.wall.more"></button>
	</div>
	<div id="newsfeedView-loading" data-ng-show="loadingPosts">
		<i class="saveButton-spinner fa fa-2x fa-fw fa-spinner fa-spin"></i>
		<p class="large-text" data-i18n="profile.section.wall.loading"></p>
	</div>
</section>
