<section class="userView-section" id="wall">
	<header class="box-header box-header--content"><span class="box-header-title" data-i18n="profile.section.wall.title"></span></header>
	<div data-ng-if="(user.isMyFriend || user.me)" class="post" id="newsfeedView-postForm">
		<div id="newsfeedView-postFormWrap">
			<div class="annotatedInput-container annotatedInput-container--button annotatedInput-container--hasBorder">
				<textarea data-strg-enter="sendPost()" data-ng-model="newPost.text" data-i18n-attr="wall.postit.text|placeholder" id="newsfeedView-shareText" data-ng-disabled="!canSend" class="annotatedInput-input" data-ng-class="{'newsfeedView-shareText--fullBorder': newPost.text.length == 0 && newPost.images.length == 0}"></textarea>
				<div class="uploadForm annotatedInput-button" id="newsfeedView-shareText-addImages">
					<span class="uploadForm-button btn btn--input btn--noRadius">
						<i class="fa fa-camera fa-2x" id="newsfeedView-addImageIcon"></i>
					</span>
					<input class="uploadForm-theForm" type="file" multiple data-file="newPost.addImages" data-ng-click="mobilePromptUser($event)">
				</div>
			</div>
			<div class="newsfeedView-post-fadingPart" data-ng-class="{'newsfeedView-post-fadingPart--visible animate-heightAndOverflow': newPost.text.length > 0 || newPost.images.length > 0}">
				<search data-multiple class="search--custom search--sideBorder" data-supplier="filterSearchSupplier" data-search-template="filter" data-input-i18n-attr="wall.postit.receiver|placeholder" id="newsfeedView-receivers" data-callback="setPostReaders(selected)" data-initial-values="getFiltersByID(newPost.readers)" data-base="circle"></search>
				<div id="newsfeed-newPostImages" data-ng-class="{'animate-heightAndOverflow animate--forwards newsfeedView-newPostImages--border': newPost.images.length > 0}">
					<div class="newsfeed-newPostImagePreview" data-ng-repeat="image in newPost.images">
						<button class="newsfeed-newPostImageRemove fa fa-times-circle" data-ng-click='newPost.removeImage($index)'></button>
						<img class="newsfeed-newPostImage" alt="{{image.getName()}}" data-ng-src="{{image.getUrl()}}">
						<progress class="newsfeed-newPostImageProgress" value="{{image.getProgress()*100}}" max="100"></progress>
					</div>
				</div>
				<savebutton class="btn--noRadius" id="newsfeedView-submit" data-ng-click="sendPost()" data-state="sendPostState" data-noiniticon data-ng-disabled="!canSend">
					<span data-i18n="wall.postit.send"></span>
				</savebutton>
			</div>
		</div>
	</div>
	<div class="posts" id="userView-posts">
		<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
	</div>
	<div id="userView-loadMorePostsWrap">
		<button class="btn btn--primary" id="userView-loadMorePosts" data-ng-click="loadMorePosts()" data-ng-if="!loadingPosts" data-i18n="profile.section.wall.more"></button>
	</div>
	<div id="newsfeedView-loading" data-ng-show="loadingPosts">
		<i class="saveButton-spinner fa fa-2x fa-fw fa-spinner fa-spin"></i>
		<p class="large-text" data-i18n="profile.section.wall.loading"></p>
	</div>
</section>
