<section id="verifyUser">
	<article>
		<header>
			<span data-i18n="profile.trustmanager.verifyTitle"></span>
		</header>
		<div data-ng-if="!verifyCode && !qr.view" class="chooseVerifyMethod">
			<h3 data-i18n="profile.trustmanager.chooseVerifyMethod|user={{user.basic.shortname}}"></h3>
			<button class="btn btn--big btn--primary" data-ng-click="verifyWithCode()" data-i18n="profile.trustmanager.verifyWithCode"></button>
			<button class="btn btn--big btn--primary" data-ng-disabled="!qr.available" data-ng-click="verifyWithQrCode()" data-i18n="profile.trustmanager.verifyWithQr"></button>
		</div>
		<button class="btn btn btn--primary back" data-ng-if="verifyCode || qr.view" data-i18n="login.register.previous" data-ng-click="resetVerifcationMethod()"></button>
		<div class="verify" data-ng-if="verifyCode">
			<h3 data-i18n="profile.trustmanager.verifyUser|user={{user.basic.shortname}}"></h3>
			<span data-i18n="profile.trustmanager.verifyInfo.code|user={{user.basic.shortname}}"></span>
			<div class="inputWrap">
				<input type="text" placeholder="Fingerprint" data-ng-model="givenPrint">
				<savebutton class="btn--input" data-state="verifyingUser" data-ng-click="verify(givenPrint)"></savebutton>
			</div>	
		</div>
		<div class="verify" data-ng-show="qr.view">
			<h3 data-i18n="profile.trustmanager.verifyUser|user={{user.basic.shortname}}"></h3>
			<span data-ng-if="qr.noDevice" data-i18n="profile.trustmanager.nodevice"></span>
			<span data-i18n="profile.trustmanager.verifyInfo.qr|user={{user.basic.shortname}}"></span>
			<div class="qrScanner">
				<video id="qrCodeVideo" autoplay width="100%"></video>
				{{qrCode}}
				<savebutton data-ng-click="qr.reset()" data-ng-if="qr.read" data-state="verifyingUser" data-translation="profile.trustmanager.qrSaveButton"></savebutton>
			</div>
		</div>
	</article>
</section>