<section id="verifyUser">
	<article>
		<header>
			<span data-i18n="profile.trustmanager.verifyTitle"></span>
		</header>
		<div data-ng-if="!verifyCode && !verifyQr" class="chooseVerifyMethod">
			<h3 data-i18n="profile.trustmanager.chooseVerifyMethod|user={{user.names.firstname}}"></h3>
			<button class="btn btn--big btn--primary" data-ng-click="verifyWithCode()" data-i18n="profile.trustmanager.verifyWithCode"></button>
			<button class="btn btn--big btn--primary" data-ng-click="verifyWithQrCode()" data-i18n="profile.trustmanager.verifyWithQr"></button>
		</div>
		<div class="verify" data-ng-if="verifyCode">
			<h3 data-i18n="profile.trustmanager.verifyUser|user={{user.names.firstname}}"></h3>
			<span data-i18n="profile.trustmanager.verifyInfo.code|user={{user.names.firstname}}"></span>
			<div class="inputWrap">
				<input type="text" placeholder="Fingerprint" data-ng-model="givenPrint">
				<savebutton class="btn--input" data-state="verifyingUser" data-ng-click="verify(givenPrint)"></savebutton>
			</div>	
		</div>
		<div class="verify" data-ng-show="qr.view">
			<h3 data-i18n="profile.trustmanager.verifyUser|user={{user.names.firstname}}"></h3>
			<span data-i18n="profile.trustmanager.verifyInfo.qr|user={{user.names.firstname}}"></span>
			<div class="qrScanner">
				{{qrCode}}
				<savebutton data-ng-if="qr.read" data-state="verifyingUser"></savebutton>
				<video data-ng-show="!qr.read" id="qrCodeVideo" autoplay width="100px"></video>
			</div>
		</div>
	</article>
</section>