<section id="verifyUser">
	<article>
		<header>
			<span data-i18n="profile.trustmanager.verifyTitle"></span>
		</header>
		<div class="verifyContent">
			<div data-ng-if="!verifyCode && !qr.view" class="chooseVerifyMethod">
				<h3 data-i18n="profile.trustmanager.chooseVerifyMethod|user={{user.basic.shortname}}"></h3>
				<button class="btn btn--big btn--primary" data-ng-click="verifyWithCode()" data-i18n="profile.trustmanager.verifyWithCode|user={{user.basic.shortname}}"></button>
				<button class="btn btn--big btn--primary" data-ng-disabled="!qr.available" data-ng-click="verifyWithQrCode()" data-i18n="profile.trustmanager.verifyWithQr|user={{user.basic.shortname}}"></button>
			</div>
			<button class="btn btn--primary btn--big back" data-ng-if="qr.available && (verifyCode || qr.view)" data-i18n="profile.trustmanager.back" data-ng-click="resetVerifcationMethod()"></button>
			<div class="verify" data-ng-if="verifyCode">
				<span class="introText" data-syntaxify data-i18n="profile.trustmanager.verifyInfo.code|user={{user.basic.shortname}}"></span>
				<div class="inputWrap">
					<span data-ng-repeat="part in fingerPrint">
						<input maxlength="{{part.length}}" type="text" data-i18n-attr="profile.trustmanager.part{{$index+1}}|placeholder" data-ng-model="givenPrint[$index]" data-ng-change="nextInput($index)">
						<span class="fa icon valid" data-ng-class="faEqual(givenPrint[$index], part)">
						</span>
						<span class="clearfix"></span>
					</span>
					<savebutton class="btn--input" data-state="verifyingUser" data-ng-click="verify(givenPrint)"></savebutton>
				</div>
			</div>
			<div class="verify" data-ng-show="qr.view">
				<div class="error" data-ng-if="qr.noDevice" data-i18n="profile.trustmanager.nodevice"></div>
				<span data-syntaxify data-i18n="profile.trustmanager.verifyInfo.qr|user={{user.basic.shortname}}"></span>
				<div class="qrScanner">
					<savebutton data-ng-click="qr.reset()" data-ng-if="qr.read" data-state="verifyingUser" data-translation="profile.trustmanager.qrSaveButton"></savebutton>
					<video data-ng-if="!qr.read" id="qrCodeVideo" autoplay></video>
				</div>
			</div>
		</div>
	</article>
</section>