<ol class="search-suggestions u-unstyled" data-ng-class="{'small': !big}">
	<li class="search-suggestion search-suggestion-user" data-ng-repeat="user in results" data-ng-class="currentClass($index)" data-ng-mouseover="setCurrent($index)" data-ng-click="selectResult($index)">
		<userimage class="search-suggestion-userimage" data-user="user" />
		<div class="search-suggestion-info">
			<span class="search-suggestion-row search-suggestion-name">{{user.name}}<small class="search-suggestion-nickname">&nbsp;- {{user.names.nickname}}</small></span>
			<span class="search-suggestion-row search-suggestion-friends" data-ng-if="big">{{user.basic.mutualFriends.length}} <span data-i18n="usersearch.mutualFriends"></span></span>
			<span class="search-suggestion-row search-suggestion-location" data-ng-if="big"><span data-i18n="usersearch.from"></span> {{user.basic.location}}</span>
			<span class="search-suggestion-row search-suggestion-age" data-ng-if="big"><span data-i18n="usersearch.age"></span> {{user.basic.age}}</span>
		</div>
		<div class="search-suggestion-actions" data-ng-if="big">
			<a class="search-suggestion-row search-action search-action-message btn btn--primary btn--border" data-ng-click="notifyParent('sendMessage', user)" data-stop-event="click" data-i18n="usersearch.message"></a>
			<savebutton class="search-suggestion-row search-action search-action-addFriend btn--border" data-state="user.addFriendState" data-ng-if="!user.me && !user.added" data-ng-click="notifyParent('addFriend', user)" data-stop-event="click" data-noiniticon>
				<span data-i18n="usersearch.add"></span>
			</savebutton>
			<div class="search-suggestion-row search-action search-action-addCircle" data-stop-event="click" ng-if="user.added">
				<circlesearch res="circles" class="search-action-selectCircle" data-input-i18n-attr="profile.actions.addToCircle|placeholder|user={{user.name}}" data-user="user.id"></circlesearch>
				<savebutton class="search-action-circleSubmit btn--border btn--noPadding" data-ng-click="notifyParent('saveCircles', {circles: circles, user: user})" data-state="user.circleState"></savebutton>
			</div>
		</div>
	</li>
</ol>