.searchBar {
	.formSearch {
		.inputWrap {
			.unstyled;
			height: auto;
			background: white;
			padding: 0;
			max-width: 100%;
			display: block;
			width: 100%;
			word-break: break-all;
			min-height: 39px;
			li {
				display: inline-block !important;
				line-height: 35px;
				height: 35px;
				&.searchResult {
					display: block;
					float: left;
					margin: 2px;
					max-width: 45%;
					padding: 0 5px 0 5px;
				}
				&.searchField {
					input {
						//float: left;
						width: 53.5%;
						outline: 0;
						border: 0;
						padding: 0px 5px;
						margin: 2px 0;
						height: 35px;
					}	
				}
			}
		}
	}
	.searchDrop {
		.column(2,7);
		margin: 0;
		display: block;
		padding: 0;
		position: absolute;
		.searchSuggestions {
			width: 100%;
			margin: 0;
			padding: 0 0 0 0;
			max-height: 390px;
			overflow-y:scroll;
			padding:0;
			.box-fix;
			li {
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				min-height: 20px;
				height: auto;
				img {
					.column(2);
					margin-left: 0;
				}
				.info {
					.column(6);
					margin: 7px 0 0 3%;
					padding: 0;
					.name {
						font-size: 1.3em;
						min-height: 10px;
					}
					.friends {
						.row(12);
					}
					.location, &.age {
						.column(3);
					}
				}
				.actions {
					.column(4);
					margin-top: 5px;
					a {
						cursor: pointer;
						text-align: center;
						margin-bottom: 5px;
					}
				}	
			}
		}
	}	
}	