---
---

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(/assets/fonts/SourceSansPro-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(/assets/fonts/SourceSansPro-Semibold.ttf) format('truetype');
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
}
.darkBlur {
	color: #ffffff;
	text-shadow: 0px 0px 5px #000;
	background: rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 10px 15px rgba(50, 50, 50, 0.4);
}
.lightBlur {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	background: rgba(237, 237, 237, 0.2);
	box-shadow: 0px 0px 15px 15px rgba(237, 237, 237, 0.2);
}
.landing-section {
	position: relative;
	float: left;
	width: 100%;
	padding: 50px 25px;

	background: #54AB0C;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
	background-size: cover;
}
.landing-section:nth-child(2n) {
	background: #fff;
	color: #000;
}
#heading {
	height: 100vh; // 92% support looks ok to me
	padding: 50px 25px 200px;
}
.section-header,
.section-paragraph {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.section-header {
	font-weight: 600;
	font-size: 2.5em;
}
.section-paragraph {
	font-weight: 200;
	font-size: 1.5em;
}
.section-ul {
	width: 450px;
	margin: 0 auto 26.799999237060547px;
}
.section-li {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
}
.section-header--noTopMargin {
	margin-top: 0px;
}
.button {
	background-image: none;
	-webkit-tab-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;

	display: inline-block;
	width: auto;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	text-decoration: none;

	background: transparent;
	color: #000;
	border: 1px solid #ccc;
}
.button:hover {
	background: rgba(60, 60, 60, 0.1);
}
.button--green {
	color: #fff;
}
.button--more {
	border: none;
}
.email-form {
	width: 40%;
	height: 50px;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
.email-form--addMargin {
	margin-top: 50px;
}
.email-form-input {
	padding: 10px 15px;
	outline: 0;
	border: none;
	border-radius: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	float: left;
	width: 65%;
	margin: 0;
	height: 50px;

	color: #000;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
}
.email-form-submit {
	border-radius: 0 5px 5px 0;

	float: left;
	width: 35%;
	margin: 0;
	box-sizing: border-box;
	background: #54AB0C;
}
.email-form-submit:hover {
	background: mix(#54AB0C, #000, 90%);
}