---
---

{% assign animationTime = 12 %}

@import "variables";
@import "mixins";
@import "body";
@import "typography";
@import "buttons";
@import "sections";
@import "misc";

.header {
	background: rgba(red($primary), green($primary), blue($primary), 0.98);
	font-family: ubuntulight, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contentFallBack {
	height: 100vh;
	width: 100%;
	border: 0;
}

.header-inner {
	@media #{$mobile} {
		padding: 0 50px;
		box-sizing: border-box;
		text-align: center;
	}
}
.header-brand {
	@media #{$mobile} {
		display: inline-block;
		float: none;
		width: none;
		margin: 0;

		text-align: center;
	}
}
.globalNotificationWrap {
	display: none;
}
.globalNotificationWrap--visible {
	display: block;
}
#globalNotification {
	display: block;
	position: fixed;
	z-index: 9;

	top: 50px;
	left: 0;

	width: 100%;
	line-height: 30px;

	background: rgba(30, 30, 30, 0.9);
	color: #ffffff;
	border-bottom: 1px solid rgba(10, 10, 10, 0.9);

	text-align: center;
}

#globalNotification a {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
}

#globalNotification a:hover {
	border-bottom-style: solid;
}

#globalNotificationSpace {
	display: block;
	position: relative;

	width: 100%;
	height: 30px;
}
.landing-registerFrame {
	display: block;
	width: 98%;
	margin: 1em auto 0;
	max-width: 450px;
	height: 300px;
	border: none;
	@media (max-width: 395px) {
		height: 318px;
	}
}
#heading {
	padding-bottom: 0;
}
#heading .landing-registerFrame {
	padding-bottom: 32px;
	@media #{$mobile} {
		padding-bottom: 16px;
	}
}

#countdown__counter {
	min-height: 76px;
}

.counter__digit {
	display: inline-block;
	line-height: 36px;
}

#counter__days {
	width: 76px;
}

#counter__hours {
	width: 90px;
}

#counter__minutes {
	width: 83px;
}

#counter__seconds {
	width: 103px;
}

.digit-description {
	display: inline-block;
	width: 100%;

	text-align: center;

	font-size: 16px;
	letter-spacing: 0px;
	font-weight: 300;

	text-transform: uppercase;
}

.landing-section-video {
	display: block;
	position: relative;
	width: 98%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	max-width: 300px;
	cursor: pointer;
}
.landing-section-video-image {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, 0.7);
}
.landing-section-video-icon-wrap {
	position: absolute;
	top: calc(50% - 2.5em);
	left: calc(50% - 2.5em);
	background-color: rgba(red($primary), green($primary), blue($primary), 0.9);
	height: 5em;
	width: 5em;
	line-height: 5em;
	border-radius: 100%;
	text-align: center;
}
.landing-section-video-icon {
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
	transition: .6s text-shadow ease;
	transform: translate3d(0,0,0);
}
.landing-section-video:hover .landing-section-video-icon {
	text-shadow: 1px 1px 2px #444;
}
.landing-section--footer {
	min-height: 0;
	padding: 1rem 8rem 1rem 1rem;
	background: #ffffff;
	color: #000000;
	text-align: left;
	border-top: 1rem solid $primary;
	@media #{$mobile} {
		padding: 1rem 6rem 1rem 0.5rem;
	}
	&:after {
		content: " ";
		background: $primary;
		width: 88px;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;
	}
}
.landing-footer-left,
.landing-footer-right {
	@media #{$desktop} {
		display: inline-block;
		float: left;
	}
	@media #{$mobile} {
		display: inline-block;
		width: 100%;
		line-height: 1.5em;
		font-size: 1.2em;
	}
}
.landing-footer-right {
	@media #{$desktop} {
		text-align: right;
		float: right;
		padding: 0 1em;
	}
}
.landing-footer-link {
	@media #{$desktop} {
		padding: 0 0.5em;
	}
	white-space: nowrap;
}
.video-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.7);
}
#video-overlay-close {
	position: absolute;
	top: -35px;
	right: -35px;

	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding-right: 1px;

	cursor: pointer;
	color: #ffffff;
	background: #000000;
	border: 2px solid #ffffff;
	border-radius: 100%;
}
.video-overlay-video {
	width: 100%;
	height: 100%;
}
#video-overlay-wrapper {
	position: relative;
	display: none;
	height: 80%;
	width: 80%;
	margin: 6% 10% 10%;
	@media #{$mobile} {
		width: calc(100% - 76px);
		margin: 55px 38px 0 38px;
	}
}
.video-overlay--visible {
	display: block;
}
.video-overlay--visible #video-overlay-wrapper {
	display: block;
}

// Animation
@import "animation";

{% assign animationTime = 15 %}

.animation-box {
	position: relative;
	width: 960px;
	margin: 0 auto 2rem;
	padding-bottom: 10px;
	text-align: left !important;
	@media (max-width: 1010px) {
		display: none;
	}
}
.animation-node {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20%;
	line-height: 131px;
	text-align: center;
}
.animation-node-description {
	display: block;
	line-height: 1em;
}
.s1,
.s2 {
	width: 55px;
}
.s1 {
	margin-right: 100px;
}
.s2 {
	margin-left: 100px;
}
.s1Pc,
.s2Pc {
	width: 150px;
}
.server {
	width: 350px;
}
.message {
	position: absolute;
	text-align: center;
	margin: 21px 0 0;
	line-height: 17px;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 0;
	width: 100px;
	height: auto;
	border: 1px solid #fff;
	border-radius: 3px;
	box-sizing: border-box;
	@include transform(translate3d(0,0,0));
	@include backface-visibility(hidden);
}
.message-sender {
	font-size: 0.8em;
	display: block;
	line-height: 0.8em;
	border-bottom: 1px solid #fff;
	padding: 3px;
	text-align: left;
	background: #fff;
	color: #444;
}
.message-text {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 15px;
}
.animation-start {
	.message {
		@include animation(sendMessage {{animationTime}}s);
	}
	.message-s2 {
		@include animation-direction(reverse);
	}
	.message--infinity {
		@include animation-iteration-count(infinite);
	}
	{% for lang in site.data.b2c.animation.langs %}
		{% for message in site.data.b2c.animation[lang].data %}
			{% if forloop.index > 2 %}
				{% capture doLoop %}{% cycle 'true', 'false' %}{% endcapture %}
				{% if doLoop == 'true' %}
					{% capture index %}{{ forloop.index0 | divided_by: 2 }}{% endcapture %}
					.message-{{lang}}--i{{forloop.index}},
					.message-{{lang}}--i{{forloop.index | plus: 1}} {
						@include animation-delay({{ animationTime | times: index }}s);
					}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
}
@-webkit-keyframes sendMessage {
	@include animationSendMessage;
}
@-moz-keyframes sendMessage {
	@include animationSendMessage;
}
@-o-keyframes sendMessage {
	@include animationSendMessage;
}
@keyframes sendMessage {
	@include animationSendMessage;
}
