---
---

@import "variables";
@import "typography";
@import "buttons";
@import "sections";
@import "misc";

.header {
	background: rgba(red($primary), green($primary), blue($primary), 0.98);
}

.header-inner {
	@media #{$mobile} {
		padding: 0 50px;
		box-sizing: border-box;
		text-align: center;
	}
}
.header-brand {
	@media #{$mobile} {
		display: inline-block;
		float: none;
		width: none;
		margin: 0;

		text-align: center;
	}
}
.section-header {
	@media #{$desktop} {
		font-size: 4rem;
	}
	@media #{$mobile} {
		font-size: 3rem;
	}
	letter-spacing: -2px;
	width: auto;
}
#heading {
	height: auto;
	min-height: 100vh;
	padding-top: 20px;
	padding-bottom: 0;
	background-position: center center;
}
#heading .landing-section--inner {
	padding-bottom: calc(55px + 1rem);
}
#heading .section-paragraph {
	margin-top: -30px;
	padding-bottom: 0;
}
.landing-registerFrame {
	display: block;
	width: 98%;
	margin: 0 auto;
	max-width: 450px;
	height: 332px;
	border: none;
}
.landing-section-video {
	display: block;
	position: relative;
	width: 98%;
	margin: 0 auto;
	margin-bottom: calc(1rem - 3px);
	max-width: 300px;
	cursor: pointer;
}
.landing-section-video-image {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, 0.7);
}
.landing-section-video-icon-wrap {
	position: absolute;
	top: calc(50% - 2.5em);
	left: calc(50% - 2.5em);
	background-color: rgba(red($primary), green($primary), blue($primary), 0.9);
	height: 5em;
	width: 5em;
	line-height: 5em;
	border-radius: 100%;
	text-align: center;
}
.landing-section-video-icon {
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
	transition: .6s text-shadow ease;
	transform: translate3d(0,0,0);
}
.landing-section-video:hover .landing-section-video-icon {
	text-shadow: 1px 1px 2px #444;
}
.section-next {
	display: block;
	position: absolute;
	margin: -15px auto 0;
	width: 150px;
	height: 55px;
	padding: 11px 10px 10px;

	left: calc(50% - 75px);
	bottom: 25px;

	color: #fff;
	border: none;
	box-sizing: border-box;
	transition: 0.3s background ease;
}
.section-next:hover {
	color: #ffffff;
	background: rgba(60, 60, 60, 0.25);
}
.fa-section-next {
	display: block;
	margin-top: 2px;
}
a[name="content"] {
	visibility: hidden;
}
.video-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.7);
}
#video-overlay-close {
	position: absolute;
	top: -35px;
	right: -35px;

	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding-right: 1px;

	cursor: pointer;
	color: #ffffff;
	background: #000000;
	border: 2px solid #ffffff;
	border-radius: 100%;
}
.video-overlay-video {
	width: 100%;
	height: 100%;
}
#video-overlay-wrapper {
	position: relative;
	display: none;
	height: 80%;
	width: 80%;
	margin: 6% 10% 10%;
	@media #{$mobile} {
		width: calc(100% - 76px);
		margin: 55px 38px 0 38px;
	}
}
.video-overlay--visible {
	display: block;
}
.video-overlay--visible #video-overlay-wrapper {
	display: block;
}

// Animation
.animation-box {
	position: relative;
	width: 970px;
	margin: 0 auto 2rem;
	padding-bottom: 10px;
	text-align: left !important;
	@media (max-width: 1000px) {
		display: none;
	}
}
.animation-node {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20%;
	line-height: 131px;
	text-align: center;
}
.animation-node-description {
	display: block;
	line-height: 1em;
}
.fa-xl {
	font-size: 8em;
}
.fa-l {
	font-size: 5em;
}
.fa-middle {
	vertical-align: middle;
}
.fa-bottom {
	vertical-align: bottom;
}
.john,
.steve {
	width: 50px;
}
.john {
	margin-right: 100px;
}
.steve {
	margin-left: 90px;
}
.johnPc,
.stevePc {
	width: 150px;
}
.server {
	width: 350px;
}
.message {
	position: absolute;
	text-align: center;
	margin: 21px 0 0;
	line-height: 17px;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 0;
	width: 100px;
	height: auto;
	border: 1px solid #fff;
	border-radius: 3px;
	box-sizing: border-box;
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-animation: sendMessage 15s;
}
.message:nth-child(2n) {
	-webkit-animation-direction: reverse;
}
.message-sender {
	font-size: 0.8em;
	display: block;
	line-height: 0.8em;
	border-bottom: 1px solid #fff;
	padding: 3px 3px 3px 9px;
	text-align: left;
}
.message-text {
	font-size: 0.9em;
	padding: 3px;
}
.message--infinity {
	-webkit-animation-iteration-count: infinite;
}

{% for message in site.data.animationData %}
	{% if forloop.index > 2 %}
	.message--{{forloop.index}} {
		-webkit-animation-delay: (10 * (forloop.index - 2))s;
	}
	{% endif %}
{%endfor%}

@-webkit-keyframes sendMessage {
	0% { /* user a */
		opacity: 0;
		margin-left: 60px;
		-webkit-filter: none;
	}
	5% { /* user a fade in */
		opacity: 1;
		margin-left: 60px;
		-webkit-filter: none;
	}
	18% { /* user a pause */
		opacity: 1;
		margin-left: 60px;
		-webkit-filter: none;
	}
	20% { /* user a screen - blur */
		opacity: 1;
		margin-left: 179px;
		-webkit-filter: none;
	}
	22.5% { /* user a screen + blur */
		opacity: 1;
		margin-left: 179px;
		-webkit-filter: blur(4px);
	}
	23% { /* user a screen + blur pause */
		opacity: 1;
		margin-left: 179px;
		-webkit-filter: blur(4px);
	}
	27% { /* user b screen + blur pause */
		opacity: 1;
		margin-left: 687px;
		-webkit-filter: blur(4px);
	}
	27.5% { /* user b screen + blur*/
		opacity: 1;
		margin-left: 687px;
		-webkit-filter: blur(4px);
	}
	30% { /* user b screen - blur */
		opacity: 1;
		margin-left: 687px;
		-webkit-filter: none;
	}
	32% { /* user b */
		opacity: 1;
		margin-left: 808px;
		-webkit-filter: none;
	}
	45% { /* user b */
		opacity: 1;
		margin-left: 808px;
		-webkit-filter: none;
	}
	50% { /* user b fade out */
		opacity: 0;
		margin-left: 808px;
	}
	100% { /* fake-delay */
		opacity: 0;
		margin-left: 808px;
	}
}