---
---

$primary: #3a8100;
$primary_light: #54ab0c;
$primary_lighter: #76a424;
$primary_dark: #3b7b06;

$accent: #ffeda5;
$complementary: #788286;
$complementary_accent: #1b676b;

$light_grey: #f9f9f9;
$blue_grey: #d8dfe2;

$polygon_width: 76px;
$polygon_height: 88px;

$polygon_small_width: 35px;
$polygon_small_height: 40px;
$polygon_small_font_size: 0.8em;

@import "mixins";
@import "normalize";
@import "caret-elements";
@import "polygon";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/Roboto-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff');
}

main {
	display: flex;
	flex-direction: column;

	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;

	color: $complementary;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
}

.landing-section {
	display: flex;

	align-items: center;

	min-height: 100vh;

	padding: 74px 1em;
	box-sizing: border-box;

	font-size: 24px;
	line-height: 26px;
	font-weight: 100;
}

.landing-section--background-image {
	background-image: url("/assets/images/rustical_office.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;

	color: #fff;
}

.landing-section--background-primary {
	background-color: $primary_light;

	color: #fff;
}

.landing-section__inner--centered {
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: 1080px;

	margin: auto;
}

.landing-section--small {
	min-height: 0;
	padding: 0;
}

.landing-section--wrap {
	flex-wrap: wrap;
}

.landing-section--first {
	font-weight: 300;
}

.landing-section__heading {
	margin: 24px 0;

	font-size: 48px;
	font-weight: 100;

	line-height: 48px;

	font-family: 'Roboto Condensed', sans-serif;

	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.landing-section__heading--low-profile {
	line-height: 24px;
}

.landing-section__heading--primary {
	color: $primary;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.landing-section__heading--centered {
	text-align: center;
}

.landing-section__paragraph {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
	margin: 1em auto;
}

.landing-section__link {
	color: $primary_light;

	&:hover {
		color: $primary_lighter;
		text-decoration: underline;
	}
}

.landing-section__link--accent {
	color: $accent;

	&:hover {
		color: $accent;
	}
}

.landing-secition__link--shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.landing-section__form {
	font-size: 18px !important;
}

.landing-section__form--multi-input {
	width: 646px;

	& > *:nth-child(2n) {
		margin-left: 270px;
		margin-top: -50px;

		&.caret-wrapped {
			margin-left: 290px;
		}
	}
}

.landing-section__input--primary {
	color: $primary_lighter;

	&::-webkit-input-placeholder {
		color: $primary_lighter;
	}
}

.landing-section__input--complementary {
	background-color: $light_grey !important;
	color: $complementary;

	&::-webkit-input-placeholder {
		color: $complementary;
	}
}

.landing-section__quote {
	display: flex;
	flex-wrap: wrap;
}

.landing-section__quote__icon {
	display: flex;

	justify-content: center;
	align-items: center;

	flex-basis: 15%;

	font-size: 3em;
}

.landing-section__quote__text {
	flex-basis: 85%;
}

.landing-section__quote__cite {
	width: 100%;
	flex-shrink: 0;

	text-align: right;
}

.features {
	display: flex;

	width: 100%;

	position: relative;

	@media (max-width: 1640px) {
		flex-wrap: wrap;
	}
}

.feature {
	display: flex;

	width: 25%;

	border-bottom: 1px solid rgba(0, 0, 0, 0.035);
	box-sizing: border-box;

	&:not(:last-child) {
		border-right: 1px solid rgba(0, 0, 0, 0.035);
	}

	@media (max-width: 1650px) {
		width: 50%;
	}

	@media (max-width: 880px) {
		width: 100%;
		flex-wrap: wrap;
	}

	@media (min-width: 881px) {
		height: 280px;
	}
}

.feature__short {
	display: flex;
	align-items: center;

	height: 280px;
}

.feature__description {
	padding: 0 1em;
}

.feature__description__headline {
	text-transform: uppercase;
	font-size: 1em;

	margin-bottom: 0;
}

.feature__polygon {
	display: flex;
	position: relative;

	width: 160px;
	height: 100%;

	align-items: center;


	flex-shrink: 0;

	background-color: $blue_grey;
}

.feature:focus {
	outline: none !important;

	@media (min-width: 881px) {
		margin-bottom: 572px;
	}

	.feature__polygon {
		background-color: $primary_light;

		&:after {
			content: " ";

			position: absolute;
			bottom: -8px;
			left: 50%;

			margin: 0 0 0 -16px;

			height: 0;
			width: 0;

			border-style: solid;
			border-width: 8px 16px 0 16px;
			border-color: $primary_light transparent transparent transparent;

			z-index: 4;
		}
	}

	.feature__detail {
		visibility: visible;

		@media (max-width: 880px) {
			display: flex;
		}
	}
}

.feature__detail {
	display: flex;
	flex-direction: column;

	@media (max-width: 880px) {
		position: relative;
		display: none;

		padding: 0 1em;
	}

	@media (min-width: 881px) {
		position: absolute;
		left: 0;
		top: 280px;

		height: 572px;

		padding: 0 80px;
	}

	@media (min-width: 1640px) {
		top: 280px;
		padding: 0 160px;
	}

	visibility: hidden;
	box-sizing: border-box;

	width: 100%;

	background-color: $light_grey;

	background-image: url("../images/encrypt_fast.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: calc(100vw - 370px) 140px;
}

.feature:nth-child(3):focus,
.feature:nth-child(4):focus {
	@media (min-width: 881px) and (max-width: 1639px) {
		.feature__detail {
			top: 560px;
		}
	}
}

.detail__content {
	margin: auto 0;

	@media (max-width: 880px) {
		margin-bottom: 34px;
	}
}

.detail__content__headline {
	font-size: 72px;
	color: $primary;
}

.detail__content__text {
	max-width: 840px;
}

.detail__close {
	margin: auto auto 34px;
}

.landing-footer {
	display: flex;

	width: 100%;
}

.landing-footer__part {
	display: flex;

	height: 72px;
	width: 50%;
	flex-shrink: 0;

	align-items: center;

	padding: 0 24px;
	box-sizing: border-box;
}

.landing-footer__left {
	justify-content: flex-start;
}

.landing-footer__right {
	justify-content: flex-end;
}

.landing-footer__link {
	color: $complementary;
	padding: 0 6px;

	&:hover {
		color: $primary_light;
	}
}

@import "animation";

.animation-box {
	margin-top: 72px;
}

.s1Pc,
.s2Pc {
	margin-top: 10px;
}

.animation-node-description {
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.message {
	width: 106px;
}

{% assign animationTime = 15 %}

.animation-start {
	.message {
		@include animation(sendMessage {{animationTime}}s);
	}
	.message-s2 {
		@include animation-direction(reverse);
	}
	.message--infinity {
		@include animation-iteration-count(infinite);
	}
	{% for lang in site.data.b2b.animation.langs %}
		{% for message in site.data.b2b.animation[lang].data %}
			{% if forloop.index > 2 %}
				{% capture doLoop %}{% cycle 'true', 'false' %}{% endcapture %}
				{% if doLoop == 'true' %}
					{% capture index %}{{ forloop.index0 | divided_by: 2 }}{% endcapture %}
					.message-{{lang}}--i{{forloop.index}},
					.message-{{lang}}--i{{forloop.index | plus: 1}} {
						@include animation-delay({{ animationTime | times: index }}s);
					}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
}

.fa-l {
	font-size: 3em;
}

.fa-xl {
	font-size: 5em;
}

.text--center {
	text-align: center;
}

.text--primary {
	color: $primary_light;
}
