---
---

$primary: #3a8100;
$primary_light: #54ab0c;
$primary_lighter: #76a424;
$primary_dark: #3b7b06;

$accent: #ffeda5;
$complementary_decent: #788286;
$complementary_strong: #1b676b;

@import "mixins";
@import "normalize";
@import "caret-elements";

main {
	display: flex;
	flex-direction: column;

	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;

	color: $complementary_decent;
}

.landing-section {
	display: flex;

	align-items: center;

	min-height: 100vh;

	padding: 74px 1em;
	box-sizing: border-box;

	font-size: 24px;
	line-height: 26px;
	font-weight: thin;
}

.landing-section--background-image {
	background-image: url("/assets/images/rustical_office.jpg");
	background-size: 100% auto;

	color: #fff;
}

.landing-section--background-primary {
	background-color: $primary_light;

	color: #fff;
}

.landing-section__inner--centered {
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	max-width: 1080px;

	margin: auto;
}

.landing-section__heading {
	margin: 24px 0;

	font-size: 48px;
	font-weight: 100;

	line-height: 48px;

	font-family: 'Roboto Condensed', sans-serif;

	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.landing-section__heading--low-profile {
	line-height: 24px;
}

.landing-section__heading--primary {
	color: $primary;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.landing-section__heading--centered {
	text-align: center;
}

.landing-section__paragraph {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
	margin: 1em auto;
}

.landing-section__link {
	color: $primary_light;

	&:hover {
		color: $primary_lighter;
		text-decoration: underline;
	}
}

.landing-section__link--accent {
	color: $accent;

	&:hover {
		color: $accent;
	}
}

.landing-secition__link--shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.landing-section__form {
	display: flex;
	align-items: center;

	font-size: 18px !important;
}

.landing-section__input {
	color: $primary_lighter;

	&::-webkit-input-placeholder {
		color: $primary_lighter;
	}
}

.landing-section__quote {
	display: flex;
	flex-wrap: wrap;
}

.landing-section__quote__icon {
	display: flex;

	justify-content: center;
	align-items: center;

	flex-basis: 15%;

	font-size: 3em;
}

.landing-section__quote__text {
	flex-basis: 85%;
}

.landing-section__quote__cite {
	width: 100%;
	flex-shrink: 0;

	text-align: right;
}

.landing-footer {
	display: flex;

	width: 100%;
}

.landing-footer__part {
	display: flex;

	height: 72px;
	width: 50%;
	flex-shrink: 0;

	align-items: center;

	padding: 0 24px;
	box-sizing: border-box;
}

.landing-footer__left {
	justify-content: flex-start;
}

.landing-footer__right {
	justify-content: flex-end;
}

.landing-footer__link {
	color: $complementary_decent;
	padding: 0 6px;

	&:hover {
		color: $primary_light;
	}
}

@import "animation";

.animation-box {
	margin-top: 72px;
}

.s1Pc,
.s2Pc {
	margin-top: 10px;
}

.animation-node-description {
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.message {
	width: 106px;
}

{% assign animationTime = 15 %}

.animation-start {
	.message {
		@include animation(sendMessage {{animationTime}}s);
	}
	.message-s2 {
		@include animation-direction(reverse);
	}
	.message--infinity {
		@include animation-iteration-count(infinite);
	}
	{% for lang in site.data.b2b.animation.langs %}
		{% for message in site.data.b2b.animation[lang].data %}
			{% if forloop.index > 2 %}
				{% capture doLoop %}{% cycle 'true', 'false' %}{% endcapture %}
				{% if doLoop == 'true' %}
					{% capture index %}{{ forloop.index0 | divided_by: 2 }}{% endcapture %}
					.message-{{lang}}--i{{forloop.index}},
					.message-{{lang}}--i{{forloop.index | plus: 1}} {
						@include animation-delay({{ animationTime | times: index }}s);
					}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
}

.fa-l {
	font-size: 3em;
}

.fa-xl {
	font-size: 5em;
}
