---
---

@import "variables";

#fundView-header {
	display: block;
	width: 100%;

	text-align: center;
}

#fundView-donateIcon {
	color: $green;
}

.fundView-content {
	padding: 0 1em !important;
}

#fundView-table {
	td:first-child {
		padding: 0.125em 1em 0.125em 0;
	}

	td:last-child {
		padding: 0.125em 0 0.125em 1em;
	}

	tr:first-child td {
		padding-top: 0;
	}

	tr:last-child td {
		padding-bottom: 0;
	}
}