.profileView {
	#main {
		nav {
			.column(8,8);
			height: 50px;
			margin-bottom: -50px;
			heading {
				.column(4,8);
				h3 {
					width: 100%;
					padding: 3px;
					margin: 0;
				}	
			}
			menu {
				.column(4,8);
				margin: 13px 0 10px 0;
				padding: 0;
				li {
					.column(1,3);
				}
			}
		}
		#wrap { width: 100%; height: 100%; padding-top: 50px; .box-fix; margin: 0 auto; }
		#scroller { width: 100%; height: 100%; overflow-y: scroll; .box-fix; margin:0 auto; margin-top: 10px; }
		#info {
			.column(8,8,left);
			padding: 0;
			article {
				.column(1,3);
				padding: 0;
				margin-bottom: 10px;
				height: 150px;
				.box-fix;
				header {
					height: 20px;
					padding: 5px;
				}
				&#generalInfo {
					.column(8,8);
					height: auto;
					margin-bottom: 10px;
					padding: 0;
					.userimage {
						.column(2,8);
						margin-top: 1%;
						margin-bottom: 1%;
					}
					.info {
						.column(6,8);
						margin-top: -10px;
						line-height: 10px;
					}
				}
			}	
		}
		#wall {
			.column(8,8);
			height: auto;
			padding: 0;
			margin-bottom: 1%;
			header {
				height: 20px;
				padding: 5px;
				margin-bottom: 1%;
			}
			article {
				.column(8,8);
				.userimg{
					.column(2,8);
					margin: 10px 0px 10px 0px;
				}
				.postContent {
					.column(4,8);
					padding-top: 5px;
					margin-top: 10px;
					margin-bottom: 10px;
					.postText {
						padding-left: 10px;
					}
				}
				.postInfo {
					.column(2,8);
					padding-top: 5px;
					margin-bottom: 10px;
				}
			}
		}
		#friends {
			.column(8,8);
			height: auto;
			padding: 0;
			header {
				height: 20px;
				padding: 5px;
				margin-bottom: 1%;
			}
		}
	}
}