//Don't touch any of the *.less or *.css files, or you will die an awful death.
.profileView {
	#main {
		background-color: @bubbleBackgroundColor;
		border: @bubbleBorderColor solid 1px;
		.border-radius(5px);
		.box-shadow(0 0 2px @bubbleBorderColor);
		.box-fix;
	}
	#infowrap {
		float: left;
		width: 100%;
		background-color: none;
		.border-radiuses(3px, 0, 0, 3px);
		.box-fix;
		.box-shadow(0px 0px 3px @bubbleBorderColor);
	}
	#wall {
		.column(7,7);
		margin-top: 10px;
	}
	#postOnWall {
		.column(7);
		margin-top: 5px;
	}
	#userimg {
		.column(2,7);
	}
	#userinfo {
		.column(5,7);
	}
}