<!doctype html>
<html lang="de" data-ng-csp class="loginView">
<head>
	<base href="/" />
	<meta charset="utf-8">

	<link rel="stylesheet" href="assets/css/iframe.css">
</head>
<body>
	<div id="container">
		<section id="main">
			<div class="loginForm" data-ng-controller="ssn.loginController">
				<h1 data-i18n="login.header"></h1>
				<form class="inputSandwich">
					<div class="name">
						<input type="text" id="mail" class="inputSandwich inputSandwich-top" data-i18n-attr="login.username|placeholder" data-ng-model="login.identifier">
					</div>
					<div class="pw">
						<input type="password" id="password" class="inputSandwich inputSandwich-middle" data-i18n-attr="login.password|placeholder" data-ng-model="login.password">
					</div>
					<savebutton id="loginformsubmit" data-noiniticon data-state="login.state" class="btn btn--input btn--primary inputSandwich inputSandwich-bottom" type="submit" data-ng-click="login.login()">
						<span data-i18n="login.link"></span>
					</savebutton>
				</form>
			</div>
		</section>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="login/loginMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
