#register-loading {
	display: flex;
	justify-content: center;
	algin-items: center;

	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	background: @primary;
	z-index: 3;
}

#register-loading-loader {
	margin: auto;
}

.loaded #register-loading {
	display: none !important;
}

#register-container {
	display: flex;
	height: 100%;
}

.register-sidebar-left {
	position: relative !important;
	flex-shrink: 0 !important;
	&:after {
		content: " ";
		position: absolute;

		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background: fade(#000, 35%);
		z-index: 2;
	}
}

.registerView,
.registerView body {
	height: 100%;
}

#register-main {
	width: 100%;
	flex-shrink: 1 !important;
	padding: 0 2em;
	box-sizing: border-box;

	display: flex;
}

.register-userpanel-me {
	display: flex !important;

	text-align: left !important;
	padding: 0 1em;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.register-userpanel-me-image {
	position: relative;
	margin: auto;
	flex-shrink: 0;
	z-index: 1;
}

.register-userpanel-me-name {
	display: inline-block;
	width: 100%;
	text-align: center;
	flex-shrink: 1;
}

#startView-register {
	margin: auto;
}

#register-nextStep {
	float: right;
	margin: 1em 1px 0 0;
}