.staticBoxView,
.staticBoxView body {
	height: 100%;
	&:extend(.box-fix);
}
.staticBoxView-menu {
	margin: 10px auto 0;
	max-width: 600px;
	padding: 0px;
}
.staticBoxView-menu-item {
	width: 98%;
	margin: 0 auto;
	list-style-type: none;
}
.staticBoxView-menu-item-link {
	width: 100%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10px;
	&:first-child {
		margin-top: 10px;
	}
}
.staticBoxView-shareBox {
	width: 100%;
	display: block;
	.clear-fix;
	@media @desktop {
		padding: 0 0.5%;
		box-sizing: border-box;
	}
}
#staticBoxView-shareBox-header {
	margin-top: 0;
	@media @mobile {
		text-align: center;
	}
}
.staticBoxView-shareButton {
	@media @desktop {
		.column(1,8,left,1%);
		margin-bottom: 1rem;
	}
	@media @mobile {
		.column(12);
		margin-bottom: 1rem;
		height: 50px;
		line-height: 50px;
		&:first-child {
			margin-top: 1rem;
		}
	}
}
.staticBoxView {
	h1 {
		.large-text();
	}
	h2 {
		font-weight: 500;
	}
	p {
		padding: 0 10px;
	}
	ol, ul {
		margin: 1em 10px 1em -25px;
	}
}