.staticBoxView,
.staticBoxView body {
	height: 100%;
	&:extend(.box-fix);
}
.staticBoxView-main {
	@media @desktop {
		margin: 0 10px;
	}
}
.staticBoxView-menu {
	margin: 10px auto 0;
	max-width: 600px;
	padding: 0px;
}
.staticBoxView-menu-item {
	width: 98%;
	margin: 0 auto;
	list-style-type: none;
}
.staticBoxView-menu-item-link {
	width: 100%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10px;
	&:first-child {
		margin-top: 10px;
	}
}
.staticBoxView {
	h2 {
		font-weight: 500;
	}
	p {
		padding: 0 10px;
	}
	ol, ul {
		margin: 1em 10px 1em -25px;
	}
}