.friendsView, .profileFriendsSubView {
	#friendsList {
		.column(7,7);
		li {
			.column(2,7);
			height: 60px;
			a {
				.friendPicture {
					float: left;
					width: 50px;
				}
				.friendName {
					.column(1.5,2);
					padding-top: 10px;
					.padding-fix;
				}
			}
		}
	}
}