.messagesView {
	#main {
		padding-top: 30px;
		padding-bottom: 10px;
		height: 100%;
	}
	header {
		height: 20px;
		margin-top: -30px;
		padding: 5px;
	}
	#topicListWrap {
		.column(2,7);
		height: 100%;
		#topicList {
			height: 100%;
			padding-top: 15px;
			padding-bottom: 6px;
			#topicListScroll {
				height: 100%;
				overflow-y: scroll;
			}
			.topic {
				margin-bottom: 5px;
				padding: 0;
				.left {
					.column(0.6,2);
					margin: 0 2% 0 0;
					.userimg {
						width: 100%;
						margin: 0 0 -4px -2px;
						padding: 0;
					}
				}	
				.username {
					font-size: 1em;
					.column(1.4,2);
					text-overflow: ellipsis !important;
					max-height: 40px !important;
					max-width: 100%/2*1.4 !important;
					overflow: hidden;
					display: inline-block !important;
					white-space: nowrap;
				}
				.lastMessage {
					font-size: 0.8em;
					.row(1.4,2);
					max-width: 100%/2*1.4 !important;
					overflow: hidden;
					display: inline-block !important;
					white-space: nowrap;
				}
				&#newmessage {
					height: 20px;
					margin-top: -10px;	
				}
				&.groupChat {
					.left {
						height: 80px;
						img, span {
							.column(1,2,left,0);
							margin:0!important;
							height: 40px;
						}
						span {
							padding: 9px 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
	#topicWrap {
		height: 100%;
		&.peerChat {
			.column(5,7);
			height: 100%;
			padding: 0px 0px 120px 0px;
			.box-fix;
			#messageWrap {
				height: 100%;
			}
			#messageTitle {
				padding-left: 10px;
			}
			#messageList {
				overflow-y: scroll;
				height: 100%;
				.message {
					.column(5,5);
					margin-bottom: 5px;
					.user {
						.userimg {
							.column(0.43,5);
							padding-top: 0;
						}
					}
					.messageText {
						.column(4.5,5);
						padding: 10px 0px;
						word-break: break-word;
					}
				}
			}
			#inputWrap {
				#messageInput {
					.column(3,4);
					height: 45px;
				}
				button {
					.column(1,4);
					height: 45px;
				}
			}		
		}	
		&.groupChat {
			.column(5,7);
			height: 100%;
			padding: 0px 0px 120px 0px;
			.box-fix;
			#messageWrap {
				height: 100%;
			}
			#messageTitle {
				padding-left: 10px;
			}
			#messageList {
				overflow-y: scroll;
				height: 100%;
				.message {
					.column(5,5);
					word-break: break-word;
					padding: 2px;
					.box-fix;
					margin-bottom: 5px;
					.user {
						.userimg {
							.column(0.6,5);
							vertical-align: middle;
							padding: 0;
						}
						.username {
							.column(3,5);
						}
					}
					.messageText {
						.column(3,5);
					}
				}
			}
			#inputWrap {
				#messageInput {
					.column(3,4);
					height: 45px;
				}
				button {
					.column(1,4);
					height: 45px;
				}
			}
		}
		&.newMessage {
			.column(5,7);
			#recieverInput, #messageInput {
				.column(5,5);
				margin-bottom: 5px;
				//height: 40px;
			}
			#messageInput {
				height: 150px;
			}
			#sendmessage {
				margin-left: 8px;
			}
		}		
	}
}