.settingsView {
	#toc {
		float: left;
		width: 100%;
	}
	.config {
		.column(7,8);
		.push(1);
		input:not([type=submit]):not([type=file]) {
			.column(2.5,7);
		}
		#newNickname {
			.push(2.5,7);
		}
	}
}