.box {
	.border-radius(5px);
	background-color: @btnBackgroundHighlight;
	border: 1px solid @btnBorder;
	border-bottom: 1px solid #000;
	border-bottom-color: darken(@btnBorder, 10%);
	.box-fix;
	header {
		height: 20px;
		margin-top: -30px;
		.gradient(darken(@btnBackground, 2%), @btnBackgroundHighlight);
		border: none;
		border-bottom: 1px solid @btnBorder;
		.border-radiuses(5px, 0px, 0px, 5px);
		padding: 5px 0;
		.edit {
			float: right;
			color: #b2b2b2;
			&:hover {
				color: lighten(#b2b2b2,10%);
			}
		}
		.title {
			float: left;
			margin: 0 1%;
		}
		.links {
			float: right;
			margin: 0 1%;
			 a {
				 color: #666;
			 }
		}
	}
	section {
		padding: 5px 0;
		.border-radiuses(0, 5px, 5px, 0);
		.clear-fix;
		header {
			margin-top: -5px !important;
			.border-radius(0);
			border-top: 1px solid @btnBorder;
		}
		h1,h2,h3,h4,h5,h6 {
			margin-left: 0.5%;
		}
	}
}