

<!doctype html>
<html lang="en" data-ng-csp class="mailView hasTopBar">
<head>
	<base href="/" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="assets/img/favicons/favicon.png" type="image/x-icon">
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/static.css">
</head>

<body data-mobile>
	<div id="container" data-ng-controller="ssn.verifyMailController">
		<section id="main">
			<div data-ng-if="verifying.isInit()">
				<input type="checkbox" data-ng-model="mails" id="updates"><label for="updates">I would like to receive updates via mail</label><br>
				<input type="submit" data-ng-click="verify(mails)" value="Verify e-mail">
			</div>
			<div data-ng-if="verifying.isPending()">Verifying.</div>
			<div data-ng-if="verifying.isSuccess()">Your e-mail was verified.</div>
			<div data-ng-if="verifying.isFailed()" data-syntaxify>Verification failed!
 Maybe your verification code is outdated.</div>

			<a href='/start' data-ng-if="!loggedin" data-i18n="views.mail.backToLogin"></a>
		</section>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="verifyMail/verifyMailMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
