//Don't touch any of the *.less or *.css files, or you will die an awful death.
.shareForm {
	.column(8,8);
	border-bottom: 1px solid @bubbleBorderColor;
	#shareText {
		.column(6,8);
		margin-bottom: 10px;
		margin-left: 20px;
	}
}
.posts {
	article {
		.column(8,8);
		margin: 10px 0 0 0;
		border-bottom: 1px solid @bubbleBorderColor;
		.userimg{
			border-radius: 200px;
			.column(1.5,8);
			vertical-align: middle;
			margin: 10px 0px 10px 0px;
		}
		.postContent {
			.column(6.5,8);
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			.postText {
				padding-left: 10px;
				.box-fix;
			}
		}
		.postInfo {
			.column(8,8);
			padding-top: 5px;
			margin-bottom: 10px;
			.with {
				color: #666;
				.column(6,8);
				.push(1.5,8);
			}
			.awesome {
				.column(3,8);
				.push(1.5,8);
			}
			p.comments {
				.column(3,8);
			}
			.showComments {
				.column(3,8);
				.push(4.5,8);
			}
		}
		&:last-child {
			border:none;
		}
	}
}