<nav>
	<heading>
		<h3>{{user.name}}</h3>
	</heading>
	<menu type="list" class="unstyled">
		<li><a href="#info" data-i18n="profile.head.info">Info</a></li>
		<li><a href="#wall" data-i18n="profile.head.wall">Pinnwand</a></li>
		<li><a href="#friends" data-i18n="profile.head.friends">Freunde</a></li>
	</menu>
</nav>
<div id="wrap">
	<div id="scroller">
		<section id="info">
			<article id="generalInfo">
				<header>
					<span data-i18n="profile.section.general.headers.title"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me" data-ng-click="editGeneral=!editGeneral"></a>
				</header>
				<img src="img/profil.png" alt="USERNAME" class="userimage">
				<div class="info">
					<p>{{editGeneral}}</p>
					<p id="birthday"><i class="icon-gift"></i><span data-i18n="profile.section.general.birthday|date={{user.data.birthday}}"><span class="date">{date}</span></span></p>
					<p id="residence">
						<i class="icon-home"></i>
						<span data-i18n="profile.section.general.location">
							<span data-for="town" class="town" data-ng-if="!editGeneral">{{user.data.town}}</span>
							<input data-for="town" type="text" data-ng-model="user.data.town" data-ng-if="editGeneral">

							<span data-for="state" class="state" data-ng-if="!editGeneral">{{user.data.state}}</span>
							<input data-for="state" type="text" data-ng-model="user.data.state" data-ng-if="editGeneral">

							<span data-for="country" class="country" data-ng-if="!editGeneral">{{user.data.country}}</span>
							<input data-for="country" type="text" data-ng-model="user.data.country" data-ng-if="editGeneral">	
						</span>
					</p>
					<p id="relationship"><i class="icon-heart"></i><span data-i18n="profile.section.general.relation|partner={{user.data.partner}}"></span></p>
					<p id="school"><i class="icon-book-open"></i><span data-i18n="profile.section.general.education"></span> <span data-ng-repeat="school in user.data.education">{{school}}</span></p>
					<p id="job"><i class="icon-wrench"></i><span data-i18n="profile.section.general.job|job={{user.data.job}}|company={{user.data.company}}">arbeitet als Web-Developer bei whispeer</span></p>
					<p id="sex"><i class="icon-toilet"></i><span data-i18n="profile.section.general.gender.{{user.data.gender}}"></span></p>
					<p id="languages"><i class="icon-globe-1"></i><span data-i18n="profile.section.general.languages">Spricht:</span> <span data-ng-repeat="language in user.data.languages">{{language}}</span></p>
				</div>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.education"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.location"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.family"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.music"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.quotes"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
			<article>
				<header>
					<span data-i18n="profile.section.general.headers.contact"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me"></a>
				</header>
				<p></p>
			</article>
		</section>
		<section id="wall">
			<header  data-i18n="profile.section.wall.title"></header>
			<article id="post1" data-ng-repeat="post in posts">
				<img class="userimg" data-ng-src="{{post.sender.image.image}}" alt="{post.sender.image.alttext}">
				<div class="postContent">
					<p class="author">{{post.sender.name}}:</p>
					<div class="postText">{{post.content}}</div>
				</div>
				<div class="postInfo">
						<p class="with" data-i18n="wall.info.with|name={{post.info.with}}"></p>
						<p class="awesome" data-i18n="wall.info.awesome|count={{post.info.awesome}}"></p>
						<p class="comments" data-i18n="wall.info.comments.count|count={{post.info.comments.count}}"></p>
						<a href="#" class="showComments" data-i18n="wall.info.comments.showem"></a>
				</div>
			</article>
		</section>
		<section id="friends">
			<header data-i18n="profile.section.friends.info">Freunde</header>
			<ol id="friendsList" class="unstyled">
				<li data-ng-repeat="friend in friends" style="background-image: url({{friend.image}})">
					<div class="pushup">
						<p class="username">{{friend.name}}</p>
						<p class="mutualfriends" data-i18n="friends.mutualFriends|count={{friend.mutualFriends}}"></p>
						<!--<p class="lists"> <span data-i18n="friends.info.lists"></span> <span data-ng-repeat="list in friend.lists">{{list}}</span></p> -->
					</div>
				</li>
			</ol>
		</section>
	</div>
</div>	