<nav>
	<heading>
		<h3>{{user.name}}</h3>
	</heading>
	<menu type="list" class="unstyled">
		<li><a href="#info" data-i18n="profile.head.info">Info</a></li>
		<li><a href="#wall" data-i18n="profile.head.wall">Pinnwand</a></li>
		<li><a href="#friends" data-i18n="profile.head.friends">Freunde</a></li>
	</menu>
</nav>
<div id="wrap">
	<div id="scroller">
		<section id="info">
			<article id="generalInfo">
				<header>
					<span data-i18n="profile.section.general.headers.title"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-show="user.data.me" data-ng-click="edit()"></a>
				</header>
				<img data-ng-src="{{user.image}}" alt="USERNAME" class="userimage">
				<div class="info">
					<p id="birthday" data-ng-show="set(user.data.birthday) || editGeneral">
						<i class="icon-gift"></i>
						<span data-i18n="profile.section.general.birthday">
							<span class="day" data-for="day" data-ng-if="!editGeneral">{{user.data.birthday.day}}</span>
							<span class="month" data-for="month" data-ng-if="!editGeneral">{{user.data.birthday.month}}</span>
							<span class="year" data-for="year" data-ng-if="!editGeneral">{{user.data.birthday.year}}</span>
							<input class="day" data-for="day" data-ng-if="editGeneral" data-ng-model="user.data.birthday.day">
							<input class="month" data-for="month" data-ng-if="editGeneral" data-ng-model="user.data.birthday.month">
							<input class="year" data-for="year" data-ng-if="editGeneral" data-ng-model="user.data.birthday.year">
						</span>
					</p>
					<p id="residence" data-ng-show="set(user.data.location) || editGeneral">
						<i class="icon-home"></i>
						<span data-i18n="profile.section.general.location.{{setEDeep(user.data.location)}}">
							<span data-for="town" class="town" data-ng-if="!editGeneral">{{user.data.location.town}}</span>
							<input data-for="town" type="text" data-ng-model="user.data.location.town" data-ng-if="editGeneral">

							<span data-for="state" class="state" data-ng-if="!editGeneral">{{user.data.location.state}}</span>
							<input data-for="state" type="text" data-ng-model="user.data.location.state" data-ng-if="editGeneral">

							<span data-for="country" class="country" data-ng-if="!editGeneral">{{user.data.location.country}}</span>
							<input data-for="country" type="text" data-ng-model="user.data.location.country" data-ng-if="editGeneral">	
						</span>
					</p>
					<p id="relationship">
						<i class="icon-heart"></i>
						<span data-i18n="profile.section.general.relation.default">
							<span data-for="relationType" class="relationType" data-ng-if="!editGeneral" data-i18n="profile.section.general.relation.status.{{user.data.partner.type}}"></span>
							<span data-for="partner" class="partner" data-ng-if="!editGeneral">{{user.data.partner.name}}</span>
							<select data-for="relationType" class="relationType" data-ng-model="user.data.partner.type" data-ng-if="editGeneral">
								<option data-ng-repeat="type in possibleStatus" data-i18n="profile.section.general.relation.status.{{type}}" value="{{type}}" data-ng-selected="type == user.data.partner.type"></option>
							</select>
							<input data-for="partner" type="text" data-ng-model="user.data.partner.name" data-ng-if="editGeneral">
						</span>
					</p>
					<p id="school">
						<i class="icon-book-open"></i>
						<span data-i18n="profile.section.general.education">
							<span data-ng-if="!editGeneral" data-for="school"><span data-ng-repeat="school in user.data.education">{{school.name}}</span></span>
							<span data-ng-if="editGeneral" data-for="school">
								<span class="input-group" data-ng-repeat="school in user.data.education">
									<input type="text" data-ng-model="school.name">
									<button class="remove btn btn-danger" data-ng-click="removeElement(user.data.education, $index)"><i class="icon icon-cancel-circle"></i></button>
								</span>
								<button class="add btn btn-success" data-ng-click="addElement(user.data.education, {name: ''}, 3)"><i class="icon icon-plus-circle"></i></button>
							</span>
						</span>
					</p>
					<p id="job">
						<i class="icon-wrench"></i>
						<span data-i18n="profile.section.general.job">
							<span data-ng-if="!editGeneral" data-for="job">{{user.data.job}}</span>
							<input data-ng-if="editGeneral" data-for="job" data-ng-model="user.data.job">
							
							<span data-ng-if="!editGeneral" data-for="company">{{user.data.company}}</span>
							<input data-ng-if="editGeneral" data-for="company" data-ng-model="user.data.company">
						</span>
					</p>
					<p id="sex">
						<i class="icon-toilet"></i>
						<span data-i18n="profile.section.general.gender.default">
							<span data-ng-if="!editGeneral" data-for="gender" data-i18n="profile.section.general.gender.{{user.data.gender}}"></span>
							<select data-ng-if="editGeneral" type="dropdown" data-ng-model="user.data.gender" data-for="gender">
								<option value="m" data-i18n="profile.section.general.gender.m"></option>
								<option value="f" data-i18n="profile.section.general.gender.f"></option>
							</select>
						</span>
					</p>
					<p id="languages">
						<i class="icon-globe-1"></i>
						<span data-i18n="profile.section.general.languages">
							<span data-ng-if="!editGeneral" data-for="language">
								<span data-ng-repeat="language in user.data.languages">{{language.name}}</span>
							</span>
							<span data-ng-if="editGeneral" data-for="language">
								<span class="input-group" data-ng-repeat="language in user.data.languages">
									<input type="text" data-ng-model="language.name">
									<button class="remove" data-ng-click="removeElement(user.data.languages, $index)"><i class="icon icon-cancel"></i></button>
								</span>
							</span>
						</span>
					</p>
				</div>
			</article>
		</section>
		<section id="wall">
			<header  data-i18n="profile.section.wall.title"></header>
			<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
		</section>
		<section id="friends">
			<header data-i18n="profile.section.friends.info"></header>
			<ol id="friendsList" class="unstyled">
				<li data-ng-repeat="friend in friends" style="background-image: url({{friend.image}})">
					<friend data-user="friend"></friend>
				</li>
			</ol>
		</section>
	</div>
</div>	