<div class="inputWrap">
	<div class="uploadImageForm">
		<span id="uploadButton" data-i18n="login.register.uploadImage"></span>
		<input id="filesUpload" type="file" data-file="imageChange" width="4000">
	</div>
	<div id="canvasWrapper">
		<canvas id="original" height="300px" width="600px"></canvas>
		<div class="resizableWrapper"></div>
		<div id="overlay"></div>
	</div>
</div>	
<div class="submitWrap">
	<button id="registerFormPreviousStep" class="btn" type="submit"  data-ng-click="prevRegisterStep()" data-i18n="login.register.previous"></button>
	<button id="registerFormSubmit" class="btn" type="submit"  data-ng-click="register()" data-i18n="login.register.link"></button>
</div>