body {
	background-color: #f1f5f7;
	margin: 0 auto;
	padding-top: @navbarHeight;
}
div {
	display: block;
}
#container {
	margin-top: 10px;
}
#sidebar-left {
	.column(3);
	.push(1);
}
#main {
	.column(6);
	display: block;
}
#sidebar-right {
	.column(2);
}
footer {
	.column(12);
	text-align: center;
	margin-top: 10px;
}