body {
	background-color: #f1f5f7;
	margin: 0 auto;
	padding-top: @navbarHeight;
	
	div {
		display: block;
	}
	
	#container {
		margin-top: 10px;
	}
	
	#sidebar-left {
		.column(3);
	}
	
	#sidebar-right {
		.column(1.6);
	}
	
	footer {
		.column(12);
		text-align: center;
		margin-top: 10px;
	}
	
	#spinner {
		display: none;
		text-align: center;
	}
}