body {
	background-color: #fff;
	margin: 0 auto;
	padding-top: @navbarHeight;
	
	div {
		display: block;
	}
	
	#container {
		margin-top: 10px;
	}
	
	#sidebar-left {
		.column(3);
		#userpanel, #didYaKnow {
			.column(3,3);
			margin-bottom: 5px;
		}
	}
	
	#sidebar-right {
		.column(2);
	}
	
	footer {
		.column(12);
		text-align: center;
		margin-top: 10px;
	}
	
	#spinner {
		display: none;
		text-align: center;
	}
}
.mainView, .messageView {
	#main {
		.column(7);
	}
}