//Don't touch any of the *.less or *.css files, or you will die an awful death.

.bubble {
	background-color: @bubbleBackgroundColor;
	border: darken(@bubbleBackgroundColor, 10%) solid 2px;
	.border-radius(10px);
	padding: 10px;
	.box-fix;
}