.nav-icon-dropdown {
	border: 1px solid #999;
	.border-radius(3px);
	.box-shadow(0 0 5px #999);
	.column(@dropdownWidth);
	display: none;
}

.nav-icon-dropdown-header {
	border-bottom: 1px solid #999;
	height: 25px;
	text-align: center;
}
.nav-icon-dropdown-footer {
	border-top: 1px solid #999;
	height: 25px;
	text-align: center;
}