input {
	padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    background: #FFFFFF;
    border-radius: 20px;
}
.form-navbar input {
	margin: 6px 0px 0px 5px;
}