input:not([type=submit]):not([type=file]) {
	padding: 9px;  
    border: solid 1px darken(#ffffff, 45%);  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    background: #ffffff;
    border-radius: 5px;
    .box-shadow(inset 1px #333);
}
input:not([type=submit]):not([type=file]):focus {
	outline: 0;
	border: solid 1px #f7c600;
}
input[type=submit] {
	padding: 9px;
}
input[type=submit]:focus {
	
}
.form-navbar input {
	margin: 6px 0px 0px 5px;
}