nav {
	display: block;
	position: fixed;
	width: 100%;
	height: @navbarHeight;
	top: 0;
	border-bottom: 1px solid #a7a7a7;
	outline: 1px solid #dbdbdb;
	.gradient(#ffffff, #f1f1f1);
}
.nav-inner {
}
nav .brand {
	display: block;
	float: left;
	margin: 10px 5px 5px 15px;
	font-size: 25px;
	font-family: helvetica;
	color: #555;
	.text-shadow(1px 1px 1px #d2d2d2);
}

.nav-icon {
	float: left;
	margin: 12px 5px 5px 15px;
}

.nav-icon-icons {
	font-size: 20px;
	color: #333;
}

.nav-icon-icons a {
	text-decoration: none;
	border: none;
}

.nav-icon-icons:hover {
	color: #474747;
}