//Don't touch any of the *.less or *.css files, or you will die an awful death.
nav {
	display: block;
	position: fixed;
	width: 100%;
	height: @navbarHeight;
	top: 0;
	border-bottom: 1px solid #a7a7a7;
	outline: 1px solid #dbdbdb;
	.gradient(lighten(@green, 15%), lighten(@green, 5%));
}
.nav-inner {
	.brand {
		display: block;
		float: left;
		margin-top: 10px;
		margin-left: 1%;
		font-size: 25px;
		font-family: helvetica;
		color: #000;
		.text-shadow(1px 1px 0px lighten(#555555, 10%));
		.box-fix;
		line-height: @baseLineHeight;
	}
	#nav-icons {
		.box-fix;
	}
	#nav-search {
		.search-query{
			.column(5,12);
			margin-top: 7px;
		}	
	}
}

.nav-icon {
	float: left;
	margin: 10px 5px 5px 15px;
	line-height: @baseLineHeight;
}

.nav-icon-icons {
	font-size: 20px;
	color: #111;
}

.nav-icon-icons a {
	text-decoration: none;
	border: none;
}

.nav-icon-icons:hover {
	color: #474747;
}

.form-navbar input {
	margin: 6px 0px 0px 5px;
}