nav {
	display: block;
	position: fixed;
	width: 100%;
	height: @navbarHeight;
	top: 0;
	border-bottom: 1px solid #a7a7a7;
	outline: 1px solid #dbdbdb;
	.gradient(lighten(#ffbc10, 15%), #ffbc10);
}
.nav-inner {
}
nav .brand {
	.column(2,12);
	display: block;
	float: left;
	margin-top: 10px;
	font-size: 25px;
	font-family: helvetica;
	color: #555;
	.text-shadow(1px 1px 0px lighten(#555555, 10%));
}

.nav-icon {
	float: left;
	margin: 12px 5px 5px 15px;
}

.nav-icon-icons {
	font-size: 20px;
	color: #111;
}

.nav-icon-icons a {
	text-decoration: none;
	border: none;
}

.nav-icon-icons:hover {
	color: #474747;
}