#shareForm {
	.row(7);
}
.post {
	.row(7);
	.bubble;
	margin-top: 5px;
	border-radius: 20px;
	.userimg{
		border-radius: 200px;
		.column(1,7);
		vertical-align: middle;
	}
	.postContent {
		.column(4,7);
		.postText {
			padding-left: 10px;
			.box-fix;
		}
	}
	.postInfo {
		.column(2,7);
	}
}