#loginform {
	.column(5,12);
	.push(5);
}
#socialhive {
	.column(6);
	text-align: center;
}

#registerbubble {
	.column(6);
}
#register {
	#nameRow, #lastNameRow, #emailRow, #emailRow2, #usernameRow, #passwordRow, #passwordRow2, #submitRow {
		.row(6);
		margin-top: 5px;
		span {
			.column(1,6);
			img {
				padding-top: 5px;
			}
		}
	}
	.marked {
		.row();
		.column(12);
		text-align: center;
	}
	#nameRow {
		#firstNameLabel {
			.column(2,6);
			padding-top: 5px;
		}
		#firstname {
			.column(3,6);
		}
	}
	#lastNameRow {
		#lastNameLabel {
			.column(2,6);
			padding-top: 5px;
		}
		#lastname {
			.column(3,6);
		}
	}
	#emailRow{
		#emailLabel {
			.column(2,6);
			padding-top: 5px;
		}
		#rmail {
			.column(3,6);
		}
	}
	#emailRow2 {
		#emailLabel2 {
			.column(2,6);
			padding-top: 5px;
		}
		#rmail2 {
			.column(3,6);
		}
	}
	#usernameRow {
		#usernameLabel {
			.column(2,6);
			padding-top: 5px;
		}
		#rnickname {
			.column(3,6);
		}
	}
	#passwordRow {
		#passwordLabel {
			.column(2,6);
			padding-top: 5px;
		}
		#rpassword {
			.column(3,6);
		}
	}
	#passwordRow2 {
		#passwordLabel2 {
			.column(2,6);
			padding-top: 5px;
		}
		#rpassword2 {
			.column(3,6);
		}
	}
	#submitRow {
		#registersubmit {
			.column(3,6);
			.push(4);
		}
	}
}