//Don't touch any of the *.less or *.css files, or you will die an awful death.
.search {
	.column(8);
}
.search-query {
	.border-radius(20px);
	.column(8);
}
.search-drop {
	position: absolute;
	top: 50px;
	.column(8);
	display: none;
}
.search-suggestions {
	.column(8);
}