#userpanel {
	.column(12);
	text-align: center;
	.userimg {
		.column(9);
		float: none;
		.border-radius(5px);
	}
	.username {
		.column(12);
		margin-top: 5px;
	}
	.left, .right {
		.column(6);
		margin-top: 5px;
		text-align: left;
	}
	#menu {
		a {
			display: block;
			color: black;
		}
		a:hover {
			background-color: lighten(@mainColor, 15%);
			.border-radius(5px);
		}
		.current {
			background-color: lighten(@mainColor, 15%);
			.border-radius(5px);
		}
	}
}