//Don't touch any of the *.less or *.css files, or you will die an awful death.
#userpanel {
	.column(12);
	text-align: center;
	.userimg {
		.column(9);
		float: none;
		.border-radius(5px);
	}
	.username {
		.column(12);
		margin-top: 5px;
	}
	/*.left, .right {
		.column(6);
		margin-top: 5px;
	}*/
	#menu {
		.column(12);
		margin-top: 10px;
	}
	#mainMenu {
		.column(6,12);
		li a {
			text-align: left;
			.column(5,6);
			padding: 3px;
			background-color: transparent;
			height: @baseLineHeight;
			position: relative;
			margin-top: 5px;
		}
		li:first-child a {
			margin: 0;
		}
		li .current {
			.column(5,6);
			background-color: transparent;
			border: 1px solid #333;
			height: @baseLineHeight;
			position: relative;
			.border-radius(8px);
		}
		li .current:after {
			content: '';
			height: 0;
			position: absolute;
			width: 0;
			border: 10px solid transparent;
			border-left-color: #333;
			left: 100%;
			margin: 0px 0px 0px 6%;
		}
	}
	#subMenu {
		.column(6,12);
		border: 1px solid #333;
		.border-radius(10px);
		li a {
			text-align: left;
			.column(6,6);
			padding: 3px;
			margin: -1px -1px 0px -1px;
			cursor: pointer;
		}
		.current {
			background-color: lighten(@greenDaniel, 10%);
			.border-radius(8px);
			border: 1px solid #000;
		}
		.box-fix;
	}
}