<header>Nachrichten</header>
<div id="topicListWrap">
	<ul id="topicList">
		<li class="topic" id="newmessage">
			<div class="left"><i class="icon-plus-circle" id="plusBtn"></i></div>
			<div class="right" data-i18n="messages.newMessage">Neue Nachricht</div>
		</li>
		<div id="topicListScroll">
		</div>
	</ul>
</div>
<div id="topicWrap" class="peerChat">
	<div id="messageTitle">	
		<h2></h2>
	</div>
	<div id="messageWrap">
		<ul class="scroll-pane" id="messageList">
		</ul>	
		<form id="inputWrap">
			<textarea id="messageInput" type="text" data-i18n-attr="messages.sendMessage.text|placeholder"></textarea>
			<button class="btn btn-success" id="sendmessage" data-i18n="messages.sendMessage.send" type="submit"></button>		
		</form>
	</div>
</div>