//Don't touch any of the *.less or *.css files, or you will die an awful death.
//
// Typography
// --------------------------------------------------

// Body text
// ----------------------

body {
}

// MISC
// ----------------------

small {
	color: #9e9e9e;
}

strong {
}

em {
}

cite {
}

p {
}

// Special Text
// ---------------------

.textWarning {
	color: @textWarning;
	.text-shadow(1px 1px 1px darken(@textWarning, 50%));
}

.textError {
	color: @textError;
	.text-shadow(1px 1px 1px darken(@textError, 50%));
}

.textInfo {
	color: @textInfo;
	.text-shadow(1px 1px 1px darken(@textInfo, 50%));
}

.textSuccess {
	color: @textSuccess;
	.text-shadow(1px 1px 1px darken(@textSuccess, 50%));
}

// Headings
// ---------------------
h1, h2, h3, h4, h5, h6 {
	margin: (@baseLineHeight / 2) 0;
	color: @headingsColor;
	text-rendering: optimizelegibility;
	small {
		color: @headingsSmallColor;
	}
}

// Hyperlinks
// ---------------------

a {
	color: @linkColor;
	text-decoration: none;
}

a:hover {
	color: @linkColorHover;
}
