//Don't touch any of the *.less or *.css files, or you will die an awful death.
.shareForm {
	.column(8,8);
	#shareText {
		.column(6,8);
		margin-bottom: 10px;
		margin-left: 20px;
	}
}
.posts {
	article {
		.column(8,8);
		margin: 10px 0 0 0;
		.userimg{
			border-radius: 200px;
			.column(1.5,8);
			margin: 10px 0px 10px 0px;
		}
		.postContent {
			.column(6.5,8);
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			.postText {
				padding-left: 10px;
			}
		}
		.postInfo {
			.column(8,8);
			padding-top: 5px;
			margin-bottom: 10px;
			.with {
				color: #666;
				.column(6,8);
				.push(1.5,8);
			}
			.awesome {
				.column(3,8);
				.push(1.5,8);
			}
			p.comments {
				.column(3,8);
			}
			.showComments {
				.column(3,8);
				.push(4.5,8);
			}
		}
		ol.comments {
			.column(8);
			.push(0.125);
			.border-radius(5px);
			&:last-child {
				.border-radiuses(0, 5px, 5px, 0);
			}
			&:first-child {
				.border-radiuses(5px, 0, 0, 5px);
			}
			&:only-child {
				.border-radius(5px);
			}
			li {
				width: 100%;
				margin: 0;
				min-height: 40px;
				img {
					.column(1);
					margin-left: 0;
					height: 40px;
					width: auto !important;
				}
				.text {
					.column(8);
					padding: 3px;
					.box-fix;
				}
				.timestamp {
					.column(2);
				}
				&.newComment {
					padding: 0;
					height: 40px;
					img {
						width: auto;
					}
					input {
						.column(7.5);
						margin-top: 2px !important;
					}
					button {
						.column(3);
						margin-top: 5px !important;
					}
				}
			}
		}
		&:last-child {
			border:none;
		}
	}
}