.settingsView {
	#main {
		padding-top: 52px;
		height: 100%;
		header {
			height: 20px;
			margin-top: -52px;
			padding: 5px;
			#links {
				float: right;
			}
		}
		#settingsWrap {
			height: 100%;
			width: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		section {
			header {
				float: left;
				width: 100%;
				height: 20px;
				margin: 10px 0 10px 0;
				padding: 5px 0px;
				&:before, :after {
					content: "";
					margin-left: 5px;
				}
			}
			&#general header {
				margin: 0 0 10px 0;
			}
			.config {
				span {
					.width(3);
				}
				input:not([type=submit]) {
					.width(4);
				}
				&#nickname {
					button {
						.push(4);
					}
				}
			}
			&#safety {
				.config {
					button {
						.column(1.5);
						margin-top: -1px;
						margin-bottom: 10px;
						height: 40px;
						i {
							margin-left: -3px;
						}
					}
					.whoMaySeeIt {
						.column(7.5);
					}
				}
			}
			.settingsFormButton {
				.column(6);
			}
		}
	}	
}