.btn {
	display: inline-block;
	.ie7-inline-block();
	padding: 4px 15px;
	.box-fix;
	.border-radius(4px);
	border: 0;
	.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
	border: 1px solid @btnBorder;
}
// Success and Primary are both green
.btn-primary {
	.btn-green;
}
.btn-success {
	.btn-green;
}
.btn-green {
	.buttonBackground(@btnGreenBackground, @btnGreenBackgroundHighlight);
}
.btn-danger {
	.btn-red;
}
.btn-red {
	.buttonBackground(@btnRedBackground, @btnRedBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
	.btn-orange;
}
.btn-orange {
	.buttonBackground(@btnOrangeBackground, @btnOrangeBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
	.btn-blue;
}
.btn-blue {
	.buttonBackground(@btnBlueBackground, @btnBlueBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
	.buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}
.btn-large {
	
}