input:not([type=submit]):not([type=file]) {
	padding: 9px;  
    border: solid 1px darken(#ffffff, 45%);  
    outline: 0;  
    line-height: @baseLineHeight;
    font: normal 13px/100% @sansFontFamily;
    background: #ffffff;
    .border-radius(5px);
    .box-shadow(inset 1px #333);
    .box-fix;
}
input:not([type=submit]):not([type=file]):focus {
	outline: 0;
	border: solid 1px darken(#6bc600, 8%);
	font: normal 13px/100% @sansFontFamily;
	.transition(border-color .3s linear);
}
textarea {
	padding: 9px;  
    border: solid 1px darken(#ffffff, 45%);  
    outline: 0;  
    font: normal 13px/100% @sansFontFamily;
    background: #ffffff;
    .border-radius(5px);
    .box-shadow(inset 1px #333);
    .box-fix;
}
textarea:focus {
	outline: 0;
	border: solid 1px darken(#6bc600, 8%);
	font: normal 13px/100% @sansFontFamily;
	.transition(border-color .3s linear);
}