.searchBar {
	.formSearch {
		height: 100%;
		div {
			height: 100%;
			.inputWrap {
				height: 100%;
				.unstyled;
				border: 1px solid #888;
				.box-shadow(inset 0px 0px 5px #ccc);
				cursor: text;
				background: white;
				.border-radius(5px);
				overflow: hidden;
				.box-fix;
				&:focus {
					border: solid 1px darken(#6bc600, 8%);
					.box-shadow(inset 0px 0px 5px rgba(107,199,0,0.75));
					.transition(border-color .3s linear);
					.transition(box-shadow .3s linear);
				}
				li {
					&.searchResult {
						float: left;
						.btn;
						.btn-green;
						.remove {
							float: right;
							display: block;
							width: 15px;
							text-align: right;
							color: #dedede;
							&:hover {
								color: #fff;
							}
						}
					}
					&.searchField {	
						float: left;
						display: inline-block;
						input {
							.box-fix;
							-webkit-box-shadow: none;
							box-shadow: none;
							.border-radius(0);
							background: transparent !important;
							line-height: 20px !important;
							font-size: 13px;
							display: inline-block;
						}	
					}
				}
			}
		}	
	}
	.searchDrop {
		background: rgba(255,255,255,1);
		.border-radius(5px);
		box-shadow: 0 0 8px @grayLight;
		.box-shadow(0px 0px 5px 0px #b2b2b2);
		.searchSuggestions {
			//.box-shadow(inset 6px -1px 4px 2px #b2b2b2);
			.border-radius(5px);
			overflow-x: hidden;
			.box-fix;
			li {
				border: none;
				border-bottom: 1px solid #9a9a9a;
				&:first-child {
				}
				&:last-child {
					border: none;
				}
				&:only-child {
					border: none;
					img {
						.border-radiuses(0, 0, 5px, 5px);	
					}
				}
				&.active {
					background-color: @green;
					.info {
						color: @grayLighter;
					}
					a {
						color: @grayLighter;
						&:hover {
							color: @white;
						}
					}
				}
				.info {
					font: 100 10px;
					color: @gray;
				}
				.actions {
					a {
						cursor: pointer;
						.buttonBackground(hsla(hue(lighten(@btnGreenBackground,5%)), saturation(lighten(@btnGreenBackground,5%)), lightness(lighten(@btnGreenBackground,5%)), 0.7), hsla(hue(lighten(@btnGreenBackgroundHighlight,5%)), saturation(lighten(@btnGreenBackgroundHighlight,5%)), lightness(lighten(@btnGreenBackgroundHighlight,5%)), 0.7));
					}
				}	
			}
		}
	}	
}	