<header>
	<span data-i18n="settings.header.title" class="title"></span>
	<div class="links">
		<a href="#general">Allgemein</a>
		<a href="#safety">Sicherheit</a>
		<a href="#privacy">Privatsphäre</a>
		<a href="#notifications">Benachrichtigungen</a>
		<a href="#features">Zusätzliche Funktionen</a>
	</div>
</header>
<div id="settingsWrap">
	<section id="general">
		<header><span class="title">Allgemein</span></header>
		<div class="config" id="name">
			<h5>Name ändern</h5>
			<input type="text" id="firstname" placeholder="Vorname">
			<input type="text" id="lastname" placeholder="Nachname">
			<button type="submit"><i class="icon-ok-circle"></i> Speichern</button>
		</div>
		<div class="config" id="nickname">
			<h5>Nickname ändern</h5>
			<input type="text" id="newNickname" placeholder="Nickname">
			<button type="submit"><i class="icon-ok-circle"></i> Speichern</button>
		</div>
		<div class="config" id="mail">
			<h5>E-Mail Adresse ändern</h5>
			<input type="text" id="email" placeholder="E-Mail Adresse">
			<input type="text" id="email2" placeholder="E-Mail Adresse wiederholen">
			<button type="submit"><i class="icon-ok-circle"></i> Speichern</button>
		</div>
		<div class="config" id="password">
			<h5>Passwort ändern</h5>
			<input type="password" id="newPassword" placeholder="Passwort">
			<input type="password" id="newPassword2" placeholder="Passwort wiederholen">
			<button type="submit"><i class="icon-ok-circle"></i> Speichern</button>
		</div>
	</section>
	<section id="safety">
		<header><span class="title">Sicherheit - Welche deiner Profildaten sollen verschlüsselt werden?</span></header>
		<h2>Name</h2>
		<div class="config" id="firstNameEncryption">
			<span>Vorname:</span>
			<button type="submit" data-ng-click="safety.name.first.encrypt=!safety.name.first.encrypt" data-encrypted="{{safety.name.first.encrypt}}"><i class="icon-lock" data-ng-if="safety.name.first.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.name.first.encrypt"></i></button>
			<div data-ng-if="safety.name.first.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="lastNameEncryption">
			<span>Nachname:</span>
			<button type="submit" data-ng-click="safety.name.last.encrypt=!safety.name.last.encrypt" data-encrypted="{{safety.name.last.encrypt}}"><i class="icon-lock" data-ng-if="safety.name.last.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.name.last.encrypt"></i></button>
			<div data-ng-if="safety.name.last.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<h2>Profil</h2>
		<div class="config" id="locationEncryption">
			<span>Wohnort:</span>
			<button type="submit" data-ng-click="safety.location.encrypt=!safety.location.encrypt" data-encrypted="{{safety.location.encrypt}}"><i class="icon-lock" data-ng-if="safety.location.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.location.encrypt"></i></button>
			<div data-ng-if="safety.location.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="birthdayEncryption">
			<span>Geburtstag:</span>
			<button type="submit" data-ng-click="safety.birthday.encrypt=!safety.birthday.encrypt" data-encrypted="{{safety.birthday.encrypt}}"><i class="icon-lock" data-ng-if="safety.birthday.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.birthday.encrypt"></i></button>
			<div data-ng-if="safety.birthday.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="relationshipEncryption">
			<span>Beziehungsstatus:</span>
			<button type="submit" data-ng-click="safety.relationship.encrypt=!safety.relationship.encrypt" data-encrypted="{{safety.relationship.encrypt}}"><i class="icon-lock" data-ng-if="safety.relationship.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.relationship.encrypt"></i></button>
			<div data-ng-if="safety.relationship.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="educationEncryption">
			<span>Ausbildung:</span>
			<button type="submit" data-ng-click="safety.education.encrypt=!safety.education.encrypt" data-encrypted="{{safety.education.encrypt}}"><i class="icon-lock" data-ng-if="safety.education.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.education.encrypt"></i></button>
			<div data-ng-if="safety.education.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="workEncryption">
			<span>Arbeit:</span>
			<button type="submit" data-ng-click="safety.work.encrypt=!safety.work.encrypt" data-encrypted="{{safety.work.encrypt}}"><i class="icon-lock" data-ng-if="safety.work.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.work.encrypt"></i></button>
			<div data-ng-if="safety.work.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="genderEncryption">
			<span>Geschlecht:</span>
			<button type="submit" data-ng-click="safety.gender.encrypt=!safety.gender.encrypt" data-encrypted="{{safety.gender.encrypt}}"><i class="icon-lock" data-ng-if="safety.gender.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.gender.encrypt"></i></button>
			<div data-ng-if="safety.gender.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config" id="languageEncryption">
			<span>Sprachen:</span>
			<button type="submit" data-ng-click="safety.languages.encrypt=!safety.languages.encrypt" data-encrypted="{{safety.languages.encrypt}}"><i class="icon-lock" data-ng-if="safety.languages.encrypt"></i><i class="icon-lock-open" data-ng-if="!safety.languages.encrypt"></i></button>
			<div data-ng-if="safety.languages.encrypt"><filtersearch data-input-i18n-attr="" class="whoMaySeeIt"></filtersearch></div>
		</div>
	</section>
<!--
	<section id="notifications">
		<header><span class="title">Benachrichtigungen</span></header>
		<div class="notimplemented"><span data-i18n="notimplemented"></span></div>
	</section>
	<section id="features">
		<header><span class="title">Zusätzliche Funktionen</span></header>
		<div class="notimplemented"><span data-i18n="notimplemented"></span></div>
	</section>
-->
</div>