.circlesView {
	#main {
		background-color: @btnBackgroundHighlight;
		border: 1px solid @btnBorder;
		border-bottom: 1px solid #000;
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(5px);
		.box-fix;
	}
	header {
		.headerClass;
		nav {
			a {
				color: lighten(@gray,20%);
			}
		}
	}
	#circleListWrap {
		margin-right: 3px;
		#circleList {
			.unstyled;
			.box-fix;
			#circleListScroll {
				.box-fix;
			}
			#newcircle {
				border: none;
				.border-radius(2px);
			}
			.circle {
				.border-radius(5px);
				border: none;
				border-bottom: 1px solid #aaa;
				padding: 0;
				.left {
					padding: 0;
					.userimg {
						.border-radius(5px);
						padding: 0;
					}
				}
				.listname {
					strong {
						text-overflow: ellipsis;
						overflow: hidden;
						display: inline-block;
						white-space: nowrap;
					}	
				}
				.personCount {
					font-size: 0.85em;
					color: #555;
				}
				&:hover {
					background-color: rgba(0,0,0,0.1);
				}
				&.active {
					box-shadow: inset 0px 0px 2px 1px #7fd308;
					background: rgba(128,212,9,0.4);		
				}
				.time {
					font-size: small;
					color: #888;
					float: right;
					margin-right: 5px;
					margin-top: -20px;
				}
			}
		}
	}
	#circleContainer {
		#circleTitle {
			h2 {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		#friendsList {
			.clear-fix;
			text-align: center;
			li {
				padding: 0;
				margin-bottom: 15px !important;
				.box-fix;
				background-image: url(../img/user.png);
				background-repeat: no-repeat;
				background-position: center center;
				.background-size(auto 100%);
				.border-radius(5px);
				border: 1px solid @btnBackgroundHighlight;
				.username {
					width: 100%;
					text-align: center;
				}
				.pushup {
					opacity: 0;
					background: rgba(0,0,0,0.5);
					height: 0;
					width: 100%;
					margin-top: 0px;
					padding: 0;
					.border-radius(5px);
					border-top: 1px solid #333;
					color: @white;
					.box-fix;
					.transition(all 1s ease);
					overflow: hidden;
					p {
						opacity: 0;
						.transition(opacity 0.2s ease-in-out 0.5s);
					}
				}
				&:hover {
					.pushup {
						opacity: 1;
						height: 80px;
						.transition(all 1s ease);
						p {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}