.friendsView {
	#main {
		background-color: @bubbleBackgroundColor;
		border: @bubbleBorderColor solid 1px;
		.border-radius(5px);
		.box-shadow(0 0 2px @bubbleBorderColor);
		.box-fix;
	}
}
.friendsView, .profileFriendsSubView {
	#friendsList {
		.column(7,7);
		li {
			border-bottom: 1px solid @bubbleBorderColor;
			.box-fix;
			.border-radius(10px);
			margin-bottom: 10px !important;
			.column(3,7);
			a {
				.friendPicture{
					.column(1,3);
				}
				.friendName {
					.column(2,3);
					padding-top: 8%;
					color: @green2;
				}
				.clear-fix;
			}
			&:hover {
				background-color: rgba(99, 183,0,0.3);
			}
		}
	}
}