.friendsView {
	#friendsList {
		.column(7);
		li {
			.column(3.5,7);
			background-color: lighten(@green, 5%);
			border: 2px solid #5a5a5a;
			.box-fix;
			.border-radius(10px);
			margin-top: 5px;
			a {
				.friendPicture{
					.column(2,7);
				}
				.friendName {
					.column(5,7);
					padding-top: 8%;
					color: #f5ffe9;
				}
			}
		}
	}
}