.mediaView {
	#main {
		height: 100%;
		overflow-x: scroll;
	}
	.album {
		.column(3,9);
		height: auto;
		margin-bottom: 10px;
		.thumbnail {
			z-index: 1;
			position: relative;
			img {
				 width: 100%;
				 //clip:
				 .border-radius(3px);
			}
		}
		.name {
			.column(3,3);
			text-align: center;
			display: inline-block;
			visibility: none;
			opacity: 0;
			position: relative;
			z-index: 1000;
			margin-top: -25px;
			color: @white;
			font-weight: 900;
			.transition(opacity 0.2s ease-in-out);
		}
		&:hover {
			.name {
				display: inline-block;
				visibility: visible;
				opacity: 1;
			}
		}	
	}
	#imageView {
		.arrow{
			&#prev {
				
			}
			&#next {
				
			}
			&:hover {
				display: block;
			}
		}
		#image {
			height: 60%;
			width: 100%;
			text-align: center;
			background-color: rgba(0,0,0,0.69);
			padding: 5px;
			.box-fix;
			img {
				max-height: 95%;
				max-width: 95%;
			}
		}
	}
}