#mediaWrap {
	.mediaRow {
		.row(7);
		margin-top: 5px;
	}
	.image {
		float: left;
		margin-left: 5px;
		img {
			.border-radius(10px);
			border: 1px solid darken(@bubbleBorderColor, 3%);
			padding: 5px;
		}
		&:hover {
			img {
				border-color: @bubbleBorderColor;
				cursor: pointer;
			}
		}
	}
	.droplet {
		.row(7);
		margin-top: 20px;
		margin-bottom: 20px;
		.comments {
			.column(3.5,7);
			border-right: 2px solid @bubbleBorderColor;
			.box-fix;
		}
		.info {
			.column(2.5,7);
			border-right: 2px solid @bubbleBorderColor;
			.box-fix;
		}
		.opinion {
			.column(1,7);
		}
	}
}