.messageView {
	#main {
		.column(7);
		.bubble;
		padding: 0;
		height: 100%;
	}
	#topicListWrap {
		.column(2,7);
		margin-right: 3px;
		#topicList {
			height: 420px;
			overflow: auto !important;
			.unstyled;
			.topic {
				.border-radius(5px);
				margin-bottom: 5px;
				.userimg {
					.column(1,2);
				}
				.username {
					font-size: 1em;
				}
				.lastMessage {
					font-size: 0.8em;
				}
				.left {
					float: left;
					margin-left: 10px;
				}
				&:hover {
					background-color: rgba(105,228,0,0.1);
				}
				&:first-child {
					margin-top: 10px;
				}
			}
			#newMessage {
				padding: 10px;
				.box-fix;
			}
		}
	}
	#topicWrap {
		border-left: 1px solid #333;
		.column(5,7);
		#messageTitle {
			padding-left: 10px;
		}
		#messageList {
			.unstyled;
			overflow: auto !important;
			height: 300px;
			.message {
				.column(5,5);
				margin-bottom: 5px;
				.user {
					padding-left: 10px;
					.row(5);
					.box-fix;
					.userimg {
						float: left;
					}
					.username {
						display: block;
						padding-top: 10px;
					}
				}
				.messageText {
					padding: 0px 10px 10px 10px;
				}
				&.me {
					color: lighten(@green, 5%);
					text-align: right;
					.user {
						padding-left: 0;
						.userimg {
							float: right;
							padding-right: 10px;
						}
					}
					.messageText {
						text-align: left;
					}
					background-color: darken(@white, 5%);
					.border-radius(6px);
				}
				&.other {
					background-color: rgba(105,228,0,0.1);
					.border-radius(6px);
					color: #4e4e4e;
				}
			}
		}
	}
}