.messagesView {
	#main {
		background-color: @btnBackgroundHighlight;
		border: 1px solid @btnBorder;
		border-bottom: 1px solid #000;
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(5px);
		.box-fix;
	}
	header {
		.gradient(darken(@btnBackground, 2%), @btnBackgroundHighlight);
		border-bottom: 1px solid @btnBorder;
	}
	#topicListWrap {
		margin-right: 3px;
		#topicList {
			.unstyled;
			.box-fix;
			#topicListScroll {
				.box-fix;
			}
			#newmessage {
				border: none;
				.border-radius(2px);
			}
			.topic {
				.border-radius(5px);
				border-bottom: 1px solid #aaa;
				.userimg {
					.border-radius(5px);
				}
				.username {
					font-size: 1em;
				}
				.lastMessage {
					font-size: 0.8em;
				}
				&:hover {
					background-color: rgba(0,0,0,0.1);
				}
				&.active {
					background-color: rgba(0,0,0,0.3);			
				}
			}
		}
	}
	#topicWrap {
		&.peerChat {
			#messageList {
				.unstyled;
				overflow-y: scroll;
				.message {
					margin-bottom: 5px;
					.clear-fix;
					.user {
						.userimg {
							padding: 0 !important;
							.border-radius(5px);
						}
						.username {
							display: none;
						}
					}
					&.me {
						color: lighten(@green, 5%);
						.messageText {
							float: right;
							text-align: right;
							word-break: break-word;
						}
						.user {
							.userimg {
								float: right;
								display: block;
							}
						}
					}
					&.other {
						.border-radius(6px);
						color: #4e4e4e;
						.user {
							//padding-left: 10px;
						}
					}
				}
			}		
		}	
		&.groupChat {
			#messageList {
				.unstyled;
				overflow-y: scroll;
				.message {
					.clear-fix;
					.user {
						.userimg {
							.border-radius(5px);
						}
						padding-left: 10px;
					}
					&.me {
						color: lighten(@green, 5%);
						.border-radius(6px);
					}
					&.other {
						.border-radius(6px);
						color: #4e4e4e;
					}
				}
			}
		}
		&.newMessage {
			#sendmessage {
				.btn-large;
			}
		}		
	}
}