//Don't touch any of the *.less or *.css files, or you will die an awful death.
.shareForm {
	.clear-fix;
	border-bottom: 1px solid @bubbleBorderColor;
	#shareText {
		margin-bottom: 10px;
		margin-left: 20px;
	}
}
.posts {
	article {
		margin: 10px 0 0 0;
		border-bottom: 1px solid @bubbleBorderColor;
		.clear-fix;
		.userimg{
			border-radius: 200px;
			vertical-align: middle;
			margin: 10px 0px 10px 0px;
		}
		.postContent {
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			.postText {
				padding-left: 10px;
				.box-fix;
			}
		}
		.postInfo {
			padding-top: 5px;
			margin-bottom: 10px;
		}
		&:last-child {
			border:none;
		}
	}
}