//Don't touch any of the *.less or *.css files, or you will die an awful death.
.registerView {
	background-color: @green2;
	// Tweak the standards a bit ;)
	footer {
		color: #f2fbec;
	}
	// content
	#main {
		text-align: center;
	}
	#logo {
		margin: 0 auto;
	}
	#loginform, #registerform {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 10px;
		//background-color: @white;
		.border-radius(5px);
		display: none;
		input, button {
			width: 300px;
			margin: 0 auto;
			outline: none;
			border: none;
			.border-radius(0px);
			&:first-child {
				.border-radiuses(5px, 0px, 0px, 5px);
			}
			&:last-child {
				.border-radiuses(0px, 5px, 5px, 0px);
			}
			&#firstname, &#lastname {
				padding-right: 30px;
			}
		}
		.lock {
			position: absolute;
			margin-top: -33px;
			margin-left: 270px;
		}
		.error, .success {
			width: 300px;
			padding: 5px;
			margin: 0 auto;
		}
		.error {
			border: 1px solid #5d0000;
			background-color: #b40000;
			.box-fix;
		}
		.success {
			border: 1px solid #488200;
			background-color: #66b900;
			.box-fix;
		}
		input {
			border-bottom: 1px solid #ddd;
		}
	}
	a {
		text-decoration: underline;
		color: darken(@white, 10%);
	}
	#callRegister, #callLogin {
		display: none;
	}
	footer {
		position: fixed;
		bottom: 10px;
	}
}