//Don't touch any of the *.less or *.css files, or you will die an awful death.
.registerView {
	background-color: @green2;
	// Tweak the standards a bit ;)
	footer {
		color: #f2fbec;
	}
	// content
	#main {
		text-align: center;
	}
	#logo {
		margin: 0 auto;
	}
	#loginform, #registerform {
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		background-color: @white;
		.border-radius(20px);
		display: none;
		input, button {
			width: 100%;
			margin: 0 auto;
			outline: none;
			border: none;
		}
		input {
			border-bottom: 1px solid #ddd;
			.border-radiuses(5px, 0px, 0px, 5px);
		}
	}
	a {
		text-decoration: underline;
		color: darken(@white, 10%);
	}
	#callRegister, #callLogin {
		display: none;
	}
}