//Don't touch any of the *.less or *.css files, or you will die an awful death.
.registerView {
	background-color: @green2;
	// Tweak the standards a bit ;)
	footer {
		color: #f2fbec;
	}
	// content
	#main {
		text-align: center;
	}
	#logo {
		margin: 0 auto;
	}
	#loginform, #registerform {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 10px;
		//background-color: @white;
		.border-radius(5px);
		display: none;
		input, button {
			width: 300px;
			margin: 0 auto;
			outline: none;
			border: none;
			.border-radius(0px);
			&:first-child {
				.border-radiuses(5px, 0px, 0px, 5px);
			}
			&:last-child {
				.border-radiuses(0px, 5px, 5px, 0px);
			}
		}
		.icon {
			position: absolute;
			margin-top: -33px;
			margin-left: 270px;
			&.check, &.fail {
				padding: 7px 7px 5px 3px;
			}
		}
		/* fix firefox */
		.icon, x:-moz-any-link, x:only-child { 
			margin-top: 0px;
			margin-left: -33px;
		}
		noindex:-o-prefocus, .icon {
			margin-top: 0px;
			&#firstnamelock {
				margin-left: -34px;	
			}
		}
		#rpasswordIcon[data-strength]:after {
			content: "	";
			background-image: url('../img/lock.png');
			width: 40%;
			height: 40%;
		}
		#rpasswordIcon[data-strength="1"]:after {
			background-color: #fe2101;
		}
		#rpasswordIcon[data-strength="2"]:after {
			background-color: #fb8411;
		}
		#rpasswordIcon[data-strength="3"]:after {
			background-color: #ecbd18;
		}
		#rpasswordIcon[data-strength="4"]:after {
			background-color: #e0cc19;
		}
		#rpasswordIcon[data-strength="5"]:after {
			background-color: #77cc0d;
		}
		#rpasswordIcon[data-strength="6"]:after {
			background-color: #2bbe00;
		}
		.error, .success {
			width: 300px;
			padding: 5px;
			margin: 0 auto;
			display: none;
		}
		.error {
			border: 1px solid #5d0000;
			background-color: #b40000;
			.box-fix;
		}
		.success {
			border: 1px solid #488200;
			background-color: #66b900;
			.box-fix;
		}
		input {
			border-bottom: 1px solid #ddd;
			padding-right: 30px;
		}
	}
	a {
		text-decoration: underline;
		color: darken(@white, 10%);
	}
	#callRegister, #callLogin {
		display: none;
	}
	footer {
		position: fixed;
		bottom: 10px;
	}
}