.settingsView {
	#main {
		.bubble;
	}
	#toc {
		float: left;
		width: 100%;
	}
	.config {
		.column(6,7);
		.push(1);
		input:not([type=submit]):not([type=file]) {
			.column(3);
		}
		#newNickname {
			.push(3);
		}
	}
}