body {	
	margin: 0 auto;
	padding: @navbarHeight 0 0;
	min-width: none !important;
	width: 100% !important;
	zoom: 0 !important;
	noscript {
		.row(12);
		margin-top: 10px;
	}
	
	#container {
		height: 100%;
		padding-bottom: 30px;
		#main, #sidebar-left, #sidebar-right {
			height: 100%;
		}
		#main {
			.column(10.5);
			&.small {
				.width(9);
			}
		}
		#sidebar-right {
			.column(1.5);
			&.big {
				.width(3);
			}
			margin-top: 10px;
			.mobileMenu {
				.unstyled;
				width: 100%;
				img {
					width: 100%;
					.border-radius(5px);
				}
			}
		}
	}
	
	footer {
		float: left;
		width: 100%;
		margin: -25px 0 0;
		padding: 5px 5px 0px 5px;
		#left {
			width: 25%;
			float: left;
			text-align: left;
		}
		#right {
			width: 75%;
			float: left;
			text-align: right;
		}
	}
	&:not(.registerView) {
		padding-top: 50px;
	}
}