@topNavHeight: 50px;
#topNav {
	width: 100%;
	position: static;
	height: @topNavHeight !important;
	margin-bottom: -1 * @topNavHeight;
	#navInner {
		text-align: center;
		width: 100%;
		.toggle {
			.icon {
				.large-text();
			}
			float: left;
			width: @topNavHeight;
			display: block;
			border: none;
			outline: none;
			height: @topNavHeight;
			text-align: center;
			padding: 0;
			margin: 0 !important;
			background: transparent;
			position: relative;
			.box-fix;
			i {
				color: #fff;
			}
			&:hover, &:focus, &.active {
				background: rgba(255,255,255,0.15);
			}
			&#toggleSidebar {
				border-right: 1px solid @white;
				margin-right: 3% !important;
			}
			&#toggleSearch {
				float: right;
				border-left: 1px solid @white;
				margin-left: 3% !important;
			}
		}
		#mobileCounter {
			span {
				margin-top: 0px;
				display: inline-block;
			}
		}
	}
	.searchBar {
		.column(8);
		display: none;
		.formSearch {
			width: 100%;
			margin: 7px 0px;
			.inputWrap {
				min-height: 0px;
				height: 35px;
				padding:0;
				li {
					height: 35px;
					padding:0;
					&.searchField {
						width: 20%;
						input {
							padding:0px 10px;
							margin:-1px 0;
							height:35px;
						}
					}
				}
			}
		}
		.searchDrop {
			top: @topNavHeight;
			margin: 5px 0;
		}
	}
}

// Searchbar

#searchSuggestions {
	li {
		img {
			.column(3.75);
		}
		.info {
			.column(8.25);
		}
		.actions {
			.column(8.25);
			a {
				.column(6);
				.box-fix;
			}
		}
	}
}
