<div id="logo">
	<img src="img/logo.png">
</div>
<form id="loginform" data-ng-if="loginForm == 'login'">
<!--{{loginFailed}}-->
	<div>
		<input type="text" id="mail" data-i18n-attr="login.username|placeholder" data-ng-model="identifier">
	</div>
	<div>
		<input type="password" id="password" data-i18n-attr="login.password|placeholder" data-ng-model="password">
	</div>
	<div class="error" id="errorLogin" data-ng-show="loginFailed" data-i18n="login.loginFailed"></div>
	<div>
		<button id="loginformsubmit" class="btn" type="submit" data-ng-click="login(identifier, password)">{{'login.link'|i18n}}</button>
	</div>
</form>
<form id="registerform" data-ng-if="loginForm == 'register'" data-ng-click="registerFormClick()" data-ng-include="'views/login/templates/step' + registrationStep + '.html'" data-regStep="{{registrationStep}}">
</form>
<div id="moreInfo" data-ng-if="loginForm == 'moreInfo'">
</div>
<div id="toggles">
	<button class="btn btn-info" id="callMoreInfo" data-ng-if="loginForm != 'moreInfo'" data-ng-click="showMoreInfo()" data-eat-click data-i18n="login.moreInfo">Mehr Info</button>
	<button class="btn btn-green" id="callLoginOnMore" data-ng-if="loginForm == 'moreInfo'"  data-ng-click="showLogin()" data-eat-click data-i18n="login.link"></button>
	<button class="btn btn-green" id="callRegister" data-ng-if="loginForm != 'register'" data-ng-click="showRegister()" data-eat-click data-i18n="login.register.link"></button>
	<button class="btn btn-green" id="callLogin" data-ng-if="loginForm == 'register'"  data-ng-click="showLogin()" data-eat-click data-i18n="login.link"></button>
</div>
Step: {{registrationStep}}
FormType: {{loginForm}}
<a href="#" id="callLogin" data-ng-show="!loginForm"  data-ng-click="showRegister()" data-eat-click data-i18n="login.link">Login</a>
