<div id="logo">
	<img src="img/logo.png">
</div>
<form id="loginform" data-ng-show="loginForm">
{{loginFailed}}
	<div>
		<input type="text" id="mail" placeholder="Benutzername" data-ng-model="identifier">
	</div>
	<div>
		<input type="password" id="password" placeholder="Passwort" data-ng-model="password">
	</div>
	<div class="error" id="errorLogin" data-ng-show="loginFailed">Benutzername und Password stimmen nicht &uuml;berein!</div>
	<div>
		<button id="loginformsubmit" class="btn" type="submit" data-ng-click="login(identifier, password)">Einloggen</button>
	</div>
</form>
<form id="registerform" data-ng-show="!loginForm" data-ng-click="registerFormClick">
	<div data-ng-repeat="attribute in profileAttributes" data-title="{{attribute.hoverText}}">
		<input type="text" data-ng-class="{true: 'firstElement', false: ''}[$first]" placeholder="{{attribute.placeHolder}}" data-ng-model="attribute.value" data-ng-click="registerFormClick()">
		<span class="icon lock">
			<img data-ng-src="{{{true: 'img/lock_closed.png', false: 'img/lock_open.png'}[attribute.encrypted]}}" alt="{{((attribute.encrypted) && ('Privat') || ('&Ouml;ffentlich'))}}" data-ng-click="attribute.encrypted=!attribute.encrypted"/>
		</span>
	</div>
	<div>
		<input type="text" id="rnickname" placeholder="Benutzername" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange()">
		<span class="icon fail" id="rnicknameIcon">
			<img data-ng-src="{{acceptIconNicknameFree()}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input type="text" id="rmail" placeholder="E-Mail Adresse" data-ng-model="mail" data-ng-model-onblur data-ng-change="mailChange()">
		<span class="icon check" id="rmailIcon">
			<img data-ng-src="{{acceptIconMailFree()}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input type="text" id="rmail2" placeholder="E-Mail Adresse wiederholen" data-ng-model="mail2">
		<span class="icon check" id="rmail2Icon">
			<img data-ng-src="{{acceptIcon(mail, mail2)}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input type="password" id="rpassword" placeholder="Passwort" data-ng-model="password">
		<span class="icon" id="rpasswordIcon" data-strength="{{passwordStrength()}}"></span>
	</div>
	<div class="success" id="successRegisterPassword" style="display:block">Passwort ist {{passwordStrength()}}?</div>
	<div>
		<input type="password" id="rpassword2" placeholder="Passwort wiederholen" data-ng-model="password2">
		<span class="icon check" id="rpassword2Icon">
			<img data-ng-src="{{acceptIcon(password, password2)}}" alt="Ok!">
		</span>
	</div>
	<div>
		<button id="registerformsubmit" class="btn" type="submit"  data-ng-click="register()">Registrieren</button>
	</div>
</form>
<a href="#" id="callRegister" data-ng-show="loginForm" data-ng-click="showRegister()" data-eat-click>Registration</a>
<a href="#" id="callLogin" data-ng-show="!loginForm"  data-ng-click="showLogin()" data-eat-click>Login</a>
