@mixin animationSendMessage {
	0% { /* user a */
		opacity: 0;
		margin-left: 60px;
		@include filter("none");
	}
	5% { /* user a fade in */
		opacity: 1;
		margin-left: 60px;
		@include filter("none");
	}
	18% { /* user a pause */
		opacity: 1;
		margin-left: 60px;
		@include filter("none");
	}
	20% { /* user a screen - blur */
		opacity: 1;
		margin-left: 179px;
		@include filter("none");
	}
	22.5% { /* user a screen + blur */
		opacity: 1;
		margin-left: 179px;
		@include filter("blur(4px)");
	}
	23% { /* user a screen + blur pause */
		opacity: 1;
		margin-left: 179px;
		@include filter("blur(4px)");
	}
	27% { /* user b screen + blur pause */
		opacity: 1;
		margin-left: 680px;
		@include filter("blur(4px)");
	}
	27.5% { /* user b screen + blur*/
		opacity: 1;
		margin-left: 680px;
		@include filter("blur(4px)");
	}
	30% { /* user b screen - blur */
		opacity: 1;
		margin-left: 680px;
		@include filter("none");
	}
	32% { /* user b */
		opacity: 1;
		margin-left: 800px;
		@include filter("none");
	}
	45% { /* user b */
		opacity: 1;
		margin-left: 800px;
		@include filter("none");
	}
	50% { /* user b fade out */
		opacity: 0;
		margin-left: 800px;
		@include filter("none");
	}
	100% { /* fake-delay */
		opacity: 0;
		margin-left: 800px;
		@include filter("none");
	}
}

.animation-box {
	position: relative;
	width: 960px;
	margin: 0 auto 2rem;
	padding-bottom: 10px;
	text-align: left !important;
	@media (max-width: 1010px) {
		display: none;
	}
}

.animation-node {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20%;
	line-height: 131px;
	text-align: center;
}

.animation-node-description {
	display: block;
	line-height: 1em;
}

.s1,
.s2 {
	width: 55px;
}

.s1 {
	margin-right: 100px;
}

.s2 {
	margin-left: 100px;
}

.s1Pc,
.s2Pc {
	width: 150px;
}

.server {
	width: 350px;
}

.message {
	position: absolute;
	text-align: center;
	margin: 21px 0 0;
	line-height: 17px;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 0;
	width: 100px;
	height: auto;
	border: 1px solid #fff;
	border-radius: 3px;
	box-sizing: border-box;
	@include transform(translate3d(0,0,0));
	@include backface-visibility(hidden);
}

.message-sender {
	font-size: 10px;
	display: block;
	line-height: 10px;
	border-bottom: 1px solid #fff;
	padding: 3px;
	text-align: left;
	background: #fff;
	color: #444;
}

.message-text {
	font-size: 13px;
	padding: 3px;
	display: block;
	line-height: 15px;
}

@-webkit-keyframes sendMessage {
	@include animationSendMessage;
}

@-moz-keyframes sendMessage {
	@include animationSendMessage;
}

@-o-keyframes sendMessage {
	@include animationSendMessage;
}

@keyframes sendMessage {
	@include animationSendMessage;
}