.backToTop {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	color: #fff;
	background-color: $primary;
	padding: 1rem 2rem;
}
.backToTop:hover {
	color: #fff;
	text-shadow: 0 0 2px #fff;
}
.backToTop--visible {
	display: block;
}
.no-script {
	width: 100%;
	height: 100%;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	background: $primary;
	font-size: 1.15em;
	@media #{$mobile} {
		top: 100px;
	}
	color: #fff;
	width: 100%;
	text-align: center;
	p {
		margin: 5px;
	}
	p:first-child {
		margin: 1em;
	}
}