.landing-section {
	position: relative;
	display: table;
	display: flex;
	float: left;
	width: 100%;
	min-height: 50vh;
	padding: 4rem 2rem;

	background-color: #54AB0C;
	color: #ffffff;
	box-sizing: border-box;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: 2s background-image ease-in-out;
	box-sizing: border-box;
	@media #{$mobile} {
		padding: 4rem 0;
	}
}
.landing-section:nth-child(2n):not(#heading) {
	background-color: #fff;
	color: #222;
	.textShadow {
		text-shadow: 1px 1px 2px #aaa;
	}
}
.landing-section--background {
	background-image: url("/assets/images/lighthouse.jpg");
	background-color: #ffffff;
}
.landing-section--background--night {
	background-image: url("/assets/images/lighthouse_night.jpg");
	background-color: $gray;
}
.landing-section--inner {
	max-width: 1280px;
	width: 100%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}
.landing-section--realInner {
	display: table;
	width: 100%;
	margin: 0;
}
#heading .section-header {
	width: 100%;
}
#heading {
	height: auto;
	min-height: 100vh;
	padding-bottom: 0;
	background-position: center center;
	overflow: visible;
	@media #{$desktop} {
		padding: 50px 25px 200px;
	}
	@media #{$mobile} {
		min-height: 100vh;
		padding-top: 62px;
	}
}
#heading {
	@media #{$desktop} {
		padding-top: 50px;
	}
}
.section-header,
.section-paragraph {
	@media #{$desktop} {
		width: 600px;
	}
	@media #{$mobile} {
		width: 90%;
		max-width: 600px;
	}
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.section-header {
	@media #{$desktop} {
		@include largeFont;
	}
	@media #{$mobile} {
		@include largeFontMobile;
	}
	margin-top: 0;
	margin-bottom: 2rem;
	box-sizing: border-box;
}
.section-header {
	@media #{$desktop} {
		font-size: 4rem;
	}
	@media #{$mobile} {
		font-size: 3rem;
	}
	letter-spacing: -2px;
	width: auto;
}
.section-paragraph {
	@media #{$desktop} {
		@include normalFont;
	}
	@media #{$mobile} {
		@include normalFontMobile;
	}
	padding-bottom: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#heading .section-header {
	@media #{$mobile} {
		max-width: 300px;
	}
}
#heading .section-paragraph {
	margin-top: -16px;
	margin-bottom: 1.5rem;
	padding-bottom: 0;
	@media #{$mobile} {
		margin-top: -20px;
		margin-bottom: 1.7rem;
	}
}
.section-ul {
	max-width: 760px;
	margin: 0 auto 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@media #{$mobile} {
		width: 80%;
	}
}
.fa-ul {
	padding-left: 2.14285714em;
	margin-left: auto;
	box-sizing: border-box;
}
.fa-li {
	line-height: 45px;
	font-size: 1.6rem;
}
.section-li {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-size: $fontSize;
	font-weight: $fontWeight;
	box-sizing: border-box;
}
.section-header--noTopMargin {
	margin-top: 0px;
}
.landing-section-icon {
	width: 25%;
}
.landing-section-text {
	width: 75%;
}
.landing-section-icon,
.landing-section-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	@media #{$smallerMobile} {
		width: 100%;
		display: block;
	}
}
.landing-section-icon--hideDesktop {
	display: none;
	@media #{$smallerMobile} {
		display: block;
	}
}
.landing-section-icon--hideMobile {
	@media #{$smallerMobile} {
		display: none;
	}
}
.landing-section-escape {
	width: 100%;
	float: left;
}
.landing-section--fullScreen {
	height: 100vh;
	padding-bottom: 1rem;
	@media #{$mobile} {
		min-height: 100vh;
	}
}
.section-next {
	display: block;
	position: absolute;
	margin: -15px auto 0;
	width: 150px;
	height: 55px;
	padding: 11px 10px 10px;

	left: calc(50% - 75px);
	bottom: 25px;

	color: #fff;
	border: none;
	box-sizing: border-box;
	transition: 0.3s background ease;
}
.section-next:hover {
	color: #ffffff;
	background: rgba(60, 60, 60, 0.25);
}
.fa-section-next {
	display: block;
	margin-top: 2px;
}