.landing-section {
	position: relative;
	float: left;
	width: 100%;
	padding: 50px 25px;

	background: #54AB0C;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
	background-size: contain;
	background-position: center bottom;
}
.landing-section:nth-child(2n) {
	background: #fff;
	color: #000;
}
#heading {
	@media #{$desktop} {
		height: 100vh; // 92% support looks ok to me
		padding: 50px 25px 200px;
	}
	@media #{$mobile} {
		min-height: 100vh;
	}
}
.section-header,
.section-paragraph {
	@media #{$desktop} {
		width: 600px;
	}
	@media #{$mobile} {
		width: 90%;
		max-width: 600px;
	}
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.section-header {
	@extend .largeFont;
}
.section-paragraph {
	@extend .normalFont;
}
.section-ul {
	max-width: 450px;
	margin: 0 auto 26.799999237060547px;
}
.fa-ul {
	padding-left: 2.14285714em;
	margin-left: auto;
	box-sizing: border-box;
}
.section-li {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
}
.section-header--noTopMargin {
	margin-top: 0px;
}
.landing-section-icon {
	width: 25%;
	@media #{$smallerMobile} {
		width: 100%;
	}
}
.landing-section-text {
	width: 75%;
	@media #{$smallerMobile} {
		width: 100%;
	}
}
.landing-section-escape {
	width: 100%;
	float: left;
}
.landing-section-left {
	float: left;
}
.landing-section-right {
	float: right;
}