.landing-section {
	position: relative;
	float: left;
	width: 100%;
	min-height: 50vh;
	padding: 50px 25px;

	background: #54AB0C;
	color: #ffffff;
	box-sizing: border-box;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.landing-section:nth-child(2n) {
	background: #fff;
	color: #000;
}
.landing-section--inner {
	max-width: 1280px;
	margin: 0 auto;
}
#heading {
	@media #{$desktop} {
		height: 100vh; // 92% support looks ok to me
		padding: 50px 25px 200px;
	}
	@media #{$mobile} {
		min-height: 100vh;
	}
	overflow: visible;
}
.section-header,
.section-paragraph {
	@media #{$desktop} {
		width: 600px;
	}
	@media #{$mobile} {
		width: 90%;
		max-width: 600px;
	}
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.section-header {
	@media #{$desktop} {
		@include largeFont;
	}
	@media #{$mobile} {
		@include largeFontMobile;
	}
}
.section-paragraph {
	@media #{$desktop} {
		@include normalFont;
	}
	@media #{$mobile} {
		@include normalFontMobile;
	}
}
.section-ul {
	max-width: 760px;
	margin: 0 auto 26.799999237060547px;
}
.fa-ul {
	padding-left: 2.14285714em;
	margin-left: auto;
	box-sizing: border-box;
}
.fa-li {
	line-height: 45px;
	font-size: 1.6rem;
}
.section-li {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-size: $fontSize;
	font-weight: $fontWeight;
}
.section-header--noTopMargin {
	margin-top: 0px;
}
.landing-section-icon {
	width: 25%;
	margin-top: 3rem;
	@media #{$smallerMobile} {
		width: 100%;
	}
}
.landing-section-text {
	width: 75%;
	@media #{$smallerMobile} {
		width: 100%;
	}
}
.landing-section-escape {
	width: 100%;
	float: left;
}
.landing-section-left {
	float: left;
}
.landing-section-right {
	float: right;
}
.landing-section--fullScreen {
	height: 100vh;
	@media #{$mobile} {
		min-height: 100vh;
	}
}