body {
	noscript {
		.column(12);
		margin-top: 10px;
	}
	#sidebar-left {
		.row(12);
		#userpanel {
			.column(12,12);
		}
		margin-top: -20px;
		margin-bottom: 10px;
	}
	footer {
		.column(12);
	}
	#main {
		.column(12);
	} 
}