//Don't touch any of the *.less or *.css files, or you will die an awful death.
#topNav {
	width: 100%;
}
.nav-inner {
	.brand {
		width: 130px;
	}
	#nav-icons {
		width: 100px;
	}
}
.nav-icon-icons {
	font-style: normal;
	color: #111;
	width: 30px;
}