<div id="wall">
	<header>
		<form class="form-inline" id="postIt">
			<input type="text" data-i18n-attr="main.post.receiver|placeholder" id="receiver">
			<button type="submit" data-i18n="main.post.send">Posten</button>
			<input type="text" data-i18n-attr="main.post.text|placeholder" id="shareText">
		</form>
		<div id="filter">
			<div class="title" data-i18n="main.filter.title"></div>
			<textarea data-i18n-attr="main.filter.placeholder|placeholder" id="theFilter"></textarea>
		</div>
	</header>
	<div class="posts">
		<article id="post1">
			<img class="userimg" src="img/profil.jpg" alt="User">
			<div class="postContent">
				<p class="author">Daniel Melchior:</p>
				<div class="postText">Circus Afro Circus Afro \m/ </div>
			</div>
			<div class="postInfo">
					<p class="with" data-i18n="wall.info.with|name=post.with">Mit Svenja Kenneweg</p>
					<p class="awesome" data-i18n="wall.info.awesome|count=post.awesome">Awesomenes: 20</p>
					<p class="comments" data-i18n="wall.info.comments|count=post.comments.count">10 Kommentare</p>
					<a href="#" class="showComments" data-i18n="wall.info.showComments">Kommentare anzeigen</a>
			</div>
		</article>
	</div>	
</div>