.friendsView {
	@media @mobile {
		overflow-y: visible;
		-webkit-overflow-scrolling: touch;
	}
	#main {
		height: 100%;

		@media @desktop {

			overflow-y: hidden;

			.friendsView-title {
				.large-text();
				padding-left: 5px;
			}
			.friendsView-section:first-child {
				padding-top: 0;
			}
		}

		@media @mobile {
			.friendsView-title {
				.large-text();
			}
		}
	}
	.friendsView-friend {
		@media @desktop {
			width: 33%;
		}

		@media @mobile {
			width: 100%;
		}

		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}
	#requestsList {
		display: inline-block;
		width: 100%;
	}
}
