.friendsView {
	#main {
		@media @desktop {
			.box;
		}
		
		height: 100%;
		overflow-y: hidden;
		
		section {
			.box-fix;
		}

		.scroll {
			overflow-y: scroll;
			height: ~"calc(100% - 30px)"; // fixes the scroll-bar. negative margin will place the scroll-bar into the header.
			.title {
				.large-text();
				padding-left: 5px;
			}
			section:first-child {
				padding-top: 0;
			}
		}

		li {
			@media @desktop {
				width: 33%;
			}

			@media @mobile {
				width: 100%;
			}

			float: left;
			box-sizing: border-box;
			padding: 0 5px;
		}
	}
	#requestsList {
		display: inline-block;
		width: 100%;
	}
}
