.helpView-section {
	width: 100%;
	display: block;

	margin-bottom: 21px;
	&:extend(.clear-fix);
}
.helpView-qa {
	width: 100%;
}
.helpView-answer {
	width: 96%;
	margin:0 2%;
}
.helpView-askQuestion {
	.column(8);
}
.helpView-submitQuestion {
	.column(4);
}
.helpView-askQuestion,
.helpView-submitQuestion {
	margin-top: 10px;
	margin-bottom: 15px;
}