.inviteView,
.inviteView body {
	overflow: scroll;
}
#inviteView-inviteMail,
#inviteView-selectInviteMethod {
	@media @desktop {
		.column(12);
	}
	@media @mobile {
		.column(12,12,none,0);
	}
}
#inviteView-inviteMail,
#inviteView-inviteLink {
	padding: 1rem;
	padding-top: 0;
}
.inviteView-header {
	.large-text();
	float: left;
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}
.inviteView-header--noTopMargin {
	margin-top: 0;
}
#inviteView-inviteMail .inviteView-header {
	margin-top: 0;
}
.inviteView-sendInvite,
#inviteView-invitedBy,
.inviteView-mailContainer,
.inviteView-emailList {
	.column(12,12,none,0);
}
#inviteView-invitedBy {
	margin-bottom: 1rem;
}
.inviteView-emailList {
	margin-top: 0.5rem; // make margins to top and bottom same
	max-width: 1280px;
	display: block;
}
.inviteView-mailContainer {
	margin-bottom: 0.5rem;
}
#inviteView-addMail {
	margin-top: 0.5rem;
}
.inviteView-shareButton {
	height: 50px;
	line-height: 50px;
	@media @desktop {
		.column(1,2);
		margin-bottom: 1rem;
	}
	@media @mobile {
		.column(12);
		margin-bottom: 1rem;
		&:first-child {
			margin-top: 1rem;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.inviteView-mailContainer:last-child {
	margin-bottom: 0;
}
#inviteView-acceptedInvites,
#inviteView-allInvites {
	float: left;
	width: 100%;
}
.inviteView-invitedUser {
	@media @desktop {
		.column(1,2);
	}
	@media @mobile {
		.column(12);
	}
}

#inviteView-inviteLinkParagraph {
	width: 100%;
	text-align: center;
}
#inviteView-inviteLinkThing {
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
#inviteView-inviteLinkThing-button,
#inviteView-inviteLinkThing-spacer,
#inviteView-inviteLinkThing-input {
	height: 50px;
	line-height: 48px;
	float: left;
}
#inviteView-inviteLinkThing-button {
	width: 250px;
	border-radius: 3px 0 0 3px;
}
#inviteView-inviteLinkThing-spacer {
	width: 30px;
	text-align: center;
	background: #f9f9f9;
	color: @gray;
	box-shadow: inset 1px 0px 1px @btnBorder;
}
#inviteView-inviteLinkThing-input {
	background: #fafafa;
	text-align: center;
	padding: 0 0.5rem;
	width: 320px;
	border-radius: 0 3px 3px 0;
	box-shadow: inset 0px 0px 3px @btnBorder;
	&:extend(.box-fix);
}