.inviteView {
	#inviteMail,
	#inviteLink {
		@media @desktop {
			.column(6);
		}
		@media @mobile {
			.column(12,12,none,0);
		}
	}
	h1 {
		.large-text();
	}
	.sendInvite {
		display: block;
	}
	#invitedBy {
		margin-bottom: 10px;
	}
	.emailList {
		.column(12,12,none,0);
		margin-top: 5px; // make margins to top and bottom same
	}
	.annotatedInputContainer {
		float: left;

		margin: 0 5px 5px 0;
	}
	.annotatedInputContainer:last-child {
		margin-right: 0;
	}
	.inviteDetails {
		margin-top: 10px;
	}
}