.inviteView {
	#inviteMail,
	#inviteLink {
		@media @desktop {
			.column(12);
		}
		@media @mobile {
			.column(12,12,none,0);
		}
	}
	h1 {
		.large-text();
	}
	.sendInvite,
	#invitedBy,
	.annotatedInput-container,
	.emailList {
		.column(12,12,none,0);
	}
	#invitedBy {
		margin-bottom: 10px;
	}
	.emailList {
		margin-top: 5px; // make margins to top and bottom same
	}
	.annotatedInput-container {
		margin: 5px 0;
	}
	.inviteDetails {
		margin-top: 10px;
	}
}