.legalView-menu {
	margin: 0;
}
.legalView-menu-item {
	.column(12);
	margin-bottom: 2%;
}
.legalView-menu-item-link {
	width: 100%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
}