.legalView-main {
	margin: 10px;
}
.legalView-menu {
	margin: 10px auto 0;
	max-width: 600px;
	padding: 0px;
}
.legalView-menu-item {
	width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
	list-style-type: none;
}
.legalView-menu-item-link {
	width: 100%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.legalView {
	h2 {
		.bold-text();
		margin-left: 0;
	}
	p {
		padding: 0 10px;
	}
	ol {
		margin: 1em 10px 1em -10px;
	}
}