.legalView-main {
	margin: 10px;
}
.legalView-menu {
	margin: 2% auto 0;
}
.legalView-menu-item {
	.column(12);
	margin-bottom: 2%;
}
.legalView-menu-item-link {
	width: 100%;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.legalView {
	h2 {
		.bold-text();
		margin-left: 0;
	}
	p {
		padding-left: 10px;
	}
	ol {
		margin: 1em 10px 1em -10px;
	}
}