.loginForm {
	#loginformsubmit {
		@media @desktop {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		@media @mobile {
			width: ~"calc(100% - 58px)";
			border: solid 1px darken(#ffffff, 45%);
			border-top: none;
			border-radius: 0px 0px 5px 5px;
		}
	}

	.loginLoading,
	.error {
		height: 39px;
		img {
			height: 39px;
		}
	}

	.loginLoading {
		@media @mobile {
			background: @white;
			border: solid 1px darken(#ffffff, 45%);
			border-top: none;
			 .box-shadow(inset 0px 0px 5px #ccc);
		}
	}

	.error {
		background-color: lighten(@red,5%);
		text-shadow: 1px 1px 1px @red;
		color: #fff;
		border: solid 1px darken(#ffffff, 45%);
		@media @desktop {
			border-radius: 5px;
		}
		@media @mobile {
			border-top: none;
		}
		padding-bottom: 10px;
		padding-top: 10px;
		.box-fix;
	}
}

.loginView {
	#main {
		.width(4);
		.push(4);
		.pull(4);

		text-align: center;
	}
	h1 {
		.large-text();
		margin-top: 0px;
	}
	input {
		.column(12);
		margin-bottom: 5px;
	}
	#loginformsubmit {
		.column(12);
	}
	.smallRow {
		.column(12,12,left,0);
		button {
			.column(6);
			margin-bottom: 5px;
		}
	}
	.error,
	.loginLoading {
		.column(12);
		margin-bottom: 5px;
	}
}