.loginView {
	#main {
		@media @desktop {
			.width(4);
			.push(4);
			.pull(4);
		}
		@media @mobile {
			.width(12);
		}
		text-align: center;
	}
	h1 {
		.large-text();
		margin-top: 0px;
	}
	input {
		.column(12);
		margin-bottom: 5px;
	}
	#loginformsubmit {
		.column(12);
	}
	.smallRow {
		.column(12,12,left,0);
		button {
			@media @desktop {
				.column(6);
				margin-bottom: 5px;
			}
			@media @mobile {
				.column(12);
				margin-bottom: 5px;
			}
		}
	}
	.loginLoading {
		.column(6);
		height: 39px;
		img {
			height: 39px;
		}
	}
	.error {
		.column(12);
		background-color: lighten(@red,10%);
		text-shadow: 1px 1px 1px @red;
		border: 1px solid darken(@red,10%);
		border-radius: 5px;
		padding-bottom: 10px;
		padding-top: 10px;
		.box-fix;
	}
	#loginformsubmit {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}