.loginView {
	#main {
		.width(11);
		.push(0.5);
		.pull(0.5);
		text-align: center;
	}
	input {
		margin-bottom: 5px;
		width: 270px;
	}
	.error {
		display: inline-block;
		width: 270px;
		background-color: RED;
		border: 1px solid black;
		border-radius: 5px;
	}
	#loginformsubmit {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}