.mainView {
	@header-line-height: 38px;
	#wall {
		overflow-y: scroll;
		height: 100%;
		width: 100%;
		padding-top: 80px;
		.box-fix;
		header {
			.column(12,12,left,0);
			padding-top: 10px;
			margin-top: -85px;
			text-align: center;
			z-index: 1000;

			#postIt {
				.column(8,12,left,1%);
				margin: 0 1% 0 0;
				padding: 0;
				.border-radius(5px);
				.box-fix;
				.searchDrop {
					margin-top: 5px;
				}
				.btn {
					padding: 7px;
					border: none;
				}
				.image {
					padding: 0;
					width: @header-line-height;
					height: @header-line-height;
					text-align: center;
					line-height: @header-line-height;
				}
				.image div {
					height: @header-line-height;
					width: @header-line-height;
					position: relative;
					top: -@header-line-height;
					opacity: 0;
					overflow: hidden;
				}
				.image input {
					height: 100%;
					width: 100%;
				}
				.righty {
					float:right;
					margin-left: 5px;
				}
				.formButton {
					width: 8em;
					height: @header-line-height;
				}
				#shareText {
					width: 100%;
					margin-bottom: 5px;
					height: @header-line-height * 2;
				}
				.images {
					text-align: left;
					max-height: @header-line-height * 3;

					.percentage {
						height: 10px;
						width: 80%;

						position: relative;
						top: -20px;
						left: 0px;
						right: 0px;
						margin: auto;

						background-color: white;

						overflow: hidden;

						border: 1px solid gray;
						.border-radius(5px);
					}
					.bar {
						background-color: green;
						height: 10px;
					}
					img {
						.border-radius(5px);
						max-height: 100%;
						max-width: 100%;
					}
					.imagePreview {
						margin-top: 5px;
						margin-right: 5px;
						display: inline-block;
						width: 30%;
						max-height: 100%;

						.remove {
							padding: 0;
							border-radius: 10px;
							border: none;
							position: absolute;
							width: 20px;
							height: 20px;
							margin-left: 2px;
							margin-top: 2px;
							background-color: gray;
							color: red;
						}
					}

					.advancedHint {
						.bold-text();

						width: 30px;
						height: 30px;

						text-align: center;
						line-height: 30px;

						display: inline-block;
						position: relative;
						left: -30px;
						top: -5px;
						background: gray;

						.border-radius(20px)
					}

					.hintContent .remove {
						padding: 0;
						border: none;

						background-color: transparent;
						color: red;
					}

					.advancedHint .hintWrapper:hover {
						display: block;
					}

					.advancedHint:hover > .hintWrapper {
						display: block;
					}

					.hintWrapper:before {
						width: 3px;	
						display: block;
						content: '';
						border: 6px solid transparent;
						border-top: 0px;
						margin-left: 8px;
						border-bottom-color: #383838;
					}

					.hintContent {
						padding: 7px;
						background-color: #383838;
						.border-radius(5px);
					}

					.advancedHint > .hintWrapper {
						.normal-text();
						display: none;

						text-align:left;

						position: absolute;
						top: 30px;

						left: 0px;

						width: 25em;
					}

				}
			}
			#filter {
				.column(4,12,left,1%);
				margin: 0 0 0 1%;
				height: 80px;
				.title {
					.column(12,12);
					height: @header-line-height - 5px;
					padding: 4px 0;
					.gradient(@btnBackground, @btnBackgroundHover);
					border: 1px solid @btnBorder;
					.border-radius(4px);
				}
				#theFilter {
					.column(12,12);
					margin-top: 5px;
					padding:0;
					.formSearch {
						height: @header-line-height;
						.inputWrap {
							border: none;
							.border-radius(0px);
						}
					}
					.searchDrop {
						margin-top: 5px;
					}
				}
			}
		}
	}
	.inviteFriends {
		width: 100%;
		float: left;
		text-align: center;
		height: 50px;
		a {
			.large-text();
			width: 100%;
		}
	}
}
