// Some adjustable heights:
@form-height: 70px;
@header-height: 30px;

// big image size in topic list.
@user-image-size: 96px;

// This is some paddings that are used troughout.
@default-padding: 6px;
@extended-padding: 2 * @default-padding;

// This is additional padding that compensates for the width and padding
// of a status bubble.
@status-compensation: 11px;

// I have no idea where these 10px come from. I've seen such a thing
// before, and it came from some 1% margin somewhere close in the DOM.
// But in this case, I just couldn't find it.
@weirdo-message-list-margin: 10px;

// This really should be pulled from somewhere else.
@message-preview-lineheight: 20px;

.messagesView {
	#main {
		.box();
		overflow: hidden;
	}
	ul {
		margin: 0;
	}
	#topicListWrap {
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: border-box;
		border-bottom: @header-height solid transparent;
		ul {
			.unstyled();
		}
		#topicList {
			.box-fix;
			#topicListScroll {
				.box-fix;
			}
			.topic {
				border-bottom: 1px solid #ddd;
				.box-fix;
				cursor: pointer;
				position: relative;
				transition: background-color 0.1s ease;
				.left {
					.userimg {
						width: 80px;
						border: 1px solid #f2f2f2;
						.border-radius(100%);
					}
				}
				.username, .lastMessage, .time {
					transition: color 0.1s ease;
				}
				.username {
					font-size: 0.9em!important;
					padding-top: @default-padding;
					padding-left: (3 * @default-padding + @user-image-size);
				}
				.lastMessage {
					color: #555;
					font-size: 0.8em;
					height: (3 * @message-preview-lineheight); // three lines of text.
					overflow: hidden;
					padding-left: (@default-padding + @status-compensation);
					padding-right: @extended-padding;
				}
				.time {
					font-size: 80%;
					color: #888;
					white-space: nowrap;
					line-height: 12px;
					text-align: right;
					text-overflow: ellipsis;

					float: right;
					display: block;
					position: absolute;
					bottom: @default-padding;
					right: @extended-padding;
				}
				&:hover {
					background-color: @primaryLightest;
					.username {
						color: #ececec;
					}
					.lastMessage {
						color: #eee;
					}
					.time {
						color: #eee;
					}
				}
				&.unread {
					background-color: @primaryLighter;
					.username {
						color: #ececec;
					}
					.lastMessage {
						color: #eee;
					}
					.time {
						color: #eee;
					}
					&:hover {
						background-color: @primaryLightest;
					}
				}
				&.active {
					background-color: @primaryLighter;
					.username {
						color: #ececec;
					}
					.lastMessage {
						color: #eee;
					}
					.time {
						color: #eee;
					}
					&:hover {
						background-color: @primaryLightest;
					}
				}
				&#newmessage {
					border: none;
					background: transparent;
					.btn {
						width: 100%;
						border: none;
						.border-radius(0);
					}
				}
				&.groupChat, &.peerChat {
					.left {
						padding: 0;
						margin: 0;
						float: left;
						.imgWrap {
							padding: @default-padding;
							img {
								display: block;
								box-sizing: content-box;
								width: @user-image-size;
								height: @user-image-size;
							}
						}
					}
				}
				&.groupChat {
					.left {
						background: transparent;
						.imgWrap {
							.border-radius(100%);
							border: 1px solid #f2f2f2;
							background-color: #b2b2b2;
						}
						img, span, div {
							.border-radius(0);
							border: none;
						}
						span, div {
							background-color: #343434;
							color: @white;
							.box-fix;
							height: 100%;
						}
					}
				}
			}
		}
	}
	#topicWrap {
		height: 100%;
		overflow: hidden;
		position: relative;
		#messageWrap {
			height: 100%;
		}
		#messageList {
			box-sizing: border-box;
			border-bottom: (@form-height + @header-height - @weirdo-message-list-margin) solid transparent;
			height: 100%;
			width: 100%;
			position: absolute;
			overflow: scroll;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0 0 (@weirdo-message-list-margin) 0;

			.userimg {
				display: inline-block;
				img {
					.border-radius(100%);
					width: 72px;
					height: 72px;
				}
			}

		}
		&.newMessage {
			#messageTitle {
				h2 {
					.column(12);
				}
			}
			.searchBar {
				.searchDrop {
					li {
						padding: 0 25px 0 0 !important;
					}
				}
			}
			#messageInput {
				.column(12);
				margin-bottom: 14px !important;
			}
			#recieverInput {
				.column(12);
			}
			#sendmessage {
				padding: 10px 10px;
				margin-left: 1% !important;
			}
		}
		#inputWrap { // this is the form
			display: block;
			position: absolute;
			width: 100%;
			bottom: @header-height;

			textarea {
				height: @form-height;
				.column(3,4);
			}
			button {
				height: @form-height;
				.column(1,4);
			}
		}
	}
}

.messagesView {
	header {
		#newmessage {
			.column(2.5,8,left,0);
		}
	}
	#topicListWrap {
		.column(2.5,8,left,0);
		#topicList {
			.topic {
				&.groupChat {
					.left {
						// img, span {
						// 	.column(1,2,left,0);
						// // }
					}
				}
			}
		}
	}
}
