#messages {

	// Some adjustable heights:
	@form-height: 70px;
	@form-margin: 0;
	@header-height-desktop: 4rem;
	@header-height-mobile: 4rem;

	// big/small image size in topic list.
	@user-image-size: 76px;
	@user-image-size-small: 56px;
	@remaining-user-bubble-size: 32px;
	@remaining-user-bubble-border: 3px;
	@remaining-user-bubble-bg: rgba(red(@primary), green(@primary), blue(@primary), 0.95);;
	@remaining-user-bubble-fg: #ffffff;

	// user image size in message list.
	@message-image-size: 48px; //@user-image-size-small;
	@message-arrow-size: 8px;
	@message-arrow-offset: @message-image-size / 2;
	@own-message-bg: #48930a;
	@own-message-fg: white;
	@foreign-message-bg: #d5d5d5;
	@foreign-message-bg2: #b2b2b2; //border

	// This is some paddings that are used troughout.
	@default-padding: 6px;
	@extended-padding: 2 * @default-padding;

	// This is additional padding that compensates for the width and padding
	// of a status bubble.
	@status-compensation: 13px;

	// This really should be pulled from somewhere else.
	@message-preview-lineheight: 20px;
	@preview-lines: 3;

	.message-mixin(@form-height: @form-height) {

		.messagesView {

			ul {
				margin: 0;
				list-style-type: none;
			}

			a {
				word-wrap: break-word;
			}

			.time {
				.detail-text();
				white-space: nowrap;
				text-align: right;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			#main {
				// main has to stay here, as there are mains on pages that have no
				// .messagesView.

				overflow: hidden;

				@media @desktop {
					position: relative;
				}
			}

		}

		#topicListWrap {
			position: absolute;
			@media @desktop { top: @header-height-desktop; }
			@media @mobile { top: @header-height-mobile; }
			right: 0;
			left: 0;
			bottom: 0;

			overflow-y: scroll;
			overflow-x: hidden;

			// nice scrolling for iOS.
			-webkit-overflow-scrolling: touch;

			.box-fix;
		}

		#topicList {
			.topic {
				border-bottom: 1px solid #ddd;
				cursor: pointer;
				position: relative;
				padding-right: @extended-padding;
				transition: 0.5s ease;
				.left {
					.userimg {
						width: 80px;
						border: 1px solid #f2f2f2;
						border-radius: 100%;
					}
				}
				.username {
					padding-top: @default-padding;
					padding-left: 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					color: @text-color-dark;
				}
				.lastMessage {
					.small-text();
					color: #555;
					height: (@preview-lines * @small-line-height); // three lines of text.
					overflow: hidden;
					padding-left: @status-compensation;
					padding-right: @extended-padding;
				}
				&:hover, &.unread, &.active {
					background-color: @primaryLighter;
					.username {
						color: #ececec;
					}
					.time {
						color: #eee;
					}
					.lastMessage {
						color: #eee;
					}
				}
				&.unread, &.active {
					&:hover {
						background-color: @primaryLightest;
					}
				}
				&.groupChat, &.peerChat {
					.left {
						padding: 0;
						margin: 0;
						float: left;
						.imgWrap {
							padding: @default-padding;
							img {
								display: block;
								box-sizing: border-box;
								width: @user-image-size;
								height: @user-image-size;
							}
						}
					}
				}
				&.groupChat {
					.left {
						.imgWrap {
							// group chats have smaller images, and compensate for equal
							// height of the list element w/ some bottom padding.
							padding-bottom: (@user-image-size - @user-image-size-small + @default-padding);
							padding-right: (@user-image-size - @user-image-size-small + @default-padding);
							img {
								box-sizing: content-box;
								width: @user-image-size-small;
								height: @user-image-size-small;
							}
							img ~ img {
								// offset the second image
								position: absolute;
								top: (@default-padding + @user-image-size - @user-image-size-small);
								left: (@default-padding + @user-image-size - @user-image-size-small);
							}
							span {
								// the span with remaining users is missing a class.
								// trust me, it's this one :-)
								position: absolute;

								box-sizing: content-box;
								width: @remaining-user-bubble-size;
								height: @remaining-user-bubble-size;

								left: (@default-padding + @user-image-size - @remaining-user-bubble-size + 6px);
								top: (@default-padding + @user-image-size - @remaining-user-bubble-size + 6px);
								border-radius: 100%;
								font-size: 0.9em;

								text-align: center;
								line-height: @remaining-user-bubble-size;

								color: @remaining-user-bubble-fg;
								background: @remaining-user-bubble-bg;

								// typography, this should probably be handled elsewhere.
								text-decoration: italic;

								z-index: 3;
							}
						}
					}
				}
			}
			.inviteFriends-link {
				width: 100%;
				border-bottom: 1px solid #ccc;
				border-radius: 0;
			}
		}

		#topicWrap {
			position: absolute;

			@media @desktop { top: @header-height-desktop; }
			@media @mobile { top: @header-height-mobile; }

			bottom: 0;
			right: 0;
			left: 0;
		}

		.newMessage .search-wrapper {
			border: none;
			border-bottom: 1px solid @btnBorder;
			border-radius: 0;
		}

		#messageWrap {
			height: 100%;
			// this makes absolute positioned elements adopt the padding.
			position: relative;
		}

		.messageList--reduce {
			bottom: (@form-height + 2 * @form-margin + 100px) !important;
		}

		#messageList {
			width: 100%;
			overflow-x: hidden;
			overflow-y: scroll;

			// this is for well-behaving w/ the form at the bottom.
			position: absolute;
			top: 0;
			bottom: (@form-height + 2 * @form-margin);
			left: 0;
			margin: 0;
			padding: 0;

			// nice scrolling for iOS.
			-webkit-overflow-scrolling: touch;

			//transform: translate3d(0, 0, 0);
			transition: 0.55s ease bottom;

			.burst {
				float: left;
				clear: both;
				width: 100%;
				word-wrap: break-word;
				&:first-child {
					// additional margin at the top, this will be useful when we have a
					// 'pull down to load more' feature.
					margin-top: @extended-padding;
				}
			}

			.burst-date {
				position: relative;
				width: 100%;
				display: inline-block;
				color: @grayLight;
				border-bottom: 1px solid @btnBorder;
				margin: 1rem 0;
			}

			.burst-date-text {
				position: absolute;
				background: linear-gradient(to right, rgba(242,242,242,0) 0%, @btnBackgroundHover 8%, @btnBackgroundHover 50%, @btnBackgroundHover 92%, rgba(242,242,242,0) 100%);
				background-size: 10rem 1px;
				background-position: center center;
				bottom: -10px;
				width: 10rem;
				left: 50%;
				margin-left: -5rem;
				text-align: center;
			}

			.username {
				.detail-text();
				padding-bottom: @default-padding / 2;
				text-transform: uppercase;
			}

			.username, .userimg {
				margin-left: @extended-padding;
				margin-right: @extended-padding;
			}

			.userimg, {
				display: inline-block;
				float: left;
				clear: both;
				img {
					border-radius: 100%;
					width: @message-image-size;
					height: @message-image-size;
				}
			}

			// this is the messages container.
			.messages {
				// angular creates and fills w/o moving stuff into display: none,
				// so we need to add min size to prevent constant UI movement.
				min-height: @message-image-size - 2 * @default-padding;
				min-width: @message-image-size - 2 * @extended-padding;
				max-width: 100%;
				margin-left: @message-image-size + 2 * @extended-padding;
				margin-right: @message-image-size + 2 * @extended-padding;
				padding: @default-padding @extended-padding;
				margin-bottom: @extended-padding;
				margin-top: 0;
				border-radius: @extended-padding;
				background: @foreign-message-bg;
				border: none;
				box-shadow: 1px 2px 2px rgba(179, 179, 179, 0.65);
				position: relative;
				.post-images { margin: 0; padding: 0; }
			}

			.me .messages {
				box-shadow: 1px 2px 2px rgba(199, 199, 199, 0.65);
			}

			.messages:after, .messages:before {
				right: 100%;
				top: @message-arrow-offset;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			.messages:after {
				border-color: fade(@foreign-message-bg, 0%);
				border-width: @message-arrow-size;
				margin-top: -1 * @message-arrow-size;
			}

			.messages a:hover {
				text-decoration: underline;
			}
			.messages:after {
				border-right-color: @foreign-message-bg;
			}
			.messages:before {
				border-right-color: @foreign-message-bg2;
			}

			.me .messages {
				background: lighten(@foreign-message-bg, 5%);
				color: lighten(@text-color-dark, 25%);
				border-color: lighten(@foreign-message-bg2, 5%);
				&:after {
					border-right-color: lighten(@foreign-message-bg, 5%);
				}
				&:before {
					border-right-color: lighten(@foreign-message-bg2, 5%);
				}
			}
		}

		.messageView-loadingText {
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			width: 100%;
			height: 50px;
			line-height: 50px;
			padding: 0 0.5%;
			box-sizing: border-box;
			margin: 0;
			background: rgba(0,0,0,0.8);
			color: #fff;
			z-index: 9;
		}

		.messageView-loadingText--relative {
			position: relative;
		}

		#messageView-loadingIcon {
			vertical-align: middle;
			display: inline-block;
		}

		#inputWrap { // this is the form
			display: block;
			position: absolute;
			width: ~"calc(100% + 2px)";
			bottom: 0;
			margin-bottom: @form-margin;
			margin-left: -1px;

			#messageInput {
				height: @form-height;
				.column(3,4,left,0);
				margin: 0;
				border-radius: 0;
			}
			#messageView-messageInput {
				border-radius: 0;
				&::-webkit-input-placeholder { line-height: 18px; padding-left: 3px; transition: .5s; transform: translate3d(0,0,0); }
				&::-moz-placeholder { line-height: 18px; padding-left: 3px; transition: .5s; transform: translate3d(0,0,0); }
				&:-ms-input-placeholder { line-height: 18px; padding-left: 3px; transition: .5s; transform: translate3d(0,0,0); }
				&:-moz-placeholder { line-height: 18px; padding-left: 3px; transition: .5s; transform: translate3d(0,0,0); }
				&:focus {
					&::-webkit-input-placeholder { opacity: 0; }
					&::-moz-placeholder { opacity: 0; }
					&:-ms-input-placeholder { opacity: 0; }
					&:-moz-placeholder { opacity: 0; }
				}
			}
			#sendmessage {
				height: @form-height;
				.column(1,4,left,0);
				margin: 0;
				border-radius: 0;
			}
		}
		#messagesView-newMessageImages {
			display: none;
			width: 100%;
			background: #ffffff;
			border-left: 1px solid @btnBorder;
		}
		.messagesView-newMessageImages--active {
			display: inline-block !important;
		}
		#messagesView-endOfStream {
			display: inline-block;
			text-align: center;
			width: 100%;
			color: @grayLight;
			border-bottom: 1px solid @btnBorder;
			padding-bottom: 1rem;
		}
	}
}

.messages-overlay {
	position: absolute;
	display: flex;
	background: rgba(37, 37, 37, 0.99);
	z-index: 11 !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.messages-overlay-content {
	color: #ffffff;
	padding: 0.25em 3rem;

	font-size: 1rem;
	line-height: 1.213em;

	margin: auto;
}

#messages-overlay-button {
	float: right;
}

.messages-start {
	display: flex;
}
.messages-start-content {
	margin: auto;
	text-align: center;
	color: rgba(33, 33, 33, 0.5);
	padding: 0 1rem;
}

.messages-overlay-content,
.messages-start-content {
	max-width: 690px;
}

@media @mobile {
	#messages > .message-mixin(
		@form-height: 64px;
	);
}

@media @desktop {
	#messages > .message-mixin();
}
