.mainView {
	overflow: visible;
	body {
		overflow: visible;
	}
}
#newsfeedView-wall {
	height: 100%;
	width: 100%;
	&:extend(.box-fix);
}
#newsfeedView-wall-header {
	@media @desktop {
		height: 85px;
	}
	.column(12,12,left,0);
	padding-top: 10px;
	text-align: center;
	z-index: 1000;
	border-radius: 4px 0 0 4px;
}
#newsfeedView-postForm {
	@media @desktop {
		.column(8,12,left,1%);
		margin: 0 1% 0 0;
	}
	@media @mobile {
		.column(12);
	}
	margin: 0 1% 0 0;
	padding: 0;
	border: 1px solid @btnBorder;
	border-radius: 4px;
	&:extend(.box-fix);
}
#newsfeedView-image {
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
#newsfeedView-image div {
	height: 40px;
	width: 40px;
	position: relative;
	top: -40px;
	opacity: 0;
	overflow: hidden;
}
#newsfeedView-image input {
	height: 100%;
	width: 100%;
}
#newsfeedView-receivers {
	.column(5.5,8,left,0);

	border-top: 1px solid @btnBorder;
	&:extend(.box-fix);
}
#newsfeedView-receivers .search-wrapper {
	border-radius: 0 0 0 3px;
}
#newsfeedView-sendPost {
	.column(2.5,8,left,0);
	padding: 0;
	border: none;
	border-top: 1px solid @btnBorder;
	background: @btnBorder;
	.box-fix;
}
#newsfeedView-submit {
	display: inline-block;
	float: right;
	width: ~"calc(100% - 48px)";
}
#newsfeedView-addImage {
	float: left;
	display: inline-block;
	width: 48px;
}
#newsfeedView-addImageIcon {
	vertical-align: middle;
}
#newsfeedView-shareText {
	.column(8,8,left,0);
	height: 40px;
	margin-top: -1px;
	border: none;
	border-top: 1px solid @btnBorder;
	.border-radiuses(5px,0,0,5px);
}
#newsfeedView-filter {
	@media @desktop {
		.column(4,12,left,1%);
		margin: 0 0 0 1%;
		height: 80px;
	}
	@media @mobile {
		.column(12,12,left,0);
		margin-top: 10px;
	}
}
#newsfeedView-activatePost {
	.column(12);
}
#newsfeedView-filter-title {
	@media @mobile {
		.column(12);
	}
	@media @desktop {
		.column(12,12,left,0);
	}
	&:hover {
		background: @btnBackground;
		cursor: default;
	}
}
.newsfeedView-filter-title--active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
#newsfeedView-theFilter {
	@media @mobile {
		.column(12);
	}
	@media @desktop {
		.column(12,12,left,0);
	}
	margin-top: 0;
	height: 42px;
}
#newsfeedView-theFilter .search-wrapper {
	border-radius: 0 0 5px 5px;
	height: 42px;
}
#newsfeedView-theFilter .searchDrop {
	margin-top: 5px;
}
#newsfeedView-posts {
	.column(12,12,left,0);
}
#newsfeedView-inviteFriends {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
	@media @mobile {
		width: 98%;
		margin: 10px 1% 0;
	}
	a {
		.large-text();
		width: 100%;
		line-height: 40px;
	}
}
#newsfeedView-loading {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}


//bad code follows! --> only to show daniel what I have in mind!

.images {
	text-align: left;
	max-height: 38px * 3;
	display: block;

	.percentage {
		height: 10px;
		width: 80%;

		position: relative;
		top: -20px;
		left: 0px;
		right: 0px;
		margin: auto;

		background-color: white;

		overflow: hidden;

		border: 1px solid gray;
		.border-radius(5px);
	}
	.bar {
		background-color: green;
		height: 10px;
	}
	img {
		.border-radius(5px);
		max-height: 100%;
		max-width: 100%;
	}
	.imagePreview {
		margin-top: 5px;
		margin-right: 5px;
		display: inline-block;
		width: 30%;
		max-height: 100%;

		.remove {
			padding: 0;
			border-radius: 10px;
			border: none;
			position: absolute;
			width: 20px;
			height: 20px;
			margin-left: 2px;
			margin-top: 2px;
			background-color: gray;
			color: red;
		}
	}

	.advancedHint {
		.bold-text();

		width: 30px;
		height: 30px;

		text-align: center;
		line-height: 30px;

		display: inline-block;
		position: relative;
		left: -30px;
		top: -5px;
		background: gray;

		.border-radius(20px)
	}

	.hintContent .remove {
		padding: 0;
		border: none;

		background-color: transparent;
		color: red;
	}

	.advancedHint .hintWrapper:hover {
		display: block;
	}

	.advancedHint:hover > .hintWrapper {
		display: block;
	}

	.hintWrapper:before {
		width: 3px;	
		display: block;
		content: '';
		border: 6px solid transparent;
		border-top: 0px;
		margin-left: 8px;
		border-bottom-color: #383838;
	}

	.hintContent {
		padding: 7px;
		background-color: #383838;
		.border-radius(5px);
	}

	.advancedHint > .hintWrapper {
		.normal-text();
		display: none;

		text-align:left;

		position: absolute;
		top: 30px;

		left: 0px;

		width: 25em;
	}

}