.mainView {
	overflow: visible;
	body {
		overflow: visible;
		background: #f9f9f9;
	}
}
#newsfeedView-wall {
	height: 100%;
	width: 100%;
	&:extend(.box-fix);
}
#newsfeedView-wall-header {
	.column(12,12,left,0);
	padding-top: 10px;
	text-align: center;
	border-radius: @inputBorderRadius;
}

// Post Form
#newsfeedView-postForm {
	display: inline-block;
}
#newsfeedView-receivers {
	float: left;
	width: 100%;
	border: 1px solid @btnBorder;
	border-top: none;
	border-bottom: none;
	&:extend(.box-fix);
}
#newsfeedView-receivers .search-wrapper {
	border-radius: 0;
}
#newsfeedView-sendPost {
	float: left;
	width: 100%;
	border-radius: 0 0 @inputBorderRadius @inputBorderRadius;
	padding: 0;
	background: @btnBorder;
	overflow: hidden;
	.box-fix;
}
#newsfeedView-submit {
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	border-radius: 0 0 3px 3px;
	border: 1px solid @btnBorder !important;
	border-top: none !important;
}
#newsfeedView-addImage {
	float: left;
	display: inline-block;
	width: 100%;
	&:extend(.box-fix);
	border: 1px solid @btnBorder;
	overflow: hidden; // fix mobile
}
@media @mobile { // iphones do not have this whitespace tho...
	#newsfeedView-submit {
		border-left: 1px solid @btnBorder;
	}
	#newsfeedView-addImage {
		border-radius: 0 0 0 @inputBorderRadius;
	}
}
#newsfeedView-addImageIcon {
	vertical-align: middle;
}
#newsfeedView-shareText {
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
	margin-top: -1px;
	border-radius: 3px 3px 0 0;
}
.newsfeedView-post-fadingPart {
	float: left;
	width: 100%;
	height: 0;
	overflow: hidden;
}
.newsfeedView-post-fadingPart--visible {
	height: auto;
}
#newsfeed-newPostImages {
	display: block;
	float: left;
	width: 100%;
	height: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: left;
	background: #f9f9f9;
	box-shadow: inset 0 0 6px #f0f0f0;
	border-left: 1px solid @btnBorder;
	border-right: 1px solid @btnBorder;
	&:extend(.box-fix);
}
.newsfeed-newPostImagePreview {
	display: inline-block;
	position: relative;
	max-width: 23%;
	height: 100px;
	margin: 0 1%;
	padding: 5px 0;
	&:extend(.box-fix);
}
.newsfeed-newPostImage {
	border-radius: 3px;
	height: 100%;
	max-width: 100%;
}
.newsfeed-newPostImageProgress {
	float: left;
	margin: 5px 0;
	width: 100%;
}
.newsfeed-newPostImageRemove {
	padding: 0;
	border-radius: 10px;
	border: none;
	position: absolute;
	top: 10px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: rgba(121, 121, 121, 0.45);
	color: white;
}

// Filter
#newsfeedView-filter {
	@media @desktop {
		.column(4,12,left,1%);
		margin: 0 0 0 1%;
		height: 80px;
	}
	@media @mobile {
		.column(12,12,left,0);
		margin-top: 10px;
	}
}
#newsfeedView-activatePost {
	.column(12);
}
#newsfeedView-filter-title {
	@media @mobile {
		.column(12);
	}
	@media @desktop {
		.column(12,12,left,0);
	}
	&:hover {
		background: @btnBackground;
		cursor: default;
	}
}
.newsfeedView-filter-title--active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}
#newsfeedView-theFilter {
	@media @mobile {
		.column(12);
	}
	@media @desktop {
		.column(12,12,left,0);
	}
	margin-top: 0;
	height: 42px;
}
#newsfeedView-theFilter .search-wrapper {
	border-radius: 0 0 5px 5px;
	height: 42px;
}
#newsfeedView-theFilter .searchDrop {
	margin-top: 5px;
}
#newsfeedView-posts {
	.column(12,12,left,0);
	margin-top: -5px;
}
#newsfeedView-inviteFriends-link {
	text-align: center;
	margin: 10px auto 0;
	@media @mobile {
		width: 98%;
		margin: 10px 1% 0;
	}
}
#newsfeedView-loading {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
.newsfeedView-post {
	float: none;
	display: inline-block;
	width: 80%;
	padding: 1rem;
	margin: 0.5rem 10%;
	background: #fbfbfb;
	border-radius: 3px;
	box-shadow: 0 0 3px #f0f0f0;
	&:extend(.box-fix);
	&:extend(.clear-fix);
	&:last-of-type {
		margin-bottom: 1rem;
	}
}
.newsfeedView-shareButton {
	@media @desktop {
		float: left;
		width: 100% / 6 - 1% + (1% / 6);
		margin: 0 0.5%;
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
