.profileView {
	.box {
		border-top: none !important;
		.border-radiuses(0,5px,5px,0);
		article,section {
			border: none !important;
		}
		header {
			.border-radius(~"0 !important");
			.box-sizing(~"content-box !important");
		}
		section {
			header {
				margin-top: -1px !important;
			}
		}
	}
	#main {
		nav {
			.border-radiuses(10px,0,0,10px);
			.gradient(darken(@btnBackground, 2%), @btnBackgroundHighlight);
			border: 1px solid @btnBorder;
			border-bottom: 1px solid #000;
			border-bottom-color: darken(@btnBorder, 10%);
			.box-fix;
			heading {
				h3 {
					// Awesome features for webkit-browsers!
					background: -webkit-linear-gradient(@primaryLighter, @primary);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					color: lighten(@primary, 5%);
					//text-shadow: 1px 1px 1px @green2;
					text-rendering: optimizeLegibility;
				}
				_:-o-prefocus, h3 {
					background: none;
				}
			}
			menu {
				li {
					text-align: center;
					a {	
						background: -webkit-linear-gradient(@grayLight, @gray);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						color: lighten(@gray, 5%);
						//text-shadow: 1px 1px 1px #000000;
						font-weight: 600;
						font-size: 1em;
						cursor: pointer;
					}
					_:-o-prefocus, a {
						background: none;
					}
				}
			}
		}
		#info, #wall, #friends {
			header {
				margin: 0;
				.edit {
					float: right;
					color: #b2b2b2;
					&:hover {
						color: lighten(#b2b2b2,10%);
					}
				}
			}
		}
		#info {
			article {
				background-color: @btnBackgroundHighlight;
				.box-fix;
				input {
					padding: 2px !important;
				}
				&#generalInfo {
					.column(8,8);
					.userimage {
						img {
							width: 100%;
							.border-radius(5px);
							float: left;
						}
						.editImage {
							width: 100%;
							margin: 0;
							margin-top: -30px;
							background: rgba(0,0,0,0.6);
							float: left;
							.border-radiuses(0,5px,5px,0);
							padding: 5px;
							.box-fix;
							color: @white;
							text-align: center;
							opacity: 0;
							.transition(all .3s ease);
							cursor: pointer;
						}
						&:hover {
							.editImage {
								opacity: 1;
							}	
						}
						&.editing {
							text-align: center;
							.resizableWrapper {
								height: 300px;
								width: 600px;
								margin-left: auto;
								margin-right: auto;
								display: block;
								//background-color: red;
								position: relative;
								margin-top: -300px;
								top: 0px;
								left: 0px;
								.resizable {
									position: relative;
									top:0;
									left:0;
									margin-top: -305px;
								}
							}	
							.uploadImageForm {
								cursor: pointer;
								width: 60%;
								margin:0 20% 5px 20%;
								overflow: hidden;
								position: relative;
								#uploadButton {
									.btn;
									cursor: pointer;
									width: 100%;
									margin:0 20% 5px 20%;
									display: inline-block;
									//display: none;
									margin: 4px 0;
									z-index: 10000 !important;
								}
								#filesUpload {
									position: absolute;
									margin: -34px 0 0 -250px;
									height: 30px;
									width: 100%;
									opacity: 0;
									.border-radius(0);
									cursor: pointer;
									display: inline-block;
									z-index: 10001 !important;
									background-color: red;
								}
								@-moz-document url-prefix() {
									.profileView #main #info #generalInfo .userimage.editing div.uploadImageForm #filesUpload {
										margin: 4px 0 0 -750px !important;
									}
								}
							}
						}
					}
					.actions {
						border: none;
						border-top:1px solid #ccc;
						.box-fix;	
						.addFriend {
							.btn;
							.btn--green;
							text-align: center;
						}
						.addToCircle {
							.btn {
								.spinner {
									width: 20px;
									height: 20px;
									margin-top: 3px;
								}
							}
						}
						.sendMessage {
							.btn;
							text-align: center;
						}
					}
					#school, #languages {
						span[data-ng-repeat]:not(:last-child) {
							&:after {
								content: ", ";
							}
						}
					}
				}
			}	
		}
		#wall {
			background-color: @btnBackgroundHighlight;
			border: 1px solid @btnBorder;
			border-bottom: 1px solid #000;
			border-bottom-color: darken(@btnBorder, 10%);
			.border-radius(5px);
			header {
				.gradient(darken(@btnBackground, 2%), @btnBackgroundHighlight);
				border-bottom: 1px solid @btnBorder;
				.border-radiuses(5px, 0px, 0px, 5px);
			}
			#postIt {
				.column(12);
				margin-top: 1%;
				padding: 0;
				border: 1px solid #aaa;
				.border-radius(5px);
				overflow: hidden;
				.box-fix;
				#shareText {
					.column(5.5,8,left,0);
					border: none;
					height: 38px;
					.border-radius(0);
				}
				button {
					.btn;
					border: none;
					.column(2.5,8,right,0);
					height: 38px;
					padding: 7px;
					.border-radius(0);
					&[type="submit"] {
						.btn--primary;
					}
				}
			}
			article {
				border-bottom: 1px solid #aaa !important;
				.userimg{
					border-radius: 10px;
				}
				.postContent {
					.column(4,8);
					padding-top: 5px;
					margin-top: 10px;
					margin-bottom: 10px;
					.postText {
						padding-left: 10px;
						.box-fix;
					}
					.author {
						width: 100%;
						float: left;
						display: block;
						.poster {
							float: left;
						}
						.walluserWrap {
							float: left;
							max-width: none;
							width: auto;
							display: block;
							.arrow {
								float: left;
								margin: 6px 5px;
								display: block;
							}
							.walluser {
								float: left;
								width: 100%;
								display: block;
								position: relative;
								margin: -20px 15px;
							}
						}
					}
				}
				.postInfo {
					.column(2,8);
					padding-top: 5px;
					margin-bottom: 10px;
				}
				ol.comments {
					.unstyled;
					.column(8);
					.push(0.125);
					border: 1px solid @grayLight;
					.border-radius(5px);
					margin-bottom: 5px;
					li {
						background-color: @grayLighter;
						width: 100%;
						.clear-fix;
						margin: 0;
						border-bottom: 1px solid @grayLight;
						&:last-child {
							border: none;
						}
						img {
							.column(1);
							margin-left: 0;
						}
						.text {
							.column(9);
							margin-top: 5px;
						}
						.timestamp {
							.column(2);
							margin-top: 5px;
						}
						&.newComment {
							background-color: @white;
							input {
								.column(9);
								margin-top: 8px;
							}
							button {
								.column(2);
								margin-top: 10px;
							}
						}
					}
				}
				&:last-child {
					border:none !important;
				}
				&:first-child {
					border-top: 1px solid #000 !important;
				}
			}
		}
		#friends {
			.column(8,8);
			background-color: @btnBackgroundHighlight;
			border: 1px solid @btnBorder;
			border-bottom: 1px solid #000;
			border-bottom-color: darken(@btnBorder, 10%);
			.border-radius(5px);
			height: auto;
			padding: 0;
			header {
				.gradient(darken(@btnBackground, 2%), @btnBackgroundHighlight);
				height: 20px;
				border-bottom: 1px solid @btnBorder;
				.border-radiuses(5px, 0px, 0px, 5px);
				padding: 5px;
				margin-bottom: 1%;
			}
			#friendsList {
				.clear-fix;
				text-align: center;
			}
		}
	}
}