.recoveryView #main {
	text-align: center;
}
#recoveryView-title {
	.large-text();
}
#recoveryView-subTitle {
	font-size: 1.268em;
}
.recoveryView-section {
	width: 50%;
	margin: 0 25%;
}
#recoveryView-eMail {
	float: left;
	width: 100%;
	margin: 0;
	border-radius: 3px 3px 0 0;
}
#recoveryView-sendRequest {
	float: left;
	width: 100%;
	margin: 0;
	border-radius: 0 0 3px 3px;
}