.recoveryView #main {
	text-align: center;
}
#recoveryView-title {
	.large-text();
}
.recoveryView-subTitle {
	font-size: 1.268em;
}
.recoveryView-section {
	width: 50%;
	margin: 0 25%;
}
.recoveryView-input {
	float: left;
	width: 100%;
	margin: 0;
	border-radius: 3px 3px 0 0;
}
.recoveryView-button {
	float: left;
	width: 100%;
	margin: -1px 0 0;
	border-radius: 0 0 3px 3px;
}
.recoveryView video { // I wasn't able to set a class to the video element since it is added by the qrPlugin
	width: 100%;
	margin: 0;
}