.setupView {
	#main {
		text-align: center;
	}
	h1 {
		.large-text();
		padding-left: 1%;
		.box-fix;
	}
	h2 {
		// this is provisoric. we definetly need a medium-text option.
		font-size: 1.25em;
		line-height: 0.89em;
	}
	.backup {
		background: transparent;
		padding: 1%;
		.box-fix;
		@media @desktop {
			.column(8);
			.push(2);
			.pull(2);
			margin-bottom: 1.34em;
		}
		@media @mobile {
			.column(12);
			margin-bottom: 1.34em;
		}
		h2 {
			margin-top: 0;
		}
		p {
			margin-top: 0;
			margin-bottom: 1%;
		}
	}
	.profile {
		background: @grayLighter;
		padding: 1%;
		.box-fix;
		border-radius: 3px;
		@media @desktop {
			.column(8);
			.push(2);
			.pull(2);
		}
		@media @mobile {
			.column(12);
		}
		h2 {
			margin-top: 0;
		}
		.name, .mail, .submit {
			// same styling for desktop and mobile ahead!
			.column(12);
			h3 {
				// workaround with a float and .width() here to keep the original h3 margin!
				float: left; 
				.width(12);
				text-align: left;
			}
		}
		.name {
			input {
				@media @desktop {
					.column(6);
				}
				@media @mobile {
					.column(12);
					margin-bottom: 0.5em;
				}
			}
		}
		.mail {
			input {
				// same styling for desktop and mobile ahead!
				.column(12);
			}
		}
		.submit {
			margin-top: 1em;
			button {
				@media @desktop {
					.column(6);
				}
				@media @mobile {
					.column(12);
					&:first-child {
						margin-bottom: 0.5em;
					}
				}
			}
		}
	}
}