@shareIconCount: 3;
@shareIconWrapSize: 80%;

.startView {
	overflow-y: auto; // make the html scroll!
	height: auto;

	.limited-width {
		margin-left: auto;
		margin-right: auto;
		width: 1100px;
	}

	body {
		padding-top: 50px;
	}

	#topNav {
		position: relative;
	}

	@media @mobile {
		#container {
			padding-top: 0px;
		}

		input[type="text"], input[type=""], input[type="password"] {
			width: 100%;
		}
		#mobileLogo {
			max-width: ~"calc(100% - 58px)";
			margin: 0 29px;
		}
	}

	.spacious {
		padding-top: 48px;
		padding-bottom: 64px;
	}

	.footer {
		color: white;
		background-color: @primary;
		border-top: 24px solid @primaryLighter;
		margin: 0;
		.normal-text();

		a {
			color: white;
		}

		.left, .right {
			.limited-width;
			float: initial;
			text-align: left;
			a {
				padding-right: 8px;
				&:first-of-type {
					display: none;
				}
			}
		}
	}

	.annotatedInputContainer,
	.name, .pw,
	.error, .loginLoading {
		margin:  0px 29px;
		@media @desktop {
			margin-bottom: 14px;
		}
	}

	@media @mobile {
		#mail {
			border-radius: 5px 5px 0px 0px
		}

		#password {
			border-radius: 0px;
			border-top: none;
		}
	}

	#main {
		text-align: center;
		width: 100% !important;
		margin: 0 !important;

		@media @desktop {
			background-color: @primaryLighter;
			min-height: 750px;
		}
		@media @mobile {
			height: auto;
		}
	}

	.intermezzo {
		width: 100%;
		background-color: white;
		color: #000;
	}

	#more {
		.limited-width;
		.spacious;

		font-size: 20px;
		line-height: 32px;
		text-align: left;
	}

	.rightWrap {
		width: 400px;
		float: right;
	}

	.leftWrap {
		width: 650px;
		overflow: hidden;
		text-align: left;
		img {
			max-width: 100%;
		}
	}

	h1 {
		font-weight: bold;
		font-size: 2.4rem;
		@media @mobile {
			color: @white;
		}
	}

	.splash {
		.spacious;
		font-size: 20px;
		line-height: 32px;

		display: inline-block;

		color: #ffffff;
		box-sizing: border-box;
		position: relative;

		.limited-width;

		.leftWrap {
			min-height: 250px;
		}

		.features {
			display: block;
			text-align: center;
			width: 100%;
			clear: both;

			.feature {
				display: inline-block;
				padding-left: 20px;
				padding-right: 20px;
				margin-left: 20px;
				margin-right: 20px;
				width: 230px;
				.title {
					.fa {
						font-size: 2.3rem;
						padding-right: 5px;
					}
					padding-top: 30px;
					font-weight: bold;
					font-size: 1.5rem;
				}
				.content {
					padding-top: 12px;
				}
			}

			// no idea, but we need both of these:
			vertical-align: top;
			.feature { vertical-align: top; }
		}
	}

	.qtip {
			margin-top: 3px; // give it some air to breathe...
		}

	.startView-register {
		text-align: center;
		h1 {
			font-size: 24px;
			line-height: normal;
			margin-bottom: 20px;
			color: @primary;
		}
		input:not([type="submit"])
		:not([type="reset"])
		:not([type="button"])
		:not([type="file"])
		:not([type="radio"])
		:not([type="checkbox"]),
		.annotatedInput-container {
			@media @desktop {
				width: 300px;
			}
			height: 50px;
			margin: 0 auto;
		}

		.inputSandwich-middle,
		.inputSandwich-bottom {
			&:focus {
				height: 51px !important;
			}
		}

		.annotatedInput-input {
			width: 100%;
			height: 100%;
		}

		p {
			text-align: left;
			padding-left: 32px;
			padding-right: 32px;
		}
		.registerAGB {
			display: inline-block;
			background: @white;
			border: solid 1px @inputBorder;
			border-top: none;
			border-bottom: none;
			width: 100%;
			min-height: 50px;
			text-indent: -16px;
			font-size: 12px;
			margin:	0;
			padding: 15px 0;
			.box-fix;
			@media @desktop {
				box-shadow: inset 0px 0px 5px #ccc;
			}
		}
		.submitWrap {
			width: 100%;
		}
		.register-submitButton {
			width: 100%;
			height: 50px;
			line-height: 48px;
			margin-top: 0;
			border: solid 1px darken(#ffffff, 45%);
			border-top: none;
			font-size: 24px;
			line-height: normal;
		}
	}

	.register {
		width: 100%;
		float: left;
		@media @desktop {
			margin-top: 30px;
		}
		text-align: center;
		min-height: 360px;

		&.box {
			color: black;
			background: white;

			border: 1px solid rgba(255,255,255,0.4);
			border-radius: 10px;

			font-size: 14px;
			line-height: normal;

			padding-top: 10px;
			padding-bottom: 30px;
			padding-left: 20px;
			padding-right: 20px;
		}

		#requestInvite {
			border-top: 1px solid #ccc;
			display: inline-block;
			margin-top: 0.67rem;
		}

		#requestInvite-heading {
			margin-top: 0.67rem;
		}

		.icon {
			&.fa-check { color: @green; }
			&.fa-warning { color: @orange; }
			&.fa-times { color: @red; }
		}
	}

}
#start-login-form {
	text-align: right;
	margin: 4px 1%;
}
.startView-registerIframe {
	height: 315px;
	@media @mobile {
		width: 90%;
		margin: 0 5%;
	}
	@media @desktop {
		width: 360px;
		float: left;
	}
}
