.startView {
	background: @green;
	#main {
		.width(11);
		.push(0.5);
		.pull(0.5);
		text-align: center;
		#logo {
			height: 120px;
			img {
				width: auto;
				height: 100%;
			}
		}
		header {
			.column(8);
			.push(2);
			.pull(2);
			padding: 5px 0;
			h1, p {
				color: #fff;
			}
			h1 {
				// we have to define a size for h1 here because it is not properly set!
				font-size: 20px;
			}
		}
		header, section {
			background: @primaryLightest;
			border-radius: 5px;
			.box-fix;
		}
		#landing {
			.column(7.5);
			img {
				max-width: 100%;
			}
		}
		#rightWrap {
			.column(4,12,right);
			.pull(0.5);
			margin-top: 40px;
		}
		#register, #login {
			width: 100%;
			float: left;
			h4 {
				color: #fff;
				font-size: 18px;
				margin: 10px 0;
			}
			input:not([type="checkbox"]), button {
				.column(10);
				.push(1);
			}
		}
		#register {
			div {
				width: 100%;
				float: left;
				margin-bottom: 5px;
				button {
					margin-bottom: 5px;
				}
				label {
					//color: #fff;
				}
				img {
					float: left;
					margin-top: 10px;
					margin-left: -30px;
					width: 16px;
					height: 16px;
				}
			}
		}
		#login {
			margin-top: 10px;
			input {
				margin-bottom: 5px !important;
			}
			button {
				margin-bottom: 10px;
			}
		}
	}
	footer {
		color: #fff;
		a {
			color: #fff;
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}