#userView-content {
	background-color: #f9f9f9;
	@media @mobile {
		height: ~"calc(100% - 6rem)";
	}
}
#userView-header {
	@media @mobile {
		height: 6rem;
	}
}
#userView-header-info {
	@media @desktop {
		.column(6);
		height: 4rem;
		line-height: 4rem;
	}
	@media @mobile {
		.column(12);
		height: 3rem;
		line-height: 3rem;
	}
}
.userView-userName {
	.large-text();

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: lighten(@primary, 5%);
	&:extend(.box-fix);
	@media @desktop {
		.column(8);
		height: 4rem;
		line-height: 4rem;
	}
	@media @mobile {
		.column(10);
		height: 3rem;
		line-height: 3rem;
		padding-left: 4rem;
	}
}
.userView-userName--me {
	@media @mobile {
		.width(12);
		text-align: center;
	}
}
#userView-navigation {
	@media @desktop {
		.column(5,12,right);
	}
	@media @mobile {
		.column(12);
	}
}
.userView-navigation-link {
	.column(1,3);
	cursor: pointer;
	text-align: center;
	@media @mobile {
		height: 3rem;
		line-height: 3rem;
	}
}
#userView-trustlevel {
	@media @desktop {
		.column(4);
		padding: 0;
		height: 2rem;
		line-height: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	@media @mobile {
		.column(2);
		margin-top: 8px;
		padding: 5px 0;
	}
	display: block;
	float: left;
	position: relative;
	line-height: @line-height;

	border-radius: @inputBorderRadius;
	text-align: center;
	color: #fff;
	cursor: pointer;
	&:extend(.box-fix);

	&[data-trustlevel="0"] {
		background: @red;
	}
	&[data-trustlevel="1"] {
		background: @orange;
	}
	&[data-trustlevel="2"] {
		background: @green;
	}
	&[data-trustlevel="3"] {
		background: @green;
	}
}
.userView-trustlevel-digit {
	@media @mobile {
		float: left;
		display: inline-block;
		position: relative;
		width: 100%;
		margin: 0;
		text-align: center;
	}
}
#userView-trustlevel:not([data-trustlevel="2"]):not([data-trustlevel="3"]) .userView-trustlevel-digit {
	@media @mobile {
		float: right;
		width: 50%;
		line-height: 20px;
	}
}
.userView-title {
	padding-left: 10%;
	margin: 2rem 0;
}
.userView-section {
	padding: 0;
}
.userView-sectionPadding {
	padding: 1rem;
	&:extend(.box-fix);
}
.userView-section,
.userView-subSection {
	width: 100%;
	float: left;
}
.userView-userimage {
	@media @mobile {
		.column(12);
		margin-bottom: 1rem;
	}
	@media @desktop {
		.column(1,8,left,1%);
		margin: 0 1% 15px 0;
	}
}
.userView-editImage {
	width: 100%;
	margin: 5px 0 0 0;
}
#userView-userimage-theImage {
	@media @mobile {
		height: 100px;
		width: 100px;
	}
	margin: 0 auto;
}
.userView-userimage--editing {
	.width(12);
	position: relative;
}
#userView-uploadProfileImage {
	@media @desktop {
		width: 50%;
	}
	@media @mobile {
		width: 80%;
	}
	margin: 0 auto 5px;
}
.userView-userimage-canvasWrapper {
	display: block;
	position: relative;
	@media @desktop {
		width: 600px;
		max-width: 100%;
		margin: 0 auto;
	}
	@media @mobile {
		width: 100%;
	}
}
#userView-userimage-original {
	position: relative;
	width: 600px;
	max-width: 100%;
}
.userView-info {
	@media @desktop {
		.column(7,8);
	}
	@media @mobile {
		.column(12);
	}
}
.userView-commaSeperated{
	&:not(:last-child):after {
		content: ", ";
	}
}
.userView-infoRow {
	width: 100%;
	float: left;
	margin: 5px auto;
}
#userView-section-info {
	@media @desktop { width: 80%; }
	@media @mobile { width: 97%; }
	margin-bottom: 0;
}
#userView-section-info-header {
	float: left;
	width: 100%;
}
#userView-section-info-header-title {
	margin-bottom: 1rem;
}
#userView-section-info-header-edit {
	float: right;
	margin-top: -2.213rem;
	color: @grayLight;
	&:hover {
		color: @gray;
	}
}
.userView-info-inputs {
	@media @mobile {
		margin-bottom: 5px;
	}
}
.userview-info-bdaySelect {
	@media @mobile {
		width: 100%;
		float: left;
		margin-bottom: 5px;
	}
}
.userView-info-group {
	@media @desktop {
		.column(1,3,none);
		margin: 0 2% 5px 0;
	}
	@media @mobile {
		.column(12,12,left,0);
		margin: 0 0 5px;
	}
}
.userView-addGroupButton {
	@media @desktop {
		margin: 0 1% 5px 0;
	}
	@media @mobile {
		.column(12,12,left,0);
		margin: 0 0 5px;
	}
}
.userView-infoIcon {
	width: 1.28571429em;
}
.userView-info--edit .userView-infoIcon {
	line-height: 40px;
}
.userView-infoText {
	width: ~"calc(99% - 1.28571429em)";
	float: right;
	margin-left: 1%;
}
.userView-info--edit .userView-infoText {
	line-height: 40px;
}
#userView-saveInfo-button {
	width: 100%;
}
.userView-actions {
	border-top: 1px solid #f0f0f0;
}
.userView-addFriend,
.userView-addToCircle,
.userView-sendMessage {
	@media @desktop {
		float: left;
		width: 49.5%;
		margin: 0 1% 0 0;
		&:last-child { margin: 0; }
	}
	@media @mobile {
		.column(12);
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
#userView-selectCircle {
	float: left;
	width: ~"calc(100% - 60px)";
}
#userView-selectCircle .search-wrapper {
	border-radius: 5px 0 0 5px;
}
#userView-submitCircle {
	float: left;
	margin: 0;
	border-radius: 0 5px 5px 0;
	border-left: none;
	width: 60px;
}
#newsfeedView-postForm {
	margin-top: 0;
}
#userView-loadMorePostsWrap {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
}
#userView-loadMorePosts {
	@media @mobile {
		width: 98%;
		margin: 0 auto;
	}
}
#userView-friendsList {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
#userView-noFriends {
	width: 100%;
	margin: 1rem;
}
.userView-friendElement {
	flex-grow: 1;
	flex-basis: auto;
	width: 250px;
	margin: 1rem;
}
#userView-inviteFriends {
	.column(12);
	margin-top: 10px;
	margin-bottom: 10px;
}
#userView-inviteFriends-link {
	margin: 0 auto;
	@media @mobile {
		width: 100%;
	}
}
.userVew-introText {
	padding: 1%;
	display: inline-block;
	width: 100%;
	&:extend(.box-fix);
}
.userView-verifyMethodButton {
	@media @mobile {
		.column(12);
		margin-top: 5px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.userView-verify-back {
	.column(12);
	margin-top: 5px;
}
.userView-keyInputWrap {
	@media @desktop {
		.column(10,12,left,1%);
		margin: 0 0 0 1%;
	}
}
.userView-keyPart {
	position: relative;
	@media @mobile {
		.column(1,2,left,1);
		&.annotatedInput-container {
			height: 50px;
		}
		&:nth-of-type(odd) {
			margin: 0 0 0 1%;
		}
		&:nth-of-type(even) {
			margin: 0 1% 0 0;
			.userView-keyPart-input {
				border-left-width: 0;
				&:focus {
					position: absolute;
					left: -1px;
					width: ~"calc(100% + 1px)";
					border-left-width: 1px;
				}
			}
		}
		&:first-child {
			.userView-keyPart-input {
				border-radius: @inputBorderRadius 0 0 0;
			}
		}
		&:nth-of-type(2) {
			.userView-keyPart-input {
				border-radius: 0 @inputBorderRadius 0 0;
			}
		}
		&:nth-of-type(3),
		&:nth-of-type(4) {
			.userView-keyPart-input {
				border-top-width: 0;
				border-bottom: none !important;
				&:focus {
					position: absolute;
					border-top-width: 1px;
					top: -1px;
					height: 51px !important;
				}
			}
		}
	}
	@media @desktop {
		.column(1,4,left,0);
	}
}
.userView-keyPart-input {
	@media @desktop {
		border-radius: 0 !important;
		border-left-width: 0 !important;
		&:focus {
			border-left-width: 1px !important;
			position: absolute;
			left: -1px;
			width: ~"calc(100% + 2px)";
		}
	}
}
.userView-keyPart:first-child {
	@media @desktop {
		border-radius: @inputBorderRadius 0 0 @inputBorderRadius !important;
		overflow: hidden;
	}
}
.userView-keyPart:first-child .userView-keyPart-input {
	@media @desktop {
		border-left-width: 1px !important;
		position: relative;
		left: 0;
		width: 100%;
	}
}
.userView-keyPart:nth-child(3) .userView-keyPart-input {
	@media @desktop {
		width: ~"calc(100% + 1px)";
	}
}
#userView-submitKey {
	@media @mobile {
		.column(12);
		height: 50px;
		border-radius: 0 0 5px 5px;
		border-top: none;
	}
	@media @desktop {
		.column(2,12,left,1%);
		margin: 0 1% 0 0;
		border-radius: 0 @inputBorderRadius @inputBorderRadius 0;
	}
}