<div class="magicAddon" data-ng-controller="ssn.magicbar.friendsController">
	<div class="header">
		<h4 data-i18n="magicbar.requests.title"></h4>
		<div class="close" data-ng-click="loadDefault()"><i class="icon icon-cancel-circle"></i></div>
	</div>
	<div class="body">
		<ul class="unstyled" data-ng-if="requests.length > 0">
			<li class="request" data-ng-repeat="request in requests">
				<img data-ng-src="{{request.basic.image}}">
				<p class="username"><a href='{{request.basic.url}}'><strong>{{request.name}}</strong></a></p>
				<p class="similar" data-i18n="magicbar.requests.mutuals|count={{request.basic.mutualFriends.length}}"></p>
				<p class="action">
					<savebutton data-translation="magicbar.requests.accept" data-state="request.addFriendState" data-ng-click="acceptRequest(request)" noiniticon></savebutton>
					<button class="btn btn--danger" data-i18n="magicbar.requests.decline"></button>
				</p>
			</li>
			<li class="request error" data-ng-if="requests.length == 0">
				<span data-i18n="magicbar.requests.none"></span>
			</li>
		</ul>
		<ul class="unstyled" data-ng-if="requests.length == 0">
			<li class="request error">
				<span data-i18n="magicbar.requests.none"></span>
			</li>
		</ul>
	</div>
</div>