<div class="max" data-ng-controller="ssn.magicbar.friendsController">
	<div class="header">
		<h4 data-i18n="magicbar.requests.title"></h4>
		<div class="close" data-ng-click="loadDefault()"><i class="icon icon-cancel-circle"></i></div>
	</div>
	<div class="body">
		<ul class="unstyled" data-ng-if="request">
			<li class="request" data-ng-repeat="request in requests">
				<img data-ng-src="{{request.basic.image}}">
				<p class="username">{{shortenName(request.name)}}</p>
				<p class="similar" data-i18n="magicbar.requests.mutuals|count={{request.basic.mutualFriends.length}}"></p>
				<p class="action">
					<button class="btn btn--primary" data-i18n="magicbar.requests.accept" ng-click="acceptRequest(request)"></button>
					<button class="btn btn--danger" data-i18n="magicbar.requests.decline"></button>
				</p>
			</li>
			<li class="request error" data-ng-if="!request">
				<span>Keine Nachrichten vorhanden!</span>
			</li>
		</ul>
		<ul class="unstyled" data-ng-if="!request">
			<li class="request error">
				<span>Keine Nachrichten vorhanden!</span>
			</li>
		</ul>
	</div>
</div>