<div class="magicAddon" data-ng-controller="ssn.magicbar.newsController">
	<div class="header">
		<h4 data-i18n="magicbar.news.title"></h4>
		<div class="close" data-ng-click="loadDefault()"><i class="icon icon-cancel-circle"></i></div>
	</div>
	<div class="body">
		<ul class="unstyled" data-ng-if="news.length > 0">
			<li class="notification" data-ng-repeat="news in news">
				<img data-ng-src="{{news.user.image}}">
				<p class="info {{news.type}}">
					<span data-i18n="magicbar.news.action.{{news.type}}.{{news.action.target}}.you.{{news.action.you}}|user={{news.user.name}}|what={{news.action.content}}|owner={{news.origin}}">
						<span class="username">{user} </span>
						<span class="username">{owner} </span>
					</span>
				</p>
			</li>
		</ul>
		<ul class="unstyled" data-ng-if="news.length == 0">
			<li class="request error">
				<span data-i18n="magicbar.news.none"></span>
			</li>
		</ul>
	</div>
</div>