<div data-ng-click="registerFormClick()" data-ng-controller="ssn.registerController">
	<form>
		<h1 data-i18n="login.register.newaccount"></h1>
		<div class="inputWrap" data-ng-click="inputsUsed()" data-ng-keydown="inputsUsed()">
			<div data-error-hint="registerFailed"
				data-error-hint-f1="nicknameEmpty()" data-error-hint-t1="login.register.errors.nickEmpty"
				data-error-hint-f2="nicknameInvalid()" data-error-hint-t2="login.register.errors.nickInvalid" 
				data-error-hint-f3="nicknameUsed()" data-error-hint-t3="login.register.errors.nickUsed">
				<input type="text" id="rnickname" data-i18n-attr="login.username|placeholder" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange(); inputUsed([nicknameUsed,nicknameInvalid])">
				<span class="fa icon" data-ng-class="acceptIconNicknameFree()" id="rnicknameIcon" data-ng-if="!empty(nickname)"></span>
			</div>
			<div data-error-hint="registerFailed"
				data-error-hint-f1="passwordEmpty()" data-error-hint-t1="login.register.errors.passwordEmpty"
				data-error-hint-f2="passwordToWeak()" data-error-hint-t2="login.register.errors.passwordWeak">
				<input data-ng-change="inputUsed([passwordToWeak])" type="password" id="rpassword" data-i18n-attr="login.password|placeholder" data-ng-model="password">
				<span data-strength="{{passwordStrength()}}"></span>
			</div>
			<div data-error-hint="registerFailed"
				data-error-hint-f1="password2Empty()" data-error-hint-t1="login.register.errors.password2Empty"
				data-error-hint-f2="noPasswordMatch()" data-error-hint-t2="login.register.errors.passwordNoMatch">
				<input type="password" id="rpassword2" data-i18n-attr="login.register.repeatPassword|placeholder" data-ng-model="password2">
				<span class="fa icon" data-ng-class="acceptIcon(password, password2)" id="rpassword2Icon" data-ng-if="!empty(password) && !empty(password2)"></span>
			</div>
			<div id="registerPasswordStrength" data-strength="{{passwordStrength()}}">
				<span data-i18n="login.register.passwordstrength"></span>
				<span>{{passwordStrength()}}/10</span>
			</div>
			<div id="registerAGB" data-error-hint="registerFailed" data-error-hint-f1="isAgbError()" data-error-hint-t1="login.register.errors.agb">
				<label for="checkAGB">
					<input type="checkbox" data-ng-model="agb" id="checkAGB"> Ich akzeptiere die AGB, Datenschutzbestimmungen und Netiquette.
				</label>
			</div>
		</div>
		<div class="submitWrap">
			<button class="btn btn--big btn--danger" type="submit"  data-ng-click="register()" data-i18n="login.register.link"></button>
		</div>
	</form>
</div>