<div id="logo">
	<img src="assets/img/logo.png">
</div>
<header data-ng-show="!info && registerState.step == 1">
	<div id="topWrap">
		<h3 data-i18n="start.welcome"></h3>
		<a href="" class="btn btn--info btn--small" data-ng-click="info = !info" data-i18n="start.more"></a>
	</div>	
</header>
<header data-ng-show="info">
	<div id="topWrap">
		<h3 data-i18n="start.moreInfo"></h3>
		<a href="" class="btn btn--primary btn--small" data-ng-click="info = !info" data-i18n="start.regnow"></a>
	</div>	
</header>
<section data-ng-if="!info">
	<form id="loginForm" data-ng-if="registerState.step == 1">
		<h4 data-i18n="login.link"></h4>
		<ng-include data-ng-controller="ssn.loginController" data-src="'assets/views/start/templates/login/login.html'"></ng-include>
	</form>
	<form id="registerForm" data-regStep="{{registerState.step}}" data-ng-controller="ssn.registerController">
		<ng-include data-ng-click="registerFormClick()" data-onload="stepLoaded()" data-src="'assets/views/start/templates/register/step' + registerState.step + '.html'"></ng-include>
	</form>
</section>
<section id="info" data-ng-if="info" data-i18n="start.infoText">
</section>