

<!doctype html>
<html lang="en" data-ng-csp class="startView body-iframe">
<head>
	<base href="/" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="assets/img/favicons/favicon.png" type="image/x-icon">
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/static.css">
</head>

<body>
	<div data-ng-cloak class="startView-register registerWrap" data-ng-click="registerFormClick()" data-ng-controller="ssn.registerController">
		<form class="registerForm" data-validated-form="validationOptions">
			<h1>Create an account</h1>
			<div class="inputWrap">
				<div class="annotatedInput-container">
					<input class="annotatedInput-input inputSandwich inputSandwich-top" type="text" class="nickname" placeholder="Username" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange()" validation="nicknameValidations">
					<span class="annotatedInput-icon fa" data-ng-class="acceptIconNicknameFree()" data-ng-if="!empty(nickname)"></span>
				</div>
				<passwordinput state="pwState" data-class1="inputSandwich inputSandwich-middle" data-class2="inputSandwich inputSandwich-middle"></passwordinput>
				<label class="registerAGB inputSandwich inputSandwich-middle" for="checkAGB" validation="agbValidations">
					<input type="checkbox" data-ng-model="agb" id="checkAGB" class="checkAGB">
					<span data-i18n="landingpage.legal">
						<a href="/agb" data-for="agb" data-i18n="window.title.terms" target="_blank"></a>
						<a href="/privacyPolicy" data-for="privacyPolicy" data-i18n="window.title.data" target="_blank"></a>
					</span>
				</label>
			</div>
			<div class="submitWrap">
				<savebutton class="btn btn--big btn--danger register-submitButton inputSandwich inputSandwich-bottom" data-noiniticon data-state="registerState" type="submit"  data-ng-click="register()"><span>Register</span></savebutton>
			</div>
		</form>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="register/registerMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
