{% include whispeerHead.html htmlClass="loginView hasTopBar" %}
<body>
	{% include topBar.html %}
	<header>
		<span>AGB</span>
	</header>
	<div>
		<ol>
			<li>Vertragspartner und Geltungsbereich dieser AGB
				<ol>
					<li>Vertragspartner sind die whispeer UG (haftungsbeschränkt), Rosenthaler Straße 72a, 10119 Berlin (nachfolgend „whispeer“ genannt) und der Nutzer.</li>
					<li>Die vorliegenden Allgemeinen Geschäftsbedingungen (AGB) regeln die Nutzung des von whispeer betriebenen sozialen Netzwerkes mit allen hierfür von whispeer zur Verfügung gestellten Leistungen (nachfolgend: „whispeer-Leistungen“) einschließlich hierfür durch whispeer zur Verfügung gestellter Software (nachfolgend: „Software“) durch den Nutzer. Nicht zur Software gehören Open-Source-Programm-Bibliotheken, die Voraussetzung zur Nutzung der Software sind, auch wenn die Software diese ggf. automatisch nachlädt; für diese gelten ausschließlich die jeweiligen Open-Source-Lizenzbedingungen.</li>
					<li>Abweichende Vereinbarungen im Einzelfall gehen den Regelungen dieser AGB vor.</li>
				</ol>
			</li>
			<li>Pflichten des Nutzers, Missbrauch, Haftung des Nutzers
				<ol>
					<li>Der Nutzer ist verpflichtet, das Zugangspasswort zu seinem whispeer-Account sicher zu wählen (möglichst lange, nicht zu erratende Kombination aus Groß- und Kleinbuchstaben, Ziffern und Sonderzeichen), sein Zugangspasswort nicht an Dritte weiterzugeben, es geheim zu halten und es unverzüglich zu ändern oder von whispeer ändern zu lassen, wenn Dritte davon Kenntnis erlangt haben könnten.</li>
					<li>Der Nutzer darf die whispeer-Leistungen nicht nutzen, um Daten zu verarbeiten, die unter das Bundesdatenschutzgesetz (BDSG) fallen, es sei denn, er hat hierfür einen gesonderten Auftragsdatenverarbeitungsvertrag mit whispeer abgeschlossen.</li>
					<li>Der Nutzer darf die whispeer-Leistungen nicht missbräuchlich nutzen, insbesondere
						<ol>
							<li>sich nicht als jemand anderes ausgeben, etwa durch Angabe eines falschen Namens oder Einstellen des Bildes einer anderen Person als Profilbild; möchte der Nutzer nicht seinen echten Namen angeben, kann er ein Pseudonym verwenden, muss dies aber dadurch offenlegen, dass er die entsprechende Option in den Einstellungen aktiviert,</li>
							<li>nicht unbefugt Kontakt- oder sonstige personenbezogene Daten Dritter veröffentlichen (z.B. auf der Pinnwand),</li>
							<li>nicht zur Verbreitung oder zum angeforderten Empfang oder zur Speicherung von rechts- oder sittenwidrigen oder irreführenden Inhalten (z.B. Marken-, Namens-, Persönlichkeits-, Patent-, Urheber- oder Wettbewerbsrechtsverletzungen, Volksverhetzung, Anleitung zu Straftaten, Pornographie, Gewaltverherrlichung oder -verharmlosung, vulgäre, beleidigende, rassistische oder diskriminierende Inhalte) oder zum Hinweis auf derartige Inhalte (z.B. durch Verbreitung von Links auf derartige Inhalte),</li>
							<li>nicht zur Begehung von Straftaten (z.B. Betrug, Stalking) oder für sonst rechtswidrige Handlungen,</li>
							<li>nicht zu Zwecken nationalistischer oder rechtsextremistischer Politik, die dem Gedanken von Toleranz und Völkerverständigung widerspricht, für Organisationen mit derartigen Zielen oder zum Versand oder angeforderten Empfang oder zur Speicherung derartiger Inhalte,</li>
							<li>nicht zum Versand von unzulässigen Nachrichten, z.B. nach dem Gesetz unzulässigen Werbe-Nachrichten oder Nachrichten, die darauf abzielen, Zugangsdaten Dritter zu erschleichen (Phishing) oder Nachstellen im Sinne von § 238 StGB (Stalking),</li>
							<li>nicht Server oder andere Nutzer angreifen (z.B. durch Manipulationen der Software oder den Versuch des Einschleusens von Schadsoftware).</li>
						</ol>
					</li>
					<li>Als Missbrauch gilt auch, einen whispeer-Account bei whispeer als Antwort- oder Zieladresse zu nutzen, wenn die anderweitig versandten oder veröffentlichten Inhalte bei Versand über whispeer nach Nummer 2.5 missbräuchlich wären (z.B. Antwort-Adresse für Spam).</li>
					<li>Als Missbrauch gilt auch die Wahl eines Benutzernamens, der gegen Gesetze (z.B. Namensrecht, Markenrecht) oder die guten Sitten verstößt, zur Irreführung geeignet ist, einen Bezug zu Gewalt, Sekten oder verfassungsfeindlichen Bestrebungen aufweist oder Bezeichnungen extremistischer Organisationen enthält. In Zweifelsfällen sollte der Nutzer vor Wahl eines Benutzernamens bei whispeer anfragen.</li>
					<li>Der Nutzer haftet whispeer für alle Schäden und Aufwendungen, die durch Verstöße gegen die unter den Nummern 2.1 bis 2.7 geregelten Pflichten des Nutzers entstehen und stellt whispeer von allen Ansprüchen Dritter frei, die diese wegen eines Verstoßes des Nutzers gegen seine vorstehenden Pflichten erheben. Dies gilt nicht, wenn der Nutzer nachweist, dass er den Verstoß nicht zu vertreten hat.</li>
					<li>Ist der Nutzer nicht Verbraucher, stellt er whispeer darüber hinaus von allen Ansprüchen, Haftung, Schäden, Strafen, Buß- und Ordnungsgeldern, Kosten und Aufwendungen frei, die mit der Begründung erhoben werden, der Nutzer habe die für ihn geltenden gesetzlichen Bestimmungen, insbesondere die Bestimmungen des Aufsichts-, Urheber-, Wettbewerbs-, Datenschutz- und Persönlichkeitsrechts, nicht eingehalten. Diese Haftungsfreistellung umfasst auch sämtliche Kosten – einschließlich eigener Personalkosten von whispeer und Rechtsanwaltsgebühren –, die aus der Bearbeitung und/oder Abwehr der in Satz 1 genannten Ansprüche resultieren, gleich ob die Ansprüche berechtigt oder unberechtigt sind.</li>
					<li>Der Nutzer haftet im gleichen Umfang wie für eigenes Handeln auch für Dritte, die befugt oder unbefugt Leistungen über seinen whispeer-Account nutzen oder genutzt haben, einschließlich etwaig hierfür anfallender Entgelte. Dies gilt nicht, wenn der Nutzer nachweist, dass er die unbefugte Nutzung nicht zu vertreten hat.</li>
				</ol>
			</li>
			<li>Kündigung, Löschung der Daten des whispeer-Accounts
				<ol>
					<li>Soweit nicht ausdrücklich abweichend vereinbart, wird der Nutzungsvertrag auf unbestimmte Zeit geschlossen und kann von beiden Seiten jederzeit ohne Einhaltung einer Frist gekündigt werden.</li>
				</ol>
			</li>
			<li>Sonstiges
				<ol>
					<li>Für sämtliche Rechtsbeziehungen zwischen whispeer und dem Nutzer gilt ausschließlich das Recht der Bundesrepublik Deutschland. Die Anwendung des UN-Kaufrechts ist ausgeschlossen.</li>
					<li>Ist der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen, sind für alle Streitigkeiten aus oder im Zusammenhang mit dem Vertrag oder diesen AGB die Gerichte in Berlin ausschließlich zuständig; whispeer ist jedoch berechtigt, einen solchen Nutzer an seinem allgemeinen Gerichtsstand zu verklagen.</li>
					<li>Sollten eine oder mehrere Bestimmungen des Vertrages oder dieser Bedingungen unwirksam oder undurchführbar sein oder werden, so wird die Wirksamkeit der verbleibenden Bestimmungen nicht berührt.</li>
				</ol>
			</li>
		</ol>
	</div>
</body>
</html>
