<!doctype html>
<html>
	{{content}}
	{% assign data = site.data[page.dataSet] %}
	{% assign lang = site.data[page.lang] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/b2b.css" | prepend: site.baseurl }}">
	</head>
	<body>
		<section class="landing-section {% if data.teaser.darkText %} landing-section--darkText {% endif %}" id="heading" {% if data.teaser.image != null %} style="background-image: url(/assets/images/{{data.teaser.image}});" {% endif %}>
			<h1 class="section-header {% if data.teaser.icon == null %} section-header--noTopMargin {% endif %}">{{ data.teaser.headline }}</h1>
			{% if data.teaser.details != null %}<p class="section-paragraph">{{ data.teaser.details }}</p>{% endif %}
			{% if data.teaser.detailsList != null %}<ul class="section-ul fa-ul">
				{% for item in data.teaser.detailsList %}
					<li class="section-li"><i class="fa fa-li fa-2x {{item.icon}}"></i> {{item.text}}</li>
				{% endfor %}
			</ul>{% endif %}
			{% if data.teaser.mailForm %}
				<form class="email-form email-form--addMargin">
					<input class="email-form-input" type="text" placeholder="E-Mail Adresse hier eingeben"><!-- whitespace...
					--><button class="email-form-submit button button--green" type="submit">Absenden</button>
				</form>
			{% endif %}
		</section>
		{% for section in data.sections %}
		<section class="landing-section {% if section.darkText %} landing-section--darkText {% endif %}"  {% if section.image != null %} style="background-image: url(/assets/images/{{section.image}});" {% endif %}>
			{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
			{% if section.icon != null %}<i class="fa fa-5x {{section.icon}}"></i>{% endif %}
			{% if section.headline != null %}<h1 class="section-header {% if section.icon == null %} section-header--noTopMargin {% endif %}">{{ section.headline }}</h1>{% endif %}
			{% if section.details != null %}<p class="section-paragraph">{{ section.details }}</p>{% endif %}
			{% if section.detailsList != null %}<ul class="section-ul fa-ul">
				{% for item in section.detailsList %}
					<li class="section-li"><i class="fa fa-li fa-2x {{item.icon}}"></i> {{item.text}}</li>
				{% endfor %}
			</ul>{% endif %}
			{% if section.mailForm %}
				<form class="email-form {% if section.mailMargin %} email-form--addMargin {% endif %}">
					<input class="email-form-input" type="text" placeholder="E-Mail Adresse hier eingeben"><!-- whitespace...
					--><button class="email-form-submit button button--green" type="submit">Absenden</button>
				</form>
			{% endif %}
			{% if section.learnmore %}
				<a class="button button--more {% if thecycle == 'odd' %} button--green {% endif %}" href="#">{{lang.learnMore}}</a>
			{% endif %}
		</section>
		{% endfor %}
	</body>
</html>