<!doctype html>
<html>
	{{content}}
	{% assign data = site.data[page.dataSet] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/static/assets/css/b2b.css" | prepend: site.baseurl }}">
	</head>
	<body>
		<section class="landing-section" id="heading">
			<h1>{{ data.teaser.headline }}</h1>
			<p>{{ data.teaser.details }}</p>
			{% if data.teaser.mailForm %}
				<form class="email-form email-form--addMargin">
					<input class="email-form-input" type="text" placeholder="E-Mail Adresse hier eingeben"><!-- whitespace...
					--><button class="email-form-submit button button--green" type="submit">Absenden</button>
				</form>
			{% endif %}
		</section>
		{% for section in data.sections %}
		<section class="landing-section">
			{% if section.icon != null %}<i class="fa fa-5x {{section.icon}}"></i>{% endif %}
			{% if section.headline != null %}<h1>{{ section.headline }}</h1>{% endif %}
			{% if section.details != null %}<p>{{ section.details }}</p>{% endif %}
			{% if section.mailForm %}
				<form class="email-form email-form--addMargin">
					<input class="email-form-input" type="text" placeholder="E-Mail Adresse hier eingeben"><!-- whitespace...
					--><button class="email-form-submit button button--green" type="submit">Absenden</button>
				</form>
			{% endif %}
			{% if section.learnmore %}
				<a class="button button--more" href="#">Mehr Erfahren</a>
			{% endif %}
		</section>
		{% endfor %}
	</body>
</html>