<!doctype html>
<html>
	{% assign data = site.data.b2b.[page.dataSet].[page.lang] %}
	{% assign lang = site.data.langs[page.lang] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/b2b.css" | prepend: site.baseurl }}">
	</head>
	<body>
		{% include noscript.html %}
		<section class="landing-section landing-section--background" id="heading">
			<div class="landing-section--inner">
				<svg width="300" height="65" id="blog-header-logo">
					<image xlink:href="/assets/img/logo.svg" src="/assets/img/logo-blog.png" width="300" height="65" />
				</svg>
				<h1 class="section-header {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">{{ data.teaser.headline }}</h1>
					{% if data.teaser.details != null %}
						<p class="section-paragraph{% if data.teaser.textShadow %} textShadow{% endif %}{% if data.teaser.darkBlur %} darkBlur{% endif %}{% if data.teaser.lightBlur %} lightBlur{% endif %}">
							{{ data.teaser.details }}
						</p>
					{% endif %}
					{% if data.teaser.detailsList != null %}
						<ul class="section-ul fa-ul{% if data.teaser.darkBlur %} darkBlur{% endif %}{% if data.teaser.lightBlur %} lightBlur{% endif %}">
						{% for item in data.teaser.detailsList %}
							<li class="section-li"><i class="fa fa-li {{item.icon}}"></i> {{item.text}}</li>
						{% endfor %}
						</ul>
					{% endif %}
				{% if data.teaser.detailsList != null %}
					<ul class="section-ul fa-ul {% if data.teaser.darkBlur %} darkBlur {% endif %} {% if data.teaser.lightBlur %} lightBlur {% endif %}">
					{% for item in data.teaser.detailsList %}
						<li class="section-li"><i class="fa fa-li {{item.icon}}"></i> {{item.text}}</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if data.teaser.mailForm %}
					<form class="email-form email-form--addMargin">
						<input class="email-form-input" type="text" placeholder="{{lang.enterMail}}"><!-- whitespace...
						--><button class="email-form-submit button button--green" type="submit">{{lang.send}}</button>
					</form>
				{% endif %}
			</div>
		</section>
		{% for section in data.sections %}
			<section class="landing-section{% if section.darkText %} landing-section--darkText{% endif %}{% if section.fullScreen %} landing-section--fullScreen{% endif %}"{% if section.image != null %} style="background-image: url(/assets/images/{{section.image}});" {% endif %}>
				<div class="landing-section--inner">
					<div class="landing-section--realInner">
						{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
						{% if (section.icon != null || section.image != null) %}
						<div class="landing-section-icon{% if thecycle == 'odd' %} landing-section-icon--hideDesktop{% endif %}">
							{% if section.icon != null %}
								<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
							{% endif %}
							{% if section.image != null %}
								<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
							{% endif %}
						</div>
						{% endif %}
						<div class="landing-section-text{% if section.icon == null && section.image == null %} landing-section--center{% endif %}">
							{% if section.headline != null %}
								<h1 class="section-header{% if section.icon == null %} section-header--noTopMargin{% endif %}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}">{{ section.headline }}</h1>
							{% endif %}
							{% if section.details != null %}
								<p class="section-paragraph">{{ section.details }}</p>
							{% endif %}
							{% if section.detailsList != null %}
								<ul class="section-ul fa-ul{% if section.darkBlur %} darkBlur{% endif %}{% if section.lightBlur %} lightBlur{% endif %}">
								{% for item in section.detailsList %}
									<li class="section-li"><i class="fa fa-li fa-fw {{item.icon}}"></i> {{item.text}}</li>
								{% endfor %}
								</ul>
							{% endif %}
							{% if section.learnmore %}
								<a class="button button--more {% if thecycle == 'even' %} button--green{% endif %}" href="#registerNow">{{lang.learnMore}}</a>
							{% endif %}
						</div>
						{% if (section.icon != null || section.image != null) and thecycle == 'odd'%}
						<div class="landing-section-icon landing-section-icon--hideMobile">
							{% if section.icon != null %}
								<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
							{% endif %}
							{% if section.image != null %}
								<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
							{% endif %}
						</div>
						{% endif %}
					</div>
					{% if section.mailForm %}
					<form class="email-form email-form--addMargin">
						<input class="email-form-input" type="text" placeholder="{{lang.enterMail}}"><!-- whitespace...
						--><button class="email-form-submit button button--green" type="submit">{{lang.send}}</button>
					</form>
					{% endif %}
				</div>
			</section>
			{% endfor %}
	</body>
</html>