<!doctype html>
<html>
	{{content}}
	{% assign data = site.data[page.dataSet] %}
	{% assign lang = site.data[page.lang] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/static.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/assets/css/b2c.css" | prepend: site.baseurl }}">
	</head>
	<body>
		<header class="header">
			<div class="header-inner">
				<a data-ng-href="/{{page.lang}}/" class="header-brand" data-ng-click="mobileActivateView()">
					<span class="header-brand--normal">whis</span><span class="header-brand--inverse">peer</span>
				</a>
				<a href="/login/" target="_self" class="header-toggle header-toggle-login helper-showMobile">Login</a>
				<iframe id="header-login" class="helper-hideMobile" src="/{{page.lang}}/loginframe/"></iframe>
			</div>
		</header>
		<main>
			<section class="landing-section" id="heading" {% if data.teaser.image != null %} style="background-image: url(/assets/images/{{data.teaser.image}});" {% endif %}>
				<div class="landing-section--inner">
					<h1 class="section-header {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">{{ data.teaser.headline }}</h1>
					{% if data.teaser.details != null %}
						<p class="section-paragraph {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">
							{{ data.teaser.details }}
						</p>
					{% endif %}
					{% if data.teaser.detailsList != null %}
						<ul class="section-ul fa-ul {% if data.teaser.darkBlur %} darkBlur {% endif %} {% if data.teaser.lightBlur %} lightBlur {% endif %}">
						{% for item in data.teaser.detailsList %}
							<li class="section-li"><i class="fa fa-li {{item.icon}}"></i> {{item.text}}</li>
						{% endfor %}
						</ul>
					{% endif %}
					<img class="landing-section-video" id="video-overlay-open" src="/assets/images/videoThumb.jpg" alt="Start Video!">
					{% if data.teaser.registerForm %}
					<iframe class="landing-registerFrame" src="/{{page.lang}}/register/"></iframe>
					{% endif %}
					<a href="#content" class="section-next">
						<span class="section-next-text">{{lang.learnMore}}</span>
						<i class="fa fa-section-next fa-arrow-down"></i>
					</a>
				</div>
			</section>
			<a name="content"></a>
			{% for section in data.sections %}
			<section class="landing-section{% if section.darkText %} landing-section--darkText{% endif %}{% if section.fullScreen %} landing-section--fullScreen{% endif %}"{% if section.image != null %} style="background-image: url(/assets/images/{{section.image}});" {% endif %}>
				<div class="landing-section--inner">
					{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
					{% if section.icon != null || section.image != null %}
					<div class="{% if thecycle == 'even' %} landing-section-left {% else %} landing-section-right {% endif %} landing-section-icon">
						{% if section.icon != null %}
							<i class="fa fa-xxl {{section.icon}} {% if section.darkBlur %} darkBlur {% endif %} {% if section.lightBlur %} lightBlur {% endif %}"></i>
						{% endif %}
						{% if section.image != null %}
							<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
						{% endif %}
					</div>
					{% endif %}
					<div class="{% if section.icon != null || section.image != null %}{% if thecycle == 'odd' %} landing-section-left {% else %} landing-section-right {% endif %} landing-section-text {% endif %}">
						{% if section.headline != null %}
							<h1 class="section-header {% if section.icon == null %} section-header--noTopMargin {% endif %} {% if section.darkBlur %} darkBlur {% endif %} {% if section.lightBlur %} lightBlur {% endif %}">{{ section.headline }}</h1>
						{% endif %}
						{% if section.details != null %}
							<p class="section-paragraph">{{ section.details }}</p>
						{% endif %}
						{% if section.detailsList != null %}
							<ul class="section-ul fa-ul {% if section.darkBlur %} darkBlur {% endif %} {% if section.lightBlur %} lightBlur {% endif %}">
							{% for item in section.detailsList %}
								<li class="section-li"><i class="fa fa-li fa-fw {{item.icon}}"></i> {{item.text}}</li>
							{% endfor %}
							</ul>
						{% endif %}
						{% if section.registerAd %}
							<a class="button button--more {% if thecycle == 'even' %} button--green {% endif %}" href="#">{{lang.registerAd}}</a>
						{% endif %}
					</div>
					{% if section.registerForm %}
					<iframe class="landing-registerFrame" src="/{{page.lang}}/register/"></iframe>
					{% endif %}
				</div>
			</section>
			{% endfor %}
		</main>
		<div id="video-overlay" class="video-overlay">
			<div id="video-overlay-close"><i class="fa fa-times"></i></div>
			<div id="video-overlay-wrapper" data-class="video-overlay-video" data-width="1280" data-height="720" data-src="https://www.youtube.com/embed/AUTxOorMnKk" data-frameborder="0" data-allowfullscreen></div>
		</div>
		<script src="/assets/js/b2c.js" type="text/javascript"></script>
	</body>
</html>
