<!doctype html>
<html itemscope itemtype="http://schema.org/Product" prefix="my_namespace: http://ogp.me/ns/website#">
	{% assign data = site.data.b2c.[page.dataSet].[page.lang] %}
	{% assign lang = site.data.langs[page.lang] %}
	{% assign i18n = site.data.whispeerI18n[page.lang] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/static.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/assets/css/b2c.css" | prepend: site.baseurl }}">
	</head>
	<body>
		{% include noscript.html %}
		<header class="header">
			<div class="header-inner">
				<a data-ng-href="/{{page.lang}}/" class="header-brand" data-ng-click="mobileActivateView()">
					<span class="header-brand--normal">whis</span><span class="header-brand--inverse">peer</span>
				</a>
				<a href="/login/" target="_self" class="header-toggle header-toggle-login helper-showMobile">Login</a>
				<iframe id="header-login" class="helper-hideMobile" src="/{{page.lang}}/loginframe/"></iframe>
			</div>
		</header>
		<main>
			<section class="landing-section{% if data.teaser.image != null %} landing-section--background{% endif %}" id="heading">
				<div class="landing-section--inner">
					<h1 class="section-header {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">{{ data.teaser.headline }}</h1>
					{% if data.teaser.details != null %}
						<p class="section-paragraph {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">
							{{ data.teaser.details }}
						</p>
					{% endif %}
					{% if data.teaser.detailsList != null %}
						<ul class="section-ul fa-ul {% if data.teaser.darkBlur %} darkBlur {% endif %} {% if data.teaser.lightBlur %} lightBlur {% endif %}">
						{% for item in data.teaser.detailsList %}
							<li class="section-li"><i class="fa fa-li {{item.icon}}"></i> {{item.text}}</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% if data.teaser.video == true %}
						<div class="landing-section-video" id="video-overlay-open">
							<img class="landing-section-video-image" src="/assets/images/videoThumb.jpg" alt="Start Video!">
							<div class="landing-section-video-icon-wrap">
								<i class="fa fa-2x fa-play landing-section-video-icon"></i>
							</div>
						</div>
					{% endif %}
					{% if data.teaser.registerForm %}
						<a href="/{{page.lang}}/register/" class="button button--noBorder button--primary button--landing button--radius">{{lang.registerAd}}</a>
					{% endif %}
				</div>
			</section>
			<a id="content"></a>
			{% for section in data.sections %}
			<section class="landing-section{% if section.darkText %} landing-section--darkText{% endif %}{% if section.fullScreen %} landing-section--fullScreen{% endif %}"{% if section.image != null %} style="background-image: url(/assets/images/{{section.image}});" {% endif %}>
				<div class="landing-section--inner">
					<div class="landing-section--realInner">
						{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
						{% if section.icon != null or section.image != null %}
						<div class="landing-section-icon{% if thecycle == 'odd' %} landing-section-icon--hideDesktop{% endif %}">
							{% if section.icon != null %}
								<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
							{% endif %}
							{% if section.image != null %}
								<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
							{% endif %}
						</div>
						{% endif %}
						<div class="landing-section-text{% if section.icon == null and section.image == null %} landing-section--center{% endif %}">
							{% if section.headline != null %}
								<h1 class="section-header{% if section.icon == null %} section-header--noTopMargin{% endif %}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}">{{ section.headline }}</h1>
							{% endif %}
							{% if section.details != null %}
								<p class="section-paragraph">{{ section.details }}</p>
							{% endif %}
							{% if section.detailsList != null %}
								<ul class="section-ul fa-ul{% if section.darkBlur %} darkBlur{% endif %}{% if section.lightBlur %} lightBlur{% endif %}">
								{% for item in section.detailsList %}
									<li class="section-li"><i class="fa fa-li fa-fw {{item.icon}}"></i> {{item.text}}</li>
								{% endfor %}
								</ul>
							{% endif %}
							{% if section.registerAd %}
								<a class="button button--more register--ad{% if thecycle == 'even' %} button--green{% endif %}" href="/{{page.lang}}/register/">{{lang.registerAd}}</a>
							{% endif %}
						</div>
						{% if thecycle == 'odd' %}
							{% if section.icon != null or section.image != null%}
							<div class="landing-section-icon landing-section-icon--hideMobile">
								{% if section.icon != null %}
									<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
								{% endif %}
								{% if section.image != null %}
									<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
								{% endif %}
							</div>
							{% endif %}
						{% endif %}
					</div>
					{% if section.animation %}
					<div class="animation-box">
						{% for message in site.data.b2c.animation[page.lang].data %}
							<div class="message message-s{{message.sender | plus: 1}} message-{{page.lang}}--i{{forloop.index}}{% if forloop.last == true or forloop.rindex0 == 1 %} message--infinity{% endif %}">
								<span class="message-sender">{{site.data.b2c.animation[page.lang].senders[message.sender]}}</span>
								<span class="message-text">{{message.messageText}}</span>
							</div>
						{% endfor %}
						<div class="animation-node s1">
							<i class="fa fa-user fa-l fa-bottom textShadow"></i>
							<span class="animation-node-description">{{site.data.b2c.animation[page.lang].senders[0]}}</span>
						</div>
						<div class="animation-node s1Pc">
							<i class="fa fa-desktop fa-xl fa-fw fa-middle textShadow"></i>
							<span class="animation-node-description">{{site.data.b2c.animation[page.lang].senders[0]}}s PC</span>
						</div>
						<div class="animation-node server">
							<i class="fa fa-server fa-xl fa-middle textShadow"></i>
							<span class="animation-node-description">whispeer Server</span>
						</div>
						<div class="animation-node s2Pc">
							<i class="fa fa-desktop fa-xl fa-fw fa-middle textShadow"></i>
							<span class="animation-node-description">{{site.data.b2c.animation[page.lang].senders[1]}}s PC</span>
						</div>
						<div class="animation-node s2">
							<i class="fa fa-user fa-l fa-bottom textShadow"></i>
							<span class="animation-node-description">{{site.data.b2c.animation[page.lang].senders[1]}}</span>
						</div>
					</div>
					{% endif %}
					{% if section.registerForm %}
						<a class="button button--more register--ad{% if thecycle == 'even' %} button--green{% endif %}" href="/{{page.lang}}/register/">{{lang.registerAd}}</a>
					{% endif %}
				</div>
			</section>
			{% endfor %}
		</main>
		<footer class="landing-section landing-section--footer">
			<span class="landing-footer-left">&copy; {{ site.time | date: "%Y" }} whispeer</span>
			<span class="landing-footer-right">
				<a class="landing-footer-link" href="/{{page.lang}}/agb">
					<i class="fa fa-briefcase fa-fw"></i>
					{{lang.terms}}
				</a>
				<a class="landing-footer-link" href="/{{page.lang}}/privacyPolicy">
					<i class="fa fa-lock fa-fw"></i>
					{{lang.privacyPolicy}}
				</a>
				<a class="landing-footer-link" href="/{{page.lang}}/contact">
					<i class="fa fa-envelope fa-fw"></i>
					{{lang.contact}}
				</a>
				<a class="landing-footer-link" href="/{{page.lang}}/impressum">
					<i class="fa fa-book fa-fw"></i>
					{{lang.imprint}}
				</a>
			</span>
		</footer>
		<a class="backToTop" href="#heading"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
		<div id="video-overlay" class="video-overlay">
			<div id="video-overlay-wrapper">
				<div id="video-overlay-close"><i class="fa fa-times" id="video-overlay-close-icon"></i></div>
				<div id="video-overlay-video">
					<video id="video-overlay-video-element" poster="/assets/images/videoThumb.jpg" controls class="video-overlay-video" preload="none">
						<source src="/assets/video/video.webm" type='video/webm; codecs="vp8, vorbis"' />
						<source src="/assets/video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
					</video>
				</div>
			</div>
		</div>
		<script src="/assets/js/b2c.js" type="text/javascript"></script>
	</body>
</html>
