<!doctype html>
<html>
	{{content}}
	{% assign data = site.data[page.dataSet] %}
	{% assign lang = site.data[page.lang] %}
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/static.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/assets/css/b2c.css" | prepend: site.baseurl }}">
	</head>
	<body>
		<header class="header">
			<div class="header-inner">
				<a data-ng-href="/{{page.lang}}/" class="header-brand" data-ng-click="mobileActivateView()">
					<span class="header-brand--normal">whis</span><span class="header-brand--inverse">peer</span>
				</a>
				<a href="/login/" target="_self" class="header-toggle header-toggle-login helper-showMobile">Login</a>
				<iframe id="header-login" class="helper-hideMobile" src="/{{page.lang}}/loginframe/"></iframe>
			</div>
		</header>
		<div class="globalNotificationWrap globalNotificationWrap--visible">
			<div id="globalNotificationSpace"></div>
			<div id="globalNotification">
				<i class="fa fa-times-circle"></i>
				<span>{{lang.localStorageWarn}}</span>
			</div>
		</div>
		<main>
			<section class="landing-section{% if data.teaser.image != null %} background{% endif %}" id="heading">
				<div class="landing-section--inner">
					<h1 class="section-header {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">{{ data.teaser.headline }}</h1>
					{% if data.teaser.details != null %}
						<p class="section-paragraph {% if data.teaser.textShadow %}textShadow{% endif %} {% if data.teaser.darkBlur %}darkBlur{% endif %} {% if data.teaser.lightBlur %}lightBlur{% endif %}">
							{{ data.teaser.details }}
						</p>
					{% endif %}
					{% if data.teaser.detailsList != null %}
						<ul class="section-ul fa-ul {% if data.teaser.darkBlur %} darkBlur {% endif %} {% if data.teaser.lightBlur %} lightBlur {% endif %}">
						{% for item in data.teaser.detailsList %}
							<li class="section-li"><i class="fa fa-li {{item.icon}}"></i> {{item.text}}</li>
						{% endfor %}
						</ul>
					{% endif %}
					<div class="landing-section-video" id="video-overlay-open">
						<img class="landing-section-video-image" src="/assets/images/videoThumb.jpg" alt="Start Video!">
						<div class="landing-section-video-icon-wrap">
							<i class="fa fa-2x fa-play landing-section-video-icon"></i>
						</div>
					</div>
					{% if data.teaser.registerForm %}
					<iframe class="landing-registerFrame" src="/{{page.lang}}/register/"></iframe>
					{% endif %}
				</div>
				<a href="#content" class="section-next">
					<span class="section-next-text">{{lang.learnMore}}</span>
					<i class="fa fa-section-next fa-arrow-down"></i>
				</a>
			</section>
			<a name="content"></a>
			{% for section in data.sections %}
			<section class="landing-section{% if section.darkText %} landing-section--darkText{% endif %}{% if section.fullScreen %} landing-section--fullScreen{% endif %}"{% if section.image != null %} style="background-image: url(/assets/images/{{section.image}});" {% endif %}>
				<div class="landing-section--inner">
					<div class="landing-section--realInner">
						{% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
						{% if (section.icon != null || section.image != null) %}
						<div class="landing-section-icon{% if thecycle == 'odd' %} landing-section-icon--hideDesktop{% endif %}">
							{% if section.icon != null %}
								<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
							{% endif %}
							{% if section.image != null %}
								<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
							{% endif %}
						</div>
						{% endif %}
						<div class="landing-section-text{% if section.icon == null && section.image == null %} landing-section--center{% endif %}">
							{% if section.headline != null %}
								<h1 class="section-header{% if section.icon == null %} section-header--noTopMargin{% endif %}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}">{{ section.headline }}</h1>
							{% endif %}
							{% if section.details != null %}
								<p class="section-paragraph">{{ section.details }}</p>
							{% endif %}
							{% if section.detailsList != null %}
								<ul class="section-ul fa-ul{% if section.darkBlur %} darkBlur{% endif %}{% if section.lightBlur %} lightBlur{% endif %}">
								{% for item in section.detailsList %}
									<li class="section-li"><i class="fa fa-li fa-fw {{item.icon}}"></i> {{item.text}}</li>
								{% endfor %}
								</ul>
							{% endif %}
							{% if section.registerAd %}
								<a class="button button--more register--ad{% if thecycle == 'even' %} button--green{% endif %}" href="#registerNow">{{lang.registerAd}}</a>
							{% endif %}
						</div>
						{% if (section.icon != null || section.image != null) and thecycle == 'odd'%}
						<div class="landing-section-icon landing-section-icon--hideMobile">
							{% if section.icon != null %}
								<i class="fa fa-xxl fa-fw {{section.icon}}{% if section.darkBlur %} darkBlur{% elsif section.lightBlur %} lightBlur{% else %} textShadow{% endif %}"></i>
							{% endif %}
							{% if section.image != null %}
								<img class="landing-section-image" src="{{ section.image.src }}" alt="{{ section.image.alt }}">
							{% endif %}
						</div>
						{% endif %}
					</div>
					{% if section.animation %}
					<section class="animation-box">
						{% for message in site.data.animation[page.lang].data %}
							<div class="message message-s{{message.sender | plus: 1}} message-{{page.lang}}--i{{forloop.index}}{% if forloop.last == true or forloop.rindex0 == 1 %} message--infinity{% endif %}">
								<span class="message-sender">{{site.data.animation[page.lang].senders[message.sender]}}</span>
								<span class="message-text">{{message.messageText}}</span>
							</div>
						{% endfor %}
						<div class="animation-node s1">
							<i class="fa fa-user fa-l fa-bottom textShadow"></i>
							<span class="animation-node-description">{{site.data.animation[page.lang].senders[0]}}</span>
						</div>
						<div class="animation-node s1Pc">
							<i class="fa fa-desktop fa-xl fa-fw fa-middle textShadow"></i>
							<span class="animation-node-description">{{site.data.animation[page.lang].senders[0]}}'s PC</span>
						</div>
						<div class="animation-node server">
							<i class="fa fa-server fa-xl fa-middle textShadow"></i>
							<span class="animation-node-description">whispeer Server</span>
						</div>
						<div class="animation-node s2Pc">
							<i class="fa fa-desktop fa-xl fa-fw fa-middle textShadow"></i>
							<span class="animation-node-description">{{site.data.animation[page.lang].senders[1]}}'s PC</span>
						</div>
						<div class="animation-node s2">
							<i class="fa fa-user fa-l fa-bottom textShadow"></i>
							<span class="animation-node-description">{{site.data.animation[page.lang].senders[1]}}</span>
						</div>
					</section>
					{% endif %}
					{% if section.registerForm %}
					<a name="registerNow"></a>
					<iframe class="landing-registerFrame" id="registerFrame-main" src="/{{page.lang}}/register/"></iframe>
					{% endif %}
				</div>
			</section>
			{% endfor %}
		</main>
		<a class="backToTop" href="#heading"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
		<div id="video-overlay" class="video-overlay">
			<div id="video-overlay-wrapper">
				<div id="video-overlay-close"><i class="fa fa-times" id="video-overlay-close-icon"></i></div>
				<div id="video-overlay-video" data-class="video-overlay-video" data-src="https://www.youtube-nocookie.com/embed/AUTxOorMnKk?enablejsapi=1" data-frameborder="0" data-allowfullscreen></div>
			</div>
		</div>
		<script src="/assets/js/b2c.js" type="text/javascript"></script>
	</body>
</html>
