{% include setLang.html %}
<!doctype html>
<html id="blog">
	<head>
		<title>whispeer Blog - {{page.title}}</title>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" />
		<link rel="shortcut icon" href="/assets/img/favicons/favicon.png" type="image/x-icon" />
	</head>
	<body id="blog-body">
		<header id="blog-header">
			{% include svgLogoFallback.html %}
			<a class="button button--green button--noBorder button--radius" id="blog-back" href="/{{langCode}}/blog/"><i class="fa fa-arrow-left fa-fw"></i> {{lang.home}}</a>
		</header>
		<main id="blog-main">
			<article class="blog-entry">
				<div class="blog-entry-header">
					<h1 class="blog-entry-heading">{{page.title}}</h1>
					<div class="blog-entry-meta">
						{% if page.author %}
							<img class="blog-entry-authorImage"{% if page.authorMail %}src="{{page.authorMail | to_gravatar }}"{% else %} src="/assets/img/user.png"{% endif%} alt="Picture of {{page.author}}">
							<small class="blog-entry-author">
								{{lang.by}}
								{% if page.authorMail %}
								<a class="blog-entry-authorLink" href="mailto:{{page.authorMail}}">
								{% endif %}
								{{page.author}}
								{% if page.authorMail %}</a>{% endif %}
							</small>
						{% endif %}
						{% if page.date %}
							<small class="blog-entry-date">
								{{lang.preDate}}&nbsp;{{page.date | date: "%d.%m.%Y"}}
							</small>
						{% endif %}
					</div>
				</div>
				<div class="blog-entry-content">
					{{content}}
				</div>
				{% if page.social != false %}
					{% include share.html %}
				{% endif %}
			</article>
		</main>
		{% include blogFooter.html %}
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/assets/css/blog.css" />
	</body>
</html>
