{% include setLang.html %}
<!doctype html>
<html id="blog">
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" />
		<link rel="shortcut icon" href="/assets/img/favicons/favicon.png" type="image/x-icon" />
	</head>
	<body id="blog-body">
		<header id="blog-header">
			<a href="/{{langCode}}">{% include svgLogoFallback.html %}</a>
		</header>
		<main id="blog-main">
			<article class="blog-entry">
				<div class="blog-entry-header">
				{% if page.hideTitle != true %}
					<h1 class="blog-entry-heading">{{page.title}}</h1>
				{% endif %}
				</div>
				<div class="blog-entry-content">
					{{content}}
				</div>
				{% if page.social == true %}
					{% include share.html %}
				{% endif %}
			</article>
		</main>
		{% include blogFooter.html links=page.footerLinks %}
		<link rel="stylesheet" href="/assets/css/blog.css" />
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">

		{% if page.includeStatic == true %}
			<link rel="stylesheet" href="/assets/css/static.css" />
		{% endif %}

		{% if page.addStylesheet != nil %}
			<link rel="stylesheet" href="/assets/css/{{page.addStylesheet}}" />
		{% endif %}
	</body>
</html>
