---
layout: default
---

{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% if page.baseView == true %}
	<a class="button button--green button--block button--noBorder button--radius" href="{{ page.lang | prepend: '/' | prepend: site.baseurl }}/agb" style="margin-top: 0;">
		<i class="fa fa-briefcase fa-fw"></i>
		<span>{{ i18n.legal.terms }}</span>
	</a>
	<a class="button button--green button--block button--noBorder button--radius" href="{{ page.lang | prepend: '/' | prepend: site.baseurl }}/privacyPolicy">
		<i class="fa fa-lock fa-fw"></i>
		<span>{{ i18n.legal.data }}</span>
	</a>
	<a class="button button--green button--block button--noBorder button--radius" href="{{ page.lang | prepend: '/' | prepend: site.baseurl }}/contact">
		<i class="fa fa-comments fa-fw"></i>
		<span>{{ i18n.legal.contact }}</span>
	</a>
	<a class="button button--green button--block button--noBorder button--radius" href="{{ page.lang | prepend: '/' | prepend: site.baseurl }}/impressum">
		<i class="fa fa-book fa-fw"></i>
		<span>{{ i18n.legal.notice }}</span>
	</a>
{% endif %}
{{ content }}