{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% include whispeerHead.html htmlClass="loginView hasTopBar" %}
<body>
	{% include topBar.html %}
	<header class="box-header">
		<span class="box-header-title">{{ i18n.legal.header }}</span>
	</header>
	<section class="box-content box-content--scroll" id="general">
		<ul class="legalView-menu u-unstyled">
			<li class="legalView-menu-item">
				<a class="legalView-menu-item-link btn btn--primary" href="agb" target="_blank">
					<i class="fa fa-briefcase fa-fw"></i>
					<span>{{ i18n.legal.terms }}</span>
				</a>
			</li>
			<li class="legalView-menu-item">
				<a class="legalView-menu-item-link btn btn--primary" href="privacyPolicy" target="_blank">
					<i class="fa fa-lock fa-fw"></i>
					<span>{{ i18n.legal.data }}</span>
				</a>
			</li>
			<li class="legalView-menu-item">
				<a class="legalView-menu-item-link btn btn--primary" href="mailto:support@whispeer.de">
					<i class="fa fa-comments fa-fw"></i>
					<span>{{ i18n.legal.contact }}</span>
				</a>
			</li>
			<li class="legalView-menu-item">
				<a class="legalView-menu-item-link btn btn--primary" href="impressum/" target="_blank">
					<i class="fa fa-book fa-fw"></i>
					<span>{{ i18n.legal.notice }}</span>
				</a>
			</li>
		</ul>
	</section>
</body>
</html>
