{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% include whispeerHead.html htmlClass="body-iframe" %}
<body>
	<form id="start-login-form" data-ng-controller="ssn.loginController">
		<input type="text" id="mail" placeholder="{{i18n.login.username}}" data-ng-model="login.identifier" data-load-val>
		<input type="password" id="password" placeholder="{{i18n.login.password}}" data-ng-model="login.password" data-load-val>
		<button id="loginformsubmit" class="btn btn--input btn--primary btn--saveButton" data-ng-class="{'btn-saveButton--success': login.state.success || login.state.init, 'btn-saveButton--operation': login.state.pending, 'btn-saveButton--failure': login.state.failed}" type="submit" data-ng-click="login.login()">
			<i data-ng-if="login.state.success || login.state.init" data-hide-savebutton class="fa fa-check-circle"></i>
			<i data-ng-cloak data-ng-if="login.state.failed" class="fa fa-times-circle"></i>
			<i data-ng-cloak data-ng-if="login.state.pending" class="saveButton-spinner fa fa-spinner fa-spin"></i>
			<span>{{i18n.login.link}}</span>
		</button>
	</form>
</body>
<script src="/assets/js/build/commons.bundle.js"></script>
<script src="/assets/js/build/login.bundle.js"></script>
</html>
