{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% include whispeerHead.html %}
<body>
	<form id="start-login-form" data-ng-controller="ssn.loginController">
		<input type="text" id="mail" placeholder="{{i18n.login.username}}" data-ng-model="login.identifier">
		<input type="password" id="password" placeholder="{{i18n.login.password}}" data-ng-model="login.password">
		<savebutton id="loginformsubmit" data-state="login.state" class="btn btn--input btn--primary" type="submit" data-ng-click="login.login()">
			<span>{{i18n.login.link}}</span>
		</savebutton>
	</form>
</body>
<script data-main="assets/js/requireConfig" data-initial="login/loginMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
