{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% include whispeerHead.html htmlClass="loginView hasTopBar" %}
<body>
	{% include topBar.html %}
	<header>
		<span>{{ i18n.privacy.header }}</span>
	</header>
	<div>
		<p>Die Nutzung von whispeer ist mit Verwendung eines Pseudonyms möglich.</p>
		<p>Soweit auf whispeer personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.</p>
		<p>Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
		<p>Weiterhin sind alle als verschlüsselt eingestellten Daten (insbesondere Nachrichten und Posts) nicht von uns lesbar.</p>
	</div>
</body>
</html>
