{% include whispeerHead.html htmlClass="body-iframe" %}
<body>
	{% include topBar.html %}
	<div id="container">
		<section id="main" data-ng-cloak data-ng-controller="ssn.recoveryController">
			<h1 id="recoveryView-title" data-i18n="views.recovery.title"></h1>
			<div data-ng-if="changePassword.enabled" class="recoveryView-section">
				<h5 class="settingsView-setting-header" data-i18n="settings.changes.changePassword"></h5>
				<form validated-form="pwValidationOptions" class="inputSandwich">
					<passwordinput state="changePassword">
						<div class='annotatedInput-container'>
							<input class='annotatedInput-input strenghInput password inputSandwich-top' type='password' data-i18n-attr='login.password|placeholder' data-ng-model='state.password' validation='passwordValidations'>
							<span class='annotatedInput-icon' data-strength='{{ "{{ passwordStrength() " }}}}'></span>
						</div>
						<div class='annotatedInput-container'>
							<input type='password' class='annotatedInput-input password2 inputSandwich-middle' data-i18n-attr='login.register.repeatPassword|placeholder' data-ng-model='state.password2' validation='password2Validations'>
							<span class='annotatedInput-icon fa' data-ng-class='acceptIcon(state.password, state.password2)' data-ng-if='!empty(state.password) && !empty(state.password2)'></span>
						</div>
					</passwordinput>
					<savebutton class="inputSandwich-bottom" state="savePasswordState" data-ng-click="savePassword()">
						<span data-i18n="settings.changes.save"></span>
					</savebutton>
				</form>
			</div>
			<section data-ng-if="!changePassword.enabled && codeProvided" class="recoveryView-section">
				<div class="uploadForm">
					<button class="uploadForm-botton btn btn--primary" data-i18n="views.recovery.uploadKey"></button>
					<input class="uploadForm-theForm" type="file" data-file="fileUpload">
				</div>
				<p data-i18n="views.recovery.or"></p>
				<h2 class="recoveryView-subTitle" data-i18n="views.recovery.manualKey"></h2>
				<div class="inputSandwich">
					<form>
						<input class="inputSandwich-top" type="text" data-ng-model="manual.code" data-i18n-attr="views.recovery.typeKey|placeholder">
						<savebutton class="inputSandwich-bottom" data-state="loadBackupKeyState" data-ng-click="loadBackupKeyManual()"></savebutton>
					</form>
				</div>
				<p data-i18n="views.recovery.or"></p>
				<h2 class="recoveryView-subTitle" data-i18n="views.recovery.scanKey" data-ng-if="qr.enabled"></h2>
				<qr-scanner state="qr" callback="backupKeyCallback(code)" data-ng-if="qr.enabled"></qr-scanner>
			</section>
			<section data-ng-if="!changePassword.enabled && !codeProvided" class="recoveryView-section">
				<h2 class="recoveryView-subTitle" data-i18n="views.recovery.byMail"></h2>
				<form>
					<input class="inputSandwich-top" type="text" placeholder="E-Mail" data-ng-model="request.identifier">
					<savebutton class="inputSandwich-bottom" data-state="request.state" data-ng-click="request.execute(request.identifier)">
						<span data-i18n="views.recovery.requestRecovery"></span>
					</savebutton>
				</form>
			</section>
		</section>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="recovery/recoveryMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
