{% assign i18n = site.data.whispeerI18n[page.lang] %}

{% include whispeerHead.html htmlClass="startView body-iframe" %}
<body>
	<div data-ng-cloak class="startView-register registerWrap" data-ng-click="registerFormClick()" data-ng-controller="ssn.registerController">
		<form class="registerForm" data-validated-form="validationOptions">
			<h1 class="inputSandwich inputSandwich-top registerHeader">{{i18n.register.newaccount}}</h1>
			<div class="inputWrap">
				<div class="annotatedInput-container">
					<input class="annotatedInput-input inputSandwich inputSandwich-middle" type="text" class="nickname" placeholder="{{i18n.login.username}}" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange()" validation="nicknameValidations">
					<span class="annotatedInput-icon fa" data-ng-class="acceptIconNicknameFree()" data-ng-if="!empty(nickname)"></span>
				</div>
				<passwordinput state="pwState" data-class1="inputSandwich inputSandwich-middle" data-class2="inputSandwich inputSandwich-middle"></passwordinput>
				<label class="registerAGB inputSandwich inputSandwich-middle" for="checkAGB" validation="agbValidations">
					<input type="checkbox" data-ng-model="agb" id="checkAGB" class="checkAGB">
					<span data-i18n="landingpage.legal">
						<a href="/agb" data-for="agb" data-i18n="window.title.terms" target="_blank"></a>
						<a href="/privacyPolicy" data-for="privacyPolicy" data-i18n="window.title.data" target="_blank"></a>
					</span>
				</label>
			</div>
			<div class="submitWrap">
				<savebutton class="btn btn--big btn--primary register-submitButton inputSandwich inputSandwich-bottom" data-noiniticon data-state="registerState" type="submit"  data-ng-click="register()"><span>{{i18n.register.link}}</span></savebutton>
			</div>
		</form>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="register/registerMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
