<div class="box-leftWrap">
	<a class="box-header-button box-header-button--full box-header-title--push" whispeer-sref="app.circles.new">
		<i class="fa fa-fw fa-plus-circle" id="circleView-plusBtn"></i><span data-i18n="views.circles.newCircle"></span>
	</a>
	<div id="circleView-circleListWrap">
		<ul id="circleView-circleList" class="unstyled">
			<div id="circleView-circleListScroll">
				<li class="loadingSpinner" data-ng-if="loadingCircleList">
					<i class="fa fa-circle-o-notch fa-2x fa-fw fa-spin"></i>
					<p data-i18n="views.circles.loadingCircles"></p>
				</li>
				<li data-ng-repeat="circle in circles" id="circle-{{circle.id}}" class="circleView-circleList-item {{isActiveCircle(circle.id)?'circleView-circleList-item--active':''}}">
					<a whispeer-sref="app.circles.show({circleid: circle.id})">
						<div class="circleView-circleList-item-image">
							<img class="circleView-userimg" data-ng-src="{{circle.image}}" alt="Userimage">
						</div>
						<div class="circleView-circleList-item-info">
							<div class="circleView-circleList-item-listname">
								<strong>{{circle.name}}</strong>
							</div>
							<div class="circleView-circleList-item-personCount" data-i18n="views.circles.personCount|count={{circle.userids.length}}">
							</div>
						</div>
						<div class="clear-fix"></div>
					</a>
				</li>
				<li id="circleView-circleView-inviteFriends" data-ng-if="circles.length <= 3">
					<a class="inviteFriends-link btn btn--gray btn--hasIcon" id="circleView-inviteFriends-link" whispeer-sref="app.invite">
						<i class="fa fa-fw fa-share-alt btn-icon"></i>
						<span class="btn-text" data-i18n="inviteFriends"></span>
					</a>
				</li>
			</div>
		</ul>
	</div>
</div>
