<div class="box-rightWrap">
	<span class="box-header-title box-header-title--full" role="title">
		<span>
			<span data-i18n="views.circles.header.title.create"></span>
		</span>
		<div class="box-header-buttons--right">
			<a whispeer-sref="app.circles.list" id="circleView-backToMenu" class="box-header-button box-header-button--right" data-ng-if="mobile">
				<i class="fa fa-fw fa-bars"></i>
			</a>
		</div>
	</span>
	<div id="circleView-circleContainer circleView--newCircle">
		<div id="circleView-circleWrap">
			<form id="circleView-inputWrap">
				<input type="text" data-i18n-attr="views.circles.titleForNew|placeholder" id="circleView-titleInput" data-ng-model="circleName">
				<search data-supplier="friendsSearchSupplier" id="friendInput" callback="setCreateNewUsers(selected)" data-search-template="userSimple" data-multiple data-input-i18n-attr="views.circles.searchFriends|placeholder" data-base="user"></search>
				<button class="btn btn--primary btn--big" id="circleView-savecircle" type="submit" data-ng-click="createNew(circleName)" data-i18n="views.circles.createCircle"></button>
			</form>
		</div>
	</div>
</div>
