<div class="searchBar" data-ng-click="click(true)" data-stop-event="click" data-ng-class="'search-'+size">
	<form class="form-search">
		<input type="text" class="searchQuery" placeholder="Suche" data-ng-change="queryChange()" data-ng-model="query" data-onfocus="focus(true)" data-onblur="focus(false)">
	</form>
	<div class="searchDrop" data-ng-show="show()">
		<!--<ul class="unstyled" id="searchSuggestions" data-ng-repeat="results in searchResults | filter:mainSearch">-->
		<ol class="unstyled searchSuggestions">
			<li data-ng-repeat="user in users">
				<img data-ng-src="{{user.image}}">
				<div class="info">
					<span class="name"><a href='{{user.url}}' data-ng-click="click(false)" data-stop-event="click">{{user.name}}</a></span>
					<span class="friends" data-ng-show="bigSize">{{user.mutuals}} gemeinsame Freunde</span>
					<span class="location" data-ng-show="bigSize">{{user.location}}</span>
					<span class="age"  data-ng-show="bigSize">{{user.age}}</span>
				</div>
				<div class="actions" data-ng-show="bigSize">
					<a class="addFriend btn">Als Freund hinzufügen</a>
					<a class="sendMessage btn">Nachricht senden</a>
				</div>
			</li>
		</ol>
		<span data-i18n="searching" data-ng-show="searching">
		</span>
	</div>
</div>