<div class="searchBar {{'search-'+size}} {{'search-'+(multiple?'multiple':'single')}}" data-stop-event="click">
	<form class="formSearch">
		<div data-ng-click="click(true)">
			<ul class="inputWrap">
				<li data-ng-repeat="user in selected" class="searchResult">
					{{user.name}}<a href="" class="remove" data-ng-click="removeSelection($index)"><i class="icon icon-cancel-circle"></i></a>
				</li>
				<li class="searchField" style="display: inline;">
					<input type="text" class="searchQuery" data-ng-keydown="keydown($event)" placeholder="{{placeholder}}" data-ng-change="queryChange()" data-ng-model="query" data-onfocus="focus(true)" data-onblur="focus(false)">
				</li>
			</ul>
		</div>
	</form>
	<div class="searchDrop" data-ng-show="show()">
		<ol class="unstyled searchSuggestions">
			<li data-ng-repeat="user in users" data-ng-class="currentClass($index)" data-ng-mouseover="setCurrent($index)" data-ng-click="selectUser($index)">
				<img data-ng-src="{{user.image}}">
				<div class="info">
					<span class="name">{{user.name}}</span>
					<span class="friends" data-ng-show="bigSize">{{user.mutuals}} gemeinsame Freunde</span>
					<span class="location" data-ng-show="bigSize">{{user.location}}</span>
					<span class="age"  data-ng-show="bigSize">{{user.age}}</span>
				</div>
				<div class="actions" data-ng-show="bigSize">
					<a class="addFriend btn" data-stop-event="click">Als Freund hinzufügen</a>
					<a class="sendMessage btn" data-stop-event="click">Nachricht senden</a>
				</div>
			</li>
		</ol>
		<span data-i18n="searching" data-ng-show="searching">
		</span>
	</div>
</div>