@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-location-1:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-globe-1:before { content: '🌎'; } /* '\1f30e' */
.icon-gift:before { content: '🎁'; } /* '\1f381' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-users-1:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-search-1:before { content: '\e802'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-hammer:before { content: '🔨'; } /* '\1f528' */