<div data-ng-if="!mobile || true" class="maxHeight">
	<header>
		<button data-ng-if="!mobile || !showCircle" class="left" id="newcircle" data-ng-click="unloadCircle()">
			<i class="icon-plus-circle" id="plusBtn"></i><span data-i18n="views.circles.newCircle"></span>
		</button>
		<span class="title" role="title">
			<span data-i18n="views.circles.header.title"></span>
			<span data-ng-if="circleLoaded && showCircle">- {{thisCircle.name}}</span>
		</span>
		<button id="removeCircle" data-ng-if="circleLoaded" data-ng-click="removeCircle()"><i class="icon icon-trash"></i></button>
	</header>

	<div id="circleListWrap" data-ng-if="!mobile || !showCircle">
		<ul id="circleList">
			<div id="circleListScroll">
				<li data-ng-repeat="circle in circles" id="{{circle.id}}" class="circle" data-ng-click="loadActiveCircle(circle.id)">
					<div class="image">
						<img class="userimg" data-ng-src="{{circle.image}}" alt="Userimage">
					</div>
					<div class="info">
						<div class="listname">
							<strong>{{circle.name}}</strong>
						</div>
						<div class="personCount" data-i18n="views.circles.personCount|count={{circle.userids.length}}">
						</div>
					</div>	
					<div class="clear-fix"></div>
				</li>
			</div>
		</ul>
	</div>

	<div id="circleContainer" data-circleID="{{thisCircle.id}}" data-ng-if="circleLoaded && showCircle">
		<div id="circleWrap">
			<ol id="friendsList" class="unstyled">
				<li data-ng-repeat="friend in thisCircle.persons">
					<friend data-user="friend"></friend>
				</li>
			</ol>
		</div>
	</div>

	<div id="circleContainer" class="newCircle" data-ng-if="!circleLoaded && showCircle">
		<div id="circleWrap">	
			<form id="inputWrap">
				<input type="text" data-i18n-attr="views.circles.titleForNew|placeholder" id="titleInput" data-ng-model="circleName">
				<usersearch data-scope="friends" data-multiple type="text" data-input-i18n-attr="views.circles.searchFriends|placeholder" id="friendInput" />
				<button class="btn btn--primary btn--big" id="savecircle" type="submit" data-ng-click="createNew(circleName)" data-i18n="views.circles.createCircle"></button>		
			</form>
		</div>
	</div>
</div>