<section data-ng-controller="ssn.magicbar.friendsController">
	<header data-ng-controller="ssn.magicbar.mainController">
		<span class="title">
			<span class="title-text" data-i18n="magicbar.requests.title"></span>
		</span>
	</header>
	<ul class="unstyled" id="requestsList" data-ng-if="requests.length > 0">
		<li class="request" data-ng-repeat="user in requests">
			<friend data-user="user" data-type="request"></friend>
		</li>
		<li class="request error" data-ng-if="requests.length == 0">
			<span data-i18n="magicbar.requests.none"></span>
		</li>
	</ul>
	<ul class="unstyled" data-ng-if="requests.length == 0">
		<li class="request error">
			<span data-i18n="magicbar.requests.none"></span>
		</li>
	</ul>
</section>
<section>
	<header><span class="title" role="title" data-i18n="friends.title"></span></header>
	<ol id="friendsList" class="unstyled">
		<li data-ng-repeat="friend in friends">
			<friend data-user="friend" data-type="friend"></friend>
		</li>
	</ol>
</section>