<section id="inviteMail">
	<form>
		<h1 data-i18n="views.invite.viaMail"></h1>
		<p data-i18n="views.invite.viaMailExplanation"></p>
		<ul class="emailList unstyled">
			<li class="annotatedInput-container" data-ng-repeat="mail in inviteMails track by $index">
				<input type="text" class="annotatedInput-input" data-i18n-attr="views.invite.mail|placeholder" data-ng-model="inviteMails[$index]">
				<span class="annotatedInput-icon fa fa-fw" data-ng-class="{'fa-times': !isMail(inviteMails[$index])}" data-ng-if="!empty(inviteMails[$index])"></span>
			</li>
		</ul>

		<p data-i18n="views.invite.yourName"></p>

		<input id="invitedBy" type="text" data-ng-model="name" data-i18n-attr="views.invite.name|placeholder">

		<savebutton class="sendInvite btn--big" data-ng-click="inviteUsers(name, inviteMails)" data-state="inviteMailState" data-noiniticon>
			<span data-i18n="views.invite.invite"></span>
		</savebutton>
	</form>
</section>

<section id="inviteLink">
	<h1 data-i18n="views.invite.viaLink"></h1>
	<p data-i18n="views.invite.viaLinkExplanation"></p>
	<savebutton class="sendInvite btn--big" data-ng-click="generateInvite()" data-state="inviteGenerateState" data-noiniticon>
		<span data-i18n="views.invite.generateLink"></span>
	</savebutton>
	<div class="inviteDetails" data-ng-if="inviteCode">
		<div>
			<span data-i18n="views.invite.code"></span>
			<span>{{inviteCode}}</span>
		</div>
		<div>
			<span data-i18n="views.invite.link"></span>
			<a href='{{domain}}/start/{{inviteCode}}'>{{domain}}/start/{{inviteCode}}</a>
		</div>
	</div>
</section>