<header>
	<span data-i18n="menu.legal" id="title"></span>
</header>
<div id="helpWrap">
	<section id="general">
		<ul>
			<li>
				<a class="btn btn--primary" href="">
					<i class="icon icon-book"></i>
					<span data-i18n="window.title.terms"></span>
				</a>
			</li>
			<li>

				<a class="btn btn--primary" href="">
					<i class="icon icon-book"></i>
					<span data-i18n="window.title.data"></span>
				</a>
			</li>
			<li>
				<a class="btn btn--primary" href="mailto:support@whispeer.de">
					<i class="icon icon-chat"></i>
					<span data-i18n="window.title.contact"></span>
				</a>
			</li>
			<li>
				<a class="btn btn--primary" href="http://blog.whispeer.de/de/impressum/" target="_blank">
					<i class="icon icon-attention"></i>
					<span data-i18n="window.title.notice"></span>
				</a>
			</li>
		</ul>
	</section>
</div>