<header>
	<span data-i18n="menu.legal" id="title"></span>
</header>
<div id="helpWrap">
	<section id="general">
		<ul>
			<li>
				<i class="icon icon-book"></i>
				<a href="" data-i18n="window.title.terms"></a>
			</li>
			<li>
				<i class="icon icon-book"></i>
				<a href="" data-i18n="window.title.data"></a>
			</li>
			<li>
				<i class="icon icon-chat"></i>
				<a href="mailto:support@whispeer.de" data-i18n="window.title.contact"></a>
			</li>
			<li>
				<i class="icon icon-attention"></i>
				<a href="http://blog.whispeer.de/de/impressum/" target="_blank" data-i18n="window.title.notice"></a>
			</li>
		</ul>	
	</section>
</div>