<header class="box-header">
	<span class="box-header-title" data-i18n="menu.legal"></span>
</header>
<section class="box-content box-content--scroll" id="general">
	<ul class="legalView-menu u-unstyled">
		<li class="legalView-menu-item">
			<a class="legalView-menu-item-link btn btn--primary" href="">
				<i class="icon icon-book"></i>
				<span data-i18n="window.title.terms"></span>
			</a>
		</li>
		<li class="legalView-menu-item">
			<a class="legalView-menu-item-link btn btn--primary" href="">
				<i class="icon icon-book"></i>
				<span data-i18n="window.title.data"></span>
			</a>
		</li>
		<li class="legalView-menu-item">
			<a class="legalView-menu-item-link btn btn--primary" href="mailto:support@whispeer.de">
				<i class="icon icon-chat"></i>
				<span data-i18n="window.title.contact"></span>
			</a>
		</li>
		<li class="legalView-menu-item">
			<a class="legalView-menu-item-link btn btn--primary" href="http://blog.whispeer.de/de/impressum/" target="_blank">
				<i class="icon icon-attention"></i>
				<span data-i18n="window.title.notice"></span>
			</a>
		</li>
	</ul>
</section>