<div class="loginForm" data-ng-controller="ssn.loginController">
	<h1 data-i18n="login.header"></h1>
	<form>
		<div class="name">
			<input type="text" id="mail" data-i18n-attr="login.username|placeholder" data-ng-model="login.identifier">
		</div>
		<div class="pw">
			<input type="password" id="password" data-i18n-attr="login.password|placeholder" data-ng-model="login.password">
		</div>
		<div class="errors">
			<div class="error" data-ng-if="login.failureCode > 1" id="errorLogin" data-i18n="login.loginFailed"></div>
			<div class="error" data-ng-if="login.failureCode == 0" id="errorLogin" data-i18n="login.unknownName"></div>
			<div class="error" data-ng-if="login.failureCode == 1" id="errorLogin" data-i18n="login.wrongPassword"></div>
		</div>
		<savebutton id="loginformsubmit" data-noiniticon data-state="login.state" class="btn btn--input btn--primary" type="submit" data-ng-click="login.login()">
			<span data-i18n="login.link"></span>
		</savebutton>
	</form>
	<div class="smallRow" data-ng-if="login.failedOnce && false">
		<button class="btn btn-send" data-i18n="login.forgotName"></button>
		<button class="btn btn-send" data-i18n="login.forgotPassword"></button>
	</div>
	<a href="/start?register" data-ng-if="!mobile" data-i18n="login.register.createAccount"></a>
</div>
