<div id="newsfeedView-wall" data-scroll data-scroll-window data-custom="distancePercentage < 0.5" data-at-custom="loadMorePosts()">
	<header id="newsfeedView-wall-header">
		<h1 id="newsfeedView-wall-header-title" data-i18n="menu.newsfeed"></h1>
		<newpost data-input-i18n-attr="wall.postit.text|placeholder"></newpost>
		<div class="post" id="newsfeedView-filterAndSort">
			<div id="newsfeedView-filterForm">
				<h3 class="h1-noMarginTop" data-i18n="wall.filter.title"></h3>
				<div data-ng-class="{'annotatedInput-container annotatedInput-container--button': !mobile, 'inputSandwich': mobile}">
					<search data-multiple class="hideScroll" data-ng-class="{'annotatedInput-input annotatedInput-input--float': !mobile, 'inputSandwich-top': mobile}" data-supplier="filterSearchSupplier" data-search-template="filter" data-input-i18n-attr="wall.filter.placeholder|placeholder" data-callback="setTimelineFilter(selected)" data-initial-values="getFiltersByID(filterSelection)" data-base="filter"></search>
					<button class="btn btn--primary" data-ng-class="{'annotatedInput-button': !mobile, 'inputSandwich-bottom': mobile}" data-ng-click="applyFilter()"><i class="fa fa-filter fa-fw"></i><span data-i18n="wall.filter.save"></span></button>
				</div>
			</div>
			<div id="newsfeedView-sortForm">
				<h3 id="newsfeedView-sortForm-header">Posts Sortieren</h3>
				<button class="btn btn--primary" id="newsfeedView-sortForm-button" data-ng-click="toggleSort()" data-ng-show="!sortByCommentTime">
					<i class="fa fa-comment"></i>
					<span data-i18n="wall.sort.commentSort"></span>
				</button>
				<button class="btn btn--primary" id="newsfeedView-sortForm-button" data-ng-click="toggleSort()" data-ng-if="sortByCommentTime">
					<i class="fa fa-newspaper-o"></i>
					<span data-i18n="wall.sort.timeSort"></span>
				</button>
<!-- 				<div class="dropdown" id="newsfeedView-sortForm-dropdown">
					<div class="dropdown-header">
						<span class="dropdown-header-title" id="newsfeedView-sortForm-dropdown-title"></span>
						<div class="dropdown-header-close">
							<i class="fa fa-fw fa-times-circle"></i>
						</div>
					</div>
					<ul class="dropdown-container u-unstyled">
						<li class="newsfeedView-sortForm-dropdown-item"></li>
					</ul>
				</div> -->
			</div>
		</div>
	</header>
	<div class="posts" id="newsfeedView-posts">
		<div class="post please-donate" data-ng-if="showDonateHint" data-ng-cloak>
			<div class="please-donate-inner">
				<i class="fa fa-heart fa-5x" id="fundView-donateIcon"></i>
				<a href="" class="post-link"><i class="fa fa-times"></i></a>
				<h1 data-i18n="donateHint.heading"></h1>
				<h2 data-i18n="donateHint.subHeading"></h2>
				<p data-i18n="donateHint.detailText" data-syntaxify></p>

				<a class="btn btn--primary please-donate-link" data-ui-sref="app.fund.general" data-i18n="donateHint.actionText"></a>
				<a href="" class="please-donate-hide" data-ng-click="dontWantToDonate()" data-i18n="donateHint.refusalText"></a>
			</div>
		</div>
		<div class="post" class="zeroContent" id="newsfeedView-noPosts" data-ng-if="!currentTimeline.loading && currentTimeline.getPosts().length === 0">
			<h1 class="h1-noMarginTop" data-i18n="wall.zeroContent.headline"><span data-for="name">{{user.basic.shortname}}</span></h1>
			<h2 data-i18n="wall.zeroContent.subhead"></h2>
			<div id="newsfeedView-noPosts-actions" class="zeroContent-actions">
				<a href="#" data-ng-click="focusNewPost()" class="btn btn--primary zeroContent-action newsfeedView-noPosts-action" data-i18n="general.zeroContent.firstPost"></a>
				<a whispeer-sref="app.search" class="btn btn--primary zeroContent-action newsfeedView-noPosts-action" data-i18n="general.zeroContent.findFriends"></a>
				<a whispeer-sref="app.invite" class="btn btn--primary zeroContent-action newsfeedView-noPosts-action" data-i18n="general.zeroContent.inviteFriends"></a>
			</div>
		</div>
		<div class="post" id="newssfeedView-invite" data-ng-if="!currentTimeline.loading && currentTimeline.getPosts().length < 10">
			<h1 data-i18n="inviteFriends" class="h1-noMarginTop"></h1>
			<!-- todo: use ssn.inviteController here to make buttons work. Problem: it changes the css class... -->
			<div class="clear-fix" id="newsfeedView-shareButtons">
				<invitebuttons></invitebuttons>
			</div>
		</div>
		<post data-ng-repeat="post in currentTimeline.getPosts()" data-post="post" id="{{post.id}}" class="newsfeedView-post"></post>
		<div id="newsfeedView-loading" data-ng-show="currentTimeline.loading">
			<loadingindicator></loadingindicator>
			<p class="large-text" data-i18n="wall.loading"></p>
		</div>
	</div>
</div>
