<div id="newsfeedView-wall" data-scroll data-scroll-window data-custom="distancePercentage < 0.5" data-at-custom="loadMorePosts()" data-custom-once>
	<header id="newsfeedView-wall-header">
		<newpost data-input-i18n-attr="wall.postit.text|placeholder"></newpost>
		<div class="post" id="newsfeedView-filterForm">
			<h3 class="h1-noMarginTop">Filter deinen Newsfeed</h3>
			<search data-multiple class="hideScroll" data-supplier="filterSearchSupplier" data-search-template="filter" data-input-i18n-attr="wall.filter.placeholder|placeholder" data-callback="setTimelineFilter(selected)" data-initial-values="getFiltersByID(filterSelection)" data-base="filter"/>
		</div>
	</header>
	<div class="posts" id="newsfeedView-posts">
		<div class="post" id="newsfeedView-noPosts" data-ng-if="!currentTimeline.loading && currentTimeline.getPosts().length === 0">
			<h1 class="h1-noMarginTop">Hallo {{user.basic.shortname}}! Das hier ist dein Newsfeed.</h1>
			<h2>Leider ist er aktuell noch leer. Das sollten wir schleunigst ändern!</h2>
			<div class="newsfeedView-noPosts-actions">
				<a href="#" class="btn btn--primary newsfeedView-noPosts-action">Schreibe deinen ersten Post</a>
				<a href="#" class="btn btn--primary newsfeedView-noPosts-action">Finde deine Freunde auf whispeer</a>
				<a whispeer-sref="app.invite" class="btn btn--primary newsfeedView-noPosts-action">Lade deine Freunde ein</a>
			</div>
		</div>
		<div class="post" id="newssfeedView-invite" data-ng-if="!currentTimeline.loading && currentTimeline.getPosts().length < 10">
			<h1 data-i18n="inviteFriends" class="h1-noMarginTop"></h1>
			<!-- todo: use ssn.inviteController here to make buttons work. Problem: it changes the css class... -->
			<div class="clear-fix" id="newsfeedView-shareButtons">
				<invitebuttons></invitebuttons>
			</div>
		</div>
		<post data-ng-repeat="post in currentTimeline.getPosts()" data-post="post" id="{{post.id}}" class="newsfeedView-post"></post>
		<div id="newsfeedView-loading" data-ng-show="currentTimeline.loading">
			<i class="saveButton-spinner fa fa-2x fa-fw fa-circle-o-notch fa-spin"></i>
			<p class="large-text" data-i18n="wall.loading"></p>
		</div>
	</div>
</div>
