<header>
	<button data-ng-if="!mobile || !showMessage" class="left" id="newmessage" data-ng-click="unloadTopic()"><i class="icon-plus-circle" id="plusBtn"></i><span data-i18n="messages.newMessage"></span></button>
	<span class="title" data-ng-class="{chat: topicLoaded && showMessage, newMessage: !topicLoaded && showMessage}">
		<span data-ng-if="!topicLoaded && !showMessage" data-i18n="messages.title"></span>
		<span data-ng-if="!topicLoaded && showMessage" data-i18n="messages.newMessage"></span>
		<span data-ng-if="topicLoaded && showMessage">
			<span data-i18n="messages.chat"></span>
			<span data-ng-repeat="partner in activeTopic.partners">
				<span class="status" data-status="{{partner.online}}"></span>
				<a href="{{partner.basic.url}}">
					{{activeTopic.partners.length>2?partner.basic.shortname:partner.name}}
				</a>{{$last?"":", "}}
			</span>
		</span>
	</span>
	<button id="showTopics" class="right" data-ng-click="unloadTopic(false)" data-ng-if="mobile && showMessage"><i class="icon icon-menu"></i></button>
</header>
<div id="topicListWrap" data-ng-if="!mobile || !showMessage">
	<ul id="topicList">
		<div id="topicListScroll">
			<li data-ng-repeat="topic in topics" id="{{topic.id}}" class="topic {{topic.type}} {{topic.unread?'unread':''}} {{isActiveTopic(topic)?'active':''}}" data-ng-click="loadActiveTopic(topic.id)">
				<div class="left">
					<div class="imgWrap">
						<img class="userimg" data-ng-repeat="partner in topic.partnersDisplay" data-ng-src="{{partner.basic.image}}" alt="{{partner.name}}" title="{{partner.name}}">
						<span data-ng-if="topic.remainingUser" title="{{topic.remainingUserTitle}}">+ {{topic.remainingUser}}</span>
					</div>	
				</div>
				<div class="username">
					<span class="status" data-status="{{topic.partners[0].online}}"></span>
					<strong ng-repeat="partner in topic.partners">{{topic.partners.length>1?partner.basic.shortname:partner.name}}{{$last?"":", "}}</strong>
				</div>
				<div class="lastMessage">
					{{topic.latestMessage.data.text}}
				</div>
				<div class="time"><i class="icon icon-clock"></i> {{topic.latestMessage.data.timestamp|smartdate}}</div>
				<div class="clear-fix"></div>
			</li>
		</div>
	</ul>
</div>
<div id="topicWrap" data-topicID="{{activeTopic.id}}" class="{{activeTopic.type}}" data-ng-if="topicLoaded && showMessage">
	<div id="messageWrap">
		<ul class="scroll-pane" id="messageList" data-scroll data-keepBottom data.scrollLock="scrollLock" data-ontop="loadMoreMessages()">
<!--
			<li>
				Remaining: {{activeTopic.remaining}}
			</li>
-->
			<li data-ng-cloak data-ng-repeat="message in activeTopic.messages" data-inview="markRead(message.id)" data-inview-time="1000" data-messageID="{{message.id}}" class="message" data-ng-class="{me:message.sender.me, other:message.sender.other}">
				<div class="userimg">
					<a href="{{message.sender.basic.url}}">
						<img data-userID="sender{{message.sender.id}}" alt="Username" data-ng-src="{{message.sender.basic.image}}">
					</a>
				</div>
				<div class="messageContent">
					<a href="{{message.sender.basic.url}}" class="username" data-userID="sender{{message.sender.id}}">{{message.sender.name}}</a>
					<div class="messageText {{message.type}}" data-ng-class="{{message.type}}" data-syntaxify="message.text"><img data-ng-if="message.type != 'image'" data-ng-src=""></div>
					<div class="time"><i class="icon icon-clock"></i> {{message.timestamp|smartdate}}</div>
				</div>	
			</li>
		</ul>
		<form id="inputWrap">
			<textarea focus-me="canSend" id="messageInput" data-advancedsend="sendMessage(activeTopic.newMessage)" type="text" data-ng-model="activeTopic.newMessage" data-ng-disabled="!canSend" data-i18n-attr="messages.sendMessage.text|placeholder"></textarea>
			<button class="btn btn--primary" id="sendmessage" data-ng-click="sendMessage(activeTopic.newMessage)" data-i18n="messages.sendMessage.send" type="submit"></button>
		</form>
	</div>
</div>
<div id="topicWrap" class="newMessage" data-ng-if="!topicLoaded && showMessage">
	<div id="messageTitle">
		<h2 data-ng-if="!mobile" data-i18n="messages.newMessage"></h2>
	</div>
	<div id="messageWrap">
		<form id="inputWrap">
			<usersearch res="create" data-user="userid" size="small" focus="all" id="recieverInput" data-multiple data-selected-users="create.selectedUsers" data-input-i18n-attr="messages.search|placeholder"/>

			<textarea data-advancedsend="create.send(create.selectedElements, create.text)" type="text" data-i18n-attr="messages.sendMessage.text|placeholder" id="messageInput" data-ng-model="create.text"></textarea>
			<button class="btn btn--primary" id="sendmessage" type="submit" data-ng-click="create.send(create.selectedElements, create.text)" data-i18n="messages.sendMessage.send"></button>
		</form>
	</div>
</div>
