<section id="patronizeView-section">
	<h1 id="patronizeView-heading">Support whispeer with a donation</h1>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	<a href="#" class="btn btn--primary btn--big patronizeView-method patronizeView-method-paypal" data-ng-class="{'patronizeView-method--active': paypal}" data-ng-click="togglePaypal()"><i class="fa fa-paypal fa-fw"></i> Donate with PayPal</a>
	<div class="patronizeView-method-detail patrnonizeView-method-detail-paypal" data-ng-if="paypal">
		<p>Klicke auf Spenden um whispeer einen frei wählbaren Beitrag zu senden.</p>
		<p>Vielen Dank für deine Unterstützung!</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="P9W8Z8HH2LQ7J">
			<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
			<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

	<a href="#" class="btn btn--primary btn--big patronizeView-method patronizeView-method-bank" data-ng-class="{'patronizeView-method--active': bank}" data-ng-click="toggleBank()"><i class="fa fa-bank fa-fw"></i> Donate via Bank Transfer</a>
	<div class="patronizeView-method-detail patrnonizeView-method-detail-bank" data-ng-if="bank">
		<p>Um whispeer zu unterstützen kannst du einen beliebigen Beitrag an die untenstehende Bankverbindung überweisen.</p>
		<p>Vielen Dank für deine Unterstützung!</p>
		<p>DADADADA</p>
	</div>

	<a href="#" class="btn btn--primary btn--big patronizeView-method" target="_blank"><i class="fa fa-shopping-cart fa-fw"></i> Buy Merchandise in our Shop</a>
</section>