<header>
	<span data-i18n="settings.header.title" class="title"></span>
<!--
	<div class="links">
		<a href="#general">Allgemein</a>
		<a href="#safety">Sicherheit</a>
		<a href="#privacy">Privatsphäre</a>
		<a href="#notifications">Benachrichtigungen</a>
		<a href="#features">Zusätzliche Funktionen</a>
	</div>
-->
</header>
<div id="settingsWrap">
	<section id="general">
		<header><span class="title" data-i18n="settings.changes.general.title"></span></header>
		<div class="config" id="sendMethod">
			<h5 data-i18n="settings.changes.general.sendMethod.title"></h5>
			<p>
				<label for="sendMethodEnter" class="btn btn--primary btn--big">
					<input type="radio" data-ng-change="saveGeneral()" data-ng-model="sendShortCut" name="sendMethod" value="enter" id="sendMethodEnter">
					&nbsp;<span data-i18n="settings.changes.general.sendMethod.enter"></span>
				</label>
			</p>
			<p>
				<label for="sendMethodCtrlEnter" class="btn btn--primary btn--big">
					<input type="radio" data-ng-change="saveGeneral()" data-ng-model="sendShortCut" name="sendMethod" value="ctrlEnter" id="sendMethodCtrlEnter">
					&nbsp;<span data-i18n="settings.changes.general.sendMethod.ctrlEnter"></span>
				</label>
			</p>
		</div>
		<div class="config" id="sounds">
			<h5 data-i18n="settings.changes.general.notificationSounds.title"></h5>
			<p>
				<label for="messageSoundOn" class="btn btn--primary btn--big">
					<input type="radio" data-ng-change="saveGeneral()" data-ng-model="notificationSound" name="messageSound" value="on" id="messageSoundOn">
					&nbsp;<span data-i18n="settings.changes.general.notificationSounds.on"></span>
				</label>
			</p>
			<p>
				<label for="messageSoundOff" class="btn btn--primary btn--big">
					<input type="radio" data-ng-change="saveGeneral()" data-ng-model="notificationSound" name="messageSound" value="off" id="messageSoundOff">
					&nbsp;<span data-i18n="settings.changes.general.notificationSounds.off"></span>
				</label>
			</p>
		</div>
	</section>
	<section id="account">
		<header><span class="title" data-i18n="settings.changes.account"></span></header>
		<div class="config" id="name">
			<h5 data-i18n="settings.changes.changeName"></h5>
			<input type="text" id="firstname" data-ng-model="firstName" data-i18n-attr="settings.safety.attributes.names.firstname|placeholder">
			<input type="text" id="lastname" data-ng-model="lastName" data-i18n-attr="settings.safety.attributes.names.lastname|placeholder">
			<button type="submit" data-ng-click="saveName()"><i class="icon-ok-circle"></i> <span data-i18n="settings.changes.save"></span></button>
		</div>
		<div class="config" id="nickname">
			<h5 data-i18n="settings.changes.changeUsername"></h5>
			<input type="text" id="newNickname" data-ng-model="nickName" data-i18n-attr="settings.safety.attributes.names.username|placeholder">
			<button type="submit" data-ng-click="saveNickName()"><i class="icon-ok-circle"></i> <span data-i18n="settings.changes.save"></span></button>
		</div>
		<div class="config" id="mail">
			<h5 data-i18n="settings.changes.changeMail"></h5>
			<input type="text" id="email" data-ng-model="mail" data-i18n-attr="settings.changes.mail|placeholder">
			<button type="submit" data-ng-click="saveMail()"><i class="icon-ok-circle"></i> <span data-i18n="settings.changes.save"></span></button>
		</div>
		<div class="config" id="password">
			<h5 data-i18n="settings.changes.changePassword"></h5>
			<input type="password" id="newPassword" data-i18n-attr="login.password|placeholder">
			<input type="password" id="newPassword2" data-i18n-attr="login.register.repeatPassword|placeholder">
			<button type="submit" data-ng-click="savePassword()"><i class="icon-ok-circle"></i> <span data-i18n="settings.changes.save"></span></button>
		</div>
	</section>
	<section id="safety">
		<header><span class="title" data-i18n="settings.safety.title"></span></header>
		<h4 data-i18n="settings.safety.attributes.names.header"></h4>
		<div class="config select" id="firstNameEncryption">
			<span data-i18n="settings.safety.attributes.names.firstname"></span>
			<button type="submit" data-ng-click="safety.basic.firstname.encrypt=!safety.basic.firstname.encrypt" data-encrypted="{{safety.basic.firstname.encrypt}}">
				<i class="icon-lock" data-ng-if="safety.basic.firstname.encrypt"></i>
				<i class="icon-lock-open" data-ng-if="!safety.basic.firstname.encrypt"></i>
			</button>
			<div data-ng-if="safety.basic.firstname.encrypt"><filtersearch data-res="safety.basic.firstname" data-res-attr="visibility" data-selected="safety.basic.firstname.visibility" data-input-i18n-attr="settings.safety.whomayseeit.firstname|placeholder" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<div class="config select" id="lastNameEncryption">
			<span data-i18n="settings.safety.attributes.names.lastname"></span>
			<button type="submit" data-ng-click="safety.basic.lastname.encrypt=!safety.basic.lastname.encrypt" data-encrypted="{{safety.basic.lastname.encrypt}}">
				<i class="icon-lock" data-ng-if="safety.basic.lastname.encrypt"></i>
				<i class="icon-lock-open" data-ng-if="!safety.basic.lastname.encrypt"></i>
			</button>
			<div data-ng-if="safety.basic.lastname.encrypt"><filtersearch data-res="safety.basic.lastname" data-res-attr="visibility" data-selected="safety.basic.lastname.visibility" data-input-i18n-attr="settings.safety.whomayseeit.lastname|placeholder" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<h4 data-i18n="menu.profil"></h4>
		<div class="config select" data-ng-repeat="name in safetySorted" id="{{name}}Encryption">
			<span data-i18n="settings.safety.attributes.{{name}}"></span>
			<button type="submit" data-ng-click="safety[name].encrypt=!safety[name].encrypt" data-encrypted="{{safety[name].encrypt}}">
				<i class="icon-lock" data-ng-if="safety[name].encrypt"></i>
				<i class="icon-lock-open" data-ng-if="!safety[name].encrypt"></i>
			</button>
			<div data-ng-if="safety[name].encrypt"><filtersearch data-res="safety[name]" data-res-attr="visibility" data-selected="safety[name].visibility" data-input-i18n-attr="settings.safety.whomayseeit.{{name}}|placeholder" class="whoMaySeeIt"></filtersearch></div>
		</div>
		<button class="settingsFormButton" type="submit" data-ng-click="saveSafety()"><i class="icon-ok-circle"></i> <span data-i18n="settings.changes.save"></span></button>
		<button class="settingsFormButton" type="submit" data-ng-click="resetSafety()"><i class="icon-cancel-circle"></i> <span data-i18n="settings.safety.reset"></span></button>
	</section>
<!--
	<section id="notifications">
		<header><span class="title">Benachrichtigungen</span></header>
		<div class="notimplemented"><span data-i18n="notimplemented"></span></div>
	</section>
	<section id="features">
		<header><span class="title">Zusätzliche Funktionen</span></header>
		<div class="notimplemented"><span data-i18n="notimplemented"></span></div>
	</section>
-->
</div>