<h1 data-i18n="views.setup.welcomeHeader"></h1>

<div class="backup" data-ng-if="backupFailed">
	<header>
		<h2 data-i18n="views.setup.backup.header"></h2>
		<div class="backupWarningExplanation" data-syntaxify data-i18n="views.setup.backup.impossible"></div>
	</header>
</div>

<div class="backup" data-ng-if="!backupFailed">
	<header>
		<h2 data-i18n="views.setup.backup.header"></h2>
		<div class="backupWarningExplanation" data-syntaxify data-i18n="views.setup.backup.explanation"></div>
	</header>
	<button class="btn btn--primary btn--big" data-ng-click="downloadBackup()">
		<i class="fa fa-download"></i> <span data-i18n="views.setup.backup.downloadKey"></span>
	</button>
	<span class="full-line" data-i18n="views.setup.backup.or"></span>
	<button class="btn btn--primary btn--big" data-ng-click="printBackup()">
		<i class="fa fa-print"></i> <span data-i18n="views.setup.backup.printKey"></span>
	</button>

	<button id="setupView-noBackup" class="btn btn--primary btn--danger btn--big" data-ng-if="profileSaved && !backupClicked">
		<span data-i18n="views.setup.backup.ignore"></span>
	</button>
</div>

<div class="profile" data-ng-if="!profileSaved">
	<header>
		<h2 data-i18n="views.setup.optionalData.header"></h2>
	</header>
	<div class="name">
		<h3 data-i18n="views.setup.optionalData.nameExplanation"></h3>
		<input type="text" name="firstname" data-ng-model="profile.firstName" data-i18n-attr="views.setup.optionalData.firstName|placeholder">
		<input type="text" name="lastname" data-ng-model="profile.lastName" data-i18n-attr="views.setup.optionalData.lastName|placeholder">
		<div><input data-ng-model="profile.privateName" type="checkbox" id="privateName"> <label for="privateName" data-i18n="views.setup.optionalData.privateName"></label></div>
	</div>

	<div class="mail">
		<h3 data-i18n="views.setup.optionalData.mailExplanation"></h3>
		<input name="mail" data-ng-model="profile.mail" data-i18n-attr="views.setup.optionalData.mail|placeholder">
	</div>
	<div class="submit">
		<savebutton data-state="saveSetupState" data-noiniticon data-ng-click="saveProfile()" class="btn--big">
			<span data-i18n="views.setup.save"></span>
		</savebutton>
	</div>
</div>
