<h1>Willkommen bei Whispeer!</h1>

<div>
	<i class="fa fa-2x fa-warning" style="float: left; margin-right: 5px; margin-top: 7px;"></i>
	Wir haben keinen Zugriff auf deine Daten.<br>
	Dein Account ist <strong>verloren</strong>, wenn du dein Passwort vergisst!<br><br>
	<button class="btn btn--primary btn--big"><i class="fa fa-download"></i> Backup herunterladen</button>
	<button class="btn btn--primary  btn--big"><i class="fa fa-print"></i> Backup ausdrucken</button>
</div>

<div>
	<h2>Freiwillige Angaben:</h2>
	<div class="name">
		<h3>Nenne uns deinen Vor- und Nachnamen damit Freunde dich einfacher finden:</h3>
		<input name="firstname" placeholder="Vorname">
		<input name="lastname" placeholder="Nachname">
	</div>

	<div class="mail">
		<h3>Nenne uns deine E-Mail damit wir dich bei Neuigkeiten benachrichtigen können:</h3>
		<input name="mail" placeholder="E-Mail">
	</div>
</div>

<savebutton data-state="saveSetupState" data-noiniticon data-translation="views.setup.save"></savebutton><button class="btn btn--danger">Abbrechen</button>
