<h1>Willkommen bei whispeer!</h1>

<div class="backup">
	<header>
		<h2>Sichere jetzt deinen Schlüssel</h2>
		<div class="hint hint--bottom hint--info hint--rounded why" data-hint="Dummy!">Warum?</div>
	</header>	
	<button class="btn btn--primary btn--big" data-ng-click="downloadBackup()">
		<i class="fa fa-download"></i> <span>Schlüssel herunterladen</span>
	</button>
	<span class="full-line">oder</span>
	<button class="btn btn--primary btn--big" data-ng-click="printBackup()">
		<i class="fa fa-print"></i> <span>Schlüssel ausdrucken</span>
	</button>
</div>

<div class="profile">
	<header>
		<h2>Freiwillige Angaben:</h2>
	</header>
	<div class="name">
		<h3>Nenne uns deinen Vor- und Nachnamen damit Freunde dich einfacher finden:</h3>
		<input name="firstname" placeholder="Vorname">
		<input name="lastname" placeholder="Nachname">
	</div>

	<div class="mail">
		<h3>Nenne uns deine E-Mail damit wir dich bei Neuigkeiten benachrichtigen können:</h3>
		<input name="mail" placeholder="E-Mail">
	</div>
	<div class="submit">
		<savebutton data-state="saveSetupState" data-noiniticon data-translation="views.setup.save" class="btn--big"></savebutton>
	</div>
</div>
