<header>
	<h1>Unser Auftrag: Der Schutz deiner Privatsphäre!</h1>
	<p>whispeer ist ein soziales Netzwerk, dass sich auf die Sicherheit deiner Daten spezialisiert hat.</p>
</header>
<div id="landing">
	<img src="assets/img/landing_white.png">
</div>	
<sidebar id="rightWrap">
	<section id="register" data-ng-controller="ssn.registerController">
		<div data-ng-click="registerFormClick()" data-onload="stepLoaded()">
			<form>
				<h4 data-i18n="login.register.newaccount"></h4>
				<div class="inputWrap">
					<div>
						<input type="text" id="rnickname" data-i18n-attr="login.username|placeholder" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange()" required>
						<span class="icon" id="rnicknameIcon" data-ng-if="nickname">
							<img data-ng-src="{{acceptIconNicknameFree()}}" alt="Ok!">
						</span>
					</div>
					<div>
						<input type="password" id="rpassword" data-i18n-attr="login.password|placeholder" data-ng-model="password" data-strength="{{passwordStrength()}}" required>
					</div>
					<div>
						<input type="password" id="rpassword2" data-i18n-attr="login.register.repeatPassword|placeholder" data-ng-model="password2" data-strength="{{passwordStrength()}}" required>
						<span class="icon check" id="rpassword2Icon" data-ng-if="password">
							<img data-ng-src="{{acceptIcon(password, password2)}}" alt="Password correct?">
						</span>
					</div>
					<div id="registerPasswordStrength" data-strength="{{passwordStrength()}}">
						<span data-i18n="login.register.passwordstrength"></span>
						<span>{{passwordStrength()}}/10</span>
					</div>
					<div id="registerAGB">
						<label for="checkAGB">
							<input type="checkbox" id="checkAGB"> Ich akzeptiere die AGB, Datenschutzbestimmungen und Netiquette.
						</label>
					</div>
				</div>
				<div class="submitWrap">
					<button id="registerFormNextStep" class="btn btn--big btn--danger" type="submit"  data-ng-click="register()" data-i18n="login.register.link"></button>
				</div>
			</form>
		</div>
	</section>
</section>	