<section data-ng-if="mobile" class="register">
	<lazyiframe src="login/loginMobile.html" class="startView-loginIframe"></lazyiframe>
	<lazyiframe src="/register.html" class="startView-registerIframe"></lazyiframe>
</section>

<section data-ng-if="!mobile" class="splash">
	<sidebar class="rightWrap">
		<section class="box register">
			<lazyiframe delay="500" src="/register.html" class="startView-registerIframe"></lazyiframe>
		</section>
	</sidebar>
	<div class="leftWrap">
		<h1 data-i18n="landingpage.heading"></h1>
		<p data-i18n="landingpage.paragraphOne"></p>
		<p data-i18n="landingpage.paragraphTwo"></p>
		<img src="assets/img/landing_white.png">
	</div>
	<div class="features">
		<div class="feature">
			<div class="title"><i class="fa fa-lock"></i>
				<span data-i18n="landingpage.featureOne"></span>
			</div>
			<div class="content" data-i18n="landingpage.featureOneProse"></div>
		</div>
		<div class="feature">
			<div class="title"><i class="fa fa-paper-plane"></i>
				<span  data-i18n="landingpage.featureTwo"></span>
			</div>
			<div class="content" data-i18n="landingpage.featureTwoProse"></div>
		</div>
		<div class="feature">
			<div class="title"><i class="fa fa-gift"></i>
				<span  data-i18n="landingpage.featureThree"></span>
			</div>
			<div class="content" data-i18n="landingpage.featureThreeProse"></div>
		</div>
	</div>
</section>

<div class="intermezzo">
	<section data-ng-if="!mobile" id="more">

		<h1 data-i18n="landingpage.more.headingOne"></h1>
		<p class="leftWrap" data-i18n="landingpage.more.paragraphOne"></p>

		<h1 data-i18n="landingpage.more.headingTwo"></h1>
		<p class="leftWrap" data-i18n="landingpage.more.paragraphTwo"></p>

		<sidebar class="rightWrap">
			<section class="box register">
				<lazyiframe delay="500" src="/register.html" class="startView-registerIframe"></lazyiframe>
			</section>
		</sidebar>

		<p class="leftWrap" data-i18n="landingpage.more.paragraphThree"></p>
		<p class="leftWrap" data-i18n="landingpage.more.paragraphFour"></p>

	</section>
</div>
