<nav data-ng-if="!loading">
	<heading>
		<h3>{{user.name}}</h3>
		<div class="trustlevel" data-trustlevel="{{user.trustLevel}}" data-ng-if="!user.me">
			<span class="text">Trust-Level: {{user.trustLevel}}</span>&nbsp;
			<i data-ng-if="user.trustLevel < 2" class="icon icon-plus-circle" data-ng-click="toggleVerify()"></i>
			<div class="dropdown" id="verifyUser" data-ng-if="verifyNow">
				<div class="dropdown-header">
					<span class="title" data-i18n="profile.trustmanager.verifyTitle"></span>
					<span class="close"><i class="icon icon-cancel-circle" data-ng-click="toggleVerify()"></i></span>
				</div>
				<div class="dropdown-content">
					<span data-i18n="profile.trustmanager.verifyInfo"></span>
					<input type="text" placeholder="Fingerprint" data-ng-model="givenPrint">
					<savebutton data-state="verifyingUser" data-ng-click="verify(givenPrint)"></savebutton>
				</div>
			</div>
		</div>
	</heading>
	<menu type="list" class="unstyled">
		<li><a scrolltoid="info" data-i18n="profile.head.info"></a></li>
		<li><a scrolltoid="wall" data-i18n="profile.head.wall"></a></li>
		<li><a scrolltoid="friends" data-i18n="profile.head.friends"></a></li>
	</menu>
</nav>
<div id="wrap" data-ng-if="!loading">
	<div id="scroller" class="box">
		<section id="info">
			<article id="generalInfo">
				<header>
					<span data-i18n="profile.section.general.headers.title"></span>
					<a href="" class="edit" data-i18n="profile.edit" data-ng-if="user.me" data-ng-click="edit()"></a>
				</header>
				<div class="userimage" data-ng-class="{'editing':changeImage, 'bigger': mobile && editGeneral && !changeImage}">
					<img data-ng-src="{{user.basic.image}}" alt="{{user.name}}" data-ng-if="!changeImage && user.me">
					<userimage data-user="user" data-ng-if="!changeImage && !user.me" />
					<span class="editImage" data-ng-if="editGeneral && !changeImage" data-i18n="profile.section.general.changeImage" data-ng-click="doChangeImage()"></span>
					<div class="uploadImageForm" data-ng-if="editGeneral && changeImage">
						<span id="uploadButton" data-i18n="login.register.uploadImage"></span>
						<input id="filesUpload" type="file" data-file="imageChange" width="4000">
					</div>
					<canvas data-ng-if="changeImage" id="original"></canvas>
					<div class="resizableWrapper" data-ng-show="!mobile"></div>
				</div>
				<div class="info">
					<p id="birthday" data-ng-show="set(user.advanced.birthday) || editGeneral">
						<i class="icon-gift"></i>
						<span data-i18n="profile.section.general.birthday.text">
							<span class="day" data-for="day" data-ng-if="!editGeneral">{{user.advanced.birthday.day}}</span>
							<span class="month" data-for="month" data-ng-if="!editGeneral" data-i18n="date.month.{{user.advanced.birthday.month}}"></span>
							<span class="year" data-for="year" data-ng-if="!editGeneral">{{user.advanced.birthday.year}}</span>
							<select class="day" data-for="day" data-ng-if="editGeneral" data-ng-model="user.advanced.birthday.day" data-ng-options="day for day in days">
								<option value="" data-i18n="profile.section.general.birthday.day"></option>
							</select>
							<select class="month" data-for="month" data-ng-if="editGeneral" data-ng-model="user.advanced.birthday.month">
								<option value="" data-i18n="profile.section.general.birthday.month"></option>
								<option data-ng-repeat="month in months" data-i18n="date.month.{{month}}" value="{{$index+1}}" data-ng-selected="$index+1 == user.advanced.birthday.month"></option>
							</select>
							<select class="year" data-for="year" data-ng-if="editGeneral" data-ng-model="user.advanced.birthday.year" data-ng-options="year for year in years">
								<option value="" data-i18n="profile.section.general.birthday.year"></option>
							</select>
						</span>
					</p>
					<p id="residence" data-ng-show="set(user.advanced.location) || editGeneral">
						<i class="icon-home"></i>
						<span data-i18n="profile.section.general.location.{{getLocationVals(user.advanced.location)}}">
							<span data-for="town" class="town" data-ng-if="!editGeneral">{{user.advanced.location.town}}</span>
							<input data-for="town" type="text" data-ng-model="user.advanced.location.town" data-ng-if="editGeneral">

							<span data-for="state" class="state" data-ng-if="!editGeneral">{{user.advanced.location.state}}</span>
							<input data-for="state" type="text" data-ng-model="user.advanced.location.state" data-ng-if="editGeneral">

							<span data-for="country" class="country" data-ng-if="!editGeneral">{{user.advanced.location.country}}</span>
							<input data-for="country" type="text" data-ng-model="user.advanced.location.country" data-ng-if="editGeneral">	
						</span>
					</p>
					<p id="relationship" data-ng-show="set(user.advanced.relationship) || editGeneral">
						<i class="icon-heart"></i>
						<span data-i18n="profile.section.general.relation.{{getRelationVals(user.advanced.relationship)}}">
							<span data-for="relationType" class="relationType" data-ng-if="!editGeneral" data-i18n="profile.section.general.relation.status.{{user.advanced.relationship.type}}"></span>
							<select data-for="relationType" class="relationType" data-ng-model="user.advanced.relationship.type" data-ng-if="editGeneral">
								<option></option>
								<option data-ng-repeat="type in possibleStatus" data-i18n="profile.section.general.relation.status.{{type}}" value="{{type}}" data-ng-selected="type == user.advanced.relationship.type"></option>
							</select>

							<span data-for="name" class="partner" data-ng-if="!editGeneral">{{user.advanced.relationship.name}}</span>
							<input data-for="name" type="text" data-ng-model="user.advanced.relationship.name" data-ng-if="editGeneral">
						</span>
					</p>
					<p id="school" data-ng-show="set(user.advanced.education) || editGeneral">
						<i class="icon-book"></i>
						<span data-i18n="profile.section.general.education">
							<span data-ng-if="!editGeneral" data-for="school"><span data-ng-repeat="school in user.advanced.education">{{school.name}}</span></span>
							<span data-ng-if="editGeneral" data-for="school">
								<span class="input-group" data-ng-repeat="school in user.advanced.education">
									<input type="text" data-ng-model="school.name">
									<button class="remove btn btn--danger" data-ng-click="removeElement(user.advanced.education, $index)"><i class="icon icon-cancel-circle"></i></button>
								</span>
								<button class="add btn btn--primary" data-ng-click="addElement(user.advanced.education, {name: ''}, 3)"><i class="icon icon-plus-circle"></i></button>
							</span>
						</span>
					</p>
					<p id="work" data-ng-show="set(user.advanced.work) || editGeneral">
						<i class="icon-briefcase"></i>
						<span data-i18n="profile.section.general.work.{{getWorkVals(user.advanced.work)}}">
							<span data-ng-if="!editGeneral" data-for="what">{{user.advanced.work.what}}</span>
							<input data-ng-if="editGeneral" data-for="what" data-ng-model="user.advanced.work.what">
							
							<span data-ng-if="!editGeneral" data-for="where">{{user.advanced.work.where}}</span>
							<input data-ng-if="editGeneral" data-for="where" data-ng-model="user.advanced.work.where">
						</span>
					</p>
					<p id="sex" data-ng-show="set(user.advanced.gender) || editGeneral">
						<i class="icon-gender"></i>
						<span data-i18n="profile.section.general.gender.default">
							<span data-ng-if="!editGeneral" data-for="gender" data-i18n="profile.section.general.gender.{{user.advanced.gender}}"></span>
							<select data-ng-if="editGeneral" type="dropdown" data-ng-model="user.advanced.gender" data-for="gender">
								<option value="m" data-i18n="profile.section.general.gender.m"></option>
								<option value="f" data-i18n="profile.section.general.gender.f"></option>
							</select>
						</span>
					</p>
					<p id="languages" data-ng-show="set(user.advanced.languages) || editGeneral">
						<i class="icon-globe"></i>
						<span data-i18n="profile.section.general.languages">
							<span data-ng-if="!editGeneral" data-for="language">
								<span data-ng-repeat="language in user.advanced.languages">{{language.name}}</span>
							</span>
							<span data-ng-if="editGeneral" data-for="language">
								<span class="input-group" data-ng-repeat="language in user.advanced.languages">
									<input type="text" data-ng-model="language.name">
									<button class="btn btn--danger remove" data-ng-click="removeElement(user.advanced.languages, $index)"><i class="icon icon-cancel-circle"></i></button>
								</span>
								<button class="btn btn--primary add" data-ng-click="addElement(user.advanced.languages, {name:''})"><i class="icon icon-plus-circle"></i></button>
							</span>
						</span>
					</p>
					<p id="save" data-ng-show="editGeneral">
					<savebutton translation="settings.changes.save" data-state="saveUserState" data-ng-click="saveUser()"></savebutton>
				</div>
				<div class="actions">
					<savebutton ng-if="!user.me && !user.added" class="addFriend" data-ng-click="addFriend()" data-state="addFriendState" data-noiniticon data-translation="profile.actions.addFriend|user={{user.name}}"></savebutton>
					<div class="addToCircle" ng-if="user.added">
						<circlesearch res="circles" id="selectCircle" data-input-i18n-attr="profile.actions.addToCircle|placeholder|user={{user.name}}" data-user="user.id"></circlesearch>
						<saveButton id="circleSubmit" data-ng-click="saveCircles()" data-state="circles.saving"></saveButton>
					</div>
					<a href="/messages?userid={{user.id}}" class="sendMessage"><span data-i18n="profile.actions.sendMessage|user={{user.name}}"></span></a>
				</div>
			</article>
		</section>
		<section id="wall">
			<header  data-i18n="profile.section.wall.title"></header>
			<form data-ng-if="(user.isMyFriend || user.me)" class="form-inline" id="postIt">
				<textarea data-strg-enter="sendPost()" data-ng-model="newPost.text" data-i18n-attr="wall.postit.text|placeholder" id="shareText" data-ng-if="user.me"></textarea>
				<textarea data-strg-enter="sendPost()" data-ng-model="newPost.text" data-i18n-attr="profile.section.wall.postIt|placeholder|user={{user.name}}" id="shareText" data-ng-if="!user.me"></textarea>
				<button type="submit" data-i18n="wall.postit.send" data-ng-click="sendPost()"></button>
			</form>
			<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
		</section>
		<section id="friends">
			<header data-i18n="profile.section.friends.info"></header>
			<ol id="friendsList" class="unstyled">
				<li data-ng-repeat="friend in friends">
					<friend data-user="friend"></friend>
				</li>
			</ol>
		</section>
	</div>
</div>	