<nav data-ng-if="!loading">
	<heading>
		<h1>{{user.name}}</h1>
		<div class="trustlevel" data-trustlevel="{{user.trustLevel}}" data-ng-if="!user.me" data-ng-click="toggleVerify()">
			<span class="text">Trust-Level: {{user.trustLevel}}</span>&nbsp;
			<i data-ng-if="user.trustLevel < 2" class="icon icon-plus-circle"></i>
		</div>
	</heading>
	<menu type="list" class="unstyled">
		<li><a scrolltoid="info" data-i18n="profile.head.info"></a></li>
		<li><a scrolltoid="wall" data-i18n="profile.head.wall"></a></li>
		<li><a scrolltoid="friends" data-i18n="profile.head.friends"></a></li>
	</menu>
</nav>
<div id="wrap" data-ng-if="!loading">
	<div id="scroller" class="box">
		<ng-include data-ng-if="!verifyNow || user.me" data-src="'assets/views/pages/userSubViews/profile.html'"></ng-include>
		<ng-include data-ng-if="verifyNow && !user.me" data-src="'assets/views/pages/userSubViews/verifyUser.html'"></ng-include>
	</div>
</div>
