<div class="post" id="patronizeView-thankYou">
	<i class="fa fa-heart fa-5x" id="patronizeView-thankyouIcon"></i>
	<h1 id="patronizeView-heading" data-i18n="views.patronize.thanks.heading"></h1>
	<p data-i18n="views.patronize.thanks.content">
	</p>
	<a whispeer-sref="app.main" class="btn btn--primary btn--big" data-i18n="views.patronize.thanks.back"></a>
	<!--<a whispeer-sref="app.user.info({identifier: user.names.nickname})" class="btn btn--primary btn--big">
		<i class="fa fa-star fa-3x fa-fw" id="patronizeView-star"></i> <span data-i18n="views.patronize.thanks.badge"></span>
	</a>-->
</div>
