.badge {
	.small-text();
	text-align: center;
	background-color: @red;
	color: @white;

	display: inline-block;
	position: absolute;
	top:  24px;
	left: 20px;
	width:  @small-line-height;
	height: @small-line-height;
	.border-radius(50%);
}

body #container #sidebar-left .mobileMenu a li span span.badge {
	width: 25px;
	height: 25px;
	padding-top: 2px;
	padding-left: 1px;
	.box-fix;
	float: left;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
	font-size: 0.9em;
}

.notificationCenterView .box header .title .badge {
	top: 0;
	left: 0;
	float: left;
	display: inline-block;
	margin: 0px 1%;
	padding: 0 2px 3px 2px;
	position: relative;
}
