.badge {
	.small-text();
	text-align: center;
	background-color: @red;
	color: @white;

	display: inline-block;
	position: absolute;
	top:  24px;
	left: 20px;
	width:  @small-line-height;
	height: @small-line-height;
	border-radius: 50%;
}

.badge-inline {
	top: 2px;
	left: 0;
	float: left;
	margin: 0 0.5em;
	position: relative;
}
