@box-header-height-desktop: 4rem;
@box-header-height-mobile: 4rem;

// Box
//
// The Box builds the foundation for most of the views.
//
// Markup:
// <div class="box">
// 	<header class="box-header"><span class="box-header-title">Title</span><span class="box-header-links"><a href="#" class="box-header-link">Link #1</a> <a href="#" class="box-header-link">Link #2</a> <a href="#" class="box-header-link">Link #3</a></span></header>
// 	<section>
//		<header><span class="title">First Section Header</span></header>
//		<p>Lorem Ipsum</p>
//		<header><span class="title">Second Section Header</span></header>
//		<p>Dolor sit amet</p>
//	</section>
// </div>
//
// Styleguide 2.1
.box {
	overflow: hidden;
	height: 100%;
	background-color: @btnBackgroundHover;
	&:extend(.box-fix);
}
.box-header {
	height: 4rem;
	background: @btnBackgroundHover;
	border: none;
	border-bottom: 1px solid @btnBorder;
	overflow: hidden;
	&:extend(.box-fix);
}
.box-header-links {
	float: right;
	margin: 0 1%;
	line-height: 4rem;
}
.box-header-link {
	display: inline-block;
	float: left;
	color: #555555;
	margin: 0 0.25em;
	&:hover {
		color: #333333;
		span {
			border-bottom: 2px solid #444444;
		}
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
.box-header-link--active span {
	border-bottom: 2px solid #444444;
}
.box-header-title {
	float: left;
	padding: 0 1%;
	line-height: 4rem;
	&:extend(.box-fix);
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
}
.box-header-title--full {
	width: 100%;

	border-bottom: 1px solid #ccc;

	@media @desktop { height: @box-header-height-desktop; }
	@media @mobile { height: @box-header-height-mobile; }

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box-header-title--push { @media @mobile { padding-left: 5rem; } }
.box-header-button {
	display: inline-block;
	padding: 0 7px;
	margin-right: 0;
	outline: none;
	border: none;
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	background: transparent;
	text-align: center;
	color: #000;
	&:hover {
		background: rgba(202,202,202,0.2);
		color: #000;
	}
	&:focus {
		box-shadow: inset 0px 0px 2px @grayLight;
	}
	@media @mobile {
		padding: 0;
		width: 4rem;
		text-align: center;
	}
	&:extend(.box-fix);
}
.box-header-button--right {
	float: right;
	border-left: 1px solid @btnBorder;
	margin-right: -1%;
}
.box-header-button--left {
	float: left;
	border-right: 1px solid @btnBorder;
}
.box-header-buttons--right {
	float: right;
	margin-right: -1%;
}
.box-header-buttons--left {
	float: left;
	margin-left: -1%;
}
.box-header-button--full {
	width: 100%;
	border-bottom: 1px solid @btnBorder;
}
.box-header--content {
	border-top: 1px solid @btnBorder;
	background: @btnBackgroundHover;
	height: 3rem;
	line-height: 3rem;
	&:before, :after {
		content: "";
		margin-left: 5px;
	}
}
.box-header--content .box-header-title {
	float: none;
	padding: 0;
	line-height: 2rem;
}
.box-header--content .box-header-links {
	line-height: 2rem;
}
.box-header--noBorder {
	border-top: none;
}
.box-header--pullUp {
	margin-top: -1px;
}
.box-content {
	padding: 0;
	&:extend(.box-fix);
	&:extend(.clear-fix);
	h1,h2,h3,h4,h5,h6 {
		margin-left: 0.5%;
	}
}
.box-content--padding {
	padding: 5px 0;
}
.box-content--sidePadding {
	padding: 0px 10px;
}
.box-content--scroll {
	position: relative;
	overflow-y: scroll;
	height: ~"calc(100% - 4rem)"; // fixes the scroll-bar. negative margin will place the scroll-bar into the header.
	-webkit-overflow-scrolling: touch;
}

.box-leftWrap {
	position: relative;

	@media @desktop { width: 20rem; }
	@media @mobile { width: 100%; }

	border-right: 1px solid #ccc;
	height: 100%;

	// nice scrolling for iOS.
	-webkit-overflow-scrolling: touch;

	.box-fix;
}

.box-rightWrap {
	@media @desktop { left: 20rem; }

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
