// Buttons
//
// Default style for buttons
//
// Markup:
// <a href="#" class="btn {$modifiers}">Hyperlink-Button</a>
// <button class="btn {$modifiers}">Button Element</button>
// <input type="button" class="btn {$modifiers}"  value="Input with type Button"/>
//
// .btn--big					- This button will be bigger due to a larger padding applied
// .btn--small					- This button will be smaller due to a smaller padding applied
// .btn--input					- This button will be as big as a normal input element
// .btn--primary				- This button indicates that it is the primary feature / clickable thing of the form
// .btn--danger					- This button indicates that it might do something harmfull, like deleting items etc
// .btn--warning				- This button indicates that it might do something unwanted. Still the operation executed should be less harmfull than the danger button
// .btn--info					- This button indicates that further information will be shown when clicked
// .btn--inverse				- Inversed Default
// :hover						- Buttons get highlighted when hovered
// :disabled					- This button indicated that it is disabled and therefore not usable
//
// Styleguide 2.4

.btn {
	// fix bad behaviour for mobile browsers..
	&:focus {
		outline: 0;
	}
	&:-moz-focus-inner {
		border: 0;
	}
	-webkit-tab-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;
	height: 40px;
	line-height: 38px; // this has to be -2px to compensate the border while vertically centering the text
	padding: 0 15px;

	background-image: none;
	.border-radius(4px);
	.buttonBackground(@btnBackground, @btnBackgroundHover, @btnBackgroundFocus, @btnBackgroundActive, @grayDark, 0 1px 1px rgba(255,255,255,.75));
	border: 1px solid @btnBorder;
	text-decoration: none !important;
	cursor: pointer;

	&:extend(.box-fix);
}
.btn--big {
	padding: 0 10px;
}
.btn--small {
	padding: 0 7px;
}
.btn--input {
	padding: 0 9px;
}
.btn--primary,
.btn-saveButton--success {
	.buttonBackground(@btnGreenBackground, @btnGreenBackgroundHover, @btnGreenBackgroundFocus, @btnGreenBackgroundActive);
}
.btn--danger,
.btn-saveButton--failure {
	.buttonBackground(@btnRedBackground, @btnRedBackgroundHover, @btnRedBackgroundFocus, @btnRedBackgroundActive);
}
.btn--warning {
	.buttonBackground(@btnOrangeBackground, @btnOrangeBackgroundHover, @btnOrangeBackgroundFocus, @btnOrangeBackgroundActive);
}
.btn--info {
	.buttonBackground(@btnBlueBackground, @btnBlueBackgroundHover, @btnBlueBackgroundFocus, @btnBlueBackgroundActive);
}
.btn--inverse,
.btn-saveButton--operation {
	.buttonBackground(@btnInverseBackground, @btnInverseBackgroundHover, @btnInverseBackgroundFocus, @btnInverseBackgroundActive);
}
&.btn--fixPadding {
	padding: 4px 0;
	text-align: center;
}
.btn-saveButton--operation {
	.spinner {
		width: 20px;
		height: 20px;
		margin-top: 3px;
	}
}
.btn[disabled] { // disabled should overwrite all other styles so it goes down here
	background: @btnBackgroundHover;
	color: @grayLight !important; // this has to be important...
	text-shadow: none;
}