.dropdown {
	position: absolute;
	display: block;
	float: left;
	background: @btnBackground;
	border: 1px solid @btnBorder;
	border-radius: @inputBorderRadius;
	z-index: 10000;
	margin-top: 6px;
	overflow: visible;
	color: #000;
	&:extend(.box-fix);
	&:before {
		content: ' ';
		float: left;
		width: 0;
		height: 0;
		position: absolute;
		top: -5px;
		left: 13px;
		border: 5px solid @btnBorder;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	&:after {
		content: ' ';
		float: left;
		width: 0;
		height: 0;
		position: absolute;
		top: -4px;
		left: 13px;
		margin-left: 1px;
		border: 4px solid @btnBackground;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
}
.dropdown--right {
	right: 5px;
	&:before, &:after {
		float: right;
		left: auto;
		right: 1.5em;
	}
	&:after {
		margin-right: 1px;
	}
}
.dropdown-header {
	float: left;
	border-bottom: 1px solid @btnBorder;
	width: 100%;
	height: 40px;
	&:extend(.box-fix);
}
.dropdown-header-title,
.dropdown-header-close {
	line-height: 38px;
}
.dropdown-header-title {
	float: left;
	padding-left: 5px;
	&:extend(.box-fix);
}
.dropdown-header-close {
	float: right;
	padding-right: 5px;
	&:extend(.box-fix);
	cursor: pointer;
	&:hover {
		color: @gray;
	}
}
.dropdown-container {
	width: 100%;
	height: calc(~"100% - "@dropdownHeaderHeight); // this should work in most cases
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	overflow-y: scroll;
	border-radius: 3px 3px 0 0;
	&:extend(.box-fix);
}