.dropdown {
	position: absolute;
	display: block;
	float: left;
	.gradient(@btnBackground, @btnBackgroundHover);
	border: 1px solid @grayLight;
	.border-radius(5px);
	z-index: 10000;
	margin-top: 6px;
	overflow: visible;
	color: #000;
	&:extend(.box-fix);
	&:before {
		content: ' ';
		float: left;
		width: 0;
		height: 0;
		position: absolute;
		top: -5px;
		left: 13px;
		border: 5px solid @grayLight;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	&:after {
		content: ' ';
		float: left;
		width: 0;
		height: 0;
		position: absolute;
		top: -4px;
		left: 13px;
		margin-left: 1px;
		border: 4px solid @btnBackground;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
}
.dropdown-header {
	float: left;
	border-bottom: 1px solid @grayLight;
	width: 100%;
	height: 40px;
	&:extend(.box-fix);
}
.dropdown-header-title,
.dropdown-header-close {
	line-height: 38px;
}
.dropdown-header-title {
	float: left;
	padding-left: 1%;
	&:extend(.box-fix);
}
.dropdown-header-close {
	float: right;
	padding-right: 1%;
	&:extend(.box-fix);
	cursor: pointer;
	&:hover {
		color: @gray;
	}
}
.dropdown-container {
	width: 100%;
	height: calc(~"100% - "@dropdownHeaderHeight); // this should work in most cases
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	overflow-y: scroll;
	.border-radiuses(0,5px,5px,0);
	&:extend(.box-fix);
}