// Forms TODO
//
// User Interaction. TODO!!
//
// Markup:
// <form>
//	<input type="text" placeholder="Username">
//	<input type="password" placeholder="Password">
//	<button type="submit" class="btn">Submit</button>
// </form>
//
// Styleguide 2.2

input[type="text"],
input[type="password"],
input[type=""],
input:not([type]) {
	padding: 9px;
	outline: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	.box-fix;
	&:not(.input-custom) {
		height: 40px;
		line-height: 20px;

		background: @inputBackground;
		border: solid 1px @inputBorder;
		.box-shadow(inset 0px 0px 4px @inputBorder);
		transition: ease .5s;
	}
	&:not(.input-custom):not(.input-noradius) {
		border-radius: @inputBorderRadius;
	}
	&:focus {
		outline: 0;
		&:not(.input-custom) {
			border: solid 1px @inputBorderFocus;
			.box-shadow(inset 0px 0px 5px rgba(red(@inputBorderFocus), green(@inputBorderFocus),blue(@inputBorderFocus), 0.75));
		}
	}
	&[disabled],
	&[readonly] {
		outline: 0;
		color: darken(@white, 65%);
		cursor: not-allowed;
		&:not(.input-custom) {
			.box-shadow(inset 0px 0px 5px #ccc);
		}
	}
}
textarea {
	padding: 9px;
	outline: 0;

	background: @inputBackground;
	border: solid 1px @inputBorder;
	border-radius: @inputBorderRadius;
	.box-shadow(inset 0px 0px 4px @inputBorder);
	transition: ease .5s;
	.box-fix;
	&:focus {
		outline: 0;
		border: solid 1px @inputBorderFocus;
		.box-shadow(inset 0px 0px 5px rgba(red(@inputBorderFocus), green(@inputBorderFocus),blue(@inputBorderFocus), 0.75));
	}
}

button[disabled] {
	cursor: not-allowed;
}

@annotatedInputRight: 10px;
@annotatedInputIconSize: 16px;

.annotatedInputContainer {
	position: relative;

	input[type="text"], input[type=""], input[type="password"] {
		padding-right: @annotatedInputRight + @annotatedInputIconSize;
		width: 100%;
	}

	.icon {
		position: absolute;
		top: 0; bottom: 0;
		margin: auto 0;
		width: @annotatedInputIconSize;
		height: @annotatedInputIconSize;

		right: @annotatedInputRight;
	}
}
