// Forms TODO
//
// User Interaction. TODO!!
//
// Markup:
// <form>
//	<input type="text" placeholder="Username">
//	<input type="password" placeholder="Password">
//	<button type="submit" class="btn">Submit</button>
// </form>
//
// Styleguide 2.2

input[type="text"],
input[type="password"],
input[type=""],
input:not([type]) {
	-webkit-appearance: none;
	appearance: none;
	padding: 9px;
	outline: 0;
	border-radius: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	.box-fix;
	&:not(.input-custom) {
		height: 50px;
		line-height: 22px;

		background: @inputBackground;
		border: solid 1px @inputBorder;
	}
	&:not(.input-custom):not(.input-noradius) {
		border-radius: @inputBorderRadius;
	}
	&:focus {
		outline: 0;
		&:not(.input-custom) {
			border: solid 1px @inputBorderFocus;
		}
	}
	&[disabled],
	&[readonly] {
		outline: 0;
		color: darken(@white, 65%);
		cursor: not-allowed;
	}
}
textarea {
	min-height: 50px;
	padding: 9px;
	line-height: 16px;
	outline: 0;

	background: @inputBackground;
	border: solid 1px @inputBorder;
	border-radius: @inputBorderRadius;
	transition: ease .5s;
	.box-fix;
	&::-webkit-input-placeholder {
		line-height: 32px;
		transition: 0.5s ease;
	}
	&::-moz-placeholder {
		line-height: 32px;
		transition: 0.5s ease;
	}
	&::-ms-input-placeholder {
		line-height: 32px;
		transition: 0.5s ease;
	}
	&:focus {
		outline: 0;
		border: 1px solid @inputBorderFocus;
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		&::-moz-placeholder {
			opacity: 0;
		}
		&::-ms-input-placeholder {
			opacity: 0;
		}
	}
}

button[disabled] {
	cursor: not-allowed;
}

@annotatedInputRight: 10px;
@annotatedInputIconSize: 16px;

.annotatedInput-container {
	position: relative;
	height: 40px;
}
.annotatedInput-input {
	padding-right: @annotatedInputRight + @annotatedInputIconSize;
	width: 100%;
	height: 100% !important;
}
.annotatedInput-icon {
	position: absolute;
	top: 0; bottom: 0;
	margin: auto 0;
	width: @annotatedInputIconSize;
	height: @annotatedInputIconSize;

	right: @annotatedInputRight;
}
.annotatedInput-button {
	position: absolute;
	top: 0; bottom: 0;
	margin: auto 0;
	height: 40px;
	border-radius: 0;
	border: none;

	right: @annotatedInputRight - 10px;
}
.annotatedInput-button:last-child {
	border-radius: 0 3px 3px 0;
}
.annotatedInput-container--button .annotatedInput-input {
	padding-right: @annotatedInputRight + @annotatedInputIconSize + 20px;
}

.annotatedInput-container--2 .annotatedInput-input {
	padding-right: @annotatedInputRight + (@annotatedInputIconSize * 4);
}

.annotatedInput-container--2 .annotatedInput-icon {
	right: @annotatedInputRight + (@annotatedInputIconSize * 3);
}

@pwStrengthWidth: 40px;

.annotatedInput-container .strenghInput {
	padding-right: @annotatedInputRight + @pwStrengthWidth + 5px;
}

span[data-strength] {
	width: 40px;
	height: 8px;
	border: 1px solid gray;
	border-radius: 4px;
}

span[data-strength]:after {
	display: block;
	content: '';
	height: 8px;
}

span[data-strength="0"]:after { width: @pwStrengthWidth*(0/10); background-color: #ff0000; }
span[data-strength="1"]:after { width: @pwStrengthWidth*(1/10); background-color: #ff4d00; }
span[data-strength="2"]:after { width: @pwStrengthWidth*(2/10); background-color: #ff7700; }
span[data-strength="3"]:after { width: @pwStrengthWidth*(3/10); background-color: #ffa200; }
span[data-strength="4"]:after { width: @pwStrengthWidth*(4/10); background-color: #ffc400; }
span[data-strength="5"]:after { width: @pwStrengthWidth*(5/10); background-color: #80d000; }
span[data-strength="6"]:after { width: @pwStrengthWidth*(6/10); background-color: @primaryLightest; }
span[data-strength="7"]:after { width: @pwStrengthWidth*(7/10); background-color: @primaryLighter; }
span[data-strength="8"]:after { width: @pwStrengthWidth*(8/10); background-color: @primary; }
span[data-strength="9"]:after { width: @pwStrengthWidth*(9/10); background-color: @primaryDarker; }
span[data-strength="10"]:after { width: @pwStrengthWidth*(10/10); background-color: @primaryDarkest; }

.uploadForm {
	display: block;
	position: relative;
	height: 50px;
	overflow: hidden;

	cursor: pointer;
}
.uploadForm-button {
	height: 100%;
	width: 100%;
	z-index: 1;
}
.uploadForm-theForm {
	position: absolute;
	width: 100%;
	height: ~"calc(100% + 50px)";
	top: -50px;
	left: 0;
	z-index: 2;
	opacity: 0;
	background: black;

	cursor: pointer;
}
.uploadForm-theForm:hover {
	opacity: 0.05;
}

.inputSandwich {
	display: block;
	position: relative;
	transition: .6s border-color;
	transform: translate3d(0,0,0);
}
.inputSandwich-top,
.inputSandwich-middle,
.inputSandwich-bottom {
	width: 100%;
	margin: 0;
}
.inputSandwich-middle,
.inputSandwich-bottom {
	border-top-width: 0 !important;
	&:focus {
		border-top-width: 1px !important;
		margin-top: -1px;
		height: 41px !important;
		&.annotatedInput-input {
			position: absolute;
			top: -1px;
			left: 0;
			margin-top: 0;
		}
	}
}
.inputSandwich-top {
	border-radius: @inputBorderRadius @inputBorderRadius 0 0 !important;
}
.inputSandwich-middle {
	border-radius: 0 !important;
}
.inputSandwich-bottom {
	border-radius: 0 0 @inputBorderRadius @inputBorderRadius !important;
}
