#general-searchBar {
	float: left;
	width: 100%;
	height: 4rem;
	background: @primary;
}
#general-searchBar-search {
	float: left;
	display: inline-block;
	padding: 7px;
	width: 100%;
	&:extend(.box-fix);
}