.loading body {
	&:before {
		content: ' ';
		background: @primary;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:after {
		content: ' ';
		position: absolute;
		margin-left: -150px;
		left: 50%;
		width: 300px;
		height: 65px;
		.logo;
		@media @desktop {
			top: 50%;
			margin-top: -114px;
		}
		@media @mobile {
			top: 0;
			margin-top: 30px;
		}
		z-index: 11;
	}
	.no-script {
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		@media @mobile {
			top: 100px;
		}
		color: #fff;
		width: 100%;
		text-align: center;
		p {
			margin: 5px;
		}
		p:first-child {
			margin: 1em;
		}
	}
	#globalLoadingInidicator {
		position: absolute;

		top: 50%;
		left: 50%;

		margin-top: -10px;
		margin-left: -50px;

		z-index: 11;

		width: 100px;

		.loader-bounce {
			width: 15px;
			height: 15px;
			margin: 2px;
		}

	}
	#globalNotification {
		width: 100%;
		z-index: 12;
		top: 0;
		left: 0;
	}
}