.loader {
	margin: 1rem auto 0;
	width: 70px;
	text-align: center;
}

.loader-bounce {
	width: 10px;
	height: 10px;

	border-radius: 100%;
	display: inline-block;
	animation: loader-bounce 1.4s infinite ease-in-out both;
}

.loader-black .loader-bounce {
	background-color: #000;
}

.loader-black.loader-shadow .loader-bounce {
	box-shadow: 0 0 1px fade(#fff, 55%);
}

.loader-white.loader-shadow .loader-bounce {
	box-shadow: 0 0 1px fade(#000, 55%);
}

.loader-white .loader-bounce {
	background-color: #fff;
}

.loader-bounce1 {
	animation-delay: -0.32s;
}

.loader-bounce2 {
	animation-delay: -0.16s;
}

@keyframes loader-bounce {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}