.loading body {
	&:before {
		content: ' ';
		background: @primary;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:after {
		content: ' ';
		background: url('../img/logo.svg') no-repeat;
		background-position: center top;
		background-size: 100%;
		position: absolute;
		width: 300px;
		height: 65px;
		margin-left: -150px;
		left: 50%;
		filter: url(#drop-shadow);
		filter: drop-shadow(1px 1px 1px rgba(20,20,20,0.5));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#282828')";
		@media @desktop {
			top: 50%;
			margin-top: -114px;
		}
		@media @mobile {
			top: 0;
			margin-top: 30px;
		}
		z-index: 11;
	}
	#container {
		&:before {
			content: url('../img/loader.gif');
			position: absolute;
			width: 128px;
			height: 128px;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			padding-top: 64px;
			z-index: 11;
			.box-fix;
			@media @mobile {
				margin: 60px auto;
			}
		}
	}
	.no-script {
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		@media @mobile {
			top: 100px;
		}
		color: #fff;
		width: 100%;
		text-align: center;
		p {
			margin: 5px;
		}
		p:first-child {
			margin: 1em;
		}
	}
	#globalNotification {
		z-index: 12;
		top: 0;
	}
}