.loading body {
	&:before {
		content: ' ';
		background: @primary;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:after {
		content: ' ';
		background: url('../img/logo.png') no-repeat;
		background-position: center top;
		background-size: 100%;
		position: absolute;
		width: 300px;
		height: 99px;
		margin-left: -150px;
		left: 50%;
		top: 0;
		z-index: 11;
	}
	#container {
		&:before {
			content: url('../img/loader.gif');
			position: absolute;
			width: 128px;
			height: 128px;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 11;
			padding-top: 115px;
			.box-fix;
			@media @mobile {
				margin: 30px auto;
			}
		}
	}
	.no-script {
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		@media @mobile {
			top: 100px;
		}
		color: #fff;
		width: 100%;
		text-align: center;
		p {
			margin: 5px;
		}
		p:first-child {
			margin: 1em;
		}
	}
}