// Person
//
// Displays the userimage and the name of a specific person
//
// Markup:
// <div class="person" style="width: 25%; background-image: url(img/user.png);">
//	<div class="pushup">
//		<p class="username">Person</p>
//		<span class="status" data-status=""></span>
//		<p class="mutualfriends">5 mutual Friends</p>
//	</div>
// </div>
//
// Styleguide 2.7
.person {
	padding: 0;
	margin-bottom: 15px !important;
	.box-fix;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: center center;
	.background-size(cover);
	.border-radius(5px);
	border: 1px solid @btnBackgroundHover;
	overflow: hidden !important;
	display: block;
	.username {
		width: 100%;
		text-align: center;
		a {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}	
	}
	.pushup {
		background: rgba(0,0,0,0.5);
		width: 100% !important;
		margin: 0 !important;
		margin-top: 0px;
		padding: 0;
		.border-radius(0);
		//border-top: 1px solid #333;
		color: @white;
		.box-fix;
		.transition(all 1s ease);
		overflow: hidden;
		text-align: center;
		height: 50px;
		.status {
			display: inline-block;
			float: right;
			margin: -27px 5% 0 0;
		}
		p {
			opacity: 0;
			.transition(opacity 0.4s ease-in-out 0.1s);
			&.username {
				opacity: 1;
			}
		}
	}
	&:hover {
		.pushup {
			opacity: 1;
			height: 80px;
			.transition(all 1s ease);
			p {
				opacity: 1;
			}
		}
	}
}