// Person
//
// Displays the userimage and the name of a specific person
//
// Markup:
//	<div class="person">
//		<img src="{{userData.basic.image}}" alt="{{userData.name}}">
//		<p class="username">{{userData.name}}</p>
//		<p class="mutualfriends" data-i18n="friends.mutualFriends|count={{userData.basic.mutualFriends.length}}"></p>
//		<p class="action">
//			<button class="btn btn--primary" data-i18n="magicbar.requests.accept" ng-click="acceptRequest(request)"></button>
//			<button class="btn btn--danger" data-i18n="magicbar.requests.decline"></button>
//		</p>
//	</div>
//
// .pending						- This person has not confirmed the friendship request yet.
// .requested					- This person sent a friendship request to you.
//
// Styleguide 2.7
.person {
	width: 100%;
	margin-top: 5px;
	img {
		.column(3);
		max-width: 60px;
		border-radius: 100%;
	}
	.username, .similar, .action {
		.column(9);
	}
	.similar {
		.detail-text();
		margin-top: 5px;
	}
	.action {
		margin-top: 10px;
		display: none;
	}
	&[data-type="request"] {
		.friendRequest {
			display: inline-block;
			.btn {
				.column(1,2);
			}
		}
	}
	&[data-type="friend"] {
		.interact {
			display: inline-block;
			.btn {
				.column(1,4);
			}
		}
	}
}