.search {
	height: 40px;
	position: relative;
}
.search-form {
	width: 100%;
	height: 100%;
}
.search-wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;

	overflow: hidden;

	list-style-type: none;

	// the search is supposed to look like a normal input
	border: solid 1px @inputBorder;
	border-radius: @inputBorderRadius;
	.box-shadow(inset 0px 0px 4px @inputBorder);

	background: @white;

	.box-fix;
}
.search-result {
	height: 100%;

	float: left;
	position: relative;
	display: inline-block;
}
.search-input {
	height: 100%;

	float: left;
	position: relative;

	white-space: nowrap;
}
.search-query {
	height: 100%;

	background-color: transparent;

	border: none;
}
.search-resultsDrop {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	z-index: @zIndex-dropdown;

	overflow: hidden;

	background-color: @white;
	border: 1px solid #8c8c8c;
	border-radius: @inputBorderRadius;

	.box-fix;
}
.search-suggestions {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 300px;
	margin: 0;
	padding: 0;
	float: left; // this float prevents the drop to be 5px larger than it should be!

	overflow-y: scroll;

	display: inline-block;
}
.search-suggestion {
	cursor: pointer;
	height: 40px;
	line-height: 38px;
}
.search-suggestion-user {
	width: 100%;
	height: 150px;
	margin: 0;
}
.search-suggestion-userimage {
	.column(1,8);
	margin-top: 9px;
}
.search-suggestion-info {
	.column(5,8);
}
.search-suggestion-row {
	.column(12);
}
.search-suggestion-name {
	.large-text();
}
.search-suggestion-name,
.search-suggestion-nickname {
	color: @gray;
}
.search-suggestion-actions {
	.column(2,8);
	margin-top: 4px;
	text-align: center;
}
.search-action {
	margin-top: 5px;
}
.search-suggestion-active {
	background-color: @primary;
	color: @white;
}
.search-suggestion-active .search-suggestion-nickname,
.search-suggestion-active .search-suggestion-name {
	color: @white;
}

.search--navbar .search-drop {
	z-index: @zIndex-navSearchDrop;
}

.search--custom .search-wrapper {
	border-radius: 0;
	border: none;
}
