.search {
	height: 40px;
	position: relative;
}
.search-form {
	width: 100%;
	height: 40px;
}
.search-wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;

	overflow: hidden;

	list-style-type: none;

	white-space: nowrap;
	text-align: left;

	// the search is supposed to look like a normal input
	border: solid 1px @inputBorder;
	border-radius: @inputBorderRadius;
	box-shadow: inset 0px 0px 4px @inputBorder;

	background: @white;

	&:extend(.box-fix);
}
.search-result {
	height: 100%;

	position: relative;
	display: inline-block;
	border-right: 1px solid @btnBorder;
}
.search-result-remove {
	margin-left: 5px;
}
.search-result-remove:hover {
	color: #ddd;
}
.search-result--hiddenCount {
	width: 55px;
}
.search-input {
	height: 100%;

	position: relative;
	display: inline-block;

	white-space: nowrap;
}
.search-query {
	height: 100%;
	width: 100%;

	background-color: transparent;

	border: none;
}
.search-resultsDrop {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	z-index: @zIndex-dropdown;

	overflow: hidden;

	background-color: @white;
	border: 1px solid @btnBorder;
	border-radius: @inputBorderRadius;

	&:extend(.box-fix);
}
.search-suggestions {
	width: 100%;
	max-height: @searchDropdownHeight;
	margin: 0;
	padding: 0;
	float: left; // this float prevents the drop to be 5px larger than it should be!

	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	border-radius: @inputBorderRadius;

	display: inline-block;
}
.search-suggestion {
	cursor: pointer;
	height: 40px;
	line-height: 38px;

	overflow: hidden;
}
.search-suggestion-circle {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 1%;
	&:extend(.box-fix);
}
.search-suggestion-user {
	width: 100%;
	height: 150px;
	margin: 0;
	line-height: @line-height;
}
.search-suggestion-userimage {
	.column(1,8);
	margin-top: 9px;
}
.search-suggestion-info {
	@media @desktop {
		.column(5,8);
	}
	@media @mobile {
		.column(7,8);
	}
}
.search-suggestion-row {
	.column(12);
}
.search-suggestion-name {
	.large-text();
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-suggestion-name,
.search-suggestion-nickname {
	color: @gray;
}
.search-suggestion-actions {
	@media @desktop {
		.column(2,8);
	}
	@media @mobile {
		.column(12);
	}
	margin-top: 4px;
	text-align: center;
}
.search-action {
	@media @mobile {
		.column(6);
		margin-top: 10px;
	}
	margin-top: 5px;
}
.search-action-addFriend,
.search-action-message {
	@media @mobile {
		padding: 0;
	}
}
.search-action-selectCircle {
	.column(10,12,left,0);
	margin-left: 0;
	margin-right: 0;
	border-radius: 5px 5px 0 0;
}
.search-action-circleSubmit {
	.column(2,12,right,0);
	border-radius: 0 @inputBorderRadius @inputBorderRadius 0;
	border-left: 0;
}
.search-action-selectCircle .search-wrapper {
	border-radius: @inputBorderRadius 0 0 @inputBorderRadius;
}
.search-action-selectCircle .search-resultsDrop,
.search-action-selectCircle .search-selectedDrop {
	top: -112%;
	left: -110%;
	bottom: -88%;

	margin-top: 0;

	overflow: hidden;
}
.search-action-selectCircle .search-suggestions {
	height: auto;
	max-height: 100%;
}
.search-action-selectCircle .search-suggestion {
	color: @black;
}
.search-action-selectCircle .search-suggestion-active {
	color: @white;
}

.search-suggestion-active {
	background-color: @primary;
	color: @white;
}
.search-suggestion-active .search-suggestion-nickname,
.search-suggestion-active .search-suggestion-name {
	color: @white;
}
.search-selectedDrop {
	width: 100%;
	max-height: @searchDropdownHeight;
}
.search-selectedDrop-container {
	max-height: @searchDropdownHeight - @dropdownHeaderHeight - 1px; // workaround for correct height
}
.search-selectedDrop-result {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 39px;

	border: none;
	border-bottom: 1px solid #ccc;

	&:extend(.box-fix);
}
.search-selectedDrop-result:hover {
	background: rgba(red(@grayLighter), green(@grayLighter), blue(@grayLighter), 0.4);
}
.search-selectedDrop-result:last-child {
	border: none;
}
.search-selectedDrop-result-name {
	float: left;
	width: ~"calc(98% - 20px)"; // compensate icon and margin
	margin: 0 0 0 1%;

	text-align: left;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	cursor: default;
}
.search-selectedDrop-result-remove {
	float: left;
	margin: 0 1% 0 0;
	color: @black;
	width: 20px;
}
.search-selectedDrop-result-remove:hover {
	color: @grayDark;
}

// I could not get around some ugly selectors here. sorry!

.search--navbar .search-drop {
	z-index: @zIndex-navSearchDrop;
}
.search--navbar > .search-input {
	width: 100%;
}

.search--custom .search-wrapper {
	border-radius: 0;
	border: none;
}
