@status-online:	 @kellygreen;
@status-offline: #9d261d;
@status-away:    @yellow;
@status-unknown: @darkgrey;

.status {
	width: 9px;
	height: 9px;
	border-radius: 100%;
	display: inline-block;
	background-color: @status-unknown;
	&[data-status="0"] {
		background-color: @status-offline;
	}
	&[data-status="1"] {
		background-color: @status-away;
	}
	&[data-status="2"] {
		background-color: @status-online;
	}
}
