@font-size: 14px;
@line-height: 1.426em; // 20px / 14px;

@small-font-size: 0.786em; // 11px / 14px
@small-line-height: 1.426em; // 20px

@large-font-size: 1.786em;
@large-line-height: 1.426em;

@text-color-dark: #242424;
@text-color-light: #fcfcfc;
@text-color: @text-color-dark;
@detail-color: #888888;


body {
	font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: @text-color;
}

body {
	.normal-text();
}

.normal-text() {
	font-size: @font-size;
	line-height: @line-height;
	font-weight: 400;
}

.semibold-text() {
	font-weight: 500;
	color: #222;
}

.bold-text() {
	font-weight: 700;
}

.small-text() {
	font-size:   @small-font-size;
	line-height: @small-line-height;
}

.large-text() {
	font-size:   @large-font-size;
	line-height: @large-line-height;
}

.detail-text() {
	.small-text();
	color: @detail-color;
}

.minimal-line-height() {
	line-height: @small-line-height;
}

h1 {
	.large-text();
}

.h1-noMarginTop {
	margin-top: 0;
}

small {
	.detail-text();
}

a {
	color: @linkColor;
	text-decoration: none;
}

a:hover {
	color: @linkColorHover;
}
a[data-ng-click] {
	cursor: pointer;
}

p {
	margin: 1rem 0;
}

img {
	z-index: @zIndex-image !important;
}
