@font-size: 14px;
@line-height: 1.426em; // 20px / 14px;

@small-font-size: 0.786em; // 11px / 14px
@small-line-height: 1.426em; // 20px;

@large-font-size: 1.786em;
@large-line-height: 1.426em;

body, h1, h2, h3, h4, h5 {
	.normal-text();
}

.normal-text() {
	font-family: ubuntulight, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: @font-size;
	line-height: @line-height;
	font-weight: 200;
}

.bold-text() {
	font-weight: 700;
}

.small-text() {
	font-size:   @small-font-size;
	line-height: @small-line-height;
}

.large-text() {
	font-size:   @large-font-size;
	line-height: @large-line-height;
}

small {
	.small-text();
	color: #9e9e9e;
}

// Hyperlinks
// ---------------------

a {
	color: @linkColor;
	text-decoration: none;
}

a:hover {
	color: @linkColorHover;
}
