//
// Typography
// --------------------------------------------------

// Body Text
//
// Plain text display
//
// Markup:
// <span>Lorem Ipsum</span>
//
// Styleguide 1.1
// ----------------------------
body {
	font-family: ubuntulight, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1,426em // 20px;
	font-size: 14px;
}

.small() {
	font-size: 0,786em; // 11px/14px
	font-size: 0,786em; // 11px/14px
}

// ----------------------------

// MISC

// ----------------------------

// Small
//
// Small text used for annotations
//
// Markup:
// <small>Lorem Ipsum</small>
//
// Styleguide 1.2

// ----------------------------
small {
	color: #9e9e9e;
}
// ----------------------------

// Strong / B
//
// Bigger text to sort of highlight it.
// Note: <strong> is preffered to <b> due to semantic reasons!
//
// Markup:
// <strong>Lorem Ipsum</strong>
// <b>Lorem Ipsum</b>
//
// Styleguide 1.3

// ----------------------------
strong, b {
}
// ----------------------------

// EM / I
//
// Emphasize text ("italic-style")
// Note: <em> is preffered to <i> due to semantic reasons!
//
// Markup:
// <em>Lorem Ipsum</em>
// <i>Lorem Ipsum</i>
//
// Styleguide 1.4

// ----------------------------
em, i {
}
// ----------------------------

// ----------------------------

// P
//
// A text paragraph to structure text
//
// Markup:
// <p>Lorem Ipsum Dolor Sit Amet</p>
// <p>Lorem Ipsum Dolor Sit Amet 2</p>
//
// Styleguide 1.5

// ----------------------------
p {
}
// ----------------------------

// Cite
//
// This element wraps the source of a Blockquote
// Note: Only for use inside of a Blockquote element!
//
// Markup:
// <blockquote cite="#">
//	<p>Intelligent Quote</p>
//	<footer>
// 		<cite><a href="#">A profound source</a></cite>
//	</footer>
// </blockquote>
//
// Styleguide 1.6

// ----------------------------
cite {
}
// ----------------------------

// Special Text
//
// If you want to highlight important parts of your text you can use these classes to do so
//
// Markup:
// <span class="{$modifier}">Lorem Ipsum</span>
// <p class="{$modifier}">Lorem Ipsum</p>
//
// .textWarning				- Indicates a warning that is put out
// .textError				- Indicates an error that occured
// .textInfo				- Indicates information which might be useful
// .textSuccess				- Indicates that e.g. the operation has worked
//
// Styleguide 1.7

// ---------------------------
.textWarning {
	color: @textWarning;
	.text-shadow(1px 1px 1px darken(@textWarning, 50%));
}

.textError {
	color: @textError;
	.text-shadow(1px 1px 1px darken(@textError, 50%));
}

.textInfo {
	color: @textInfo;
	.text-shadow(1px 1px 1px darken(@textInfo, 50%));
}

.textSuccess {
	color: @textSuccess;
	.text-shadow(1px 1px 1px darken(@textSuccess, 50%));
}
// ---------------------------

// Headings
//
// These elements declare headings for the content.
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Styleguide 1.8

// ---------------------------
h1, h2, h3, h4, h5, h6 {
	margin: (@baseLineHeight / 2) 0;
	color: @headingsColor;
	text-rendering: optimizelegibility;
	small {
		color: @headingsSmallColor;
	}
}
// ---------------------------

// Hyperlinks
//
// These elements link to another point of the site.
//
// Markup:
// <a href="#">This is a link</a>
//
// Styleguide 1.8
a {
	color: @linkColor;
	text-decoration: none;
}

a:hover {
	color: @linkColorHover;
}
