.userimage-wrap {
	position: relative;
	.untrusted {
		width: 16px;
		height: 16px;
		position: absolute;
		bottom: 5%;
		right: 5%;
	}
	&[data-trustlevel="0"] {
		.userimage-picture {
			border: 2px solid @darkRed;
		}
	}
	&[data-trustlevel="1"] {
		.userimage-picture {
			border: 2px solid @warning;
		}
	}
	&[data-trustlevel="2"] {
		.userimage-picture {
			border: 2px solid @kellygreen;
		}
	}
	&[data-trustlevel="3"] {
		.userimage-picture {
			border: 2px solid @kellygreenhighlight;
		}
	}
}
.userimage-picture {
	position: relative;
	width: 100%;
	height: 100%;
	.box-fix;
}
