// Userpanel
//
// Found at the left hand side of the whispeer interface the userpanel is the main navigation to switch the views.
//
// Markup:
// <div id="userpanel" style="width: 25%;">
//	<a href="{{user.basic.url}}" class="username">
//		<img src="img/user.png" alt="" class="userimg">
//		Username
//	</a>
//	<nav id="menu">
//		<ul class="left unstyled" id="mainMenu">
//			<li><a href="#">Profile</a></li>
//			<li><a href="#">Friends</a></li>
//			<li><a href="#">Messages</a></li>
//			<li><a href="#">Circles</a></li>
//			<li><a href="#">Settings</a></li>
//			<li><a href="#">Help</a></li>
//			<li><a href="#">Logout</a></li>
//		</ul>
//		<div class="clear-fix"></div>
//	</nav>
// </div>
//
// Styleguide 2.6

#userpanel {
	text-align: center;
	display: block;
	margin: 15px 0 0 0;
}
#userpanel-me {
	width: 100%;
	text-align: center;
}
#userpanel-me-image {
	.border-radius(100%);
	width: 80%;
	border: 2px solid @green;
	&:extend(.box-fix);
}
#userpanel-me-name {
	display: block;
}
#userpanel-menu {
	margin-top: 15px;
}
.userpanel-menu-link {
	position: relative;
	display: inline-block;
	float: left;
	width: 80%;
	height: @baseLineHeight;
	margin: 5px 0;
	padding: 0 0 0 4px;
	text-align: left;

	background-color: transparent;
}
.userpanel-menu-link:first-child {
	margin-top: 0;
}