.userimage-wrap {
	position: relative;
	.untrusted {
		width: 16px;
		height: 16px;
		position: absolute;
		bottom: 5%;
		right: 5%;
	}
	&[data-trustlevel="0"] {
		.userimage-picture {
			border: 2px solid @red;
			box-shadow: 0 0 2px @red;
		}
	}
	&[data-trustlevel="1"] {
		.userimage-picture {
			border: 2px solid @orange;
		}
	}
	&[data-trustlevel="2"] {
		.userimage-picture {
			border: 2px solid @green;
		}
	}
	&[data-trustlevel="3"] {
		.userimage-picture {
			border: 2px solid @green;
			box-shadow: 0 0 2px @primaryLightest;
		}
	}
}
.userimage-picture {
	position: relative;
	width: 100%;
	height: 100%;
	.box-fix;
}