// Userpanel
//
// Found at the left hand side of the whispeer interface the userpanel is the main navigation to switch the views.
//
// Markup:
// <div id="userpanel" style="width: 25%;">
//	<a href="{{user.basic.url}}" class="username">
//		<img src="img/user.png" alt="" class="userimg">
//		Username
//	</a>
//	<nav id="menu">
//		<ul class="left unstyled" id="mainMenu">
//			<li><a href="#">Profile</a></li>
//			<li><a href="#">Friends</a></li>
//			<li><a href="#">Messages</a></li>
//			<li><a href="#">Circles</a></li>
//			<li><a href="#">Settings</a></li>
//			<li><a href="#">Help</a></li>
//			<li><a href="#">Logout</a></li>
//		</ul>
//		<div class="clear-fix"></div>
//	</nav>
// </div>
//
// Styleguide 2.6

#userpanel {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	@media @mobile {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}
#userpanel a {
	color: #f9f9f9 !important;
}
#userpanel-me {
	display: inline-block;
	width: 100%;
	height: 4rem;
	line-height: 4rem;

	background: @userpanel-highlight-background;
	border-bottom: 1px solid @userpanel-highlight-border;

	font-size: 1.25rem;
	font-weight: 400;
	text-align: center;
	&:hover {
		background: @userpanel-highlight-hover-background;
	}
}
#userpanel-me-image {
	width: 2rem;
	height: 2rem;

	vertical-align: middle;

	border-radius: 100%;
}
#userpanel-me-name {
	vertical-align: middle;
}
.brand {
	display: flex;
	width: 100%;

	.large-text();
	.bold-text();
	text-decoration: none;
	text-shadow: 0px 0px 1px @white;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: subpixel-antialiased;

	height: 4rem;
	line-height: 4rem;

	flex-shrink: 0;

	justify-content: center;
	align-content: center;
}

#userpanel__logo {
	height: 3rem;
	margin: auto;
}

#userpanel-shortcuts {
	height: 4rem;
	line-height: 4rem;
	width: 100%;
	&:extend(.box-fix);
}
.userpanel-shortcut {
	display: inline-block;
	float: left;
	width: 100% / 3;
	height: 4rem;
	border-left: 1px solid @userpanel-highlight-border;
	line-height: 4rem;
	font-size: 1.213em;

	background: @userpanel-highlight-background;

	&:extend(.box-fix);
	&:first-child { border-left: none; }
	&:hover {
		background: @userpanel-highlight-hover-background;
	}
}
#userpanel-menu {
	width: 100%;
	@media @desktop {
		flex: 1 0 auto;
		overflow: auto;
	}
	z-index: 3;
}
.userpanel-menu--hide {
	display: none !important;
}
.userpanel-menu-link {
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	overflow: hidden;

	background: @userpanel-menu-link-background;

	&:hover {
		background: @userpanel-menu-link-hover-background;
	}

	padding: 0 2rem;
	text-align: center;

	&:extend(.box-fix);
}
.userpanel-menu-text {
	display: inline-block;
	width: ~"calc(100% - 2rem)";
	line-height: 3rem;
	color: #fff;
	text-align: left;
	padding-left: 1.2352120536rem;
	&:extend(.box-fix);
}
.userpanel-menu-icon {
	float: left;
	line-height: 4rem;
	font-size: 1.25rem;
}
.userpanel-menu-badge {
	width: auto;
	min-width: 1rem;
	height: 1rem;
	padding: 0.125rem;
	font-size: 0.9em;
	top: 50%;
	left: auto;
	right: 0.5rem;

	margin-top: -0.625rem;
}
