<section class="post" id="fundView-section">
	<i class="fa fa-heart fa-5x" id="fundView-donateIcon"></i>
	<h1 id="fundView-heading" data-i18n="views.fund.heading"></h1>
	<p data-i18n="views.fund.content"></p>
	<a href="#" class="btn btn--primary btn--big fundView-method fundView-method-paypal" data-ng-class="{'fundView-method--active': paypal}" data-ng-click="togglePaypal()"><i class="fa fa-paypal fa-fw"></i> <span data-i18n="views.fund.methods.paypal"></span></a>
	<div class="fundView-method-detail patrnonizeView-method-detail-paypal" data-ng-if="paypal">
		<p data-i18n="views.fund.details.paypal">
		</p>
		<form id="fundView-paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="8KTC2VWKQG8EQ">
			<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" data-i18n-attr="views.fund.details.altTextPaypal|alt">
			<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

	<a href="#" class="btn btn--primary btn--big fundView-method fundView-method-bank" data-ng-class="{'fundView-method--active': bank}" data-ng-click="toggleBank()"><i class="fa fa-bank fa-fw"></i> <span data-i18n="views.fund.methods.bank"></span></a>
	<div class="fundView-method-detail patrnonizeView-method-detail-bank" data-ng-if="bank">
		<p class="fundView-method-detail-paragraph" data-i18n="views.fund.details.bankContent">
		</p>
		<table id="fundView-method-detail-bankInfo">
			<tr><td data-i18n="views.fund.details.iban"></td><td>DE64120400000025711300</td></tr>
			<tr><td data-i18n="views.fund.details.bic"></td><td>COBADEFFXXX</td></tr>
			<tr><td data-i18n="views.fund.details.bank"></td><td>Commerzbank</td></tr>
			<tr><td data-i18n="views.fund.details.usage"></td><td data-i18n="views.fund.details.usageContent|userid={{user.id}}"></td></tr>
		</table>
	</div>

	<a href="http://whispeer.spreadshirt.de" class="btn btn--primary btn--big fundView-method" target="_blank"><i class="fa fa-shopping-cart fa-fw"></i> <span data-i18n="views.fund.methods.shop"></span></a>
</section>
