<div class="post" id="fundView-thankYou">
	<i class="fa fa-heart fa-5x" id="fundView-thankyouIcon"></i>
	<h1 id="fundView-heading" data-i18n="views.fund.thanks.heading"></h1>
	<p data-i18n="views.fund.thanks.content">
	</p>
	<a whispeer-sref="app.main" class="btn btn--primary btn--big"><i class="fa fa-home fa-3x fa-fw" id="fundView-home"></i> <span data-i18n="views.fund.thanks.back"></span></a>
	<!--<a whispeer-sref="app.user.info({identifier: user.names.nickname})" class="btn btn--primary btn--big">
		<i class="fa fa-star fa-3x fa-fw" id="fundView-star"></i> <span data-i18n="views.fund.thanks.badge"></span>
	</a>-->
</div>
