CACHE MANIFEST

#timestamp

#expand:./assets/img/

#expand:./assets/css/

#expand:./assets/vendor/

#expand:./assets/views/

#expand:./assets/data/

/assets/js/build.js

/assets/js/libs/sjcl.js
/assets/js/bower/requirejs/require.js

#expand:./assets/js/i18n/

#routes

/index.html

/assets/vendor/fonts/fontawesome-webfont.eot?v=4.1.0
/assets/vendor/fonts/fontawesome-webfont.eot?#iefix&v=4.1
/assets/vendor/fonts/fontawesome-webfont.woff?v=4.1.0
/assets/vendor/fonts/fontawesome-webfont.ttf?v=4.1.0
/assets/vendor/fonts/fontawesome-webfont.svg?v=4.1.0

/changelog.json

FALLBACK:
/ /index.html

NETWORK:
*
