<div class="box-rightWrap">
	<div class="box-header box-header--padding">
		<span class="box-header-title box-header-title--full-noExtras">
			<span data-ng-if="activeChat.getTitle()">
				{{activeChat.getTitle()}}
			</span>
			<span data-ng-if="!activeChat.getTitle()">
				<span data-i18n="messages.chat"></span>
				<span data-ng-repeat="partner in activeChat.getPartners()">
					<span class="status" data-status="{{partner.online}}" data-ng-if="::!partner.notExisting"></span>
					<a whispeer-sref="app.user.info({identifier: partner.names.nickname})" data-ng-if="::!partner.notExisting">
						<span data-ng-if="::activeChat.getPartners().length>2">{{partner.basic.shortname}}</span>
						<span data-ng-if="activeChat.getPartners().length<=2">{{partner.name}}</span>
					</a>

					<span data-ng-if="::partner.notExisting">{{partner.name}}</span>
					{{::($last?"":", ")}}
				</span>
			</span>
		</span>
		<div class="box-header-buttons--right">
			<a whispeer-sref="app.messages.show({topicid: activeChat.getID()})" class="box-header-button box-header-button--right">
				<i class="fa fa-arrow-left"></i>
			</a>
		</div>
	</span>

	<div id="topicWrap" data-topicID="{{activeChat.getID()}}" class="detail-chat">
		<div class="messages__details__search-wrap">
			<input id="messages-editTitle" data-ng-show="featureEnabled('chat.changeTitle') && amIAdmin()" type="text" placeholder="Konversationstitel" data-ng-model="chatTitle" class="messages__details__search">
			<savebutton data-ng-click="saveTitle()" data-ng-if="amIAdmin()" class="btn btn--primary messages__details__search-button" data-state="chatDetailsSavingState">
				<span data-i18n="messages.changeTitle"></span>
			</savebutton>
		</div>
		<h2 data-i18n="messages.chatPersons"></h2>
		<div class="messages__details__search-wrap" data-ng-if="featureEnabled('chat.addReceiver') && amIAdmin()">
			<search class="circleView-addUsers-search messages__details__search" data-supplier="userSearchSupplier" callback="setUsersToAdd(selected)" data-search-template="userSimple" data-multiple data-input-i18n-attr="messages.searchFriends|placeholder" data-base="user" data-initial-values="getInitialUser()"></search>
			<savebutton class="btn btn--primary messages__details__search-button" data-noiniticon data-state="addUsersToTopic" data-ng-click="addReceivers()">
				<span data-i18n="messages.addUsers"></span>
			</savebutton>
		</div>
		<ul>
			<li class="messages__details__partner" data-ng-repeat="partner in activeChat.getReceivers()">
				<person data-user="partner" data-type="friend">
					<span data-ng-if="isAdmin(partner.user)" data-i18n="messages.user.admin"></span>
				</person>
				<ul class="button-dropdown messages__partner__admin-options" data-ng-if="amIAdmin() && !partner.user.isOwn()">
					<li class="button-dropdown-action" data-ng-if="featureEnabled('chat.promoteReceiver')">
						<savebutton class="button-dropdown-action-text messages__partner__admin-options__button" data-noiniticon data-state="changeUser" data-ng-click="toggleAdmin(partner.user)" ng-disabled="addUsersToTopic.pending || removeUser.pending">
							<span data-i18n="{{isAdmin(partner.user) ? 'messages.user.demote' : 'messages.user.promote'}}"></span>
						</savebutton>
					</li>
					<li class="button-dropdown-action" data-ng-if="featureEnabled('chat.removeReceiver')">
						<savebutton class="button-dropdown-action-text messages__partner__admin-options__button" data-noiniticon data-state="removeUser" data-ng-click="remove(partner.user)" ng-disabled="changeUser.pending || addUsersToTopic.pending">
							<span data-i18n="messages.user.remove"></span>
						</savebutton>
					</li>
				</ul>
			</li>
		</ul>

		<button class="btn btn--danger" id="message-details__report" data-ng-click="report()" data-i18n="messages.report"></button>
	</div>
</div>
