<div class="box-rightWrap">
	<div class="box-header box-header--padding">
		<span class="box-header-title box-header-title--full-noExtras">
			<span data-ng-if="activeChat.getTitle()">
				{{activeChat.getTitle()}}
			</span>
			<span data-ng-if="!activeChat.getTitle()">
				<span data-i18n="messages.chat"></span>
				<span data-ng-repeat="partner in activeChat.getPartners()">
					<span class="status" data-status="{{partner.online}}" data-ng-if="::!partner.notExisting"></span>
					<a whispeer-sref="app.user.info({identifier: partner.names.nickname})" data-ng-if="::!partner.notExisting">
						<span data-ng-if="::activeChat.getPartners().length>2">{{partner.basic.shortname}}</span>
						<span data-ng-if="activeChat.getPartners().length<=2">{{partner.name}}</span>
					</a>

					<span data-ng-if="::partner.notExisting">{{partner.name}}</span>
					{{::($last?"":", ")}}
				</span>
			</span>
		</span>
		<div class="box-header-buttons--right">
			<a whispeer-sref="app.messages.show({topicid: activeChat.getID()})" class="box-header-button box-header-button--right">
				<i class="fa fa-times-circle"></i>
			</a>
			<a data-ng-click="saveTitle()" class="box-header-button box-header-button--right">
				<i class="fa fa-check" data-ng-if="chatDetailsSavingState.init || chatDetailsSavingState.success"></i>
				<i class="fa fa-times" data-ng-if="chatDetailsSavingState.failed"></i>
				<i class="fa fa-spinner fa-spin" data-ng-if="chatDetailsSavingState.pending"></i>
			</a>
		</div>
	</span>

	<div id="topicWrap" data-topicID="{{activeChat.getID()}}" class="detail-chat">
		<input id="messages-editTitle" type="text" placeholder="Konversationstitel" data-ng-model="chatTitle">
		<h2 data-i18n="messages.chatPersons"></h2>
		<ul>
			<li class="friendsView-friend" data-ng-repeat="partner in activeChat.getReceivers()">
				<person data-user="partner" data-type="friend">
					<div data-ng-if="amIAdmin() && !partner.user.isOwn()">
						<button class="btn" data-ng-click="toggleAdmin(partner.user)" data-i18n="{{isAdmin(partner.user) ? 'messages.user.demote' : 'messages.user.promote'}}"></button>
						<button class="btn btn--danger" data-ng-click="remove(partner.user)" data-i18n="messages.user.remove"></button>
					</div>
				</person>
			</li>
		</ul>
		<search class="circleView-addUsers-search"  data-supplier="friendsSearchSupplier" callback="setUsersToAdd(selected)" data-search-template="userSimple" data-filter="activeChat.getReceiverIDs()" data-multiple data-input-i18n-attr="messages.searchFriends|placeholder" data-base="user"></search>

		<button class="btn btn--danger" id="message-details__report" data-ng-click="report()" data-i18n="messages.report"></button>
	</div>
</div>
