<div class="box-rightWrap">
	<span class="box-header-title box-header-title--full box-header-title--push">
		<span data-i18n="messages.newMessage"></span>
		<div class="box-header-buttons--right">
			<a whispeer-sref="app.messages.list" id="showTopics" class="box-header-button box-header-button--right" data-ng-if="mobile">
				<i class="fa fa-bars fa-fw"></i>
			</a>
		</div>
	</span>
	<div id="topicWrap" class="newMessage">
		<search data-supplier="userSearchSupplier" callback="create.setUsers(selected)" data-search-template="userSimple" data-multiple data-input-i18n-attr="messages.search|placeholder" data-base="user" data-initial-values="getInitialUser()"></search>

		<form id="inputWrap">
			<textarea data-advancedsend="create.send(create.users, create.text)" type="text" data-i18n-attr="messages.sendMessage.text|placeholder" id="messageInput" data-ng-model="create.text"></textarea>
			<savebutton id="sendmessage" data-state="sendMessageState" data-ng-click="create.send(create.users, create.text)">
				<span data-i18n="messages.sendMessage.send"></span>
			</savebutton>
		</form>
	</div>
</div>
