<div class="box-rightWrap">
	<span class="box-header-title box-header-title--full box-header-title--push">
		<span>
			<span data-i18n="messages.chat"></span>
			<span data-ng-repeat="partner in activeTopic.partners">
				<span class="status" data-status="{{partner.online}}"></span>
				<a whispeer-sref="app.user.info({identifier: partner.names.nickname})">
					<span data-ng-if="::activeTopic.partners.length>2">{{partner.basic.shortname}}</span>
					<span data-ng-if="activeTopic.partners.length<=2">{{partner.name}}</span>
				</a>
				{{::($last?"":", ")}}
			</span>
		</span>
		<div class="box-header-buttons--right">
			<a whispeer-sref="app.messages.list" id="showTopics" class="box-header-button box-header-button--right" data-ng-if="mobile">
				<i class="fa fa-arrow-left fa-fw"></i>
			</a>
		</div>
	</span>

	<div id="topicWrap" data-topicID="{{activeTopic.id}}" class="{{activeTopic.type}}">
		<div id="messageWrap">
			<ul class="scroll-pane" id="messageList" data-scroll data-keepBottom data-lockscrollbottom data-custom="distanceTopPercentage < 0.5" data-at-custom="loadMoreMessages()" data-custom-once data-lockscrolling="scrollLock" data-onbottomwithauto="markRead()">
				<li class="messageView-loadingText" data-ng-if="activeTopic.remaining > 0">
					<i class="fa fa-fw fa-spinner fa-spin" id="messageView-loadingIcon" data-ng-if="loadingMessages"></i>
					<span data-i18n="messages.remaining|count={{activeTopic.remaining}}"></span>
				</li>
				<p data-i18n="messages.endOfStream" data-ng-if="activeTopic.remaining == 0" id="messagesView-endOfStream"><span data-for="date">{{::messageBursts()[0].firstMessage().timestamp|date}}</span></p>
				<li class="burst" data-ng-repeat="burst in (bursts = messageBursts())" data-ng-class="{me:burst.isMe(), other:burst.isOther()}">
					<div class="burst-date" data-ng-if="::!burst.sameDay(bursts[$index - 1]) && !$first"><span class="burst-date-text">{{::burst.firstMessage().timestamp|date}}</span></div>

					<div class="username">{{burst.sender().name}}</div>
					<div class="userimg">
						<a whispeer-sref="app.user.info({identifier: burst.sender().names.nickname})">
							<userimage data-userID="sender{{burst.sender().id}}" data-user="burst.sender()" data-trustlevel="0">
						</a>
					</div>
					<ul class="messages">
						<li data-ng-cloak data-ng-repeat="message in burst.messages" data-messageID="{{::message.id}}" class="message">
							<div class="messageContent">
								<div class="messageText {{::message.type}}" data-ng-class="{{::message.type}}" data-syntaxify="::message.text"></div>
								<gallery data-images="message.images"></gallery>
								<div class="time"><i class="fa fa-clock-o"></i> <span data-smart-date="::message.timestamp" data-smart-date-no-day></span></div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			<form id="inputWrap">
				<div class="annotatedInput-container annotatedInput-container--button annotatedInput--reversed" id="messageInput">
					<div class="uploadForm annotatedInput-button">
						<button class="uploadForm-button btn"><i class="fa fa-upload"></i></button>
						<input class="uploadForm-theForm" type="file" data-file="images.addImages" width="4000">
					</div>
					<textarea focus-me="canSend" id="messageView-messageInput" class="annotatedInput-input" data-advancedsend="create.send(create.users, create.text, create.images)" type="text" data-ng-model="activeTopic.newMessage" data-ng-disabled="!canSend" data-i18n-attr="messages.sendMessage.text|placeholder"></textarea>
				</div>
				<savebutton id="sendmessage" data-ng-click="sendMessage(activeTopic.newMessage)" data-state="sendMessageState" data-noiniticon>
					<span data-i18n="messages.sendMessage.send"></span>
				</savebutton>
				<div id="messagesView-newMessageImages" data-ng-class="{'messagesView-newMessageImages--active animate-heightAndOverflow animate--fill': images.images.length > 0}">
					<div class="newsfeed-newPostImagePreview" data-ng-repeat="image in images.images">
						<button class="newsfeed-newPostImageRemove fa fa-times-circle" data-ng-click='images.removeImage($index)'></button>
						<img class="newsfeed-newPostImage" alt="{{image.getName()}}" data-ng-src="{{image.getUrl()}}">
						<progress class="newsfeed-newPostImageProgress" value="{{image.getProgress()*100}}" max="100"></progress>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
