@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-mail-1:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-location-1:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-globe-1:before { content: '🌎'; } /* '\1f30e' */
.icon-gift:before { content: '🎁'; } /* '\1f381' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-users-1:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-search-1:before { content: '\e802'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-hammer:before { content: '🔨'; } /* '\1f528' */