
.icon-spinner:before { content: '\e81d'; } /* '' */
.icon-gender:before { content: '\e81c'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-ok-circle:before { content: '\e807'; } /* '' */
.icon-cancel-circle:before { content: '\e808'; } /* '' */
.icon-plus-circle:before { content: '\e809'; } /* '' */
.icon-minus-circle:before { content: '\e80a'; } /* '' */
.icon-help-circle:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-lock-open:before { content: '\e80e'; } /* '' */
.icon-lock-open-alt:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e811'; } /* '' */
.icon-comment:before { content: '\e812'; } /* '' */
.icon-chat:before { content: '\e813'; } /* '' */
.icon-attention:before { content: '\e814'; } /* '' */
.icon-trash:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e820'; } /* '' */
.icon-cog-alt:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-clock:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e81e'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-off:before { content: '\e819'; } /* '' */
.icon-book:before { content: '\e81f'; } /* '' */
.icon-gift:before { content: '\e81a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e810'; } /* '' */