<header class="box-header box-header--content settingsView-setting-header--top"><span class="box-header-title" data-i18n="settings.changes.account"></span></header>
<section class="settingsView-section" id="settingsView-account">
	<div class="settingsView-setting" id="settingsView-name">
		<h3 class="settingsView-setting-header" data-i18n="settings.changes.changeName"></h3>
		<input type="text" id="settingsView-firstNameInput" data-ng-model="firstName" data-i18n-attr="settings.safety.attributes.names.firstname|placeholder">
		<input type="text" id="settingsView-lastNameInput" data-ng-model="lastName" data-i18n-attr="settings.safety.attributes.names.lastname|placeholder">
		<savebutton id="settingsView-saveName" state="saveNameState" data-ng-click="saveName()">
			<span data-i18n="settings.changes.save"></span>
		</savebutton>
	</div>
	<div class="settingsView-setting" id="settingsView-nickname">
		<h3 class="settingsView-setting-header" data-i18n="settings.changes.changeUsername"></h3>
		<input disabled="disabled" type="text" id="settingsView-nickNameInput" data-ng-model="nickName" data-i18n-attr="settings.safety.attributes.names.username|placeholder">
		<savebutton id="settingsView-saveNickName" state="saveNameState" data-ng-click="saveNickName()" disabled>
			<span data-i18n="settings.changes.save"></span>
		</savebutton>
	</div>
	<div class="settingsView-setting" id="settingsView-mail">
		<h3 class="settingsView-setting-header" data-i18n="settings.changes.changeMail"></h3>
		<input type="text" id="settingsView-mailInput" data-ng-model="mail" data-i18n-attr="settings.changes.mail|placeholder">
		<savebutton id="settingsView-saveMail" state="saveMailState" data-ng-click="saveMail()">
			<span data-i18n="settings.changes.save"></span>
		</savebutton>
	</div>
	<div class="settingsView-setting" id="settingsView-password">
		<h3 class="settingsView-setting-header" data-i18n="settings.changes.changePassword"></h3>
		<form validated-form="pwValidationOptions">
			<passwordinput state="pwState"></passwordinput>
			<savebutton id="settingsView-savePassword" state="savePasswordState" data-ng-click="savePassword()">
				<span data-i18n="settings.changes.save"></span>
			</savebutton>
		</form>
	</div>
</section>
