html, body {height: 100%; width: 100%; overflow: hidden; zoom: 1;}

iframe {
	border: none;
}

html {
	body {
		.box-fix;
	}
	@media @mobile {
		#main {
			left: 0;
			height: 100%;
		}
	}
	footer {
		background: rgba(255,255,255,0.79);
	}
}

.body-iframe body {
	padding: 0 !important;
	text-align: right;
	background: transparent !important;
}

.html-scroll {
	overflow: visible;
	-webkit-overflow-scrolling: touch;
	body {
		overflow: visible;
	}
}

body {
	background-color: @white;
	&:extend(.box-fix);
	*zoom: 1;
}

noscript {
	width: 100%;
	margin-top: 10px;
}

#container {
	height: 100%;
	&:extend(.box-fix);
}

#loading {
	text-align: center;
}

#main, #sidebar-left {
	height: 100%;
}

#main {
	position: relative;
	@media @desktop {
		width: ~"calc(100% - 17rem)";
		margin-left: 17rem;
		&:extend(.box-fix);
	}

	@media @mobile {
		width: 100%;
		position: absolute;
		transition-duration: @mobileNavTransitionTime;
	}
}
.main-hidden {
	display: none;
	width: 0;
}
.main-push {
	overflow: hidden;
}

.inviteFriends-link {
	text-align: center;
}

#sidebar-left {
	background: @primaryDarkest;
	@media @desktop {
		width: 17rem;
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	@media @mobile {
		width: @mobileNavWidth;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate3d((-1 * @mobileNavWidth), 0, 0);
		transition-duration: @mobileNavTransitionTime;
		z-index: 1040;
		padding: 0;
		overflow: hidden;
		&:extend(.box-fix);
		height: 100%;
		background: @primary;
		&.sidebarLeft-show {
			transform: translate3d(0, 0, 0);
		}
		.mobileMenu {
			overflow-y: scroll;
			overflow-x: hidden;
			height: 100%;
			-webkit-overflow-scrolling: touch;
		}
	}
}

#mobileSearch {
	.column(12);
	margin-top: 10px;
	height: ~"calc(100% - 15px)";
}

.theMobileSearch {
	height: 100% !important; // sad but needed
}

.theMobileSearch .search-input {
	width: 100%;
}

.theMobileSearch .search-resultsDrop {
	bottom: 5px;
}

.theMobileSearch .search-suggestions {
	max-height: 100%;
}

#userpanel {
	width: 100%;
}

textarea {
	resize: none;
	overflow: auto;
}

.footer {
	float: left;
	width: 100%;
	margin: 10% 0 55px 0;
	padding: 5px 5px 0px 5px;
	&:extend(.box-fix);
	color: #3d9404;
	.small-text();
	a {
		color: #3d9404;
		&:hover {
			color: #4eb508;
		}
	}
}
.footer-row {
	width: 100%;
}
