html, body {height: 100%; width: 100%; overflow: hidden;}

html:not(.startView) {
	body {
		padding-top: 50px;
		.box-fix;
	}
	footer {
		background: rgba(255,255,255,0.79);
	}
}

html:not(.mainView):not(.startView) {
	#container {
		padding: 10px 0;
	}
}


body {
	background-color: @white;
	&:extend(.box-fix);
	*zoom: 1;
}

noscript {
	width: 100%;
	margin-top: 10px;
}

#container {
	height: 100%;
	&:extend(.box-fix);
}

#loading {
	text-align: center;
}

#main, #sidebar-left {
	height: 100%;
}

#main {
	@media @desktop {
		.column(8);
		.push(2);
	}

	@media @mobile {
		.column(12);
	}

	.transition(@mobileNavTransitionTime ease);
}
.main-hidden {
	display: none;
	width: 0;
}
.main-push {
	margin-right: (-1 * @mobileNavWidth) !important; // we need an !important since we are overwriting a media-query on an id!
}

#sidebar-left {
	@media @desktop {
		.column(2);
		position: fixed;
		top: 65px;
		left: 0;
	}

	@media @mobile {
		width: @mobileNavWidth;
		float: left;
		margin-left: (-1 * @mobileNavWidth);
		margin-top: -51px;
		overflow: scroll;
		z-index: 1040;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		.box-fix;
		.transition(margin-left @mobileNavTransitionTime ease);
		height: ~"calc(100% + 50px)";
		background: @primary;
		&.show {
			margin-left: 0;
		}
	}
}

#mobileSearch {
	display: none;
}

#userpanel {
	.column(12);
	margin-bottom: 10px;
}

textarea {
	resize: none;
	overflow: auto;
}

.footer {
	display: none;
	visibility: hidden;
	float: left;
	width: 100%;
	margin: -25px 0 0;
	padding: 5px 5px 0px 5px;
	.box-fix;
	color: #3d9404;
	a {
		color: #3d9404;
		&:hover {
			color: #4eb508;
		}
	}
}
.footer-left, .footer-right {
	width: 50%;
	float: left;
	text-align: left;
}
.footer-right {
	text-align: right;
}
