.box-fix {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
// Clear Fix
.clear-fix {
	&:before, &:after {
		content: "";
    	display: table;
	}
	&:after {
		clear: both;
	}
}
.buttonBackground(@defaultColor, @hoverColor:darken(@defaultColor,5%), @focusColor:darken(@hoverColor,5%), @activeColor:@focusColor, @tColor:@white, @tShadow: 1px 1px 2px rgba(0,0,0,.25)) {
	background-color: @defaultColor;
	color: @tColor !important;
	//text-shadow: @tShadow;
	&:hover {
		background-color: @hoverColor;
	}
	&:focus {
		background-color: @focusColor;
	}
	&:active {
		background-color: @activeColor;
	}
}