// Mobile Stylesheet
// --------------------------

// Varaibles for Grid System
// -------------------------
@columns: 12;
@column-width: 18.5;
@gutter-width: 8;

@import "basic/body";
@import "basic/navbar";
@import "basic/search";
//@import "basic/typography";
@import "basic/userpanel";

@import "views/friends";
@import "views/help";
@import "views/media";
@import "views/messages";
@import "views/post";
@import "views/profile";
@import "views/register";
@import "views/settings";
