.messagesView {
	#main {
		.column(12);
	}
	#topicListWrap {
		.column(4,12);
		height: 300px;
		overflow: scroll;
		//margin-right: 3px;
		.topic {
			.userimg {
				.column(1,1);
			}
			.username {
				font-size: 1em;
				.column(2,4);
			}
			.lastMessage {
				font-size: 0.8em;
				.column(2,4);
			}
			.left {
				.column(1,4);
			}
		}
	}
	#topicWrap {
		height: 350px;
		&.peerChat {
			.column(8,12);
			#messageList {
				height: 150px;
				overflow: scroll;
				.message {
					.column(8,8);
					.user {
						.userimg {
							.column(1,8);
							padding-top: 10px;
						}
					}
					.messageText {
						.column(7,8);
						padding: 10px 0px;
					}
				}
			}		
		}	
		&.groupChat {
			.column(8,12);
			#messageList {
				.message {
					.column(8,8);
					.user {
						.userimg {
							float: left;
							width: 10%;
						}
						.username {
							width: 10%;
						}
					}
					.messageText {
						width: 70%;
					}
				}
			}
		}
		&.newMessage {
			.column(5,7);
			#recieverInput, #messageInput {
				.column(5,5);
				margin-bottom: 5px;
			}
			#sendmessage {
				margin-left: 12px;
			}
		}		
	}
}