//Don't touch any of the *.less or *.css files, or you will die an awful death.
.shareForm {
	.column(12);
	padding-bottom: 10px;
	#shareText {
		.column(9);
	}
	button {
		.column(3);
	}
}
.posts {
	article {
		.column(12);
		margin-top: 5px;
		.userimg {
			.column(2);
		}
		.postContent {
			.column(10);
			.author {
				.row(10);
			}
			.postText {
				margin-top: 5px;
			}
		}
		.postInfo {
			.column(12);
			margin-top: 5px;
			margin-bottom: 5px;
			.with {
				color: #666;
				.column(10);
				.push(2);
			}
			.awesome {
				.column(6,12);
				.push();
			}
			p.comments {
				.column(5,12);
			}
			.showComments {
				.column(5,12);
				.push(7);
			}
		}	
	}
}