//Don't touch any of the *.less or *.css files, or you will die an awful death.
.profileView {
	#infowrap {
		.column(12);
	}
	.shareForm {
		.column(12);
		padding-bottom: 10px;
		#shareText {
			.column(9);
		}
		button {
			.column(3);
		}
	}
	#userimg {
		.column(12);
		text-align: center;
		padding-top: 10px;
	}
	#userinfo {
		.column(12,12);
	}
}