.settingsView {
	#toc {
		float: left;
		width: 100%;
	}
	.config {
		.column(11,12);
		.push(1);
		input:not([type=submit]):not([type=file]) {
			.column(4,11);
		}
		#newNickname {
			.push(4,11);
		}
	}
}