

<!doctype html>
<html lang="de" data-ng-csp class="mailView hasTopBar">
<head>
	<base href="/" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="assets/img/favicons/favicon.png" type="image/x-icon">
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/static.css">
	<title>whispeer</title>
</head>

<body data-mobile>
	<header class="header">
	<div class="header-inner header-inner--left">
		<a href="/de" class="header-brand">
			<span class="header-brand--normal">whis</span><span class="header-brand--inverse">peer</span>
		</a>
	</div>
</header>

	<div id="container" data-ng-controller="ssn.verifyMailController">
		<main id="mailView-main">
			<div data-ng-if="verifying.isInit()">
				<label class="mailView-inputLabel">
					<span id="mailView-inputLabelText">Aktivierungscode:</span>
					<input type="text" data-ng-model="challenge" id="mailView-input" placeholder="Aktivierungscode hier eingeben">
				</label>
				<label class="mailView-inputLabel">
					<input type="checkbox" data-ng-model="mails" checked id="mailView-updates">
					Ich möchte Updates per E-Mail erhalten
				</label>
				<input type="submit" data-ng-click="verify(mails)" value="E-Mail bestätigen" class="btn btn--primary mailView-submit">
			</div>
			<div id="mailView-response">
				<span class="mailView-responseText mailView-responseText--info" data-ng-if="verifying.isPending()" data-ng-cloak>E-Mail wird verifiziert.</span>
				<span class="mailView-responseText mailView-responseText--success" data-ng-if="verifying.isSuccess()" data-ng-cloak>Deine E-Mail Adresse wurde bestätigt.</span>
				<span class="mailView-responseText mailView-responseText--error" data-ng-if="verifying.isFailed()" data-ng-cloak data-syntaxify>Aktivierung fehlgeschlagen!
 Möglicherweise ist dein Aktivierungscode abgelaufen.</span>
			</div>

			<a href='/de/b2c' data-i18n="views.mail.backToLogin"></a>
		</main>
	</div>
</body>
<script data-main="assets/js/requireConfig" data-initial="verifyMail/verifyMailMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
