<div data-ng-repeat="attribute in profileAttributes" data-tooltip-title="{{attribute.hoverText}}" data-tooltip-position="left">
		<input type="text" placeholder="{{attribute.placeHolder}}" data-ng-model="attribute.value">
		<span class="icon lock">
			<img data-ng-src="{{lock(attribute.encrypted)}}" alt="{{((attribute.encrypted) && ('Privat') || ('Öffentlich'))}}" data-ng-click="attribute.encrypted=!attribute.encrypted"/>
		</span>
	</div>
	<div data-tooltip-title="{{attribute.hoverText}}" data-tooltip-position="right">
		<input type="text" id="rnickname" data-i18n-attr="login.username|placeholder" data-ng-model="nickname" data-ng-model-onblur data-ng-change="nicknameChange()">
		<span class="icon fail" id="rnicknameIcon">
			<img data-ng-src="{{acceptIconNicknameFree()}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input type="text" id="rmail" data-i18n-attr="login.register.email|placeholder" data-ng-model="mail" data-ng-model-onblur data-ng-change="mailChange()">
		<span class="icon check" id="rmailIcon">
			<img data-ng-src="{{acceptIconMailFree()}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input type="text" id="rmail2" data-i18n-attr="login.register.repeatEmail|placeholder" data-ng-model="mail2">
		<span class="icon check" id="rmail2Icon">
			<img data-ng-src="{{acceptIcon(mail, mail2)}}" alt="Ok!">
		</span>
	</div>
	<div>
		<input id="files-upload" type="file" data-file="imageChange">
	</div>
	<div>
		<input type="password" id="rpassword" data-i18n-attr="login.password|placeholder" data-ng-model="password">
		<span class="icon" id="rpasswordIcon" data-strength="{{passwordStrength()}}"></span>
	</div>
	<div class="success" id="successRegisterPassword" style="display:block"><span data-i18n="login.register.passwordstrength"></span><span>{{passwordStrength()}}</span></div>
	<div>
		<input type="password" id="rpassword2" data-i18n-attr="login.register.repeatPassword|placeholder" data-ng-model="password2">
		<span class="icon check" id="rpassword2Icon">
			<img data-ng-src="{{acceptIcon(password, password2)}}" alt="Ok!">
		</span>
	</div>
	<div>
		<button id="registerformsubmit" class="btn" type="submit"  data-ng-click="register()" data-i18n="login.register.link"></button>
	</div>