

<!doctype html>
<html lang="en" data-ng-csp class="body-iframe">
<head>
	<base href="/" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="assets/img/favicons/favicon.png" type="image/x-icon">
	<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/static.css">
</head>

<body>
	<form id="start-login-form" data-ng-controller="ssn.loginController">
		<input type="text" id="mail" placeholder="Username" data-ng-model="login.identifier">
		<input type="password" id="password" placeholder="Password" data-ng-model="login.password">
		<button id="loginformsubmit" class="btn btn--input btn--primary btn--saveButton" data-ng-class="{'btn-saveButton--success': login.state.success || login.state.init, 'btn-saveButton--operation': login.state.pending, 'btn-saveButton--failure': login.state.failed}" type="submit" data-ng-click="login.login()">
			<i data-ng-if="login.state.success || login.state.init" data-hide-savebutton class="fa fa-fw fa-check-circle"></i>
			<i data-ng-cloak data-ng-if="login.state.failed" class="fa fa-fw fa-times-circle"></i>
			<i data-ng-cloak data-ng-if="login.state.pending" class="saveButton-spinner fa fa-fw fa-spinner fa-spin"></i>
			<span>Log In</span>
		</button>
	</form>
</body>
<script data-main="assets/js/requireConfig" data-initial="login/loginMain" src="assets/js/bower/requirejs/require.js"></script>
</html>
