.friendsView {
	#main {
		padding-top: 30px;
		padding-bottom: 10px;
		//height: calc(100% - 5px);
		height: 100%;
		margin-top: 5px !important;
		overflow: hidden;
	}
	header {
		height: 20px !important;
		margin-top: 0px;
		margin-bottom: 1%;
		padding: 5px !important;
		.title {
			margin-top: 2px !important;
			display: inline-block;
		}
	}
	#friendsList {
		height: 100%;
	}
}
.friendsView {
	#friendsList {
		-webkit-overflow-scrolling: touch;
		li {
			.column(1,2);
			height: 100px;
			padding: 0;
			.box-fix;
			margin-bottom: 2%;
			.username {
				width: 100%;
			}
			.pushup {
				height: 50px;
				width: 100%;
				margin-top: 0px;
				padding: 0;
			}
			&:hover {
				.pushup {
					height: 80px;
				}
			}
		}
	}
}