.messagesView {
	#main {
		padding-top: 30px;
		padding-bottom: 10px;
		height: 100%;
		margin-top: 5px !important;
		overflow: hidden !important;
	}
	header {
		height: 20px !important;
		margin-top: 0px;
		padding: 5px;
		.title {
			.column(6,7);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		button {
			.column(1,7,right);
			.width(1,7);
			.btn;
			.btn-small;
			margin-top: -3.5px !important;
		}
	}
	#topicListWrap {
		.column(8,8);
		height: 100%;
		#topicList {
			height: 100%;
			padding-top: 15px;
			padding-bottom: 6px;
			#topicListScroll {
				height: 230px !important;
				float: left;
				overflow-y: scroll !important;
			}
			.topic {
				margin-bottom: 5px;
				padding: 0;
				.left {
					.column(1.5,8);
					margin: 0 2% -4px 0;
					.userimg {
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}	
				.username {
					font-size: 1em;
					.column(12);
					text-overflow: ellipsis;
					max-height: 40px;
					max-width: 100%/2*1.3;
					overflow: hidden;
					white-space: nowrap;
				}
				.lastMessage {
					.column(12);
					max-width: 100%/2*1.3 !important;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				&#newmessage {
					height: 20px;
					margin-top: -10px;
				}
				&.groupChat {
					.left {
						margin: 0 2% 0 0;
						img, span {
							.column(1,2,left,0);
							margin:0!important;
							height: 40px;
						}
						span {
							padding: 10px 0;
							font-size: 0.78em;
							text-align: center;
						}
					}
				}
			}
		}
	}
	#topicWrap {
		height: 100%;
		&.peerChat {
			.column(12);
			height: 100%;
			padding: 0px 0px 120px 0px;
			.box-fix;
			#messageWrap {
				height: 100%;
			}
			#messageTitle {
				padding-left: 10px;
			}
			#messageList {
				overflow-y: scroll !important;
				height: 150px;
				.message {
					.column(4.25,5);
					height: auto;
					margin-bottom: 5px;
					&.me {
						float: right;
					}
					.user {
						.userimg {
							.column(2,12);
							padding: 0;
						}
					}
					.messageText {
						.column(10,12);
						word-break: break-word;
					}
					.time {
						margin-top: -5px;
					}
				}
			}
			#inputWrap {
				height: 50px;
				#messageInput {
					.column(3,4);
					height: 45px;
				}
				button {
					.column(1,4);
					height: 45px;
					padding: 0;
				}
			}		
		}	
		&.groupChat {
			.column(12);
			height: 100%;
			padding: 0px 0px 120px 0px;
			.box-fix;
			#messageWrap {
				height: 100%;
			}
			#messageTitle {
				padding-left: 10px;
			}
			#messageList {
				overflow-y: scroll;
				height: 100%;
				.message {
					.column(5,5);
					margin-bottom: 5px;
					.user {
						.userimg {
							.column(1.4,12);
							padding: 0;
							margin: 0 1.25% 0 0!important;
						}
						.username {
							.column(10.6,12);
							margin-bottom: 0.5%;
						}
					}
					.messageText {
						.column(10.6);
						word-break: break-word;
					}
				}
			}
			#inputWrap {
				#messageInput {
					.column(3,4);
					height: 45px;
				}
				button {
					.column(1,4);
					height: 45px;
				}
			}
		}
		&.newMessage {
			.column(7,7);
			#recieverInput, #messageInput {
				.column(5,5);
				margin-bottom: 0px;
				.formSearch {
					.inputWrap {
						li {
							&.searchField {
								width: 40%;
								input {
									width: 100%;
								}
							}
						}
					}
				}
			}
			#messageInput {
				height: 100px;
				margin-bottom: 5px;
			}
			#sendmessage {
				margin-left: 1% !important;
			}
		}		
	}
}