.notificationCenterView {
	.box {
		margin-top: 5px;
		header {
			margin-top: 0px;
			position: relative;
			.title {
				width: 100%;
				display: inline-block;
				margin: 0;
				.badge {
					top: 0;
					left: 0;
					float: left;
					display: inline-block;
					margin: 0px 1%;
					padding: 0 2px 3px 2px;		
					position: relative;	
				}
				.title-text {
					float: left;
					width: calc("98%-22px");
					margin: 0;
					margin: 0 1%;
					.box-fix;
					display: inline-block;
					top: 0;
					left: 0;
				}
			}
		}
		ul {
			.unstyled;
			.column(12);
			li {
				.column(12);
				&.request {
					img {
						.column(3);
						margin-left: 0;
						.border-radius(100%);
					}
					.username {
						.column(9);
						float: none;
						a {
							color: #000;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.similar {
						.column(9);
						color: #777;
					}
					.username, .similar {
						transition: color 0.1s ease;
					}
					.action {
						width: 99%;
						float: left;
						margin-left: 1%;
						button {
							.column(6);
							padding: 2%;
						}
					}
				}
			}
		}
	}
}
