<section id="inviteView-selectInviteMethod">
	<h1 class="inviteView-header" data-i18n="views.invite.title"></h1>
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u={{url('fb')}}" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-facebook"></i>
		<span>Facebook</span>
	</a>

	<!-- Twitter -->
	<a href="https://twitter.com/intent/tweet?url={{url()}}&text={{text}}&hashtags={{hashtags}}" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-twitter"></i>
		<span>Twitter</span>
	</a>

	<!-- Google+ -->
	<a href="https://plus.google.com/share?url={{url('gp')}}" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-google-plus"></i>
		<span>Google+</span>
	</a>

	<!-- Reddit -->
	<a href="http://reddit.com/submit?url={{url()}}&title={{text}}" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-reddit"></i>
		<span>Reddit</span>
	</a>

	<a whispeer-sref="app.invite.mail" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-envelope"></i>
		<span>E-Mail</span>
	</a>
	<!-- this does not make sense until we re-add invite-codes/reference codes
		<a whispeer-sref="app.invite.link" class="btn btn--primary"><i class="fa fa-link"></i>Link</a>
	-->
</section>

<ui-view></ui-view>
