<section id="inviteView-selectInviteMethod">
	<h1 class="inviteView-header" data-i18n="views.invite.title"></h1>

	<label for="anonymousInvite">
		<input type="checkbox" data-ng-model="anonymous" id="anonymousInvite" class="anonymousInvite">
		<span data-i18n="views.invite.anonymous"></span>
	</label><br><br>

	<!-- Facebook -->
	<button data-ng-click="open('facebook')" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-facebook"></i>
		<span>Facebook</span>
	</button>

	<!-- Twitter -->
	<button data-ng-click="open('twitter')" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-twitter"></i>
		<span>Twitter</span>
	</button>

	<!-- Google+ -->
	<button data-ng-click="open('google')" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-google-plus"></i>
		<span>Google+</span>
	</button>

	<!-- Reddit -->
	<button data-ng-click="open('reddit')" target="_blank" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-reddit"></i>
		<span>Reddit</span>
	</button>

	<a whispeer-sref="app.invite.mail" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-envelope"></i>
		<span>E-Mail</span>
	</a>

	<a ui-sref="app.invite.link" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-link"></i>
		<span>Link</span>
	</a>


	<h1 class="inviteView-header" id="inviteView-invitedHeader" data-i18n="views.invite.invited"></h1>

	<table border=1>
		<tr data-ng-repeat="invite in sentInvites">
			<td>{{ invite.reference ? invite.reference : invite.code }}</td>
			<td>
				<span data-ng-repeat="user in invite.usedBy">
					<a href="/user/{{user}}">{{user}}</a>{{$last?'':','}}
				</span>
			</td>
		</tr>
	</table>
</section>

<ui-view></ui-view>
