<section id="inviteView-selectInviteMethod">
	<h1 class="inviteView-header" data-i18n="views.invite.title"></h1>

	<!-- Facebook -->
	<button data-ng-click="open('facebook')" target="_blank" class="btn inviteView-shareButton inviteView-shareButton--fb">
		<i class="fa fa-facebook"></i>
		<span>Facebook</span>
	</button>

	<!-- Twitter -->
	<button data-ng-click="open('twitter')" target="_blank" class="btn inviteView-shareButton inviteView-shareButton--tw">
		<i class="fa fa-twitter"></i>
		<span>Twitter</span>
	</button>

	<!-- Google+ -->
	<button data-ng-click="open('google')" target="_blank" class="btn inviteView-shareButton inviteView-shareButton--gp">
		<i class="fa fa-google-plus"></i>
		<span>Google+</span>
	</button>

	<!-- Reddit -->
	<button data-ng-click="open('reddit')" target="_blank" class="btn inviteView-shareButton inviteView-shareButton--rd">
		<i class="fa fa-reddit"></i>
		<span>Reddit</span>
	</button>

	<a whispeer-sref="app.invite.mail" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-envelope"></i>
		<span>E-Mail</span>
	</a>

	<a ui-sref="app.invite.link" class="btn btn--primary inviteView-shareButton">
		<i class="fa fa-link"></i>
		<span>Link</span>
	</a>

	<label for="anonymousInvite" class="btn btn--gray inviteView-shareButton">
		<input type="checkbox" data-ng-model="anonymous" id="anonymousInvite">
		<span data-i18n="views.invite.anonymous"></span>
	</label>
</section>
<ui-view></ui-view>
<section id="inviteView-invitedPersons">
	<!-- if acceptedInvitations: -->
	<h1 class="inviteView-header inviteView-header--noTopMargin" data-i18n="views.invite.invited"></h1>
	<section id="inviteView-acceptedInvites">
		<ul data-ng-repeat="invite in acceptedInvites">
			<li class="inviteView-invitedUser">
				<loader data-model="user" data-ng-repeat="user in invite.usedBy" data-id="user" data-scope-attribute="user">
					<person data-user="user" data-ng-if="loaded"></person>
				</loader>
				<p>{{ invite.reference ? invite.reference : invite.code }}</p>
			</li>
		</ul>
	</section>
	<!-- all sent invitations -->
	<h1 class="inviteView-header" data-i18n="views.invite.sentInvites"></h1>
	<section id="inviteView-allInvites">
		<ul>
			<li data-ng-repeat="invite in unacceptedInvites">{{ invite.reference ? invite.reference : invite.code }}</li>
		</ul>
	</section>
</section>
