<section id="inviteView-inviteLink">
	<h1 class="inviteView-header inviteView-header--noMargin" data-i18n="views.invite.viaLink"></h1>
	<p data-i18n="views.invite.viaLinkExplanation" id="inviteView-inviteLinkParagraph"></p>
	<div id="inviteView-inviteLinkThing">
		<savebutton id="inviteView-inviteLinkThing-button" data-ng-click="generateInvite()" data-successIcon="fa-link" data-state="inviteGenerateState" data-noiniticon>
			<span data-i18n="views.invite.generateLink"></span>
		</savebutton>
		<div id="inviteView-inviteLinkThing-spacer">
			<i class="fa" data-ng-class="{'fa-chevron-right': inviteCode, 'fa-circle-o-notch fa-spin': !inviteCode}"></i>
		</div>
		<div id="inviteView-inviteLinkThing-input">
			<a href="{{domain}}/?code={{inviteCode}}">{{domain}}/?code={{inviteCode}}</a>
		</div>
	</div>
</section>
