<basicsearch multiple="true" base="circle">
	<div class="dropdown-header">
		<span class="title" data-i18n="search.circle.select|count={{results.length}}"></span>
		<div class="close" data-ng-click="hide()"><i class="icon icon-cancel-circle"></i></div>
	</div>
	<ol class="unstyled searchSuggestions dropdown-container">
		<li class="noResults" data-ng-if="!results" style="width: {{width + 15}}px" data-i18n="start.loading"></li>
		<li class="noResults" data-ng-if="results.length == 0" style="width: {{width + 15}}px">
			<span data-i18n="views.circles.nocircle"></span>
			<button class="btn btn--primary" data-ng-if="query.length > 0" data-ng-click="notifyParent('createCircle', query)" data-i18n="views.circles.createCircle"></button>
		</li>
		<li style="width: {{width + 15}}px" data-ng-repeat="circle in results" data-ng-class="currentClass($index)" data-ng-mouseover="setCurrent($index)" data-ng-click="selectResult($index)">
			{{circle.name}} ({{circle.userids.length}})
		</li>
	</ol>
</basicsearch>