<basicsearch multiple="true" class="filterSearch" base="filter">
	<div class="dropdown-header">
		<span class="title" data-i18n="search.filter.select|count={{results.length}}"></span>
		<div class="close" data-ng-click="hide()"><i class="icon icon-cancel-circle"></i></div>
	</div>
	<ol class="unstyled searchSuggestions dropdown-container">
		<li data-ng-repeat="result in results" data-ng-class="currentClass($index)" data-ng-mouseover="setCurrent($index)" data-ng-click="selectResult($index)">
			{{result.name}} ({{result.count}})
		</li>
	</ol>
</basicsearch>