<div class="person" style="background-image: url({{userData.basic.image}})" data-ng-click="userData.user.visitProfile()">
	<div class="pushup">
		<p class="username"><a href='{{userData.basic.url}}'>{{userData.name}}</a></p><span class="status" data-status="{{userData.online}}"></span>
		<p class="mutualfriends" data-i18n="friends.mutualFriends|count={{userData.basic.mutualFriends.length}}"></p>
		<p class="requestPending">Anfrage noch nicht bestätigt!</p>
	</div>
	<div class="optionsBar">
		<div class="requestedYou">
			<button class="btn btn--primary btn--small" data-i18n="magicbar.requests.accept" ng-click="acceptRequest(request)"></button>
			<button class="btn btn--danger btn--small" data-i18n="magicbar.requests.decline"></button>
		</div>
		<span class="sendMessage" data-ng-click="">
			<i class="icon icon-mail-alt"></i>
		</span>
		<span class="removeUser" data-ng-click="removeUser()">
			<i class="icon icon-trash"></i>
		</span>
	</div>
</div>