<modal show="modal" loading="modalImage.highest.loading">
	<img class="modalContent-image" data-ng-src="{{modalImage.highest.url}}" data-ng-if="!modalImage.highest.loading">
	<img class="modalContent-image" data-ng-src="{{modalImage.lowest.url}}" data-ng-if="modalImage.highest.loading">
	<div class="modalContent-spinner" data-ng-if="modalImage.highest.loading"><loadingindicator data-color="white" class="loader-shadow"></loadingindicator></div>
</modal>
<div class="post-images">
	<div class="post-imageWrap" data-ng-click="viewImage($index)" data-image-gallery="images" data-ng-repeat="image in images" data-ng-if="$index < preview">
		<div data-ng-if="image.upload && image.upload.getProgress() < 1">
			<div class="radial-progress" data-progress="{{image.upload.getProgress() * 100 | number: 0}}">
				<div class="circle">
					<div class="mask full">
						<div class="fill"></div>
					</div>
					<div class="mask half">
						<div class="fill"></div>
						<div class="fill fix"></div>
					</div>
					<div class="shadow"></div>
					<div class="inset"></div>
				</div>
			</div>
		</div>
		<img class="post-image" data-ng-if="!runGif($index)" data-ng-src="{{image.lowest.url}}">
		<span class="post-image--play fa fa-play fa-2x" data-ng-if="image.lowest.gif && !runGif($index)"></span>
		<div data-ng-if="runGif($index)">
			<img class="post-image" data-ng-src="{{image.highest.url}}" data-ng-if="!image.highest.loading">
			<img class="post-image" data-ng-src="{{image.lowest.url}}" data-ng-if="image.highest.loading">
			<div class="modalContent-spinner" data-ng-if="image.highest.loading"><loadingindicator></loadingindicator></div>
		</div>
	</div>
	<button class="post-moreImages btn btn--inverse btn--noRadius" data-ng-click="loadMoreImages()" data-ng-if="images.length > preview">
		+ {{images.length - preview}}
	</button>
</div>
