<modal show="modal" loading="modalImage.highest.loading">
	<img class="modalContent-image" data-ng-src="{{modalImage.highest.url}}" data-ng-if="!modalImage.highest.loading">
	<img class="modalContent-image" data-ng-src="{{modalImage.lowest.url}}" data-ng-if="modalImage.highest.loading">
</modal>
<div class="postImages">
	<div class="postImageWrap" data-ng-click="viewImage($index)" data-image-gallery="images" data-ng-repeat="image in images" data-ng-if="$index < preview">
		<img class="postImage" data-ng-src="{{image.lowest.url}}">
	</div>
	<button class="moreImages" data-ng-click="loadAllImages()" data-ng-if="images.length > preview">
		+ {{images.length - preview}}
	</button>
</div>