<div class="annotatedInput-container">
	<input class="annotatedInput-input strenghInput password" type="password" data-i18n-attr="login.password|placeholder" data-ng-model="state.password" validation="passwordValidations">
	<span class="annotatedInput-icon" data-strength="{{passwordStrength()}}"></span>
</div>
<div class="annotatedInput-container">
	<input type="password" class="annotatedInput-input password2" data-i18n-attr="login.register.repeatPassword|placeholder" data-ng-model="state.password2" validation="password2Validations">
	<span class="annotatedInput-icon fa" data-ng-class="acceptIcon(password, password2)" data-ng-if="!empty(password) && !empty(password2)"></span>
</div>