<article class="post">
	<aside class="meta">
		<a href='{{post.sender.basic.url}}' class="userimg">
			<userimage data-user="post.sender"></userimage>
		</a>
		<strong>
			<a href='{{post.sender.basic.url}}'>{{post.sender.name}}</a>
		</strong>
		<span data-ng-if="post.walluser">
			<i class="fa fa-caret-right"></i>
			<strong>
				<a href='{{post.walluser.basic.url}}'>{{post.walluser.name}}</a>
			</strong>
		</span>
	</aside>
	<p class="content" data-syntaxify="post.content.text"></p>
	<aside class="actions">
		<span class="date"><i class="fa fa-clock-o"></i> {{post.time|smartdate}}</span>
		<span ng-click="toggleShowComments()" class="action"><i class="fa fa-comment"></i> <span data-i18n="wall.comments"></span> ({{post.comments.length}})</span>
		<span data-ng-if="post.removable" data-ng-click="post.remove()" class="action"><i class="fa fa-times"></i><span data-i18n="wall.remove"></span></span>
	</aside>
	<aside class="comments" ng-show="showComments">
		<ul>
			<li class="post-comments-loading" data-ng-show="post.commentsLoading">
				<i class="saveButton-spinner fa fa-2x fa-fw fa-spinner fa-spin"></i>
				<p class="large-text" data-i18n="wall.commentsLoading"></p>
			</li>
			<comment data-ng-show="!post.commentsLoading" data-ng-repeat="comment in post.comments" comment="comment"></comment>
		</ul>
		<div>
			<textarea data-i18n-attr="wall.newComment|placeholder" data-strg-enter="post.newComment.create(post.newComment.text)" data-ng-model="post.newComment.text"></textarea>
			<savebutton data-translation="wall.postit.send" data-ng-click="post.newComment.create(post.newComment.text)" data-state="post.newComment.state" data-noiniticon></savebutton>
		</div>
	</aside>
</article>
