<div class="search search--multiple">
	<form class="search-form">
		<ul class="search-wrapper">
			<li data-ng-repeat="element in selectedElements" class="search-result btn btn--primary btn--noRadius" data-ng-show="$index<previewCount">
				<span class="search-result-name">{{element.name}}</span>
				<i class="search-result-remove fa fa-times-circle" data-ng-click="removeSelection($index, $event)"></i>
			</li><!--
			--><li class="search-result search-result--hiddenCount btn btn--primary btn--noRadius" data-ng-show="multiple && hiddenCount > 0" data-ng-click="toggleShowSelectedElements(true, $event)">
				<span class="search-result-name">+{{hiddenCount}}</span>
			</li><!--
			--><li class="search-input">
				<input type="text" class="search-query input-custom" data-i18n-attr="{{inputI18nAttr}}" data-ng-click="click(true, $event)"  data-ng-keydown="keydown($event)" data-ng-change="queryChange()" data-ng-model="query" data-onfocus="focus(true)" data-onblur="focus(false)" style="width: {{remainingWidth}}px">
			</li>
		</ul>
	</form>
	<div class="search-resultsDrop" data-ng-show="show() && results.length > 0" data-ng-include="'assets/views/search/' + searchTemplate + 'Search.html'">
	</div>
</div>
