<div class="voicemail">
  <button class="radial-progress" data-ng-click="$ctrl.toggle()">
    <div class="circle circle-with-icon">
      <i class="fa fa-fw fa-play" data-ng-if="!$ctrl.isPlaying()"></i>
      <i class="fa fa-fw fa-pause" data-ng-if="$ctrl.isPlaying()"></i>
    </div>
  </button>
  <loading-progress data-get-progress="$ctrl.getProgress" data-ng-if="$ctrl.isLoading() && !$ctrl.isLoaded()"></loading-progress>
  <div class="voicemail--info">
    <div class="voicemail--position">
      <span id="position">00:00</span> / {{ $ctrl.getDuration() * 1000 | date: 'mm:ss' }}
    </div>
    <div class="voicemail--size" data-ng-if="!$ctrl.isLoaded()">
      {{ $ctrl.getSize() }}
    </div>
    <div class="voicemail--progress" data-ng-show="$ctrl.isLoaded()"></div>
  </div>
</div>
