/* Main things */
	#spinner {
		height: 160px;
		width: 160px;
		background-image: url(../img/spinner.gif) no-repeat;
		display: none;
	}
	#content {
		margin-top: 10px;	
	}
	
	#menu ul li i {
		float: right;
	}
	.clear {
		clear: both;
	}