/* Profile Layout */
	.userpicbig {
		width: 90%;
	}
	#banner {
		display: none;
		height: 250px;
		margin-bottom: 5px;
	}
	#pfriendShip {
		margin-bottom: 5px;	
		margin-top: 3px;
	}
	#wall small {
		color: #7b7b7b;
	}
	.comment .user-icon {
		width: 30px;
	}