/* Search layout */
	#search_drop {
		position: absolute;
		display: block;
		top: 45px;
		margin-left: 5px;
		background: @white;
		display: none;
		border-radius: 5px;
		box-shadow: 0 0 8px @grayLight;
	}
	
	#search_drop ul {
		padding: 0;
		margin: 0;
	}
	
	#search_drop ul li {
		display: block;
		width: 100%;
		min-height: 40px;
	}
	
	#search_drop ul li > a {
		display: block;
		color: @green2;
		margin-left: 10px;
		padding-top: 13px;
		padding-bottom: 13px;
		text-shadow: 0 0 1px @green2;
	}
	
	#search_drop ul li > a > p.add-info {
		display: block;
		margin-left: 10px;
		color: @grayLight;
	}
	
	#search_drop ul li > a:hover > p.add-info {
		color: @grayLighter;
	}
	
	#search_drop ul li:first-child{
		border-radius: 5px 5px 0 0;
		border-top: 0;
	}
	
	#search_drop ul li:last-child {
		border-radius: 0 0 5px 5px;
		border-bottom: 0;
	}
	
	#search_drop ul li:hover {
		 background: @orange2;
		#gradient > .vertical(@orange, @orange2);
	}
	
	#search_drop ul li > a:hover {
		color: @white;
		text-decoration: none;
	}