/* Ticker Layout */
	.ticker {
		overflow:visible;
		height: @navbarHeight - 10px;
		margin-top: 15px;
		display: none;
	}
	
	.tickerfield {
		postition: relative;
		margin-top: -10px;
		margin-left: 0px;
	}
	#ticker-man {
		width: 28px;
		margin-right: 0px;
		margin-top: -8px;
		float: left;
		display: block;
	}