<div id="wall">
	<header>
		<button class="btn btn-green activatePost" data-ng-if="!postActive && mobile" data-ng-click="togglePost()">Einen Post verfassen!</button>
		<form data-ng-if="postActive || !mobile" class="form-inline" id="postIt">
			<input type="text" data-i18n-attr="wall.postit.text|placeholder" id="shareText">
			<filtersearch data-input-i18n-attr="wall.postit.receiver|placeholder" id="receiver" />
			<button type="submit" data-i18n="wall.postit.send" data-ng-click="togglePost()"></button>
		</form>
		<div id="filter">
			<button class="title" data-i18n="wall.filter.title" data-ng-click="toggleFilter()"></button>
			<div data-ng-if="filterActive || !mobile"><filtersearch data-input-i18n-attr="wall.filter.placeholder|placeholder" id="theFilter" /></div>
		</div>
	</header>
	<div class="posts">
		<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
	</div>	
</div>