<div id="wall">
	<header>
		<form class="form-inline" id="postIt">
			<input type="text" data-i18n-attr="wall.postit.text|placeholder" id="shareText">
			<filtersearch data-input-i18n-attr="wall.postit.receiver|placeholder" id="receiver" />
			<button type="submit" data-i18n="wall.postit.send"></button>
		</form>
		<div id="filter">
			<div class="title" data-i18n="wall.filter.title"></div>
			<textarea data-i18n-attr="wall.filter.placeholder|placeholder" id="theFilter"></textarea>
		</div>
	</header>
	<div class="posts">
		<post data-ng-repeat="post in posts" data-post="post" id="{{post.id}}"></post>
	</div>	
</div>