/*
	Don't touch any of the *.less or *.css files, or you will die an awful death.
*/

body {
	background-color: @white;
	background-color: rgba(105,228,0,0.1);
	margin: 0 auto;
	padding-top: @navbarHeight;
	
	div {
		display: block;
	}
	
	#container {
		margin-top: 10px;
	}
	
	noscript {
		.column(12);
		margin-top: 10px;
	}
	
	#sidebar-left {
		#userpanel, #didYaKnow {
			margin-bottom: 10px;
		}
	}
	
	#sidebar-right {
		.column(2);
		#ads {
			.column(2,2);
		}
	}
	
	footer {
		float: left;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 5px;
		color: #f2fbec;
		.box-fix;
		#left {
			float: left;
		}
		#right {
			float: right;
			margin-right: 5px;
		}
		a {
			color: #f2fbec;
		}
	}
	
	#loading {
		display: none;
		text-align: center;
	}
}
.mainView, .messageView, .friendsView, .profileView, .mediaView, .helpView, .settingsView {
	#main {
		.column(7);
	}
}