html, body {height: 100%;}
body {
	background-color: @white;
	//background-color: rgba(105,228,0,0.1); 
	margin: 0 auto;
	padding-top: @navbarHeight;
	.box-fix;
	width: 100%;
	*zoom: 1;
	padding-top: 60px;
	padding-bottom: 40px;
	
	div {
		display: block;
	}

	#container {
		height: 100%;
	}
	
	#main, #sidebar-left, #sidebar-right {
		height: 100%;
	}
	
	#main {
		//overflow-y: scroll;
	}
	
	noscript {
		margin-top: 10px;
	}
	
	#sidebar-left {
		#userpanel, #didYaKnow {
			margin-bottom: 10px;
		}
	}

	footer {
		padding: 5px;
		padding-bottom: 0;
		height: 10px;
		color: #3d9404;
		#left {
			float: left;
		}
		#right {
			float: right;
			margin-right: 5px;
		}
		a {
			color: #3d9404;
			&:hover {
				color: #4eb508;
			}
		}
		.box-fix;
	}
	
	#loading {
		display: none;
		text-align: center;
	}
}