#magicbar {
	height: 100%;
	.magic {
		min-width: 100%;
		max-width: 100%; 
		float: left;
		margin-top: 10px;
		padding: 3px;
		.box-fix;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		.gradient(@btnBackground, @btnBackgroundHighlight);
		border: 1px solid @btnBorder;
		border-bottom: 1px solid #000;
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(4px);
		&:first-child {
			margin-top: 0;
		}
	}
	.magicOverlay {
		padding: 0;
		width: 100%;
		.header {
			float: left;
			width: 100%;
			height: 30px;
			border-bottom: 1px solid @grayLight;
			margin-bottom: -30px;
			h4 {
				float: left;
				width: 60%;
				padding: 3px 0px 3px 3px;
				margin: 0;
			}
			.close {
				float: right;
				padding: 3px 3px 3px 0px;
				cursor: pointer;
			}
		}
		.body {
			height: 100%;
			width: 100%;
			padding-top: 30px;
			.box-fix;
			ul {
				width: 100%;
				height: 100%;
				overflow-y: scroll;
				li {
					width: 100%;
					float: left;
					margin: 2.5px 0 2.5px 0;
					&:hover {
						background: rgba(0,0,0,0.05);
					}
					&.message {
						img {
							.column(3);
						}
						.username {
							.column(9);
						}
						.text {
							.column(8.5);
							.push(0.5);
							color: #777;
						}
					}
					&.request {
						img {
							.column(3);
						}
						.username {
							.column(9);
						}
						.similar {
							.column(9);
							color: #777;
							font-size: 0.9em;
						}
						.action {
							width: 99%;
							float: left;
							margin-left: 1%;
							button {
								.column(6);
								padding: 2%;
							}
						}
					}
					&.notification {
						img {
							.column(3);
						}
						.username {
							float: left;
							font-weight: 800;
						}
						.info {
							.column(9);
						}
					}
				}
			}	
		}
	}
}