.box-fix {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.padding-fix {
  -webkit-box-sizing: padding-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: padding-box;
  /* Firefox, other Gecko */

  box-sizing: padding-box;
  /* Opera/IE 8+ */

}
/*
.buttonBackground(@colorOne, @colorTwo, @tColor, @tShadow) {
	.gradient(@colorOne, @colorTwo);
	color: @tColor;
	text-shadow: @tShadow;
}
*/
