#topNav {
	display: block;
	position: fixed;
	z-index: @zindexFixedNavbar;
	height: @navbarHeight;
	top: 0;
	border-bottom: 1px solid darken(@green2, 5%);
	box-shadow: 0px 0px 4px darken(@green2, 5%);
	background: @green2;
	.gradient(@green2, lighten(@green2,3%));
	#navInner {
		#brand {
			font-weight: 700;
			text-decoration: none;
			#brandNormal {
				height: 30px;
				color: #fff;
			}			
			#brandNormal {
				background: -webkit-linear-gradient(#fff, #ddd);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
						
			}
			_:-o-prefocus, #brandNormal {
				background: none;
			}
			#brandInverse {
				color: #266300;
				.text-shadow(0px 0px 2px #eee);
			}
		}	
	}
	#navIcons {
		.navIcon {
			cursor: pointer;
			.badge {
				background-color: @red;
				color: @white;
				width: 18px;
				height: 18px;
				.border-radius(50%);
				position: absolute;
				text-align: center;
			}
		}
	}
}
.form-navbar input {
	margin: 6px 0px 0px 5px;
}

// Searchbar

#searchQuery {
	.border-radius(20px);
	width: 100%;
}
#searchDrop {
	position: absolute;
	background: rgba(255,255,255, 0.94);
	.border-radius(5px);
	box-shadow: 0 0 8px @grayLight;
	.column(3,7);
	margin-left: 1.125%;
	display: block;
	top: 45px;
	padding: 0;
	.box-shadow(0px 0px 5px 0px #b2b2b2);
}

#searchSuggestions {
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	max-height: 390px;
	overflow-y:scroll;
	.box-shadow(inset 6px -1px 4px 2px #b2b2b2);
	padding:0px 0px 0px 2px;
	.border-radius(5px);
	.box-fix;
	li {
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #9a9a9a;
		min-height: 20px;
		height: auto;
		&:first-child {
			img {
				.border-radiuses(0, 0, 0, 5px);
			}
		}
		&:last-child {
			border: none;
			img {
				.border-radiuses(0, 0, 5px, 0);
			}
		}
		&:only-child {
			border: none;
			img {
				.border-radiuses(0, 0, 5px, 5px);	
			}
		}
		img {
			.column(2.5);
			margin-left: 0;		}
		.info {
			.column(5.5);
			margin: 7px 0 0 3%;
			font: 100 10px;
			color: @gray;
			padding: 0;
			.name {
				font-size: 1.3em;
				min-height: 10px;
			}
			.friends {
				.row(12);
			}
			.location, &.age {
				.column(3);
			}
		}
		.actions {
			.column(4);
			margin-top: 5px;
			a {
				.column(10);
				margin-bottom: 5px;
				.buttonBackground(hsla(hue(lighten(@btnSuccessBackground,5%)), saturation(lighten(@btnSuccessBackground,5%)), lightness(lighten(@btnSuccessBackground,5%)), 0.7), hsla(hue(lighten(@btnSuccessBackgroundHighlight,5%)), saturation(lighten(@btnSuccessBackgroundHighlight,5%)), lightness(lighten(@btnSuccessBackgroundHighlight,5%)), 0.7));
			}
		}	
	}
}