#topNav {
	display: block;
	position: fixed;
	z-index: @zindexFixedNavbar;
	height: @navbarHeight;
	top: 0;
	border-bottom: 1px solid darken(@green2, 5%);
	box-shadow: 0px 0px 4px darken(@green2, 5%);
	background-color: @green2;
	#navInner {
		#brand {
			display: block;
			
			color: #fff;
			.text-shadow(0px 0px 2px #266300);
			font-weight: 700;
			text-decoration: none;
		}
		#brandInverse {
			color: #266300;
			.text-shadow(0px 0px 2px #eee);
		}
	}
	#navIcons {
		.navIcon {
			.badge {
				background-color: @red;
				color: @white;
				.border-radius(50px);
				position: absolute;
				text-align: center;
			}
		}
	}
}
.form-navbar input {
	margin: 6px 0px 0px 5px;
}

// Searchbar

#searchQuery {
	.border-radius(20px);
}
#searchDrop {
	position: absolute;
	background: @white;
	border-radius: 5px;
	box-shadow: 0 0 8px @grayLight;
}

#searchSuggestions {
	li {
		display: block;
		a {
			display: block;
			color: lighten(@green, 5%);
			text-shadow: 0 0 1px @green;
			p.add-info {
				display: block;
				color: @grayLight;
			}
			:hover {
				p.add-info {
					color: @grayLighter;
				}
				color: @white;
				text-decoration: none;
			}
		}	
		:first-child{
			border-radius: 5px 5px 0 0;
			border-top: 0;
		}
		:last-child {
			border-radius: 0 0 5px 5px;
			border-bottom: 0;
		}
		:hover {
			background: @green;
			.gradient(@green, @green2);
		}	
	}
}