.searchQuery {
	.border-radius(20px);
	width: 100%;
}
.searchDrop {
	background: rgba(255,255,255, 0.94);
	.border-radius(5px);
	box-shadow: 0 0 8px @grayLight;
	.column(3,7);
	margin-left: 1.125%;
	display: block;
	padding: 0;
	position: absolute;
	.box-shadow(0px 0px 5px 0px #b2b2b2);
}

.searchSuggestions {
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	max-height: 390px;
	overflow-y:scroll;
	.box-shadow(inset 6px -1px 4px 2px #b2b2b2);
	padding:0px 0px 0px 2px;
	.border-radius(5px);
	.box-fix;
	li {
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #9a9a9a;
		min-height: 20px;
		height: auto;
		&:first-child {
			img {
				.border-radiuses(0, 0, 0, 5px);
			}
		}
		&:last-child {
			border: none;
			img {
				.border-radiuses(0, 0, 5px, 0);
			}
		}
		&:only-child {
			border: none;
			img {
				.border-radiuses(0, 0, 5px, 5px);	
			}
		}
		&.active {
			background-color: @green;
			.info {
				color: @grayLighter;
			}
			a {
				color: @grayLighter;
				&:hover {
					color: @white;
				}
			}
		}
		img {
			.column(1.5);
			margin-left: 0;
		}
		.info {
			.column(6.5);
			margin: 7px 0 0 3%;
			font: 100 10px;
			color: @gray;
			padding: 0;
			.name {
				font-size: 1.3em;
				min-height: 10px;
			}
			.friends {
				.row(12);
			}
			.location, &.age {
				.column(3);
			}
		}
		.actions {
			.column(4);
			margin-top: 5px;
			a {
				.column(12);
				text-align: center;
				margin-bottom: 5px;
				.buttonBackground(hsla(hue(lighten(@btnGreenBackground,5%)), saturation(lighten(@btnGreenBackground,5%)), lightness(lighten(@btnGreenBackground,5%)), 0.7), hsla(hue(lighten(@btnGreenBackgroundHighlight,5%)), saturation(lighten(@btnGreenBackgroundHighlight,5%)), lightness(lighten(@btnGreenBackgroundHighlight,5%)), 0.7));
			}
		}	
	}
}