.searchBar {
	.formSearch {
		.inputWrap {
			.unstyled;
			border: 1px solid #aaa;
			cursor: text;
			height: auto;
			background: white;
			.border-radius(5px);
			li {
				
				&.searchResult {
					.btn;
					.btn-green;
				}
				&.searchField {
					input {
						.box-fix;
						-webkit-box-shadow: none;
						box-shadow: none;
						background: transparent !important;
					}	
				}
			}
		}
	}
	.searchDrop {
		background: rgba(255,255,255,1);
		.border-radius(5px);
		box-shadow: 0 0 8px @grayLight;
		.box-shadow(0px 0px 5px 0px #b2b2b2);
		.searchSuggestions {
			.box-shadow(inset 6px -1px 4px 2px #b2b2b2);
			.border-radius(5px);
			.box-fix;
			li {
				border-bottom: 1px solid #9a9a9a;
				&:first-child {
					img {
						.border-radiuses(0, 0, 0, 5px);
					}
				}
				&:last-child {
					border: none;
					img {
						.border-radiuses(0, 0, 5px, 0);
					}
				}
				&:only-child {
					border: none;
					img {
						.border-radiuses(0, 0, 5px, 5px);	
					}
				}
				&.active {
					background-color: @green;
					.info {
						color: @grayLighter;
					}
					a {
						color: @grayLighter;
						&:hover {
							color: @white;
						}
					}
				}
				.info {
					font: 100 10px;
					color: @gray;
				}
				.actions {
					a {
						cursor: pointer;
						.buttonBackground(hsla(hue(lighten(@btnGreenBackground,5%)), saturation(lighten(@btnGreenBackground,5%)), lightness(lighten(@btnGreenBackground,5%)), 0.7), hsla(hue(lighten(@btnGreenBackgroundHighlight,5%)), saturation(lighten(@btnGreenBackgroundHighlight,5%)), lightness(lighten(@btnGreenBackgroundHighlight,5%)), 0.7));
					}
				}	
			}
		}
	}	
}	