//Don't touch any of the *.less or *.css files, or you will die an awful death.
.search {
	.column(8);
}
#searchQuery {
	.border-radius(20px);
	.column(8);
	margin-top: 6px;
}
#searchDrop {
	position: absolute;
	display: block;
	top: 45px;
	margin-left: 5px;
	background: @white;
	display: none;
	border-radius: 5px;
	box-shadow: 0 0 8px @grayLight;
	.column(8);
}

#searchSuggestions {
	padding: 0;
	margin: 0;
	li {
		display: block;
		width: 100%;
		min-height: 40px;
		.row(8);
		a {
			display: block;
			color: lighten(@green, 5%);
			padding-top: 13px;
			padding-bottom: 13px;
			text-shadow: 0 0 1px @green;
			.column(8,8);
			p.add-info {
				display: block;
				margin-left: 10px;
				color: @grayLight;
			}
			:hover {
				p.add-info {
					color: @grayLighter;
				}
				color: @white;
				text-decoration: none;
			}
		}	
		:first-child{
			border-radius: 5px 5px 0 0;
			border-top: 0;
		}
		:last-child {
			border-radius: 0 0 5px 5px;
			border-bottom: 0;
		}
		:hover {
			background: @green;
			.gradient(@green, @green2);
		}	
	}
}