[data-title] {
	&:hover, &:focus {
		&:after {
			min-height: 50px;
			width: 300px;
			margin: -32px 0 0 -320px;
			padding: 5px;
			
			display: block;
			position: absolute;
			.box-fix;
			content: attr(data-title);
			.gradient(#ccc, #ddd);
			.border-radius(5px);
		}
	}
}