*[data-title]:hover:after {
	height: 50px;
	width: inherit;
	margin: -32px 0 0 -320px;
	padding: 5px;
	
	display: block;
	position: absolute;
	.box-fix;
	content: attr(data-title);
	.gradient(#ccc, #ddd);
	.border-radius(5px);
}
*[data-title]:focus:after {
	height: 50px;
	width: inherit;
	margin: -32px 0 0 -320px;
	padding: 5px;
	
	display: block;
	position: absolute;
	.box-fix;
	content: attr(data-title);
	.gradient(#ccc, #ddd);
	.border-radius(5px);
}