//Don't touch any of the *.less or *.css files, or you will die an awful death.
#userpanel {
	.column(12);
	text-align: center;
	.userimg {
		.column(9);
		float: none;
		.border-radius(5px);
	}
	.username {
		.column(12);
		margin-top: 5px;
	}
	/*.left, .right {
		.column(6);
		margin-top: 5px;
	}*/
	#menu {
		.column(12);
		margin-top: 10px;
		a {
			font-size: 15px;
		}
	}
	#mainMenu {
		.column(6,12);
		li a {
			text-align: left;
			.column(5,6);
			padding: 3px;
			background-color: transparent;
			height: @baseLineHeight;
			position: relative;
			margin: 5px 0px 0px 2px;
		}
		li:first-child a {
			margin-top: 0;
		}
		li .current {
			.column(5,6);
			border: 2px solid #5a5a5a;
			height: @baseLineHeight;
			position: relative;
			.border-radius(8px);
			background-color: lighten(@green, 5%);
			color: #f5ffe9;
			margin: 5px 0 0 0;
		}
		li .current:after {
			content: '';
			height: 0;
			position: absolute;
			width: 0;
			border: 10px solid transparent;
			border-left-color: #5a5a5a;
			left: 100%;
			margin: 0px 0px 0px 6%;
		}
	}
	#subMenu {
		.column(6,12);
		border: 2px solid #5a5a5a;
		.border-radius(10px);
		li {
			text-align: left;
		}
		li a {
			display: block;
			padding: 3px;
			padding-left: 10px;
			cursor: pointer;
			margin: -2px;
		}
		.current {
			background-color: lighten(@green, 5%);
			.border-radius(8px);
			border: 2px solid #5a5a5a;
			color: #f5ffe9;
		}
		.box-fix;
	}
}