body {
	noscript {
		.row(12);
		margin-top: 10px;
	}
	#container {
		padding-bottom: 30px;
	}
	#sidebar-left {
		.column(2);
		#userpanel {
			.column(2,2);
			margin-bottom: 10px;
		}
	}
	#main {
		.column(8);
	}
	#sidebar-right {
		.column(2,12,right);
		display: none;
	}
	footer {
		.column(12);
		width: 100%;
		margin: -25px 0 0;
		padding: 5px 5px 2px 5px;
		height: 10px;
		#left, #right {
			width: 50%;
			float: left;
			text-align: left;
		}
		#right {
			text-align: right;
		}
	}
	&:not(.registerView) {
		padding-top: 60px;
	} 
}