body {
	noscript {
		.row(12);
		margin-top: 10px;
	}
	#sidebar-left {
		.column(2);
		#userpanel {
			.column(2,2);
		}
		margin-bottom: 10px;
	}
	#main {
		.column(8);
	}
	#sidebar-right {
		.column(2,12,right);
		display: none;
	}
	footer {
		.column(12);
		margin-bottom: 5px;
	} 
}