//Don't touch any of the *.less or *.css files, or you will die an awful death.
//
// Variables
// --------------------------------------------------------

// Global Variables
// --------------------------------------------------------

// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:					#559d00;
@green2:				#3a8100;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:				#f7b311;
@orangeDark:			#f7bf10;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Links
// -------------------------
@linkColor:             @green;
@linkColorHover:        lighten(@linkColor, 5%);


// Typography
// -------------------------
@sansFontFamily:        "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:	"ubuntulight", @baseFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor
@headingsSmallColor:    lighten(@textColor, 30%); // empty to use BS default, @textColor

@textWarning:			#ffc82f;
@textError:				#e80000; 
@textInfo:				#49c9ff;
@textSuccess:			#7cda09;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 7.5%);
@btnBorder:                         #bbb;

@btnBlueBackground:                 lighten(@blue, 7.5%);
@btnBlueBackgroundHighlight:        @blue;

@btnGreenBackground:              @green;
@btnGreenBackgroundHighlight:     @green2;

@btnRedBackground:              lighten(@red, 15%);
@btnRedBackgroundHighlight:     lighten(@red, 7.5%);

@btnOrangeBackground:          	lighten(@orange, 2%);
@btnOrangeBackgroundHighlight:  darken(@orange, 5.5%);

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     darken(#444, 7.5%);


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             3px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;

@dropdownLinkColorHover:        @white;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;

@dropdownLinkColorActive:       @dropdownLinkColor;
@dropdownLinkBackgroundActive:  @linkColor;
@dropdownWidth: 				3;
	
// Navbar
// -------------------------
@navbarHeight:					50px;

// Bubbles
// -------------------------
@bubbleBackgroundColor:			@white;
@bubbleBorderColor:				darken(@bubbleBackgroundColor, 60%);